{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.field('label', 'String', 'm.rbs.website.document.website.label', true) }}

        {{ forms.field('baseurl', 'String', 'm.rbs.website.document.website.baseurl', true, 'm.rbs.website.document.website.baseurl-help') }}

		{{ forms.picker('indexPage', 'Rbs_Website_StaticPage', 'm.rbs.website.document.website.indexpage',
			false, null, 'm.rbs.website.document.website.indexpage-picker-title') }}
	</fieldset>

	<fieldset
			data-ng-show="section=='systeminfo'"
			data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
			data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>