<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text
				property="label" required="true"
				label="{{ i18nAttr('m.rbs.website.document.website.label', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-url
				property="baseurl" required="true"
				label="{{ i18nAttr('m.rbs.website.document.website.baseurl', ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.website.document.website.baseurl-help', ['ucf']) }}</span>
		</rbs-field-url>

		<rbs-field ng-hide="document.isNew()" label="{{ i18nAttr('m.rbs.website.document.website.indexpage', ['ucf']) }}">
			<span class="uneditable-input">(=document.indexPage.label=)</span>
		</rbs-field>

	</fieldset>

	<fieldset
			data-ng-show="section=='systeminfo'"
			data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
			data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>