{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate="">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.field('label', 'String', 'm.rbs.catalog.document.category.label', true) }}
		<hr />
		{{ forms.picker('shop', 'Rbs_Catalog_Shop', 'm.rbs.catalog.document.category.shop',
		false, null, 'm.rbs.catalog.document.category.shop-picker-title', false)
		}}
		{{ forms.picker('section', 'Rbs_Website_Section', 'm.rbs.catalog.document.category.section',
		false, null, 'm.rbs.catalog.document.category.section-picker-title', false)
		}}
		<hr />
		{{ forms.field('description', 'LongString', 'm.rbs.catalog.document.category.description', false) }}
		{{ forms.picker('visuals', 'Rbs_Media_Image', 'm.rbs.catalog.document.category.visuals',
			false, null, 'm.rbs.catalog.document.category.visuals-picker-title', true)
		}}
		<hr />
		<div class="control-group property">
			<label class="control-label" for="startPublication">{{ i18n('m.rbs.catalog.document.category.startpublication', ['ucf']) }}</label>
			<div class="controls">
				<date-selector data-ng-model="document.startPublication" name="startPublication"></date-selector>
			</div>
		</div>

		<div class="control-group property">
			<label class="control-label" for="endPublication">{{ i18n('m.rbs.catalog.document.category.endpublication', ['ucf'])}}</label>
			<div class="controls">
				<date-selector data-ng-model="document.endPublication" name="endPublication"></date-selector>
			</div>
		</div>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>