<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate="">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true" input-class="input-block-level"
			label="{{ i18nAttr('m.rbs.catalog.document.category.label', ['ucf']) }}">
		</rbs-field-text>

		<hr />

		<rbs-field-picker property="webStore" label="{{ i18nAttr('m.rbs.catalog.document.category.webstore', ['ucf']) }}"
			accepted-model="Rbs_Store_WebStore" allow-creation="true" allow-edition="true"
			selector-title="{{ i18nAttr('m.rbs.catalog.document.category.webstore-picker-title', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field-picker property="section" label="{{ i18nAttr('m.rbs.catalog.document.category.section', ['ucf']) }}"
			accepted-model="Rbs_Website_Section" allow-creation="true" allow-edition="true"
			selector-title="{{ i18nAttr('m.rbs.catalog.document.category.section-picker-title', ['ucf']) }}">
		</rbs-field-picker>

		<hr />

		<rbs-field label="{{ i18nAttr('m.rbs.catalog.document.category.productsortorder', ['ucf']) }}">
			<select ng-model="document.productSortOrder" id="productSortOrder" name="productSortOrder"
				rbs-items-from-collection="Rbs_Catalog_Collection_ProductSortOrders">
			</select>
			<span class="help-block">{{ i18n('m.rbs.catalog.document.category.productsortorder-help') }} </span>
		</rbs-field>

		<rbs-field label="{{ i18nAttr('m.rbs.catalog.document.category.productsortdirection', ['ucf']) }}">
			<rbs-collection-item-selector ng-model="document.productSortDirection"
				collection-code="Rbs_Generic_Collection_SortDirections">
			</rbs-collection-item-selector>
			<span class="help-block">{{ i18n('m.rbs.catalog.document.category.productsortdirection-help') }}</span>
		</rbs-field>

		<hr />

		<rbs-field-rich-text property="description" input-class="input-block-level"
			label="{{ i18nAttr('m.rbs.catalog.document.category.description', ['ucf']) }}">
		</rbs-field-rich-text>

		<rbs-field-picker property="visual" label="{{ i18nAttr('m.rbs.catalog.document.category.visual', ['ucf']) }}"
			accepted-model="Rbs_Media_Image" allow-creation="true" allow-edition="true"
			selector-title="{{ i18nAttr('m.rbs.catalog.document.category.visual-picker-title', ['ucf']) }}">
		</rbs-field-picker>

		<hr />

		<rbs-field-date property="startPublication"
			label="{{ i18nAttr('m.rbs.catalog.document.category.startPublication', ['ucf']) }}">
		</rbs-field-date>

		<rbs-field-date property="endPublication"
			label="{{ i18nAttr('m.rbs.catalog.document.category.endPublication', ['ucf']) }}">
		</rbs-field-date>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>