{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate="">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.field('label', 'String', 'm.rbs.catalog.document.category.label', true) }}
		<hr />
		{{ forms.picker('webStore', 'Rbs_Store_WebStore', 'm.rbs.catalog.document.category.webstore',
			false, null, 'm.rbs.catalog.document.category.webstore-picker-title', false)
		}}
		{{ forms.picker('section', 'Rbs_Website_Section', 'm.rbs.catalog.document.category.section',
			false, null, 'm.rbs.catalog.document.category.section-picker-title', false)
		}}
		<hr />
		<div class="control-group property required">
			<label class="control-label" data-not-a-property="" for="productSortOrder">
				{{ i18n('m.rbs.catalog.document.category.productsortorder', ['ucf']) }}
			</label>
			<div class="controls">
				<select ng-model="document.productSortOrder" id="productSortOrder" name="productSortOrder"
					rbs-items-from-collection="Rbs_Catalog_Collection_ProductSortOrders">
				</select>
				<span class="help-block">
					{{ i18n('m.rbs.catalog.document.category.productsortorder-help') }}
				</span>
			</div>
		</div>
		<div class="control-group property required">
			<label class="control-label" data-not-a-property="" for="productSortDirection">
				{{ i18n('m.rbs.catalog.document.category.productsortdirection', ['ucf']) }}
			</label>
			<div class="controls">
				<rbs-collection-item-selector ng-model="document.productSortDirection"
					collection-code="Rbs_Generic_Collection_SortDirections">
				</rbs-collection-item-selector>
				<span class="help-block">
					{{ i18n('m.rbs.catalog.document.category.productsortdirection-help') }}
				</span>
			</div>
		</div>
		<hr />
		{{ forms.field('description', 'RichText', 'm.rbs.catalog.document.category.description', false) }}
		{{ forms.picker('visual', 'Rbs_Media_Image', 'm.rbs.catalog.document.category.visual',
			false, null, 'm.rbs.catalog.document.category.visual-picker-title', true)
		}}
		<hr />
		<div class="control-group property">
			<label class="control-label" for="startPublication">{{ i18n('m.rbs.catalog.document.category.startpublication', ['ucf']) }}</label>
			<div class="controls">
				<date-selector data-ng-model="document.startPublication" name="startPublication"></date-selector>
			</div>
		</div>

		<div class="control-group property">
			<label class="control-label" for="endPublication">{{ i18n('m.rbs.catalog.document.category.endpublication', ['ucf'])}}</label>
			<div class="controls">
				<date-selector data-ng-model="document.endPublication" name="endPublication"></date-selector>
			</div>
		</div>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>