<div class="control-group">
	<label class="control-label">(= fieldLabel =)</label>
	<div class="controls">
		<div data-ng-show="documents.length > 0">
			<ul class="token-list">
				<li ng-repeat="document in documents" data-id="{{item.id}}">
					<a ng-hide="readonly" href="javascript:;" class="delete" ng-click="remove($index)"><i class="icon-remove"></i></a>(= document.label =)
				</li>
			</ul>
		</div>

		<div class="muted" data-ng-show="!documents || documents.length == 0">{{ i18n('m.rbs.admin.forms.picker-no-element', ['ucf']) }}</div>

		<div class="btn-toolbar">
			<button
				type="button"
				class="btn"
				data-ng-click="clear()"
				data-ng-disabled="isEmpty()"
				title="{{ i18nAttr('m.rbs.admin.forms.picker-delete-selection-tooltip', ['ucf']) }}"><i class="icon-remove"></i></button>

			<div class="btn-group">
				<button
					type="button"
					class="btn"
					data-ng-click="openSelector()"
					title="{{ i18nAttr('m.rbs.admin.forms.picker-choose-tooltip', ['ucf', 'etc']) }}">{{ i18n('m.rbs.admin.forms.picker-choose', ['ucf', 'etc']) }}</button>
				<button
					type="button"
					class="btn"
					data-ng-click="getFromClipboard()"
					data-ng-disabled="clipboardValues.length == 0"
					title="{{ i18nAttr('m.rbs.admin.forms.picker-take-from-clipboard-tooltip', ['ucf']) }}"><i ng-class="{ 'icon-bookmark': clipboardValues.length > 0, 'icon-bookmark-empty': clipboardValues.length == 0 }"></i></button>
			</div>
		</div>

		<div class="document-picker-embedded" data-ng-show="pickerListUrl" data-ng-include="pickerListUrl"></div>

		<div class="btn-toolbar">
			<button type="button" class="btn btn-primary" data-ng-click="performAdding()" data-ng-disabled="isEmpty()">{{ i18n('m.rbs.admin.add', ['ucf']) }}</button>
		</div>
	</div>
</div>
