{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18n('m.change.admin.general-properties', ['ucf', 'attr']) }}"
		data-form-section-group="{{ i18n('m.change.admin.properties', ['ucf', 'attr']) }}">
		{{ forms.field('label', 'String', i18n('m.change.catalog.document.product.label', ['ucf']), true) }}
		{{ forms.field('description', 'LongString', i18n('m.change.catalog.document.product.description', ['ucf']), false) }}
		{{ forms.pickerMultiple('category', 'Change_Catalog_Category',
			i18n('m.change.catalog.document.product.category', ['ucf']),
			false, null, i18n('m.change.catalog.document.product.select-category', ['ucf']))
		}}
		{{ forms.pickerMultiple('visual', 'Change_Media_Image',
			i18n('m.change.catalog.document.product.visual', ['ucf']),
			false, null, i18n('m.change.catalog.document.product.select-visual', ['ucf']))
		}}
		{{ forms.picker('brand', 'Change_Brand_Brand',
			i18n('m.change.catalog.document.product.brand', ['ucf']),
			false, null, i18n('m.change.catalog.document.product.select-brand', ['ucf']))
		}}
		<hr />
		{{ forms.field('reference', 'String', i18n('m.change.catalog.document.product.reference', ['ucf']), false) }}
		{{ forms.field('sku', 'String', i18n('m.change.catalog.document.product.sku', ['ucf']), false) }}
	</fieldset>
	<fieldset data-ng-show="section=='advanced'"
		data-form-section-label="{{ i18n('m.change.admin.advanced-properties', ['ucf', 'attr']) }}"
		data-form-section-group="{{ i18n('m.change.admin.properties', ['ucf', 'attr']) }}">
		{{ forms.pickerMultiple('pictogram', 'Change_Media_Image',
			i18n('m.change.catalog.document.product.pictogram', ['ucf']),
			false, null, i18n('m.change.catalog.document.product.select-pictogram', ['ucf']))
		}}
		{{ forms.field('shippedIn', 'String', i18n('m.change.catalog.document.product.shippedin', ['ucf']), false,
			i18n('m.change.catalog.document.product.shippedin-help', ['ucf'])) }}
		{{ forms.field('minOrderQuantity', 'Integer', i18n('m.change.catalog.document.product.minorderquantity', ['ucf']),
			false, i18n('m.change.catalog.document.product.minorderquantity-help', ['ucf']))
		}}
		{{ forms.field('maxOrderQuantity', 'Integer', i18n('m.change.catalog.document.product.maxorderquantity', ['ucf']),
			false, i18n('m.change.catalog.document.product.maxorderquantity-help', ['ucf']))
		}}
	</fieldset>
	<fieldset data-ng-show="section=='publication'"
		data-form-section-label="{{ i18n('m.change.admin.publication-properties', ['ucf', 'attr']) }}"
		data-form-section-group="{{ i18n('m.change.admin.properties', ['ucf', 'attr']) }}">
		<div class="control-group property">
			<label class="control-label" for="beginDate">{{ i18n('m.change.catalog.document.product.startpublication', ['ucf']) }}</label>
			<div class="controls">
				<date-selector data-ng-model="document.startPublication" name="startPublication"></date-selector>
			</div>
		</div>

		<div class="control-group property">
			<label class="control-label" for="beginDate">{{ i18n('m.change.catalog.document.product.endpublication', ['ucf'])}}</label>
			<div class="controls">
				<date-selector data-ng-model="document.endPublication" name="endPublication"></date-selector>
			</div>
		</div>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18n('m.change.admin.status', ['ucf', 'attr']) }}"
		data-form-section-group="{{ i18n('m.change.admin.information', ['ucf', 'attr']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>