<rbs-links-panel title="{{ i18nAttr('m.rbs.media.admin.module_name', ['ucf']) }}" icon="icon-book">
	<a rbs-active-route="" href="{{ namedURL('Rbs_Media_Image', 'list') }}" rbs-panel-link="">{{ i18n('m.rbs.media.admin.image_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="{{ namedURL('Rbs_Media_Video', 'list') }}" rbs-panel-link="">{{ i18n('m.rbs.media.admin.video_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="{{ namedURL('Rbs_Media_File', 'list') }}" rbs-panel-link="">{{ i18n('m.rbs.media.admin.file_list', ['ucf']) }}</a>
</rbs-links-panel>