<rbs-field-label-title property="title" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'title'), ['ucf']) }}">
</rbs-field-label-title>

<hr />

<rbs-field required="true" label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'valueType'), ['ucf']) }}">
	<select data-ng-model="document.valueType" data-ng-disabled="!document.isNew()" class="form-control"
		required="required" data-rbs-items-from-collection="Rbs_Catalog_Collection_AttributeValueTypes">
		<option value=""></option>
	</select>
</rbs-field>

<div data-ng-hide="document.valueType == 'Property'">
	<rbs-field-text property="technicalName" label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'technicalName'), ['ucf']) }}">
	</rbs-field-text>
</div>

<div data-ng-hide="document.valueType == 'Group'">
	<div data-ng-hide="document.valueType == 'Text' || document.valueType == 'DocumentId' || document.valueType == 'DocumentIdArray' || document.valueType == 'Property'">
		<rbs-field-text property="defaultValue"
			label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'defaultValue'), ['ucf']) }}">
		</rbs-field-text>
	</div>

	<div data-ng-show="document.valueType == 'String' || document.valueType == 'Integer' || document.valueType == 'DocumentId'">
		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'collectionCode'), ['ucf']) }}">
			<select data-ng-model="document.collectionCode" class="form-control"
				data-rbs-items-from-collection="Rbs_Catalog_Collection_AttributeCollections">
				<option value=""></option>
			</select>
		</rbs-field>
	</div>

	<div data-ng-show="document.valueType == 'Property'">
		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'productProperty'), ['ucf']) }}">
			<select data-ng-model="document.productProperty" class="form-control"
				data-rbs-items-from-collection="Rbs_Catalog_Collection_AttributeProductProperties">
				<option value=""></option>
			</select>
		</rbs-field>
	</div>

	<div data-ng-show="document.valueType == 'DocumentId' || document.valueType == 'DocumentIdArray'">
		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'documentType'), ['ucf']) }}">
			<rbs-model-selector ng-if="document.isNew()" filter="{abstract: false, editable: true}" class="form-control"
				model="document.documentType"></rbs-model-selector>
			<p data-ng-if="!document.isNew()"  class="form-control-static">(= documentTypeLabel =)</p>
		</rbs-field>
	</div>

	<div data-ng-show="document.valueType == 'DocumentId'">
		<rbs-field-boolean property="usePicker"
			label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'usePicker'), ['ucf']) }}">
		</rbs-field-boolean>
	</div>
</div>

<div data-ng-show="document.valueType == 'Group'">
	<rbs-field-picker-multiple property="attributes" accepted-model="Rbs_Catalog_Attribute"
		label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'attributes'), ['ucf']) }}"
		selector-title="{{ i18nAttr('m.rbs.catalog.admin.attribute_picker_title', ['ucf']) }}">
	</rbs-field-picker-multiple>

	<rbs-field-boolean property="productTypology"
		label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'productTypology'), ['ucf']) }}">
		<span class="help-block">{{ i18n('m.rbs.catalog.admin.attribute_producttypology_help') }} </span>
	</rbs-field-boolean>
</div>

<hr />

<rbs-field-boolean data-ng-hide="document.valueType == 'Group'"
	data-ng-disable="document.valueType == 'Text' || document.valueType == 'Boolean'" property="requiredValue"
	label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'requiredValue'), ['ucf']) }}">
</rbs-field-boolean>

<rbs-field-boolean property="axis" label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'axis'), ['ucf']) }}"
	data-ng-show="document.valueType == 'DocumentId' || document.valueType == 'String' || document.valueType == 'Integer' || document.valueType == 'Property'">
</rbs-field-boolean>

<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'visibility'), ['ucf']) }}">
	<rbs-collection-multiple-item-selector ng-model="document.visibility"
		collection-code="Rbs_Catalog_Collection_AttributeVisibility"></rbs-collection-multiple-item-selector>
</rbs-field>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey("Rbs_Catalog_Attribute", "description"), ['ucf']) }}">
</rbs-field-rich-text>