<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-date property="creationDate" label="{{ i18nAttr('m.rbs.order.document.invoice.creationDate', ['ucf']) }}">
		</rbs-field-date>

		<rbs-field-text property="code" input-class="input-block-level"
			label="{{ i18nAttr('m.rbs.order.document.invoice.code', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker property="order" label="{{ i18nAttr('m.rbs.order.document.invoice.order', ['ucf']) }}"
			accepted-model="Rbs_Order_Order" allow-edition="true"
			selector-title="{{ i18nAttr('m.rbs.order.document.invoice.select-order', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field-picker property="transaction" label="{{ i18nAttr('m.rbs.order.document.invoice.transaction', ['ucf']) }}"
				accepted-model="Rbs_Payment_Transaction" allow-edition="true"
				selector-title="{{ i18nAttr('m.rbs.order.document.invoice.select-transaction', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field label="{{ i18nAttr('m.rbs.order.document.invoice.currencycode', ['ucf']) }}">
			<select ng-model="document.currencyCode" rbs-items-from-collection="Rbs_Price_Collection_Iso4217"></select>
		</rbs-field>

		<rbs-field label="{{ i18nAttr('m.rbs.order.document.invoice.amount', ['ucf']) }}">
			<rbs-price-input data-ng-model="document.amount" data-currency-code="(=document.currencyCode=)" />
		</rbs-field>

		<rbs-field label="{{ i18nAttr('m.rbs.order.document.invoice.amountwithtax', ['ucf']) }}">
			<rbs-price-input data-ng-model="document.amountWithTax"
					data-price-with-tax="true" data-currency-code="(=document.currencyCode=)" />
		</rbs-field>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>