<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a rbs-active-route="" href="Rbs/Price/Price/" class="rbs-panel-link">{{ i18n('m.rbs.price.admin.price_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Price/Tax/" class="rbs-panel-link">{{ i18n('m.rbs.price.admin.tax_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Price/Fee/" class="rbs-panel-link">{{ i18n('m.rbs.price.admin.fee_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Price/BillingArea/" class="rbs-panel-link">{{ i18n('m.rbs.price.admin.billingarea_list', ['ucf']) }}</a>
</rbs-links-panel>
