<div class="row" ng-controller="Rbs_Catalog_ProductList_ProductListController">

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div rbs-main-column>
		<rbs-page-header title="{{ i18nAttr('m.rbs.catalog.admin.productlist_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Catalog_ProductList" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Catalog_ProductList' | rbsURL:'new' =)">{{ i18n('m.rbs.catalog.admin.productlist_create', ['ucf']) }}</a>
			<a href ng-href="(= 'Rbs_Catalog_SectionProductList' | rbsURL:'new' =)">{{ i18n('m.rbs.catalog.admin.sectionproductlist_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLRbsCatalogProductList" model="Rbs_Catalog_ProductList" activable="true"
			filter-collection="filter" modification-date="false" load-query="loadQuery">
		<rbs-column name="label" primary="true"></rbs-column>
		<rbs-column name="products" width="150px" label="{{ i18nAttr('m.rbs.catalog.documents.productlist_products', ['ucf']) }}" align="center">
			<a href="(= doc | rbsURL:'productListItems' =)">{{ i18n('m.rbs.catalog.documents.productlist_configure_products', ['ucf']) }} <i class="icon-circle-arrow-right"></i></a>
		</rbs-column>
		</rbs-document-list>
	</div>

</div>