<div class="row">

	<div rbs-aside-column>
		<div class="panel panel-default" ng-show="!document.isNew()">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-sitemap"></i> {{ i18n('m.rbs.catalog.documents.variantgroup', ['ucf']) }}</h3>
			</div>
			<div class="list-group">
				<p class="list-group-item">
					<a href="(= document | rbsURL:'variant-list':{productId:document.rootProduct.id} =)"><i class="icon-arrow-right"></i> {{ i18nAttr('m.rbs.catalog.admin.variantgroup_variant_list', ['ucf']) | raw}}</a>
				</p>
				<p class="list-group-item">
					<a href="(= document | rbsURL:'variant-edit':{productId:document.rootProduct.id} =)"><i class="icon-arrow-right"></i> {{ i18nAttr('m.rbs.catalog.admin.variantgroup_variant_edit', ['ucf']) | raw}}</a>
				</p>
			</div>
		</div>
		<div class="rbs-aside-block" ng-show="document.rootProduct">
			<h3 class="panel-title">{{ i18n('m.rbs.catalog.admin.product_concerned_product', ['ucf']) }}</h3>
			<rbs-document-preview document="document.rootProduct"></rbs-document-preview>
		</div>
	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_VariantGroup'), ['ucf']) }}"></rbs-page-header>
		<rbs-document-editor rbs-document-editor-rbs-catalog-variant-group=""></rbs-document-editor>
	</div>

</div>