<div class="row">
	<div data-rbs-aside-column="">
		{% set currentRootName = 'variant-stocks' %}
		{% include '@Rbs_Catalog/Documents/VariantGroup/variant-aside-column.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_VariantGroup'), ['ucf']) }}"></rbs-page-header>

		<div data-ng-show="loaded">
			<div class="well" style="margin-top: 20px;" data-ng-show="hasJobs">
				{{ i18n('m.rbs.catalog.admin.variantgroup_jobs_infos', ['ucf']) | raw}}
			</div>

			<rbs-document-editor-rbs-catalog-variant-group-stocks data-ng-hide="hasJobs">
				<div class="row">
					<form name="form" data-ng-submit="save()" class="form-horizontal">
						<table class="table table-striped">
							<thead>
								<tr>
									<td>{{ i18n('m.rbs.catalog.admin.product_product', ['ucf']) }}</td>
									<td data-ng-repeat="(warehouseId, warehouse) in data.warehouses">(= warehouse.code =)</td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="(productId, product) in data.products">
									<td>
										<a href="" data-ng-href="(= 'Rbs_Catalog_Product' | rbsURL:'form':{id:productId} =)">
											(= product.label =)
										</a>
									</td>
									<td data-ng-if="!product.sku.unlimitedInventory"
										data-ng-repeat="(warehouseId, warehouse) in data.warehouses">
										<input type="number" data-rbs-integer="" class="form-control input-sm"
											data-ng-model="warehouse.skus[product.sku.id]" size="4" />
									</td>
									<td data-ng-if="product.sku.unlimitedInventory" colspan="(= data.warehouses.length =)">
										{{ i18n('m.rbs.catalog.admin.variantgroup_unlimited_inventory', ['ucf']) }}
									</td>
									<td>
										<a href="" data-ng-href="(= 'Rbs_Stock_Sku' | rbsURL:'form':{id:product.sku.id} =)">
											{{ i18n('m.rbs.catalog.admin.variantgroup_edit_sku', ['ucf']) }}
										</a>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="confirmation-area"></div>

						<button class="btn btn-default btn-headline" type="button" data-ng-click="confirmReset($event)"
							data-ng-disabled="!isChanged" title="{{ i18nAttr('m.rbs.admin.admin.titleRevert', ['ucf']) }}">
							<i class="icon-undo"></i>{{ i18n('m.rbs.admin.admin.btnRevert', ['ucf']) | raw }}
						</button>
						<button class="btn btn-headline btn-primary" type="submit" data-role="save"
							data-ng-disabled="!isChanged || saveProgress.running"
							data-ng-class="{'btn-success':saveProgress.success && isChanged, 'btn-danger':saveProgress.error}">
							<i class="icon-white icon-ok" data-ng-class="{'icon-spinner': saveProgress.running, 'icon-ok': ! saveProgress.running, 'icon-remove': saveProgress.error}">
							</i>{{ i18n('m.rbs.admin.admin.btnSave', ['ucf']) | raw }}
						</button>
					</form>
				</div>
			</rbs-document-editor-rbs-catalog-variant-group-stocks>
		</div>
	</div>
</div>