<div data-rbs-tip="rbsVariantGroupEditorHelp" data-ng-hide="hasJobs">
	{{ i18n('m.rbs.catalog.admin.variantgroup_help_tip', ['ucf']) | raw}}
</div>

<ul class="breadcrumb variant-group-editor">
	<li class="active"><span data-ng-bind="document.label"></span></li>
	<li data-ng-repeat="item in path" class="active"><span data-ng-bind="item.value.title"></span></li>
</ul>

<div class="axes-columns-nav">
	<div class="axis-column" data-ng-repeat="axis in axesInfo" data-ng-style="getColumnWidthStyle()">
		<div class="axis-header">
			<span class="pull-right" data-ng-hide="hasJobs">
				<button type="button" class="btn btn-default btn-sm" data-ng-class="{'active': inEditMode(axis.index)}"
					data-ng-click="toggleEditMode(axis.index)">
					<i class="icon-cog"></i>
				</button>
			</span>
			<h4>
				<span data-ng-switch="axesInfo[$index].url">
					<i data-ng-switch-when="false" class="icon-check-empty muted"
						title="{{ i18nAttr('m.rbs.catalog.admin.variantgroup_axe_no_url', ['ucf']) }}"></i>
					<i data-ng-switch-when="true" class="icon-check"
						title="{{ i18nAttr('m.rbs.catalog.admin.variantgroup_axe_has_url', ['ucf']) }}"></i>
				</span>
				<span data-ng-switch="axesInfo[$index].categorizable">
					<i data-ng-switch-when="false" class="icon-eye-close muted"
						title="{{ i18nAttr('m.rbs.catalog.admin.variantgroup_axe_no_categorizable', ['ucf']) }}"></i>
					<i data-ng-switch-when="true" class="icon-eye-open"
						title="{{ i18nAttr('m.rbs.catalog.admin.variantgroup_axe_categorizable', ['ucf']) }}"></i>
				</span>
				<span data-ng-bind="axis.label"></span> (<span data-ng-bind="axis.values.length"></span>)
			</h4>

			<div data-ng-form="" data-ng-if="inEditMode(axis.index)">
				<p>{{ i18n('m.rbs.catalog.admin.variantgroup_add_axis_value', ['ucf']) }}</p>
				<p>
					<input data-rbs-variant-group-editor-new-axis-value-validator="" data-axis-index="(= axis.index =)"
						data-rbs-auto-focus="" autocapitalize="off" type="text" class="form-control" required="required"
						name="axisValueToAdd" data-ng-model="axisValueToAdd[axis.index]"
						data-ng-keypress="addValueOnEnter(axis.index, $event)"/>
				<p class="text-danger" data-ng-show="valueAlreadyExists(axis.index)">
					{{ i18n('m.rbs.catalog.admin.variantgroup_value_already_exists', ['ucf']) }}
				</p>
				<div class="btn-toolbar">
					<button class="btn btn-default" type="button" data-ng-click="toggleEditMode(axis.index)">
						{{ i18n('m.rbs.catalog.admin.variantgroup_cancel', ['ucf']) }}
					</button>
					<button class="btn btn-primary" type="button" data-ng-disabled="isInvalid(axis.index)"
						data-ng-click="addAxisValue(axis.index)">
						{{ i18n('m.rbs.catalog.admin.variantgroup_add', ['ucf']) }}
					</button>
				</div>
			</div>
		</div>

		<div class="axis-values" data-ng-hide="hasJobs">
			<div data-ng-repeat="value in axis.values" class="axis-value"
				data-ng-class="{'odd': $odd, 'selected': inNavPath(axis.index, value), 'between-selection': isBetween(axis.index, $index), 'unused': (used = isVariantSelected(axis.index, value.value)) != 'Y'}"
				data-ng-click="navigate(axis.index, value, $index)">
				<span data-ng-switch="inEditMode(axis.index)">
					<button data-ng-switch-when="true" type="button" data-ng-click="removeAxisValue(axis.index, $index)"
						class="btn btn-xs btn-danger">
						<i class="icon-trash"></i>
					</button>
					<span data-ng-switch-when="false" data-ng-switch="used">
						<button data-ng-switch-when="Y" type="button" class="btn btn-xs btn-success"
							data-ng-click="unselectVariant(axis.index, value, $index, $event)">
							<i class="icon-minus"></i>
						</button>
						<button data-ng-switch-when="N" type="button" class="btn btn-xs btn-default"
							data-ng-click="selectVariant(axis.index, value, $index, $event)">
							<i class="icon-plus"></i>
						</button>
						<button data-ng-switch-when="S" type="button" class="btn btn-xs btn-default" disabled="disabled">
							<i class="icon-share-alt"></i>
						</button>
						<button data-ng-switch-when="C" type="button" class="btn btn-xs btn-success" disabled="disabled">
							<i class="icon-share-alt"></i>
						</button>
						<button data-ng-switch-when="U" type="button" class="btn btn-xs btn-default" disabled="disabled">
							<i class="icon-question"></i>
						</button>
					</span>
				</span>
				<span data-ng-bind="value.title"></span>
			</div>
			<div data-ng-if="$index > 0" class="indicator"></div>
		</div>
	</div>

	<div class="axis-column" data-ng-if="navigationEnd">
		<div class="axis-header">
			<h4>
				<span data-ng-repeat="item in path">
					<span data-ng-bind="item.value.title"></span>
				</span>
			</h4>
		</div>
		<div class="axis-values">
			<div class="axis-value" style="cursor: default;" data-ng-switch="finalProductSaved()">
				<div data-ng-switch-when="true" data-ng-switch="loadingFinalProduct">
					<div data-ng-switch-when="true">
						<i class="icon-spinner icon-spin"></i>
						{{ i18n('m.rbs.catalog.admin.variantgroup_loading_product_info', ['ucf']) }}
					</div>
					<div data-ng-switch-when="false">
						<h4 data-ng-bind="finalProduct.label"></h4>
						<p class="clearfix" data-ng-if="finalProduct.visuals.length">
							<img data-ng-repeat="visual in finalProduct.visuals" data-rbs-storage-image="visual.id"
								data-thumbnail="XS" class="img-polaroid margin-right pull-left"/>
						</p>
						<p data-ng-if="! finalProduct.visuals.length">
							<em class="muted">{{ i18n('m.rbs.catalog.admin.variantgroup_no_visuals', ['ucf']) }}</em>
						</p>
						<p>
							<a href="javascript:;" data-ng-href="(= getFinalProductUrl() =)">
								{{ i18n('m.rbs.catalog.admin.variantgroup_go_to_product', ['ucf']) }}
								<i class="icon-circle-arrow-right"></i>
							</a>
						</p>
					</div>
				</div>
				<div data-ng-switch-when="false" class="alert alert-warning">
					{{ i18n('m.rbs.catalog.admin.variantgroup_product_does_not_exist_yet') | raw }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="well" style="margin-top: 20px;" data-ng-hide="hasJobs">
	<span class="pull-right">
		<button class="btn btn-primary" data-ng-click="selectAllVariants()" type="button">
			{{ i18n('m.rbs.catalog.admin.variantgroup_generate_all_action', ['ucf']) }}
		</button>
		<button class="btn btn-danger" data-ng-click="removeAllVariants()" type="button">
			{{ i18n('m.rbs.catalog.admin.variantgroup_remove_all_action', ['ucf']) }}
		</button>
	</span>
	<h4>
		<span data-ng-bind="document.variantConfiguration.products.length"></span>
		{{ i18n('m.rbs.catalog.admin.variantgroup_existing_products_of') }}
		<span data-ng-bind="possibleVariantsCount"></span>
		{{ i18n('m.rbs.catalog.admin.variantgroup_possible_products') }}
	</h4>
	<p><span class="label label-info">Info</span>
		{{ i18n('m.rbs.catalog.admin.variantgroup_products_will_be_created_when_this_form_is_submitted', ['ucf']) }}
	</p>
</div>

<div class="well" style="margin-top: 20px;" data-ng-show="hasJobs">
	{{ i18n('m.rbs.catalog.admin.variantgroup_jobs_infos', ['ucf']) | raw}}
</div>

<rbs-field-boolean property="newSkuOnCreation"
		label="{{ i18nAttr(propertyKey('Rbs_Catalog_VariantGroup', 'newSkuOnCreation'), ['ucf']) }}">
</rbs-field-boolean>