<div class="row">

	<div rbs-aside-column>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-sitemap"></i> {{ i18n('m.rbs.catalog.documents.variantgroup', ['ucf']) }}</h3>
			</div>
			<div class="list-group">
				<p class="list-group-item">
					<a href="(= document | rbsURL:'variant-list':{productId:document.rootProduct.id} =)"><i class="icon-arrow-right"></i> {{ i18nAttr('m.rbs.catalog.admin.variantgroup_variant_list', ['ucf']) | raw}}</a>
				</p>
			</div>
		</div>
		<div class="rbs-aside-block" ng-show="document.rootProduct">
			<h3 class="panel-title">{{ i18n('m.rbs.catalog.admin.product_concerned_product', ['ucf']) }}</h3>
			<rbs-document-preview document="document.rootProduct"></rbs-document-preview>
		</div>
	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_VariantGroup'), ['ucf']) }}"></rbs-page-header>
		<rbs-document-editor-rbs-catalog-variant-group-stocks>

			<div class="row">
				<form name="form" ng-submit="save()" class="form-horizontal">
					<table class="table table-striped">

						<thead>
							<td>{{ i18n('m.rbs.catalog.admin.product_product', ['ucf']) }}</td>
							<td ng-repeat="(warehouseId, warehouse) in data.warehouses">(= warehouse.code =)</td>
						</thead>

						<tr ng-repeat="(productId, product) in data.products">
							<td>(= product.label =)</td>
							<td ng-repeat="(warehouseId, warehouse) in data.warehouses">
								<input type="number" rbs-integer="" class="form-control input-sm" ng-model="warehouse.skus[product.sku.id]" size="4" />
							</td>
						</tr>

					</table>

					<div class="confirmation-area"></div>

					<button class="btn btn-default btn-headline" type="button" ng-click="confirmReset($event)" ng-disabled="!isChanged" title="{{ i18nAttr('m.rbs.admin.admin.titleRevert', ['ucf']) }}"><i class="icon-undo"></i>{{ i18n('m.rbs.admin.admin.btnRevert', ['ucf']) | raw }}</button>
					<button class="btn btn-headline btn-primary" ng-class="{'btn-success':saveProgress.success && isChanged, 'btn-danger':saveProgress.error}" data-role="save" type="submit" ng-disabled="!isChanged || saveProgress.running">
						<i class="icon-white icon-ok" ng-class="{'icon-spinner': saveProgress.running, 'icon-ok': ! saveProgress.running, 'icon-remove': saveProgress.error}">
						</i>{{ i18n('m.rbs.admin.admin.btnSave', ['ucf']) | raw }}
					</button>
				</form>
			</div>

		</rbs-document-editor-rbs-catalog-variant-group-stocks>
	</div>

</div>