<tr id="{{ blockId }}_{{ cartLine.key }}" data-line-key="{{ cartLine.key }}">
	<td>{{ cartLine.number }}</td>
	<td>{{ cartLine.designation }}</td>
	<td class="price">
		{{ formatPrice(cartLine.unitPriceValue) }}
		<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.fo.without-tax') }}">{{ i18n('m.rbs.catalog.fo.without-tax-abbr') }}</abbr>
		<br />
		{{ formatPrice(cartLine.unitPriceValueWithTax) }}
		<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.fo.with-tax') }}">{{ i18n('m.rbs.catalog.fo.with-tax-abbr') }}</abbr>
	</td>
	<td>{{ cartLine.quantity }}</td>
	<td class="price">
		{{ formatPrice(cartLine.priceValue) }}
		<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.fo.without-tax') }}">{{ i18n('m.rbs.catalog.fo.without-tax-abbr') }}</abbr>
		<br />
		{{ formatPrice(cartLine.priceValueWithTax) }}
		<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.fo.with-tax') }}">{{ i18n('m.rbs.catalog.fo.with-tax-abbr') }}</abbr>
	</td>
	<td>
		<button type="button" class="btn btn-default btn-small" onclick="script{{ blockId }}.updateLine(this)"
			value="{{ cartLine.key }}" data-quantity="{{ cartLine.quantity }}"
			title="{{ i18nAttr('m.rbs.commerce.tpl.update', ['ucf']) }}">
			<i class="glyphicon glyphicon-refresh"></i>
		</button>
		<button type="button" class="btn btn-default btn-small" onclick="script{{ blockId }}.deleteLine(this)"
			value="{{ cartLine.key }}" title="{{ i18nAttr('m.rbs.commerce.tpl.remove', ['ucf']) }}">
			<i class="glyphicon glyphicon-remove"></i>
		</button>
	</td>
</tr>

