<h1>Détail du panier</h1>
<script type="text/javascript">
	var script{{ blockId }} = {
		cartIdentifier: "{{ cart.identifier }}",
		deleteLine : function(button) {
			var lineKey = button.value;
			jQuery.ajax({
				type: "POST",
				url: "Action/Rbs/Commerce/UpdateCartLine",
				data: {lineKey: lineKey, delete: true},
				dataType: 'json',
				success: function(data, textStatus, jqXHR) {
					window.location.reload();
				}
			})
		},
		updateLine : function(button) {
			var newQuantity = parseInt(button.getAttribute('data-quantity'), 10) + 1;
			var lineKey = button.value;
			jQuery.ajax({
				type: "POST",
				url: "Action/Rbs/Commerce/UpdateCartLine",
				data: {lineKey: lineKey, quantity: newQuantity},
				dataType: 'json',
				success: function(data, textStatus, jqXHR) {
					window.location.reload();
				}
			})
		}
	}
</script>
<table summary="" style="width: 100%">
	<thead>
	<tr>
		<th>&#160;</th>
		<th>Désignation</th>
		<th>Prix Unitaire</th>
		<th>Quantité</th>
		<th>Prix</th>
		<th>Prix TTC</th>
		<th>&#160;</th>
	</tr>
	</thead>
	<tbody>
{% for cartLine in cart.lines %}
	{% include 'Rbs_Commerce/Blocks/cart-line.twig' %}
{% endfor %}
	</tbody>
</table>


<table summary="" style="width: 100%">
	<thead>
	<tr>
		<th>Taxe</th>
		<th>value</th>
	</tr>
	</thead>
	<tbody>
{% for cartTax in cart.taxes %}
	<tr>
		<td>{{ taxTitle(cartTax.tax) }} ({{ formatRate(cartTax.rate) }})</td>
		<td>{{ formatPrice(cartTax.value) }}</td>
	</tr>
{% endfor %}
	</tbody>
</table>

<ol>
	<li>Montant : {{ formatPrice(cart.priceValue) }}</li>
	<li>Montant TTC : {{ formatPrice(cart.priceValueWithTax) }}</li>
</ol>

