<h1>Détail du panier</h1>
<script type="text/javascript">
	var script{{ blockId }} = {
		cartIdentifier: "{{ cart.identifier }}",
		deleteLine : function(lineKey) {
			jQuery.ajax({
				type: "POST",
				url: "Action/Rbs/Commerce/UpdateCartLine",
				data: {lineKey: lineKey, delete: true},
				dataType: 'json',
				success: function(data, textStatus, jqXHR) {
					window.location.reload();
				}
			})
		}
	}
</script>
<table summary="" style="width: 100%">
	<thead>
	<tr>
		<th>&#160;</th>
		<th>Désignation</th>
		<th>Prix Unitaire</th>
		<th>Quantité</th>
		<th>Prix</th>
		<th>Prix TTC</th>
		<th>&#160;</th>
	</tr>
	</thead>
	<tbody>
{% for cartLine in cart.lines %}
	<tr id="{{ blockId }}_{{ cartLine.key }}" data-line-key="{{ cartLine.key }}">
		<td>{{ cartLine.number }}</td>
		<td>{{ cartLine.designation }}</td>
		<td>{{ formatPrice(cartLine.unitPriceValue) }}</td>
		<td>{{ cartLine.quantity }}</td>
		<td>{{ formatPrice(cartLine.priceValue) }}</td>
		<td>{{ formatPrice(cartLine.priceValueWithTax) }}</td>
		<td><button type="button" class="btn btn-small" onclick="script{{ blockId }}.deleteLine(this.value)" value="{{ cartLine.key }}">Supprimer</></td>
	</tr>
{% endfor %}
	</tbody>
</table>


<table summary="" style="width: 100%">
	<thead>
	<tr>
		<th>Tax</th>
		<th>%</th>
		<th>value</th>
	</tr>
	</thead>
	<tbody>
{% for cartTax in cart.taxes %}
	<tr>
		<td>{{ cartTax.tax.code }}</td>
		<td>{{ formatRate(cartTax.rate) }}</td>
		<td>{{ formatPrice(cartTax.value) }}</td>
	</tr>
{% endfor %}
	</tbody>
</table>