<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/Geo/Zone/" class="rbs-panel-link">{{ i18n('m.rbs.geo.documents.zone-list', ['ucf']) }}</a>
	<a href="Rbs/Geo/Country/" class="rbs-panel-link">{{ i18n('m.rbs.geo.documents.country-list', ['ucf']) }}</a>
	<a href="Rbs/Geo/TerritorialUnit/" class="rbs-panel-link">{{ i18n('m.rbs.geo.documents.territorialunit-list', ['ucf']) }}</a>
	<a href="Rbs/Geo/AddressFields/" class="rbs-panel-link">{{ i18n('m.rbs.geo.documents.addressfields-list', ['ucf']) }}</a>
</rbs-links-panel>
