<div>
	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.rbs.admin.contents', ['ucf']) }}</li>
		<li><a href="Rbs/Geo/Zone/"><i class="icon-home"></i> {{ i18n('m.rbs.geo.document.zone-list', ['ucf']) }}</a></li>
		<li><a href="Rbs/Geo/Country/"><i class="icon-home"></i> {{ i18n('m.rbs.geo.document.country-list', ['ucf']) }}</a></li>
		<li><a href="Rbs/Geo/TerritorialUnit/"><i class="icon-home"></i> {{ i18n('m.rbs.geo.document.territorialunit-list', ['ucf']) }}</a></li>
		<li><a href="Rbs/Geo/AddressFields/"><i class="icon-home"></i> {{ i18n('m.rbs.geo.document.addressfields-list', ['ucf']) }}</a></li>
	</ul>
</div>