{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>

	<!-- general -->

	<fieldset data-ng-show="section==''"
	          data-form-section-label="{{ i18nAttr('m.change.admin.general-properties', ['ucf']) }}"
	          data-form-section-group="{{ i18nAttr('m.change.admin.properties', ['ucf']) }}">

		{{ forms.field('label', 'String',
			i18n('m.change.website.document.website.label', ['ucf']),
			true
		) }}

		{{ forms.field('hostName', 'String',
			i18n('m.change.website.document.website.hostname', ['ucf']),
			true,
			i18n('m.change.website.document.website.hostname-help')
		) }}

		{{ forms.field('port', 'Integer',
			i18n('m.change.website.document.website.port', ['ucf']),
			false,
			i18n('m.change.website.document.website.port-help')
		) }}

		{{ forms.field('scriptName', 'String',
			i18n('m.change.website.document.website.scriptName', ['ucf']),
			false,
			i18n('m.change.website.document.website.scriptName-help')
		) }}

		{{ forms.field('pathPart', 'String',
			i18n('m.change.website.document.website.pathPart', ['ucf']),
			false,
			i18n('m.change.website.document.website.pathPart-help')
		) }}

		{{ forms.picker('indexPage', 'Change_Website_StaticPage',
			i18n('m.change.website.document.website.indexpage', ['ucf']),
			false,
			null,
			"Sélectionner la page d'accueil du site"
		) }}

	</fieldset>

	<fieldset
			data-ng-show="section=='systeminfo'"
			data-form-section-label="{{ i18nAttr('m.change.admin.Status', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.change.admin.Information', ['ucf']) }}"
			data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>

</form>