<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Stock_Sku">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Stock_Sku'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-stock-sku-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text property="code" label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'code'), ['ucf']) }}" max-length="80" required="true">
				</rbs-field-text>

				<rbs-field-text property="ean13" label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'ean13'), ['ucf']) }}" max-length="13">
				</rbs-field-text>

				<rbs-field-text property="jan" label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'jan'), ['ucf']) }}" max-length="13">
				</rbs-field-text>

				<rbs-field-text property="upc" label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'upc'), ['ucf']) }}" max-length="12">
				</rbs-field-text>

				<rbs-field-text property="isbn" label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'isbn'), ['ucf']) }}" max-length="12">
				</rbs-field-text>

				<rbs-field-text property="partNumber" label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'partNumber'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field-boolean property="virtual" label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'virtual'), ['ucf']) }}">
				</rbs-field-boolean>

				<rbs-field ng-hide="document.virtual" label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'physicalProperties'), ['ucf']) }}">
					<div class="form-inline">
						<div class="form-group" style="margin:0;">
							<div class="input-group">
								<span class="input-group-addon">{{ i18n('m.rbs.stock.admin.mass_abbr') }}</span>
								<input class="form-control" size="7" data-ng-model="document.physicalProperties.mass.value"
									data-rbs-smart-float="" type="text" placeholder="{{ i18nAttr('m.rbs.stock.admin.mass') }}">
								<span class="input-group-addon contains-input">
									<select class="form-control" data-ng-model="document.physicalProperties.mass.unit">
										<option value="kg">{{ i18n('m.rbs.stock.admin.kg_abbr') }}</option>
										<option value="g">{{ i18n('m.rbs.stock.admin.g_abbr') }}</option>
										<option value="lbs">{{ i18n('m.rbs.stock.admin.lbs_abbr') }}</option>
									</select>
								</span>
							</div>
						</div>
					</div>

					<div class="form-inline" style="margin-top:4px;">
						<div class="form-group" style="margin:0;">
							<div class="input-group">
								<span class="input-group-addon">{{ i18n('m.rbs.stock.admin.length_abbr') }}</span>
								<input class="form-control" size="7" data-rbs-smart-float="" min="0" type="text"
									data-ng-model="document.physicalProperties.length.value"
									placeholder="{{ i18nAttr('m.rbs.stock.admin.length') }}"/>
								<span class="input-group-addon contains-input">
									<select class="form-control" data-ng-model="document.physicalProperties.length.unit">
										<option value="cm">{{ i18n('m.rbs.stock.admin.cm_abbr') }}</option>
										<option value="m">{{ i18n('m.rbs.stock.admin.m_abbr') }}</option>
										<option value="in">{{ i18n('m.rbs.stock.admin.in_abbr') }}</option>
									</select>
								</span>
							</div>
						</div>
						<span>x</span>
						<div class="form-group" style="margin:0;">
							<div class="input-group">
								<span class="input-group-addon">{{ i18n('m.rbs.stock.admin.width_abbr') }}</span>
								<input class="form-control" size="7" data-rbs-smart-float="" min="0" type="text"
									data-ng-model="document.physicalProperties.width.value"
									placeholder="{{ i18nAttr('m.rbs.stock.admin.width') }}"/>
								<span class="input-group-addon contains-input">
									<select class="form-control" data-ng-model="document.physicalProperties.width.unit">
										<option value="cm">{{ i18n('m.rbs.stock.admin.cm_abbr') }}</option>
										<option value="m">{{ i18n('m.rbs.stock.admin.m_abbr') }}</option>
										<option value="in">{{ i18n('m.rbs.stock.admin.in_abbr') }}</option>
									</select>
								</span>
							</div>
						</div>
						<span>x</span>
						<div class="form-group" style="margin:0;">
							<div class="input-group">
								<span class="input-group-addon">{{ i18n('m.rbs.stock.admin.height_abbr') }}</span>
								<input class="form-control" size="7" data-rbs-smart-float="" min="0" type="text"
									data-ng-model="document.physicalProperties.height.value"
									placeholder="{{ i18nAttr('m.rbs.stock.admin.height') }}"/>
								<span class="input-group-addon contains-input">
									<select class="form-control" data-ng-model="document.physicalProperties.height.unit">
										<option value="cm">{{ i18n('m.rbs.stock.admin.cm_abbr') }}</option>
										<option value="m">{{ i18n('m.rbs.stock.admin.m_abbr') }}</option>
										<option value="in">{{ i18n('m.rbs.stock.admin.in_abbr') }}</option>
									</select>
								</span>
							</div>
						</div>
					</div>
				</rbs-field>
				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'unit'), ['ucf']) }}">
					<select data-ng-model="unit" class="form-control"
						data-rbs-items-from-collection="Rbs_Stock_Collection_Unit"></select>
				</rbs-field>

				<rbs-field-integer property="quantityIncrement" min="1" max="10000"
					label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'quantityIncrement'), ['ucf']) }}">
				</rbs-field-integer>

				<rbs-field-integer property="minQuantity" min="1" max="100000"
					label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'minQuantity'), ['ucf']) }}">
				</rbs-field-integer>

				<rbs-field-integer min="1" max="100000" property="maxQuantity"
					label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'maxQuantity'), ['ucf']) }}">
				</rbs-field-integer>

				<rbs-field-boolean property="unlimitedInventory"
					label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'unlimitedInventory'), ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.stock.admin.sku_unlimitedinventory_help') }}</span>
				</rbs-field-boolean>

				<div data-ng-hide="document.unlimitedInventory">
					<rbs-field-boolean property="allowBackorders"
						label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'allowBackorders'), ['ucf']) }}">
						<span class="help-block">{{ i18n('m.rbs.stock.admin.sku_allowbackorders_help') }}</span>
					</rbs-field-boolean>

					<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'thresholds'), ['ucf']) }}">
						<rbs-thresholds-editor thresholds-values="document.thresholds">
						</rbs-thresholds-editor>
					</rbs-field>
				</div>

				<rbs-field-boolean property="allowQuantitySplit"
					label="{{ i18nAttr(propertyKey('Rbs_Stock_Sku', 'allowQuantitySplit'), ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.stock.admin.sku_allowquantitysplit_help') }}</span>
				</rbs-field-boolean>
			</fieldset>

			<fieldset data-rbs-editor-section="activation"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.activation_properties', ['ucf']) }}"
				data-rbs-document-activation-section="">
			</fieldset>

			<fieldset data-rbs-editor-section="skustockinfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.stock.admin.sku_stock_info', ['ucf']) }}"
				data-editor-section-icon="icon-signal">

				<div class="table-responsive" >
					<h4>{{ i18n('m.rbs.stock.admin.sku_stock_info_level_title', ['ucf']) }}</h4>
					<table class="table table-striped" ng-if="stockInfoData.inventoryData">
						<tr>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_level', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_current_level', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_warehouse', ['ucf']) }}</th>
						</tr>
						<tr ng-repeat="inventory in stockInfoData.inventoryData">
							<td>
								<a class="btn btn-xs btn-default active" type="button" title="{{ i18n('m.rbs.admin.admin.edit', ['ucf']) }}" ng-href="(= inventory | rbsURL =)">
									<i class="icon-edit"></i> (= inventory.inventoryLevel =)</a>
							</td>
							<td>(= inventory.currentLevel =)</td>
							<td>(= inventory.warehouseLabel =)</td>
						</tr>
					</table>
					<p class="bg-warning lead text-center" ng-if="!stockInfoData.inventoryData">{{ i18n('m.rbs.stock.admin.no_information_to_display', ['ucf']) }}</p>
				</div>

				<div class="table-responsive" >
					<h4>{{ i18n('m.rbs.stock.admin.sku_stock_info_movement_title', ['ucf']) }}</h4>
					<table class="table table-striped" ng-if="stockInfoData.movementsData">
						<tr>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_movement_count', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_movement_value', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_movement_warehouse', ['ucf']) }}</th>
						</tr>
						<tr ng-repeat="movement in stockInfoData.movementsData">
							<td>(= movement.count =)</td>
							<td>(= movement.movement =)</td>
							<td>(= movement.warehouseLabel =)</td>
						</tr>
					</table>
					<p class="bg-warning lead text-center" ng-if="!stockInfoData.movementsData">{{ i18n('m.rbs.stock.admin.no_information_to_display', ['ucf']) }}</p>
				</div>

				<div class="table-responsive" >
					<h4>{{ i18n('m.rbs.stock.admin.sku_stock_info_confirmed_reservation_title', ['ucf']) }}</h4>
					<table class="table table-striped" ng-if="stockInfoData.reservationsData && stockInfoData.hasConfirmedReservations">
						<tr>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_reservation_store', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_reservation_count', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_reservation_value', ['ucf']) }}</th>
						</tr>
						<tr ng-repeat="reservation in stockInfoData.reservationsData"  ng-if="reservation.confirmed">
							<td name="reservation.store" label="{{ i18n('m.rbs.stock.admin.reservation_store', ['ucf']) }}"><a href="(= reservation.store | rbsURL =)">(= reservation.store.label=)</a></td>
							<td>(= reservation.count =)</td>
							<td>(= reservation.reservation =)</td>
						</tr>
					</table>
					<p class="bg-warning lead text-center" ng-if="!stockInfoData.reservationsData || stockInfoData.reservationsData && !stockInfoData.hasConfirmedReservations">{{ i18n('m.rbs.stock.admin.no_information_to_display', ['ucf']) }}</p>
				</div>

				<div class="table-responsive" >
					<h4>{{ i18n('m.rbs.stock.admin.sku_stock_info_reservation_title', ['ucf']) }}</h4>
					<table class="table table-striped" ng-if="stockInfoData.reservationsData">
						<tr>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_reservation_store', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_reservation_count', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.stock.admin.sku_stock_info_reservation_value', ['ucf']) }}</th>
						</tr>
						<tr ng-repeat="reservation in stockInfoData.reservationsData" ng-if="!reservation.confirmed">
							<td name="reservation.store" label="{{ i18n('m.rbs.stock.admin.reservation_store', ['ucf']) }}"><a href="(= reservation.store | rbsURL =)">(= reservation.store.label=)</a></td>
							<td>(= reservation.count =)</td>
							<td>(= reservation.reservation =)</td>
						</tr>
					</table>
					<p class="bg-warning lead text-center" ng-if="!stockInfoData.reservationsData">{{ i18n('m.rbs.stock.admin.no_information_to_display', ['ucf']) }}</p>
				</div>

			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>