{% macro item(item) %}
	{% import _self as menu %}
	<li>
		<a href="{{ item.url }}">{{ item.label }}</a>
		{% if item.hasChild %}
			<ul class="regular">
				{% for child in item.getChildren %}
					{{ menu.item(child) }}
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endmacro %}
{% import _self as menu %}

{% if parameters.showTitle == true %}
	<h1><a href="">{{ i18n('m.change.website.fo.home',['ucf']) }}</a></h1>
{% endif %}
<ul class="regular">
	{% for child in root.children %}
		{{ menu.item(child) }}
	{% endfor %}
</ul>