<div class="row">

	<rbs-workspace-config menu="Rbs_Price">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Price'|rbsURL:'home' =)">{{ i18n('m.rbs.price.admin.module_name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Price_Price'|rbsURL:'list' =)">{{ i18n('m.rbs.price.admin.price_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<page-header title="{{ i18nAttr('m.rbs.price.admin.price_list', ['ucf']) }}"></page-header>
		<search-filters model="Rbs_Price_Price" filter-query="query" text-search="textSearch"></search-filters>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Price_Price' | rbsURL:'new' =)">{{ i18n('m.rbs.price.admin.price_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLRbsPricePrice" model="Rbs_Price_Price" filter-query="query" actions="default" activable="false">
			<column name="boValue" align="right" width="90px">
				<a  ng-href="(=doc|rbsURL=)">(=doc.formattedBoValue=)</a>
			</column>
			<column sort="basePrice.boValue" name="basePrice" align="right" width="150px" label="{{ i18nAttr('m.rbs.price.documents.price_baseprice', ['ucf']) }}">
				<del ng-if="doc.formattedBoBaseValue"><a ng-href="(= doc.basePrice|rbsURL =)">(=doc.formattedBoBaseValue=)</a></del>
				<a ng-if="!doc.formattedBoBaseValue" href="(= doc | rbsURL:'discount' =)?basePriceId=(=doc.id=)" class="btn btn-default btn-xs">{{ i18nAttr('m.rbs.catalog.admin.price_create_discount') }}</a>
			</column>
			<column name="sku" sort="sku.code"><a href="(= doc.sku | rbsURL =)">(= doc.sku.label =)</a></column>
			<column name="webStore" sort="webStore.label">(=doc.webStore.label=)</column>
			<column name="startActivation">(= doc.startActivation | rbsDateTime =)</column>
			<column name="endActivation">(= doc.endActivation | rbsDateTime =)</column>
		</rbs-document-list>
	</div>

</div>