<rbs-links-panel title="{{ i18nAttr('m.rbs.catalog.admin.module_name', ['ucf']) }}" icon="icon-book">
	<a rbs-active-route="" href="{{ namedURL('Rbs_Catalog_Product', 'list') }}" rbs-panel-link="">{{ i18n('m.rbs.catalog.admin.product_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="{{ namedURL('Rbs_Brand_Brand', 'list') }}" rbs-panel-link="">{{ i18n('m.rbs.brand.admin.brand_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="{{ namedURL('Rbs_Stock_Sku', 'list') }}" rbs-panel-link="">{{ i18n('m.rbs.stock.admin.sku_list', ['ucf']) }}</a>
</rbs-links-panel>

<rbs-links-panel title="{{ i18nAttr('m.rbs.catalog.admin.merchandizing', ['ucf']) }}" icon="icon-bullhorn">
	<a rbs-active-route="" href="{{ namedURL('Rbs_Catalog_ProductList', 'list') }}" rbs-panel-link="">{{ i18n('m.rbs.catalog.admin.productlist_list', ['ucf']) }}</a>
</rbs-links-panel>