<rbs-links-panel title="{{ i18nAttr('m.rbs.catalog.admin.module_name', ['ucf']) }}">
	<a rbs-active-route="" href="Rbs/Catalog/Product/" class="rbs-panel-link">{{ i18n('m.rbs.catalog.admin.product_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Catalog/Sku/" class="rbs-panel-link">{{ i18n('m.rbs.stock.admin.sku_list', ['ucf']) }}</a>
</rbs-links-panel>

<rbs-links-panel title="{{ i18nAttr('m.rbs.catalog.admin.merchandizing', ['ucf']) }}">
	<a rbs-active-route="" href="Rbs/Catalog/ProductList/" class="rbs-panel-link">{{ i18n('m.rbs.catalog.admin.productlist_list', ['ucf']) }}</a>
</rbs-links-panel>

<rbs-links-panel title="{{ i18n('m.rbs.admin.admin.administration', ['ucf']) }}" icon="icon-cog">
	<a rbs-active-route="" href="Rbs/Catalog/Attribute/" class="rbs-panel-link">{{ i18n('m.rbs.catalog.admin.attribute_list', ['ucf']) }}</a>
</rbs-links-panel>