<div class="row">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_User_Profile'|rbsURL:'home' =)">{{ i18nAttr('m.rbs.user.admin.profile', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-aside template="Document/Rbs/User/Profile/aside.twig"></rbs-aside>
	</div>

	<div rbs-main-column>
		<form class="form-horizontal" novalidate ng-submit="saveConnectionInfo()" name="form" ng-controller="Rbs_User_ChangePassword_Controller">

			<fieldset>

				<legend>{{ i18n('m.rbs.user.admin.profile_change_password', ['ucf']) }}</legend>

				<rbs-field label="{{ i18nAttr('m.rbs.user.admin.current_password', ['ucf']) }}" required="true">
					<input class="form-control" type="password" ng-model="currentPassword" />
					<span class="help-block">
						{{ i18n('m.rbs.user.admin.profile_password_helper', ['ucf']) }}
					</span>
				</rbs-field>

				<hr />

				<rbs-field label="{{ i18nAttr('m.rbs.user.admin.new_password', ['ucf']) }}" required="true">
					<input class="form-control" type="password" name="newpassword" ng-model="user.password" />
				</rbs-field>

				<rbs-field label="{{ i18nAttr('m.rbs.user.admin.profile_change_password_confirm_password', ['ucf']) }}" required="true">
					<input class="form-control" type="password" name="confirmpassword" ng-model="confirmPassword" />
				</rbs-field>

			</fieldset>

			<div class="form-actions">
				<button disabled="disabled" class="btn btn-default btn-headline" type="button" ng-click="revert($event)" ng-disabled="isUnchanged()"><i class="icon-undo"></i>{{ i18n('m.rbs.admin.admin.btnRevert', ['ucf']) | raw }}</button>
				<button class="btn btn-headline btn-primary" ng-class="{'btn-success':saveProgress.success && isUnchanged(), 'btn-danger':saveProgress.error}" type="submit"
					ng-disabled="form.$invalid || isUnchanged()"><i class="icon-white" ng-class="{'icon-spinner': saveProgress.running, 'icon-ok': ! saveProgress.running, 'icon-remove': saveProgress.error}"></i>{{ i18n('m.rbs.admin.admin.btnSave', ['ucf']) | raw }}</button>
			</div>
		</form>
	</div>
</div>