<form class="form-horizontal" novalidate ng-submit="saveConnectionInfo()" name="form" ng-controller="Rbs_User_ConnectionInfo_Controller">
	<rbs-workspace-config menu="Document_Rbs_User_Profile">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_User_Profile'|rbsURL:'home' =)">{{ i18nAttr('m.rbs.user.admin.profile', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>
	<fieldset>
		<div class="alert alert-danger" data-ng-if="wrongPassword">
			<button type="button" class="close" data-dismiss="alert">×</button>
			{{ i18n('m.rbs.user.admin.profile_connection_info_wrong_password', ['ucf']) }}
		</div>
		<div class="alert alert-danger" data-ng-if="invalidLogin">
			<button type="button" class="close" data-dismiss="alert">×</button>
			{{ i18n('m.rbs.user.admin.profile_connection_info_invalid_login', ['ucf']) }}
		</div>

		<legend>{{ i18n('m.rbs.user.admin.profile_connection_info', ['ucf']) }}</legend>

		<rbs-field label="{{ i18nAttr('m.rbs.user.admin.current_password', ['ucf']) }}" required="true">
			<input class="form-control" type="password" ng-model="currentPassword" />
		</rbs-field>

		<hr />

		<rbs-field-text
			property="user.email" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_User_User', 'email'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text
			property="user.login"
			label="{{ i18nAttr(propertyKey('Rbs_User_User', 'login'), ['ucf']) }}">
		</rbs-field-text>

	</fieldset>

	<div class="form-actions">
		<button disabled="disabled" class="btn btn-default btn-headline" type="button" ng-click="revert($event)" ng-disabled="isUnchanged()"><i class="icon-undo"></i>{{ i18n('m.rbs.admin.admin.btnRevert', ['ucf']) | raw }}</button>
		<button class="btn btn-headline btn-primary" ng-class="{'btn-success':saveProgress.success && isUnchanged(), 'btn-danger':saveProgress.error}" type="submit"
			ng-disabled="form.$invalid || isUnchanged()"><i class="icon-white" ng-class="{'icon-spinner': saveProgress.running, 'icon-ok': ! saveProgress.running, 'icon-remove': saveProgress.error}"></i>{{ i18n('m.rbs.admin.admin.btnSave', ['ucf']) | raw }}</button>
	</div>
</form>