<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Commerce_Process">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Commerce_Process'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-commerce-process-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				{% include '@Rbs_Commerce/Documents/Process/properties.twig' %}

			</fieldset>

			<fieldset data-rbs-editor-section="scenario"
					data-editor-section-label="{{ i18nAttr('m.rbs.commerce.admin.scenario_properties', ['ucf']) }}">
				{% include '@Rbs_Commerce/Documents/Process/scenario_properties.twig' %}
			</fieldset>

			<fieldset data-rbs-editor-section="modifiers"
					data-editor-section-label="{{ i18nAttr('m.rbs.commerce.admin.modifiers_properties', ['ucf']) }}">
				<rbs-document-list data-dlid="DLRbsCommerceProcessModifier" collection="document.modifiersOrder"
					extend="modifiersManager" ng-cloak="" correction="true" toolbar="false" selectable="false" activable="true">
					<rbs-quick-actions></rbs-quick-actions>
					<rbs-column name="model" label="{{ i18nAttr('c.documents.model', ['ucf']) }}" >(= doc.modelName =)</rbs-column>
					<rbs-column name="label" primary="true" label="{{ i18nAttr('c.documents.label', ['ucf']) }}">
						<a href="" data-ng-href="(= doc | rbsURL:'edit' =)">(= doc.label =)</a>
					</rbs-column>
					<rbs-column name="actions" width="88" label="{{ i18nAttr('m.rbs.admin.admin.sort_actions', ['ucf']) }}">
						<rbs-kb-switch>
							<button data-rbs-kb-when="alt" data-ng-disabled="$first" class="btn btn-default btn-icon"
								type="button" data-ng-click="extend.moveTop($index)"
								title="{{ i18nAttr('m.rbs.admin.admin.move_top', ['ucf']) }}">
								<i class="icon-step-forward icon-rotate-270"></i>
							</button>
							<button data-rbs-kb-default="" data-ng-disabled="$first" class="btn btn-default btn-icon"
								type="button" data-ng-click="extend.moveUp($index)"
								title="{{ i18nAttr('m.rbs.admin.admin.move_up', ['ucf']) }}">
								<i class="icon-play icon-rotate-270"></i>
							</button>
						</rbs-kb-switch>
						<rbs-kb-switch>
							<button data-rbs-kb-when="alt" data-ng-disabled="$last" class="btn btn-default btn-icon"
								type="button" data-ng-click="extend.moveBottom($index)"
								title="{{ i18nAttr('m.rbs.admin.admin.move_bottom', ['ucf']) }}">
								<i class="icon-step-forward icon-rotate-90"></i>
							</button>
							<button data-rbs-kb-default="" data-ng-disabled="$last" class="btn btn-default btn-icon"
								type="button" data-ng-click="extend.moveDown($index)"
								title="{{ i18nAttr('m.rbs.admin.admin.move_down', ['ucf']) }}">
								<i class="icon-play icon-rotate-90"></i>
							</button>
						</rbs-kb-switch>
					</rbs-column>
				</rbs-document-list>
			</fieldset>



			<fieldset data-rbs-editor-section="activation"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.activation_properties', ['ucf']) }}"
				data-rbs-document-activation-section="">
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>