<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" label="{{ i18nAttr(propertyKey('Rbs_Commerce_Process', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker-multiple property="shippingModes" accepted-model="Rbs_Shipping_Mode"
			label="{{ i18nAttr(propertyKey('Rbs_Commerce_Process', 'shippingModes'), ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.commerce.admin.process_shippingmodes_picker_title', ['ucf']) }}">
		</rbs-field-picker-multiple>

		<rbs-field-picker-multiple property="paymentConnectors" accepted-model="Rbs_Payment_Connector"
			label="{{ i18nAttr(propertyKey('Rbs_Commerce_Process', 'paymentConnectors'), ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.commerce.admin.process_paymentconnectors_picker_title', ['ucf']) }}">
		</rbs-field-picker-multiple>

		<div ng-hide="document.isNew()">
			<rbs-document-list data-dlid="DLRbsCommerceProcessModifier" collection="document.modifiersOrder"
				extend="modifiersManager" ng-cloak="" correction="true" toolbar="false" selectable="false" activable="true">
				<rbs-column name="model" label="{{ i18nAttr('c.documents.model', ['ucf']) }}" >(= doc.modelName =)</rbs-column>
				<rbs-column name="label" primary="true" label="{{ i18nAttr('c.documents.label', ['ucf']) }}">
					<a ng-href="(= doc | rbsURL:'form' =)">(= doc.label =)</a>
				</rbs-column>
				<rbs-quick-actions></rbs-quick-actions>
				<rbs-column name="actions" width="88" label="{{ i18nAttr('m.rbs.admin.admin.sort_actions', ['ucf']) }}">
					<rbs-kb-switch>
						<button rbs-kb-when="alt" ng-disabled="$first" class="btn btn-default btn-icon" type="button" ng-click="extend.moveTop($index)" title="{{ i18nAttr('m.rbs.admin.admin.move_top', ['ucf']) }}">
							<i class="icon-step-forward icon-rotate-270"></i>
						</button>
						<button rbs-kb-default="" ng-disabled="$first" class="btn btn-default btn-icon" type="button" ng-click="extend.moveUp($index)" title="{{ i18nAttr('m.rbs.admin.admin.move_up', ['ucf']) }}">
							<i class="icon-play icon-rotate-270"></i>
						</button>
					</rbs-kb-switch>
					<rbs-kb-switch>
						<button rbs-kb-when="alt" ng-disabled="$last" class="btn btn-default btn-icon" type="button" ng-click="extend.moveBottom($index)" title="{{ i18nAttr('m.rbs.admin.admin.move_bottom', ['ucf']) }}">
							<i class="icon-step-forward icon-rotate-90"></i>
						</button>
						<button rbs-kb-default="" ng-disabled="$last" class="btn btn-default btn-icon" type="button" ng-click="extend.moveDown($index)" title="{{ i18nAttr('m.rbs.admin.admin.move_down', ['ucf']) }}">
							<i class="icon-play icon-rotate-90"></i>
						</button>
					</rbs-kb-switch>
				</rbs-column>
			</rbs-document-list>
		</div>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-rbs-document-system-info-section="">
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>