<form name="form" data-ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text
			property="name" required="true"
			label="{{ i18nAttr('m.rbs.theme.documents.theme.name', ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.theme.documents.theme.name-help') }}</span>
		</rbs-field-text>

		<rbs-field-text
			property="label" required="true"
			label="{{ i18nAttr('m.rbs.theme.documents.theme.label', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker property="parentTheme" required="false" label="{{ i18nAttr('m.rbs.theme.documents.theme.parent-theme', ['ucf']) }}"
			accepted-model="Rbs_Theme_Theme"
			allow-edition="true">
		</rbs-field-picker>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>