<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field property="code" label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'code'), ['ucf']) }}">
			<p class="form-control-static">(= document.code =)</p>
		</rbs-field>

		<rbs-field-text property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field property="subject" label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'subject'), ['ucf']) }}" required="true">
			<div class="input-group">
				<input type="text" class="form-control" data-ng-model="document.subject" />
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ i18n('m.rbs.mail.documents.mail_substitutions', ['ucf']) }} <span class="caret"></span></button>
					<ul class="dropdown-menu pull-right">
						<li data-ng-repeat="variable in document.substitutions">
							<a href="" data-ng-click="addSubstitutionVariable(variable)">(= variable =)</a>
						</li>
					</ul>
				</div>
			</div>
		</rbs-field>

		<rbs-field-document-select label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'template'), ['ucf']) }}" required="true"
				property="template" ng-model="document.template"
				accepted-model="Rbs_Theme_Template">
			<span ng-if="!document.template.mailSuitable" class="help-block text-warning">
				{{ i18n('m.rbs.mail.admin.mail_template_not_suitable_help', ['ucf']) }}
			</span>
		</rbs-field-document-select>

		<rbs-field-text property="senderName"
			label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'senderName'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="senderMail"
			label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'senderMail'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker-multiple ng-if="document.isVariation" property="websites"
			label="{{ i18nAttr('m.rbs.mail.documents.mail_websites', ['ucf']) }}"
			accepted-model="Rbs_Website_Website"
			selector-title="{{ i18nAttr('m.rbs.mail.admin.mail_websites_picker_title', ['ucf']) }}"
			allow-creation="false">
		</rbs-field-picker-multiple>

		<rbs-field-boolean property="useCache"
			label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'useCache'), ['ucf']) }}">
		</rbs-field-boolean>

		<div data-ng-show="document.useCache">
			<rbs-field property="TTL" label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'TTL'), ['ucf']) }}">
				<input class="form-control" size="7" rbs-smart-float="" ng-model="document.TTL" min="0" type="number" />
				<span class="help-block">{{ i18n('m.rbs.website.admin.page_ttl_help') }}</span>
			</rbs-field>
		</div>

	</fieldset>

	<fieldset ng-show="section=='content'" hide-when-create="true"
		data-form-section-label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'editableContent'), ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<div rbs-tip="Rbs_MailEditor_Markdown">
			{{ i18n('m.rbs.admin.admin.rbs_pageeditor_markdown') | raw }}
		</div>

		<rbs-structure-editor property="editableContent" name="contents" ng-model="document.editableContent"
			template="(= template =)" substitution-variables="(= document.substitutions =)">
		</rbs-structure-editor>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-rbs-document-system-info-section="">
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>