<div class="row">

	<div ng-switch="editMode">

		<div ng-switch-when="translate">
			<div class="document-form" rbs-full-width>
				<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Mail_Mail'), ['ucf']) }}"></rbs-page-header>
				<rbs-document-editor rbs-document-editor-translate-deprecated="" rbs-document-editor-rbs-mail-mail-translate=""></rbs-document-editor>
			</div>
		</div>

		<div ng-switch-default="">
			<div rbs-aside-column>
				<rbs-default-asides-for-editor id="rbsWebsitePageDefaultAsides"></rbs-default-asides-for-editor>
				<div  id="rbsWebsitePageBlockPropertiesAside" style="display: none;">
					<div class="panel panel-default">
						<div class="panel-body">
							<a href="javascript:;" ng-href="(= document | rbsURL =)"><i class="icon-circle-arrow-left"></i> {{ i18n('m.rbs.mail.admin.back_to_general_mail_properties', ['ucf']) }}</a>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{ i18n('m.rbs.website.admin.block_properties', ['ucf']) }}</h3>
						</div>
						<div class="panel-body">
							<div id="rbsStructureEditorBlockPropertiesPopup"
								data-no-block-text="{{ i18nAttr('m.rbs.website.admin.no_block_selected', ['ucf']) }}"
								data-edit-in-content="{{ i18nAttr('m.rbs.website.admin.edit_in_content', ['ucf']) }}">
								{{ i18n('m.rbs.website.admin.no_block_selected', ['ucf']) }}
							</div>
						</div>
					</div>

					<hr/>

					<div class="rbs-aside-block rbs-aside-other-links">
						<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.other_operations', ['ucf']) }}<span ng-show="document"> {{ i18n('m.rbs.admin.admin.for') }}<br/>(= document.label =)</span></h3>
						<a rbs-aside-other-link href="(= document.template | rbsURL =)">{{ i18n('m.rbs.website.admin.page_edit_template', ['ucf']) | raw }}</a>
					</div>

				</div>
			</div>
			<div rbs-main-column>
				<button ng-if="!document.isVariation" type="button" class="btn btn-default pull-right" ng-click="addMailVariation()">
					<i class="icon-mail-reply-all"></i> {{ i18n('m.rbs.mail.admin.mail_add_mail_variation', ['ucf']) }}
				</button>
				<div class="document-form">
					<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Mail_Mail'), ['ucf']) }}"></rbs-page-header>
					<rbs-document-editor rbs-document-editor-rbs-mail-mail=""></rbs-document-editor>
				</div>
			</div>
		</div>

	</div>

</div>