<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text
			property="label" required="true"
			label="{{ i18nAttr('m.rbs.catalog.document.product.label', ['ucf']) }}"
			input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-text
			property="title" required="true"
			rbs-sync-value="document.label" sync-title="{{ i18nAttr('m.rbs.catalog.document.product.synchronize-title-label', ['ucf']) }}"
			label="{{ i18nAttr('m.rbs.catalog.document.product.title', ['ucf']) }}"
			input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-boolean
			ng-cloak=""
			ng-hide="document.id > 0"
			property="newSkuOnCreation"
			label="{{ i18nAttr('m.rbs.catalog.document.product.newskuoncreation', ['ucf']) }}">
		</rbs-field-boolean>

		<rbs-field-picker property="sku" label="{{ i18nAttr('m.rbs.catalog.document.product.sku', ['ucf']) }}"
			accepted-model="Rbs_Stock_Sku"
			selector-title="{{ i18nAttr('m.rbs.catalog.document.product.sku-picker-title', ['ucf']) }}"
			allow-creation="true"
			allow-edition="true"
			ng-hide="document.newSkuOnCreation && document.id <= 0">
		</rbs-field-picker>

		<rbs-field-picker-multiple property="visuals" label="{{ i18nAttr('m.rbs.catalog.document.product.visuals', ['ucf']) }}"
			accepted-model="Rbs_Media_Image"
			selector-title="{{ i18nAttr('m.rbs.catalog.document.product.visuals-picker-title', ['ucf']) }}"
			allow-creation="true" picker="model">
		</rbs-field-picker-multiple>

		<rbs-field-picker-multiple property="pictograms" label="{{ i18nAttr('m.rbs.catalog.document.product.pictograms', ['ucf']) }}"
			accepted-model="Rbs_Media_Image"
			selector-title="{{ i18nAttr('m.rbs.catalog.document.product.pictograms-picker-title', ['ucf']) }}"
			allow-creation="true">
		</rbs-field-picker-multiple>

	</fieldset>

	<fieldset data-ng-show="section=='attributes'"
			data-form-section-label="{{ i18nAttr('m.rbs.catalog.document.product.section-attributes', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field label="{{ i18nAttr('m.rbs.catalog.document.product.attribute', ['ucf']) }}">
			<select ng-model="document.attribute" rbs-items-from-collection="Rbs_Catalog_Collection_AttributeSet">
				<option value="">{{ i18n('m.rbs.admin.forms.picker-choose', ['ucf']) }}</option>
			</select>
		</rbs-field>

		<rbs-attribute-editor attribute-values="document.attributeValues" attribute-editor="document.attribute">
		</rbs-attribute-editor>
	</fieldset>

	<fieldset data-ng-show="section=='publication'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.publication-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-date
			property="startPublication"
			label="{{ i18nAttr('m.rbs.catalog.document.product.startPublication', ['ucf']) }}">
		</rbs-field-date>

		<rbs-field-date
			property="endPublication"
			label="{{ i18nAttr('m.rbs.catalog.document.product.endPublication', ['ucf']) }}">
		</rbs-field-date>
	</fieldset>

	<fieldset data-ng-show="section=='categorization'"
		data-form-section-label="{{ i18nAttr('m.rbs.catalog.document.productcategorization', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}">
		<table data-ng-show="categorizations.length > 0" class="table table-striped">
			<thead>
			<tr>
				<th>
					{{ i18n('m.rbs.catalog.document.productcategorization.category', ['ucf']) }}
				</th>
				<th>
					{{ i18n('m.rbs.catalog.document.category.highlight', ['ucf']) }}
				</th>
				<th>
				</th>
			</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="cat in categorizations">
					<td>
						<a class="btn-link" ng-click="cascadeEditCategorization(cat)">(= cat.category.label =)</a>
					</td>
					<td>
						<switch ng-model="cat.isHighlighted" ng-change="toggleHighlight(cat)"></switch>
					</td>
					<td style="width:160px; text-align: right">

						<button style="width:36px" class="btn"  ng-click="cascadeEditCategorization(cat)" type="button">
							<i class="icon-pencil"></i>
						</button>
						<button style="width:36px" class="btn btn-danger" type="button" ng-click="deleteCategorization(cat)">
							<i class="icon-remove"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<a href data-ng-click="cascadeCreateCategorization()"><i class="icon-plus-sign"> </i>{{ i18n('m.rbs.catalog.admin.js.add-product-in-category', ['ucf']) }}</a>


	</fieldset>


	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>


	<form-button-bar></form-button-bar>
</form>