{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.field('label', 'String', 'm.rbs.catalog.document.product.label', true) }}
		{{ forms.field('title', 'String', 'm.rbs.catalog.document.product.title', true) }}
		{{ forms.field('description', 'RichText', 'm.rbs.catalog.document.product.description', false) }}
		{{ forms.pickerMultiple('visuals', 'Rbs_Media_Image', 'm.rbs.catalog.document.product.visuals',
			false, null, 'm.rbs.catalog.document.product.visuals-picker-title', true) }}
		{{ forms.picker('brand', 'Rbs_Brand_Brand', 'm.rbs.catalog.document.product.brand',
			false, null, 'm.rbs.catalog.document.product.brand-picker-title', true) }}
		<hr />
		{{ forms.field('code', 'String', 'm.rbs.catalog.document.product.code', false) }}
		{{ forms.field('sku', 'String', 'm.rbs.catalog.document.product.sku', false) }}
	</fieldset>
	<fieldset data-ng-show="section=='advanced'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.advanced-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.pickerMultiple('pictograms', 'Rbs_Media_Image', 'm.rbs.catalog.document.product.pictograms',
			false, null, 'm.rbs.catalog.document.product.pictograms-picker-title') }}
		{{ forms.field('shippedIn', 'String', 'm.rbs.catalog.document.product.shippedin', false,
			'm.rbs.catalog.document.product.shippedin-help') }}
		{{ forms.field('minOrderQuantity', 'Integer', 'm.rbs.catalog.document.product.minorderquantity',
			false, 'm.rbs.catalog.document.product.minorderquantity-help') }}
		{{ forms.field('maxOrderQuantity', 'Integer', 'm.rbs.catalog.document.product.maxorderquantity',
			false, 'm.rbs.catalog.document.product.maxorderquantity-help') }}
	</fieldset>
	<fieldset data-ng-show="section=='publication'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.publication-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		<div class="control-group property">
			<label class="control-label" for="beginDate">{{ i18n('m.rbs.catalog.document.product.startpublication', ['ucf']) }}
			</label>

			<div class="controls">
				<date-selector data-ng-model="document.startPublication" name="startPublication"></date-selector>
			</div>
		</div>

		<div class="control-group property">
			<label class="control-label" for="beginDate">{{ i18n('m.rbs.catalog.document.product.endpublication', ['ucf']) }}
			</label>

			<div class="controls">
				<date-selector data-ng-model="document.endPublication" name="endPublication"></date-selector>
			</div>
		</div>
	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>