{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.field('label', 'String', 'm.rbs.catalog.document.product.label', true) }}
		{{ forms.field('description', 'LongString', 'm.rbs.catalog.document.product.description', false) }}
		{{ forms.pickerMultiple('category', 'Rbs_Catalog_Category', 'm.rbs.catalog.document.product.category',
			false, null, 'm.rbs.catalog.document.product.category-picker-title') }}
		{{ forms.pickerMultiple('visual', 'Rbs_Media_Image', 'm.rbs.catalog.document.product.visual',
			false, null, 'm.rbs.catalog.document.product.visual-picker-title') }}
		{{ forms.picker('brand', 'Rbs_Brand_Brand', 'm.rbs.catalog.document.product.brand',
			false, null, 'm.rbs.catalog.document.product.brand-picker-title') }}
		<hr />
		{{ forms.field('reference', 'String', 'm.rbs.catalog.document.product.reference', false) }}
		{{ forms.field('sku', 'String', 'm.rbs.catalog.document.product.sku', false) }}
	</fieldset>
	<fieldset data-ng-show="section=='advanced'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.advanced-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.pickerMultiple('pictogram', 'Rbs_Media_Image', 'm.rbs.catalog.document.product.pictogram',
			false, null, 'm.rbs.catalog.document.product.pictogram-picker-title') }}
		{{ forms.field('shippedIn', 'String', 'm.rbs.catalog.document.product.shippedin', false,
			'm.rbs.catalog.document.product.shippedin-help') }}
		{{ forms.field('minOrderQuantity', 'Integer', 'm.rbs.catalog.document.product.minorderquantity',
			false, 'm.rbs.catalog.document.product.minorderquantity-help') }}
		{{ forms.field('maxOrderQuantity', 'Integer', 'm.rbs.catalog.document.product.maxorderquantity',
			false, 'm.rbs.catalog.document.product.maxorderquantity-help') }}
	</fieldset>
	<fieldset data-ng-show="section=='publication'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.publication-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		<div class="control-group property">
			<label class="control-label" for="beginDate">{{ i18n('m.rbs.catalog.document.product.startpublication', ['ucf']) }}
			</label>

			<div class="controls">
				<date-selector data-ng-model="document.startPublication" name="startPublication"></date-selector>
			</div>
		</div>

		<div class="control-group property">
			<label class="control-label" for="beginDate">{{ i18n('m.rbs.catalog.document.product.endpublication', ['ucf']) }}
			</label>

			<div class="controls">
				<date-selector data-ng-model="document.endPublication" name="endPublication"></date-selector>
			</div>
		</div>
	</fieldset>

	<!-- TODO -->
	<fieldset data-ng-show="section=='prices'"
		data-form-section-label="{{ i18nAttr('m.rbs.catalog.document.price-list', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}">
		<div class="control-group">
			<p><strong>Les prix d'un produit dépendend de la boutique et de la zone de tarification.</strong> Un même produit qui
				apparaît dans plusieurs boutiques et/ou zones de tarification peut ainsi avoir plusieurs prix de base, en plus des
				éventuels prix promotionnels.</p>

			<p>Commencez par <strong>choisir une boutique et une zone de tarification</strong> pour afficher et gérer les prix.
			</p>

			<div class="control-group">
				<label class="control-label" data-not-a-property="" for="selectShops">
					{{ i18n('m.rbs.catalog.admin.js.shop', ['ucf']) }}
				</label>

				<div class="controls">
					<button class="btn" disabled="disabled" type="button" data-ng-show="PricesSection.shopsLoading">
						{{ i18n('m.rbs.catalog.admin.js.shop-list-loading') }}
					</button>
					<div class="btn-group">
						<button class="btn" data-ng-class="{active: PricesSection.selectedShop == shop}" type="button"
							data-ng-repeat="shop in PricesSection.shops" data-ng-click="PricesSection.selectedShop = shop">
							 <i class="icon-ok" data-ng-show="PricesSection.selectedShop == shop"></i> (= shop.label =)
						</button>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" data-not-a-property="" for="selectBillingArea">
					{{ i18n('m.rbs.catalog.admin.js.billingarea', ['ucf']) }}
				</label>

				<div class="controls">
					<button class="btn" disabled="disabled" type="button" data-ng-show="PricesSection.billingAreasLoading">
						{{ i18n('m.rbs.catalog.admin.js.billingarea-list-loading') }}
					</button>
					<div class="btn-group">
						<button class="btn" data-ng-class="{active: PricesSection.selectedBillingArea == billingArea}"
							type="button" data-ng-repeat="billingArea in PricesSection.billingAreas"
							data-ng-click="PricesSection.selectedBillingArea = billingArea">
							<i class="icon-ok" data-ng-show="PricesSection.selectedBillingArea == billingArea"></i>
							(= billingArea.label =)
						</button>
					</div>
				</div>
			</div>

			<document-list-toolbar data-mask="(=DL.loading=)"></document-list-toolbar>

			<table data-ng-show="PricesSection.documents.length" data-ng-hide="PricesSection.isEmpty()"
				class="document-list table table-condensed table-bordered table-striped table-hover data-ng-cloak">
				<thead>
				<tr>
					<th style="text-align: center; width: 30px"><input type="checkbox" data-ng-model="PricesSection.cbSelectAll"
						data-ng-change="PricesSection.toggleSelectAll()"/></th>
					<th data-ng-repeat="column in PricesSection.columns"
						style="text-align: (= column.align =); width: (= column.width =)"
						data-ng-class="{true:'sorted', false:''}[PricesSection.isSortedOn(column.id)]">
						<a data-ng-show="column.sortable" href="javascript:;" data-ng-click="PricesSection.toggleSort(column.id)">
							(= column.label =)
							<i class="column-sort-indicator"
								data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[PricesSection.sort.descending]"
								data-ng-show="PricesSection.isSortedOn(column.id)"></i>
						</a>
						<span data-ng-show="!column.sortable">(= column.label =)</span>
					</th>
					<th style="text-align:center; width:30px"><i class="icon-trash"></i></th>
				</tr>
				</thead>

				<tbody>
				<tr data-ng-repeat="doc in PricesSection.documents | orderBy:PricesSection.sort.column:PricesSection.sort.descending"
					data-ng-class="{selected: doc.selected, warning: doc.publicationStatus!='PUBLISHABLE'}">
					<td style="text-align: center">
						<input type="checkbox" data-ng-model="doc.selected"
							data-ng-click="PricesSection.checkDocumentRow($event, $index, doc)" data-docid="(= doc.id =)"/>
					</td>
					<td style="text-align: center">
						<status data-ng-model="doc"/>
					</td>
					<td data-ng-class="{true:'sorted', false:''}[PricesSection.isSortedOn('label')]">
						(= doc | documentInfoLabels =)
						<a href data-ng-href="catalog/prices/(= doc.id =)">(= doc.label | currency =)</a>
					</td>
					<td data-ng-class="{true:'sorted', false:''}[PricesSection.isSortedOn('discount')]"
						style="text-align: center">
						<a class="btn btn-small btn-inverse" data-ng-show="! doc.discountType" href=""
							data-ng-href="catalog/prices/(= doc.id =)/new-discount"
							title="Créer un prix promotionnel à partir de ce prix"><i class="icon-plus icon-white"></i> Créer</a>
						<span data-ng-show="doc.discountType"><i class="icon-ok"></i> Oui</span>
					</td>
					<td data-ng-class="{true:'sorted', false:''}[PricesSection.isSortedOn('beginDate')]">
						(= doc.beginDate | date =)
					</td>
					<td data-ng-class="{true:'sorted', false:''}[PricesSection.isSortedOn('endDate')]">
						(= doc.endDate | date =)
					</td>
					<td data-ng-class="{true:'sorted', false:''}[PricesSection.isSortedOn('activated')]"
						style="text-align: center">
						<status-switch document="doc"/>
					</td>
					<td style="text-align: center">
						<button class="btn btn-danger btn-small" type="button" data-ng-click="removePrice(doc)"><i
							class="icon-trash icon-white"></i></button>
					</td>
				</tr>
				</tbody>
			</table>

			<loading-indicator-text data-ng-hide="PricesSection.documents.length"></loading-indicator-text>
		</div>
	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>