<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true"
			label="{{ i18nAttr('m.rbs.catalog.documents.product.label', ['ucf']) }}"
			input-class="form-control">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.catalog.documents.product.synchronize-title-label', ['ucf']) }}"
			label="{{ i18nAttr('m.rbs.catalog.documents.product.title', ['ucf']) }}"
			input-class="form-control">
		</rbs-field-text>

		<rbs-field-boolean ng-cloak="" ng-hide="document.id > 0"
			property="newSkuOnCreation"
			label="{{ i18nAttr('m.rbs.catalog.documents.product.newskuoncreation', ['ucf']) }}">
		</rbs-field-boolean>

		<rbs-field-picker property="sku" label="{{ i18nAttr('m.rbs.catalog.documents.product.sku', ['ucf']) }}"
			accepted-model="Rbs_Stock_Sku"
			selector-title="{{ i18nAttr('m.rbs.catalog.documents.product.sku-picker-title', ['ucf']) }}"
			allow-creation="true"
			allow-edition="true"
			ng-hide="document.newSkuOnCreation && document.id <= 0">
		</rbs-field-picker>

		<rbs-field-picker-multiple property="publicationSections" accepted-model="Rbs_Website_Section" allow-creation="true"
			label="{{ i18nAttr('m.rbs.catalog.documents.product.publicationsections', ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.catalog.documents.product.publicationsections-picker-title', ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.catalog.documents.product.publicationsections-help', ['ucf']) }}</span>
		</rbs-field-picker-multiple>

		<rbs-field-picker-multiple property="visuals" label="{{ i18nAttr('m.rbs.catalog.documents.product.visuals', ['ucf']) }}"
			accepted-model="Rbs_Media_Image"
			selector-title="{{ i18nAttr('m.rbs.catalog.documents.product.visuals-picker-title', ['ucf']) }}"
			allow-creation="true" picker="model">
		</rbs-field-picker-multiple>

		<rbs-field-picker-multiple property="pictograms" label="{{ i18nAttr('m.rbs.catalog.documents.product.pictograms', ['ucf']) }}"
			accepted-model="Rbs_Media_Image"
			selector-title="{{ i18nAttr('m.rbs.catalog.documents.product.pictograms-picker-title', ['ucf']) }}"
			allow-creation="true">
		</rbs-field-picker-multiple>
	</fieldset>

	<fieldset data-ng-show="section=='attributes'"
		data-form-section-label="{{ i18nAttr('m.rbs.catalog.documents.product.section-attributes', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field label="{{ i18nAttr('m.rbs.catalog.documents.product.attribute', ['ucf']) }}">
			<select class="form-control" ng-model="document.attribute" rbs-items-from-collection="Rbs_Catalog_Collection_AttributeSet">
				<option value="">{{ i18n('m.rbs.catalog.documents.product.attribute-select', ['ucf']) }}</option>
			</select>
		</rbs-field>

		<div data-ng-repeat="attributeDef in attributesDef">
			<div ng-if="attributeDef.attributes">
				<h4>(= attributeDef.label =)</h4>
				<div data-ng-repeat="attributeItemDef in attributeDef.attributes">

					<rbs-field label="(= attributeItemDef.label =)" data-ng-class="{'required': attributeItemDef.required}" property="attr_(= attributeItemDef.id =)">
						<div ng-if="attributeItemDef.collectionCode">
							<select ng-model="attributeItemDef.value.value" class="form-control" rbs-items-from-collection="(= attributeItemDef.collectionCode =)">
								<option value=""></option>
							</select>
						</div>
						<div ng-if="!attributeItemDef.collectionCode">
							<div data-ng-switch="attributeItemDef.type">
								<input type="text" data-ng-switch-when="Code" class="form-control" ng-required="attributeItemDef.required" id="(= attributeItemDef.id =)" ng-model="attributeItemDef.value.value" />
								<switch data-ng-switch-when="Boolean" ng-model="attributeItemDef.value.value" id="(= attributeItemDef.id =)"></switch>
								<date-selector data-ng-switch-when="DateTime" ng-required="attributeItemDef.required" ng-model="attributeItemDef.value.value" id="(= attributeItemDef.id =)" ></date-selector>
								<input type="number" data-ng-switch-when="Integer" class="input-mini" ng-required="attributeItemDef.required" id="(= attributeItemDef.id =)" ng-model="attributeItemDef.value.value" />
								<input type="text" data-ng-switch-when="Float" smart-float="" class="form-control" ng-required="attributeItemDef.required" id="(= attributeItemDef.id =)" ng-model="attributeItemDef.value.value" />
								<div class="document-picker-single" data-ng-switch-when="Document"
										ng-model="attributeItemDef.value.value" ng-required="attributeItemDef.required"
										property-label="" selector-title="" accepted-model="(= attributeItemDef.documentType =)"
										allow-edition="false" allow-creation="false" allow-in-place-selection="false">
								</div>
								<div class="document-picker-multiple" data-ng-switch-when="DocumentArray"
										ng-model="attributeItemDef.value.value" ng-required="attributeItemDef.required"
										property-label="" selector-title="" accepted-model="(= attributeItemDef.documentType =)"
										allow-edition="false" allow-creation="false" allow-in-place-selection="false">
								</div>
								<rbs-rich-text-input data-ng-switch-when="Text" ng-required="attributeItemDef.required" id="(= attributeItemDef.id =)" ng-model="attributeItemDef.value.value" profile="Website"></rbs-rich-text-input>
							</div>
						</div>
					</rbs-field>
				</div>
			</div>

			<div ng-if="!attributeDef.attributes">
				<rbs-field label="(= attributeDef.label =)" data-ng-class="{'required': attributeDef.required}" property="attr_(= attributeDef.id =)">
					<div ng-if="attributeDef.collectionCode">
						<select ng-model="attributeDef.value.value" class="form-control" rbs-items-from-collection="(= attributeDef.collectionCode =)">
							<option value=""></option>
						</select>
					</div>
					<div ng-if="!attributeDef.collectionCode">
						<div data-ng-switch="attributeDef.type">
							<input type="text" data-ng-switch-when="Code" class="form-control" ng-required="attributeDef.required" id="(= attributeDef.id =)" ng-model="attributeDef.value.value" />
							<switch data-ng-switch-when="Boolean" ng-model="attributeDef.value.value" id="(= attributeDef.id =)"></switch>
							<date-selector data-ng-switch-when="DateTime" ng-required="attributeDef.required" ng-model="attributeDef.value.value" id="(= attributeDef.id =)" ></date-selector>
							<input type="number" data-ng-switch-when="Integer" class="input-mini" ng-required="attributeDef.required" id="(= attributeDef.id =)" ng-model="attributeDef.value.value" />
							<input type="text" data-ng-switch-when="Float" smart-float="" class="form-control" ng-required="attributeDef.required" id="(= attributeDef.id =)" ng-model="attributeDef.value.value" />
							<div class="document-picker-single" data-ng-switch-when="Document"
									ng-model="attributeDef.value.value" ng-required="attributeDef.required"
									property-label="" selector-title="" accepted-model="(= attributeDef.documentType =)"
									allow-edition="false" allow-creation="false" allow-in-place-selection="false">
							</div>
							<div class="document-picker-multiple" data-ng-switch-when="DocumentArray"
									ng-model="attributeDef.value.value" ng-required="attributeDef.required"
									property-label="" selector-title="" accepted-model="(= attributeDef.documentType =)"
									allow-edition="false" allow-creation="false" allow-in-place-selection="false">
							</div>
							<rbs-rich-text-input data-ng-switch-when="Text" ng-required="attributeDef.required" id="(= attributeDef.id =)" ng-model="attributeDef.value.value" profile="Website"></rbs-rich-text-input>
						</div>
					</div>
				</rbs-field>
			</div>
		</div>

	</fieldset>

	<fieldset data-ng-show="section=='publication'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.publication-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-date
			property="startPublication"
			label="{{ i18nAttr('m.rbs.catalog.documents.product.startPublication', ['ucf']) }}">
		</rbs-field-date>

		<rbs-field-date
			property="endPublication"
			label="{{ i18nAttr('m.rbs.catalog.documents.product.endPublication', ['ucf']) }}">
		</rbs-field-date>
	</fieldset>

	<fieldset data-ng-show="section=='v'" hide-when-create="true"
			data-form-section-label="{{ i18nAttr('m.rbs.catalog.documents.product.section-variant', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}">

		<div class="form-group property" data-ng-show="document.variantGroup">
			<label class="col-lg-3 control-label">{{ i18n('m.rbs.catalog.documents.product.variantgroup', ['ucf']) }}</label>
			<div class="col-lg-9 controls">
				<p class="form-control-static">
					<a href ng-href="(= document.variantGroup | documentURL =)">(= document.variantGroup.label =)</a>
				</p>
			</div>
		</div>
	</fieldset>

	<fieldset data-ng-show="section=='productListItem'"
		data-form-section-label="{{ i18nAttr('m.rbs.catalog.documents.productlistitem-list', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}">

		<rbs-field-boolean property="categorizable"
				label="{{ i18nAttr('m.rbs.catalog.documents.product.categorizable', ['ucf']) }}">
		</rbs-field-boolean>

		<table data-ng-show="productListItems.length > 0" class="table table-striped">
			<thead>
			<tr>
				<th>
					{{ i18n('m.rbs.catalog.documents.productlistitem.productlist', ['ucf']) }}
				</th>
				<th>
					{{ i18n('m.rbs.catalog.documents.productlist.highlight', ['ucf']) }}
				</th>
				<th>
				</th>
			</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in productListItems">
					<td>
						<a class="btn-link" ng-click="cascadeEditProductListItem(item)">(= item.productList.label =)</a>
					</td>
					<td>
						<switch ng-model="item.isHighlighted" ng-change="toggleHighlight(item)"></switch>
					</td>
					<td style="width:160px; text-align: right">
						<button style="width:36px" class="btn btn-default" ng-click="cascadeEditProductListItem(item)" type="button">
							<i class="icon-pencil"></i>
						</button>
						<button style="width:36px" class="btn btn-danger" type="button" ng-click="deleteProductListItem(item)">
							<i class="icon-remove"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

		<a href data-ng-show="document.categorizable"
				data-ng-click="cascadeCreateProductListItem()"><i class="icon-plus-sign"></i> {{ i18n('m.rbs.catalog.admin.js.add-product-in-list', ['ucf']) }}</a>

	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>