<div data-ng-controller="Rbs_Catalog_Product_ListController">
	<page-header title="{{ i18nAttr('m.rbs.catalog.document.product-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Catalog_Product" filter-query="query" text-search="textSearch"></search-filters>

	<div>
		<a href ng-href="(= 'Rbs_Catalog_Product' | documentURL:'new' =)">{{ i18n('m.rbs.catalog.document.product-create', ['ucf']) }}</a>
	</div>
	<rbs-document-list data-dlid="DLRbsCatalogProduct" model="Rbs_Catalog_Product" publishable="true" filter-query="query">
		<column name="visuals" thumbnail="XS" thumbnail-path="doc.adminthumbnail"
			label="{{ i18nAttr('m.rbs.catalog.document.product.visual', ['ucf']) }}"></column>
		<column name="label" primary="true"></column>
		<quick-actions>
			[action preview]
			|| <a href="(= doc | documentURL:'prices' =)">{{ i18nAttr('m.rbs.catalog.document.product.prices') }}</a>
			|| [action edit]
			|| [action delete]
		</quick-actions>
		<column name="sku" sort="sku.code">(= doc.sku.code =)</column>

		<preview style="min-height: 200px">
			<img rbs-storage-image="doc.visuals[0].id" rbs-image-container-colorizer="td.preview" thumbnail="L" class="absolute-top-left"/>
			<div style="margin-left: 290px;">
				<h4>(= doc.label =)</h4>
				<dl>
					<dt>{{ i18n('m.rbs.tag.tags', ['ucf','lbl']) }}</dt>
					<dd ng-if="doc.getTags().length"><span rbs-tag="tag" ng-repeat="tag in doc.getTags()"></span></dd>
					<dd ng-if="!doc.getTags().length">{{ i18n('m.rbs.tag.no-tags', ['ucf']) }}</dd>
				</dl>
				<p ng-bind-html="doc.description.h"></p>
				<div class="clearfix">
					<img ng-repeat="visual in doc.visuals" rbs-storage-image="visual.id" thumbnail="XS" class="img-polaroid margin-right pull-left"/>
				</div>
			</div>
		</preview>

		<grid-item>
			<img rbs-storage-image="doc.adminthumbnail" thumbnail="L"/>
			<div class="caption">
				<h4><status data-ng-model="doc" class="small"/> <a href ng-href="(= doc | documentURL =)">(=doc.label=)</a></h4>
			</div>
		</grid-item>
	</rbs-document-list>
</div>