<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true" input-class="input-block-level"
			label="{{ i18nAttr('m.rbs.brand.document.brand.label', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" input-class="input-block-level"
			label="{{ i18nAttr('m.rbs.brand.document.brand.title', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-rich-text property="description" required="false" input-class="input-block-level"
			label="{{ i18nAttr('m.rbs.brand.document.brand.description', ['ucf']) }}">
		</rbs-field-rich-text>

		<rbs-field-picker property="visual" label="{{ i18nAttr('m.rbs.catalog.document.product.visual', ['ucf']) }}"
			accepted-model="Rbs_Media_Image" allow-creation="true" allow-edition="true"
			selector-title="{{ i18nAttr('m.rbs.brand.document.brand.select-visual', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field-url property="websiteUrl" required="false" input-class="input-block-level"
			label="{{ i18nAttr('m.rbs.brand.document.brand.websiteurl', ['ucf']) }}">
		</rbs-field-url>

		<rbs-field-date property="startPublication"
			label="{{ i18nAttr('m.rbs.brand.document.brand.startPublication', ['ucf']) }}">
		</rbs-field-date>

		<rbs-field-date property="endPublication" label="{{ i18nAttr('m.rbs.brand.document.brand.endPublication', ['ucf']) }}">
		</rbs-field-date>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>