<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Stock_InventoryEntry">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Stock_InventoryEntry'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-stock-inventory-entry-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Stock_InventoryEntry', 'sku'), ['ucf']) }}">
					<p class="form-control-static"><a href="(= document.sku | rbsURL:'' =)">(= document.sku.label =)</a></p>
				</rbs-field>

				<rbs-field
					label="{{ i18nAttr(propertyKey('Rbs_Stock_InventoryEntry', 'level'), ['ucf']) }}">
					<div class="input-group">
						<input type="text" rbs-smart-float="" class="form-control" max-length="9" ng-model="document.level" ng-disabled="disabled"/>
						<span class="input-group-btn">
							<button class="btn btn-default no-text" ng-class="{true:'btn-success', false:'btn-danger'}[isLocked()]"
								type="button" ng-click="askUnlock()" title="{{ i18nAttr('m.rbs.stock.admin.unlock_inventory_value', ['ucf']) }}">
								<i ng-class="{true:'icon-lock', false:'icon-unlock-alt'}[isLocked()]" class="icon-small"></i>
							</button>
						</span>
					</div>
					<div ng-hide="disabled">
						<p class="alert alert-warning">{{ i18nAttr('m.rbs.stock.admin.unlock_inventory_warning', ['ucf']) }}</p>
					</div>
				</rbs-field>
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>