<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Stock_InventoryEntry">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Stock_InventoryEntry'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-stock-inventory-entry-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Stock_InventoryEntry', 'sku'), ['ucf']) }}">
					<p class="form-control-static"><a href="(= document.sku | rbsURL =)">(= document.sku.label =)</a></p>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Stock_InventoryEntry', 'warehouse'), ['ucf']) }}">
					<p class="form-control-static" data-ng-if="document.warehouse.id"><a href="(= document.warehouse | rbsURL =)">(= document.warehouse.label =)</a></p>
					<p class="form-control-static" data-ng-if="!document.warehouse.id">{{ i18n('m.rbs.store.admin.global_warehouse', ['ucf']) }}</p>
				</rbs-field>

				<rbs-field
					label="{{ i18nAttr(propertyKey('Rbs_Stock_InventoryEntry', 'level'), ['ucf']) }}">
					<div class="input-group">
						<input type="text" rbs-smart-float="" class="form-control" max-length="9" ng-model="document.level" ng-disabled="disabled"/>
						<span class="input-group-btn">
							<button class="btn btn-default no-text" ng-class="{true:'btn-success', false:'btn-danger'}[isLocked()]"
								type="button" ng-click="askUnlock()" title="{{ i18nAttr('m.rbs.stock.admin.unlock_inventory_value', ['ucf']) }}">
								<i ng-class="{true:'icon-lock', false:'icon-unlock-alt'}[isLocked()]" class="icon-small"></i>
							</button>
						</span>
					</div>
					<div ng-hide="disabled">
						<p class="alert alert-warning">{{ i18nAttr('m.rbs.stock.admin.unlock_inventory_warning', ['ucf']) }}</p>
					</div>
					<div class="input-group">
						<p class="form-control-static"><strong>{{ i18n('m.rbs.stock.admin.new_movement', ['ucf']) }}</strong></p>
						<div class="input-group">
							<input type="text" rbs-smart-float="" class="form-control" max-length="9" ng-model="movement.value" placeholder="-10"/>
							<span class="input-group-btn">
								<button class="btn btn-default btn-success"
									type="button" ng-click="addMovement()" title="{{ i18nAttr('m.rbs.stock.admin.button_new_movement_title', ['ucf']) }}" ng-disabled="!movement.value" >
									<i class="icon-ok"></i> {{ i18n('m.rbs.stock.admin.add_movement', ['ucf'])}}
								</button>
							</span>
						</div>
					</div>
				</rbs-field>
				<rbs-field ng-show="info.currentLevel" label="{{ i18nAttr('m.rbs.stock.admin.current_level_label', ['ucf']) }}">
					<p class="form-control-static">(= info.currentLevel =)</p>
				</rbs-field>
				<rbs-field ng-show="info.nbMovement && info.nbMovement > 0" label="{{ i18nAttr('m.rbs.stock.admin.current_movement_label', ['ucf']) }}">
					<p class="form-control-static">{{ i18n('m.rbs.stock.admin.current_reservation', ['ucf']) }}</p>
				</rbs-field>
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar>
				<button ng-if="info.nbMovement && info.nbMovement > 0" class="btn btn-headline btn-success"
					type="button" ng-click="confirmConsolidate($event)" title="{{ i18nAttr('m.rbs.stock.admin.consolidate_movement_title', ['ucf']) }}">
					<i class="icon-cog"></i> {{ i18n('m.rbs.stock.admin.consolidate_movement', ['ucf']) | raw }}
				</button>
			</rbs-document-editor-button-bar>
		</form>
	</div>
</div>