{% block rbsUserAccountShortUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
{% endblock rbsUserAccountShortUse %}

<script type="text/ng-template" id="/rbsUserShortAccount.tpl">
	<div class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">
			{{ block('rbsGenericIconUser') }} {{ i18n('m.rbs.user.front.my_account', ['ucf']) }} <b class="caret"></b>
		</a>
		<ul class="dropdown-menu dropdown-menu-{{ parameters.dropdownPosition }}" data-ng-show="accessorId">
			{% if parameters.userAccountPage != null %}
				<li><a href="{{ canonicalURL(parameters.userAccountPage) }}">(= accessorName =)</a></li>
			{% else %}
				<li role="presentation" class="dropdown-header">(= accessorName =)</li>
			{% endif %}
			{% if rootMenuEntry and rootMenuEntry.hasChild %}
				<li class="divider"></li>
				{%- for child in rootMenuEntry.children -%}
					{% spaceless %}
						<li{% if child.isInPath or child.isCurrent %} class="active"{% endif %}>
							<a href="{{ child.url }}">{{ child.title }}</a>
						</li>
					{% endspaceless %}
				{%- endfor -%}
			{% endif %}
			<li class="divider"></li>
			<li><a href="javascript:" data-ng-click="logout()">{{ i18n('m.rbs.user.front.log_out', ['ucf']) }}</a></li>
		</ul>
		<ul class="dropdown-menu dropdown-menu-{{ parameters.dropdownPosition }}" data-ng-show="!accessorId">
			<li>
				<a href="{{ functionURL('Rbs_User_Login') }}">
					{{ i18n('m.rbs.user.front.please_log_in', ['ucf']) }}
				</a>
			</li>
			<li>
				<a href="{{ functionURL('Rbs_User_CreateAccount') }}">
					{{ i18n('m.rbs.user.front.create_your_account', ['ucf']) }}
				</a>
			</li>
		</ul>
	</div>
</script>

<div data-rbs-user-short-account="" data-cache-key="{{ blockId }}"></div>