{% if context == 'accountRequest' %}
	<div class="text-center">
		<h1>{{ i18n('m.rbs.user.front.account_creation_request_title', ['ucf']) }}</h1>
		<p class="text-success">{{ i18n('m.rbs.user.front.account_creation_request_success', ['ucf']) }}</p>
		<p>{{ i18n('m.rbs.user.front.account_creation_request_description', ['ucf']) }}</p>
	</div>
{% elseif context == 'accountSuccess' %}
	<div class="text-center">
		<h1>{{ i18n('m.rbs.user.front.account_creation_title', ['ucf']) }}</h1>
	{% for error in errors %}
		<p class="text-danger">{{ error }}</p>
	{% else %}
		<p class="text-success">{{ i18n('m.rbs.user.front.account_creation_success', ['ucf']) }}</p>
		<p>{{ i18n('m.rbs.user.front.account_creation_description', ['ucf']) }}</p>
		<a href="{{ functionURL('Error_401') }}">{{ i18n('m.rbs.user.front.account_creation_log_in', ['ucf']) }}</a>
	{% endfor %}
	</div>
{% else  %}
	<p>TODO user settings !</p>
{% endif %}