{% if not parameters.authenticated %}
	{# display nothing #}
{% else %}
	<form method="post" class="form-horizontal" action="{{ parameters.formAction }}">
		<input type="hidden" name="redirectLocation" value="{{ currentURL({'context': 'success'}) }}" />
		<input type="hidden" name="errorLocation" value="{{ currentURL() }}" />
		<fieldset>
			<legend>{{ i18n('m.rbs.user.front.change_your_password', ['ucf']) }}</legend>
			{% if parameters.context == 'success' and not errors %}
				<p class="text-success">{{ i18n('m.rbs.user.front.change_password_success', ['ucf']) }}</p>
			{% endif %}
			{% for error in errors %}
				<p class="text-danger">{{ error }}</p>
			{% endfor %}
			<div class="form-group">
				<label for="rbs-user-change-password-current" class="col-sm-4 col-md-3 control-label">
					<em class="required-symbol" title="({{ i18nAttr('m.rbs.simpleform.front.this_field_is_required', ['ucf']) }})">*</em>
					{{ i18n('m.rbs.user.front.current_password', ['ucf']) }}
				</label>
				<div class="col-sm-8 col-md-9">
					<input id="rbs-user-change-password-current" type="password" name="currentPassword" class="form-control"
						placeholder="{{ i18nAttr('m.rbs.user.front.current_password_placeholder', ['ucf']) }}" />
				</div>
			</div>
			<div class="form-group">
				<label for="rbs-user-change-password-new" class="col-sm-4 col-md-3 control-label">
					<em class="required-symbol" title="({{ i18nAttr('m.rbs.simpleform.front.this_field_is_required', ['ucf']) }})">*</em>
					{{ i18n('m.rbs.user.front.new_password', ['ucf']) }}
				</label>
				<div class="col-sm-8 col-md-9">
					<input id="rbs-user-change-password-new" type="password" name="newPassword" class="form-control"
						placeholder="{{ i18nAttr('m.rbs.user.front.new_password_placeholder', ['ucf']) }}" />
				</div>
			</div>
			<div class="form-group">
				<label for="rbs-user-change-password-confirm-password" class="col-sm-4 col-md-3 control-label">
					<em class="required-symbol" title="({{ i18nAttr('m.rbs.simpleform.front.this_field_is_required', ['ucf']) }})">*</em>
					{{ i18n('m.rbs.user.front.confirm_new_password', ['ucf']) }}
				</label>
				<div class="col-sm-8 col-md-9">
					<input id="rbs-user-change-password-confirm-password" type="password" name="confirmPassword" class="form-control"
						placeholder="{{ i18nAttr('m.rbs.user.front.new_password_placeholder', ['ucf']) }}" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
					<button class="btn btn-primary" type="submit">{{ i18n('m.rbs.user.front.submit_change_password', ['ucf']) }}</button>
				</div>
			</div>
		</fieldset>
	</form>
{% endif %}