<script type="text/ng-template" id="/editAccount.tpl">
	<div>
		<div data-ng-show="readonly">
			<h1>{{ i18n('m.rbs.user.front.account_title', ['ucf']) }}</h1>
			<div class="row">
				<div class="col-sm-4 col-md-3">{{ i18n('m.rbs.user.front.email', ['ucf']) }}</div>
				<div class="col-sm-8 col-md-9">(= profile.email =)</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-md-3">{{ i18n('m.rbs.user.front.title', ['ucf']) }}</div>
				<div class="col-sm-8 col-md-9">(= profile.titleCodeTitle =)</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-md-3">{{ i18n('m.rbs.user.front.first_name', ['ucf']) }}</div>
				<div class="col-sm-8 col-md-9">(= profile.firstName =)</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-md-3">{{ i18n('m.rbs.user.front.last_name', ['ucf']) }}</div>
				<div class="col-sm-8 col-md-9">(= profile.lastName =)</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-md-3">{{ i18n('m.rbs.user.front.birthDate', ['ucf']) }}</div>
				<div class="col-sm-8 col-md-9">(= profile.formattedBirthDate =)</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
					<button class="btn btn-primary" type="button" data-ng-click="openEdit()">{{ i18n('m.rbs.user.front.button_edit_account', ['ucf']) }}</button>
				</div>
			</div>
		</div>
		<div data-ng-hide="readonly">
			<h1>{{ i18n('m.rbs.user.front.edit_account_title', ['ucf']) }}</h1>
			<div data-ng-show="success" class="text-center">
				<p class="text-success">{{ i18n('m.rbs.user.front.update_account_success', ['ucf']) }}</p>
			</div>
			<div data-ng-show="errors" class="text-center">
				<p class="text-danger" data-ng-repeat="error in errors">(= error =)</p>
			</div>
			<form class="form-horizontal">
				<fieldset>
					<div class="form-group">
						<label for="rbs-user-edit-account-email" class="col-sm-4 col-md-3 control-label">
							<em class="required-symbol" title="({{ i18nAttr('m.rbs.simpleform.front.this_field_is_required', ['ucf']) }})">*</em>
						{{ i18n('m.rbs.user.front.email', ['ucf']) }}</label>
						<div class="col-sm-8 col-md-9">
							<input id="rbs-user-edit-account-email" type="text" name="email" class="form-control" disabled="true"
								placeholder="{{ i18nAttr('m.rbs.user.front.email_placeholder', ['ucf']) }}" data-ng-model="profile.email"/>
						</div>
					</div>
					<div class="form-group">
						<label for="rbs-user-edit-account-title" class="col-sm-4 col-md-3 control-label">
						{{ i18n('m.rbs.user.front.title', ['ucf']) }}
						</label>
						<div class="col-sm-8 col-md-9">
							<select class="form-control" data-ng-model="profile.titleCode" data-ng-options="item.value as item.title for item in items">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="rbs-user-edit-account-firstName" class="col-sm-4 col-md-3 control-label">
						{{ i18n('m.rbs.user.front.first_name', ['ucf']) }}
					</label>
						<div class="col-sm-8 col-md-9">
							<input id="rbs-user-edit-account-firstName" type="text" name="firstName" class="form-control"
								data-ng-model="profile.firstName"
								placeholder="{{ i18nAttr('m.rbs.user.front.first_name_placeholder', ['ucf']) }}" />
						</div>
					</div>
					<div class="form-group">
						<label for="rbs-user-edit-account-lastName" class="col-sm-4 col-md-3 control-label">
						{{ i18n('m.rbs.user.front.last_name', ['ucf']) }}
					</label>
						<div class="col-sm-8 col-md-9">
							<input id="rbs-user-edit-account-lastName" type="text" name="lastName" class="form-control"
								data-ng-model="profile.lastName"
								placeholder="{{ i18nAttr('m.rbs.user.front.last_name_placeholder', ['ucf']) }}" />
						</div>
					</div>

					<div class="form-group">
						<label for="rbs-user-edit-account-birthDate" class="col-sm-4 col-md-3 control-label">
						{{ i18n('m.rbs.user.front.birthDate', ['ucf']) }}
					</label>
						<div class="col-sm-8 col-md-9">
							<input id="rbs-user-edit-account-birthDate" type="date" name="birthDate" class="form-control"
								autocomplete="off" size="16"
								data-ng-model="profile.birthDate"
								placeholder="{{ i18nAttr('m.rbs.user.front.birthDate_placeholder', ['ucf']) }}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
							<button class="btn btn-primary" type="button" data-ng-click="saveAccount()">{{ i18n('m.rbs.user.front.submit_edit_account', ['ucf']) }}</button>
							<button class="btn btn-primary" type="button" data-ng-click="cancelEdit()">{{ i18n('m.rbs.user.front.cancel_edit_account', ['ucf']) }}</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</script>

{% if not parameters.authenticated %}
	{# display nothing #}
{% else %}
	<div rbs-edit-account="" data-profile="{{ profile | json_encode }}" data-titles="{{ items | json_encode }}" data-user-id="{{ parameters.accessorId }}"></div>
{% endif %}