<form class="form-horizontal" novalidate ng-submit="saveProfile()" name="form" ng-controller="Rbs_User_Profile_Controller">
	<fieldset>
		<legend>{{ i18n('m.rbs.user.profile.personnal-info', ['ucf']) }}</legend>

		<rbs-field label="{{ i18n('m.rbs.user.profile.avatar', ['ucf']) }}">
			{#<input type="text" id="avatar" class="form-control" name="avatar" ng-model="user.profile.avatar"/>#}
			<p class="form-control-static" >{{ i18n('m.rbs.user.profile.gravatar-help', ['ucf']) }}</p>
		</rbs-field>
	</fieldset>

	<fieldset>
		<legend>{{ i18n('m.rbs.user.profile.internationalization', ['ucf']) }}</legend>

		<rbs-field label="{{ i18n('m.rbs.user.profile.lcid', ['ucf']) }}">
			<select id="LCID" class="form-control" rbs-items-from-collection="Rbs_Generic_Collection_Languages" ng-model="user.profile.LCID"></select>
			<span class="help-block">
				<span class="label label-danger">{{ i18n('m.rbs.user.profile.warning', ['ucf']) }}</span>
				{{ i18n('m.rbs.user.profile.change-language-warning', ['ucf']) }}
			</span>
		</rbs-field>

		<rbs-field label="{{ i18n('m.rbs.user.profile.timezone', ['ucf']) }}">
			<div class="rbs-form-simple-filter" filter="tzFilter" style="clear:none;"></div>
			<select id="timeZone" class="form-control" size="10" rbs-items-from-collection="Rbs_Generic_Collection_TimeZones" filter="tzFilter" ng-model="user.profile.TimeZone"></select>
		</rbs-field>
	</fieldset>

	<fieldset>
		<legend>{{ i18n('m.rbs.user.profile.notification', ['ucf']) }}</legend>
		<span class="help-block">
			{{ i18n('m.rbs.user.profile.notification-helper', ['ucf']) }}
		</span>
		<rbs-field label="{{ i18nAttr('m.rbs.user.profile.notification-sending-management', ['ucf']) }}">
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-class="{active: notificationMailMode == 'no'}"
					data-ng-click="setNotificationMailMode('no')">
					{{ i18n('m.rbs.user.profile.notification-no-email', ['ucf']) }}
				</button>
				<button type="button" class="btn btn-default" ng-class="{active: notificationMailMode == 'immediately'}"
					data-ng-click="setNotificationMailMode('immediately')">
					{{ i18n('m.rbs.user.profile.notification-immediately', ['ucf']) }}
				</button>
				<button type="button" class="btn btn-default" ng-class="{active: notificationMailMode == 'timeInterval'}"
					data-ng-click="setNotificationMailMode('timeInterval')">
					{{ i18n('m.rbs.user.profile.notification-with-time-interval', ['ucf']) }}
				</button>
			</div>
		</rbs-field>
		<rbs-field label="{{ i18nAttr('m.rbs.user.profile.notification-time-interval', ['ucf']) }}">
			<rbs-time-interval-input id="notificationmailinterval" label="{{ i18nAttr("m.rbs.user.profile.notification-time-interval", ["ucf"]) }}"
				ng-model="user.profile.notificationMailInterval" show="days,hours" disabled="notificationMailMode != 'timeInterval'">
			</rbs-time-interval-input>
		</rbs-field>
		<rbs-field label="{{ i18nAttr('m.rbs.user.profile.notification-time-interval-at', ['ucf']) }}">
			<input class="form-control" type="time" ng-model="user.profile.notificationMailAt"
				ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/" ng-disabled="notificationMailMode != 'timeInterval'"/>
		</rbs-field>
		<span class="help-block">
			{{ i18n('m.rbs.user.profile.notification-time-interval-helper', ['ucf']) }}
		</span>
	</fieldset>

	<fieldset>
		<legend>{{ i18n('m.rbs.user.profile.lists', ['ucf']) }}</legend>

		<rbs-field label="{{ i18n('m.rbs.user.profile.pagingSize', ['ucf']) }}">
			<select id="pagingSize" class="form-control" ng-model="user.profile.pagingSize" ng-options="size for size in PaginationPageSizes"></select>
		</rbs-field>

		<rbs-field label="{{ i18n('m.rbs.user.profile.documentListViewMode', ['ucf']) }}">
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-class="{'active':user.profile.documentListViewMode == 'list'}" ng-click="user.profile.documentListViewMode = 'list'"><i class="icon-list"></i> {{ i18n('m.rbs.user.profile.list', ['ucf']) }}</button>
				<button type="button" class="btn btn-default" ng-class="{'active':user.profile.documentListViewMode == 'grid'}" ng-click="user.profile.documentListViewMode = 'grid'"><i class="icon-th-large"></i> {{ i18n('m.rbs.user.profile.grid', ['ucf']) }}</button>
			</div>
		</rbs-field>
	</fieldset>

	<fieldset>
		<legend>{{ i18n('m.rbs.user.profile.editors', ['ucf']) }}</legend>

		<rbs-field label="{{ i18n('m.rbs.user.profile.editorActionAfterSave', ['ucf']) }}">
			<select id="editorActionAfterSave" class="form-control" ng-model="user.profile.editorActionAfterSave">
				<option value="list">{{ i18n('m.rbs.user.profile.backtolist', ['ucf']) }}</option>
				<option value="stay">{{ i18n('m.rbs.user.profile.stayonform', ['ucf']) }}</option>
			</select>
		</rbs-field>
	</fieldset>

	<div class="form-actions">
		<button disabled="disabled" class="btn btn-default btn-headline" type="button" ng-click="revert($event)" ng-disabled="isUnchanged()"><i class="icon-undo"></i>{{ i18n('m.rbs.admin.forms.btnRevert', ['ucf']) }}</button>
		<button class="btn btn-headline btn-primary" ng-class="{'btn-success':saveProgress.success && isUnchanged(), 'btn-danger':saveProgress.error}" type="submit"
		        ng-disabled="form.$invalid || isUnchanged()"><i class="icon-white" ng-class="{'icon-spinner': saveProgress.running, 'icon-ok': ! saveProgress.running, 'icon-remove': saveProgress.error}"></i>{{ i18n('m.rbs.admin.forms.btnSave', ['ucf']) }}</button>
	</div>
</form>