<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true" label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" rbs-sync-value="document.label"
			label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'title'), ['ucf']) }}"
			sync-title="{{ i18nAttr('m.rbs.generic.admin.synchronize_title_label', ['ucf']) }}">
		</rbs-field-text>

		<hr />

		<rbs-field property="confirmationMode" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'confirmationMode'), ['ucf']) }}">
			<select class="form-control" ng-required="true" ng-model="document.confirmationMode"
				rbs-items-from-collection="Rbs_Simpleform_ConfirmationModes">
			</select>
		</rbs-field>

		<div ng-hide="document.confirmationMode == 'page'">
			<rbs-field-rich-text property="confirmationMessage" profile="Website"
				label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'confirmationMessage'), ['ucf']) }}">
			</rbs-field-rich-text>
		</div>
		<div ng-show="document.confirmationMode == 'page'">
			<rbs-field-picker property="confirmationPage" accepted-model="Rbs_Website_StaticPage"
				allow-creation="true" allow-edition="true"
				label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'confirmationPage'), ['ucf']) }}"
				selector-title="{{ i18nAttr('m.rbs.simpleform.documents.form.confirmationpage_picker_title', ['ucf']) }}">
			</rbs-field-picker>
		</div>

		<hr />

		<rbs-field-picker-multiple property="receiverUsers" accepted-model="Rbs_User_User" allow-creation="true"
			allow-edition="true" label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'receiverUsers'), ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.simpleform.admin.form_receiverusers_picker_title', ['ucf']) }}">
		</rbs-field-picker-multiple>

		<rbs-field-picker-multiple property="receiverGroups" accepted-model="Rbs_User_Group" allow-creation="true"
			allow-edition="true" label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'receiverGroups'), ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.simpleform.admin.form_receivergroups_picker_title', ['ucf']) }}">
		</rbs-field-picker-multiple>

		<rbs-field-text property="receiverEmails"
			label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'receiverEmails'), ['ucf']) }}">
		</rbs-field-text>

		<hr />

		<rbs-field-boolean property="sendAcknowledgment"
			label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'sendAcknowledgment'), ['ucf']) }}">
		</rbs-field-boolean>
		<rbs-field-boolean property="saveResponses"
			label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'saveResponses'), ['ucf']) }}">
		</rbs-field-boolean>
	</fieldset>

	<fieldset data-ng-show="section=='publication'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.publication_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}"
		data-rbs-document-publication-section="">
	</fieldset>

	<fieldset data-ng-show="section=='fields'"
		data-form-section-label="{{ i18nAttr('m.rbs.simpleform.admin.field_list', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">
		<div class="add-elements-bar">
			<a href="javascript:;" ng-click="fieldManager.cascadeCreate()">
				{{ i18n('m.rbs.simpleform.admin.field_create', ['ucf']) }}
			</a>
		</div>

		<rbs-document-list data-dlid="DLCollection1" model="Rbs_Simpleform_Field" collection="document.fields" extend="fieldManager"
			toolbar="false" selectable="false">
			<rbs-column name="label" primary="true">
				<a href="javascript:;" ng-click="extend.cascadeEdit(doc)">(= doc.label =)</a>
			</rbs-column>
			<rbs-column name="actions" width="88" label="{{ i18nAttr('m.rbs.simpleform.admin.sort_order', ['ucf']) }}">
				<rbs-kb-switch>
					<button rbs-kb-when="alt" ng-disabled="$first" class="btn btn-default btn-icon" type="button" ng-click="extend.moveTop($index)" title="{{ i18nAttr('m.rbs.admin.adminjs.move_top', ['ucf']) }}">
						<i class="icon-step-forward icon-rotate-270"></i>
					</button>
					<button rbs-kb-default="" ng-disabled="$first" class="btn btn-default btn-icon" type="button" ng-click="extend.moveUp($index)" title="{{ i18nAttr('m.rbs.admin.admin.move_up', ['ucf']) }}">
						<i class="icon-play icon-rotate-270"></i>
					</button>
				</rbs-kb-switch>
				<rbs-kb-switch>
					<button rbs-kb-when="alt" ng-disabled="$last" class="btn btn-default btn-icon" type="button" ng-click="extend.moveBottom($index)" title="{{ i18nAttr('m.rbs.admin.admin.move_bottom', ['ucf']) }}">
						<i class="icon-step-forward icon-rotate-90"></i>
					</button>
					<button rbs-kb-default="" ng-disabled="$last" class="btn btn-default btn-icon" type="button" ng-click="extend.moveDown($index)" title="{{ i18nAttr('m.rbs.admin.admin.move_down', ['ucf']) }}">
						<i class="icon-play icon-rotate-90"></i>
					</button>
				</rbs-kb-switch>
			</rbs-column>
		</rbs-document-list>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-rbs-document-system-info-section="">
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>