<form name="form" data-ng-submit="submit()" novalidate class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true"
				label="{{ i18nAttr(propertyKey('Rbs_Theme_PageTemplate', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Theme_PageTemplate', 'contentByWebsite'), ['ucf']) }}">
			<select class="form-control" ng-model="websiteId" rbs-items-from-collection="Rbs_Theme_WebsiteIds">
				<option value=""></option>
			</select>
		</rbs-field>

		<table class="table table-striped">
			<thead>
			<tr>
				<th>{{ i18n('m.rbs.theme.admin.pagetemplates_zone_id', ['ucf']) }}</th>
				<th>{{ i18n('m.rbs.theme.admin.pagetemplates_block', ['ucf']) }}</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr data-ng-repeat="row in blockList">
				<td ng-if="isEditorRow(row)" colspan="3">
					<form ng-submit="submit()" novalidate name="block_properties_form" class="form-horizontal">
						<div class="form-group">
							<label class="control-label">{{ i18n('m.rbs.theme.admin.pagetemplates_visibility', ['ucf']) }}</label>
							<div class="controls">
								<button type="button" class="btn btn-xs" ng-click="toggleVisibility('raw')" ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('raw')]">{{ i18n('m.rbs.theme.admin.pagetemplates_visibility_raw', ['ucf']) }}</button>
								<button type="button" class="btn btn-xs" ng-click="toggleVisibility('D')" ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('D')]">{{ i18n('m.rbs.theme.admin.pagetemplates_visibility_d', ['ucf']) }}</button>
								<button type="button" class="btn btn-xs" ng-click="toggleVisibility('T')" ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('T')]">{{ i18n('m.rbs.theme.admin.pagetemplates_visibility_t', ['ucf']) }}</button>
								<button type="button" class="btn btn-xs" ng-click="toggleVisibility('P')" ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('P')]">{{ i18n('m.rbs.theme.admin.pagetemplates_visibility_p', ['ucf']) }}</button>
							</div>
						</div>
						<div ng-include="row.template"></div>
					</form>
					<button data-ng-click="closeBlock($index)" class="btn btn-default btn-sm" type="button">{{ i18n('m.rbs.theme.admin.pagetemplates_close', ['ucf']) }}</button>
				</td>
				<td ng-if="!isEditorRow(row)" style="width:20%">(= row.id =)</td>
				<td ng-if="!isEditorRow(row)" style="width:50%">
					<span data-ng-show="!canChangeBlocName(row)">
						<strong data-ng-show="row.id == block.id">(= row.block.label || row.name =)</strong>
						<span data-ng-show="row.id != block.id">(= row.block.label || row.name =)</span>
					</span>
					<div data-ng-show="canChangeBlocName(row)">
						<rbs-block-selector block="row.block" selected="(= row.name =)"></rbs-block-selector>
					</div>

				</td>
				<td data-ng-if="!isEditorRow(row)" style="width:30%">
					<div data-ng-if="!inEditMode()">
						<button class="btn btn-sm" type="button"
								data-ng-click="addBlockOverride(row)" data-ng-show="canOverrideBlock(row)">
							{{ i18n('m.rbs.theme.admin.pagetemplates_override', ['ucf']) }}
						</button>
						<button class="btn btn-sm" type="button"
								data-ng-click="removeBlockOverride(row)" data-ng-show="canRemoveOverrideBlock(row)">
							{{ i18n('m.rbs.theme.admin.pagetemplates_removeoverride', ['ucf']) }}
						</button>
						<button class="btn btn-default btn-sm" type="button"
								data-ng-click="parametrizeBlock($index)" data-ng-show="canParametrizeBlock(row)">
							{{ i18n('m.rbs.theme.admin.pagetemplates_parametrize', ['ucf']) }}
						</button>
						<button class="btn btn-sm" type="button"
								data-ng-click="emptyBlock(row)" data-ng-show="canEmptyBlock(row)">
							{{ i18n('m.rbs.theme.admin.pagetemplates_clear', ['ucf']) }}
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>
	<form-button-bar></form-button-bar>
</form>