{% block rbsCatalogProductDataLoading %}
	<div data-ng-show="productLoading" data-ng-cloak="" class="product-loading">
		<div class="product-loading-indicator">
			<p><img alt="" src="{{ resourceURL('Theme/Rbs/Base/img/loading.gif') }}" /></p>
			<p><span class="label label-default">{{ i18n('m.rbs.catalog.front.loading_data', ['ucf', 'etc']) }}</span></p>
		</div>
	</div>
{% endblock rbsCatalogProductDataLoading %}

{% block rbsCatalogProductHeader %}
	<meta itemprop="url" content="{{ productData.common.URL['canonical'] }}" />
	<h1 itemprop="name">{{ productData.common.title }}</h1>
	{% spaceless %}
		{% if productData.stock.sku %}<meta itemprop="sku" content="{{ productData.stock.sku }}" />{% endif %}
		<dl class="list-inline list-divided">
			{% if (productData.common.reference) %}
				<dt class="sr-only">{{ i18n('m.rbs.catalog.front.reference', ['ucf']) }}</dt>
				<dd>{{ productData.common.reference }}</dd>
			{% endif %}
			{% set brandAttribute = getAttributeByName(productData, 'brand') %}
			{% if brandAttribute.value %}
				<dt class="sr-only">{{ i18n('m.rbs.catalog.front.brand', ['ucf']) }}</dt>
				<dd itemprop="brand">
					{% if brandAttribute.value.URL.canonical and brandAttribute.value.URL.publishedInWebsite %}
						<a href="{{ brandAttribute.value.URL.canonical }}">{{ brandAttribute.value.title }}</a>
					{% else %}
						{{ brandAttribute.value.title }}
					{% endif %}
				</dd>
			{% endif %}
			{% if handleReviews %}
				<dt class="sr-only">{{ i18n('m.rbs.catalog.front.customer_reviews', ['ucf']) }}</dt>
				<dd>
					<div data-rbs-review-reviews-summary="productData.reviews" data-show-reviews-callback="showReviews"
						data-scale="{{ ratingScale }}"></div>
				</dd>
			{% endif %}
		</dl>
	{% endspaceless %}
{% endblock rbsCatalogProductHeader %}

{% block rbsCatalogProductVisuals %}
	<div data-rbs-catalog-product-visuals="" data-visuals="visuals" data-visual-formats="['detail', 'detailThumbnail']"
		data-full-base-id="full-visual-{{ blockId }}-">
		<div id="visuals-{{ blockId }}" class="product-visuals" data-ng-class="{'product-visuals-multiple': visuals.length > 1}">
			<div class="full-visual">
				<ul data-ng-show="visuals" class="list-unstyled full-visuals">
					<li data-ng-repeat="visual in visuals track by $index" id="full-visual-{{ blockId }}-(= $index =)">
						{% if parameters.activateZoom -%}
						<a data-ng-href="(= visual.original =)" data-ng-mouseover="startZoom($event)">
							{%- endif -%}
							<img itemprop="image" src="" data-ng-src="(= visual.detail =)" alt="(= visual.alt =)" />
							{%- if parameters.activateZoom -%}
						</a>
						{%- endif %}
					</li>
				</ul>
				<div data-ng-show="!visuals" class="text-center text-muted">
					<span class="glyphicon glyphicon-camera" style="font-size: 200px"></span><br />
					<span>{{ i18n('m.rbs.catalog.front.no_visual', ['ucf']) }}</span>
				</div>
				<div data-rbs-catalog-product-pictograms="" data-pictogram-format="'pictogram'" data-pictograms="pictograms"></div>
			</div>
			<ul data-ng-if="visuals.length > 1" class="list-unstyled thumbnail-visuals">
				<li data-ng-repeat="visual in visuals track by $index" class="thumbnail" id="thumbnail-visual-{{ blockId }}-(= $index =)"
					title="{{ i18nAttr('m.rbs.catalog.front.click_to_show_image', ['ucf']) }}">
					<img src="" data-ng-src="(= visual.detailThumbnail =)" alt="(= visual.alt =)" data-index="(= $index =)"
						data-ng-click="showVisual($event)" />
				</li>
			</ul>
		</div>
	</div>
{% endblock rbsCatalogProductVisuals %}

{% block rbsCatalogProductDescription %}
	<div data-ng-if="productData | rbsCatalogGetAttribute:'description'" >
		<h2>{{ i18n('m.rbs.catalog.front.full_description', ['ucf']) }}</h2>
		<div itemprop="description" data-rbs-catalog-attribute-value=""
			data-attribute="productData | rbsCatalogGetAttribute:'description'"></div>
	</div>
{% endblock rbsCatalogProductDescription %}

{# Used parameters: handleReviews, reviewsPerPage, ratingScale, handleReviewVotes #}
{% block rbsCatalogProductDetailInformation %}
	{% if parameters.informationDisplayMode %}
		<div data-rbs-catalog-product-information="" data-product-data="productData" data-block-id="{{ blockId }}"
			data-display-mode="{{ parameters.informationDisplayMode }}"
			data-specifications-display-mode="{{ parameters.specificationsDisplayMode }}"
			data-reviews-ajax-data="reviewsAjaxData" data-reviews-ajax-params="reviewsAjaxParams"
			data-handle-reviews="{{ handleReviews }}" data-handle-review-votes="{{ handleReviewVotes }}"
			data-rating-scale="{{ ratingScale }}" data-reviews-per-page="{{ reviewsPerPage }}">
		</div>
	{% endif %}
{% endblock rbsCatalogProductDetailInformation %}

{% block rbsCatalogProductDetailSpecifications %}
	{% if parameters.specificationsDisplayMode %}
		<div data-rbs-catalog-product-specifications="" data-product-data="productData" data-visibility="specifications"
			data-display-mode="{{ parameters.specificationsDisplayMode }}" data-block-id="{{ blockId }}">
		</div>
	{% endif %}
{% endblock rbsCatalogProductDetailSpecifications %}

{# Used parameters: reinsurance #}
{% block rbsCatalogProductReinsurance %}
	{% set text = reinsurance.currentLocalization.text %}
	{% if text and (not text.isEmpty()) %}
		<div class="product-reinsurance well well-sm">
			{{ text|richText }}
		</div>
	{% endif %}
{% endblock rbsCatalogProductReinsurance %}

{% block rbsCatalogProductOfferSimple %}
	{% if parameters.webStoreId %}
		<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
			{% block rbsCatalogProductOfferSimplePrices %}
				{% set currencyCode = productData.price.currencyCode %}
				{% if productData.price and (parameters.displayPricesWithoutTax or productData.price.valueWithTax) %}
					{% if currencyCode %}<meta itemprop="priceCurrency" content="{{ currencyCode }}" />{% endif %}
					<ul class="list-unstyled main-price">
						{% if parameters.displayPricesWithoutTax and productData.price.valueWithoutTax %}
							<li class="price">
								{% if not (parameters.displayPricesWithTax and productData.price.valueWithTax) %}
									<span itemprop="price">
										{{ formatPrice(productData.price.valueWithoutTax, currencyCode) }}
									</span>
								{% else %}
									{{ formatPrice(productData.price.valueWithoutTax, currencyCode) }}
								{% endif %}
								<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">
									{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}
								</abbr>
								{% if productData.price.baseValueWithoutTax %}
									<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
										{{ formatPrice(productData.price.baseValueWithoutTax, currencyCode) }}
									</del>
								{% endif %}
							</li>
						{% endif %}
						{% if parameters.displayPricesWithTax and productData.price.valueWithTax %}
							<li class="price">
								<span itemprop="price">{{ formatPrice(productData.price.valueWithTax, currencyCode) }}</span>
								{% if productData.price.baseValueWithTax %}
									<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
										{{ formatPrice(productData.price.baseValueWithTax, currencyCode) }}
									</del>
								{% endif %}
							</li>
						{% endif %}
						{% if productData.price.options.ecoTax %}
							<li class="small">
								{{ i18n('m.rbs.catalog.front.including', ['ucf']) }} {{ i18n('m.rbs.catalog.front.ecotax') }}
								{{ formatPrice(productData.price.options.ecoTax, currencyCode) }}
							</li>
						{% endif %}
					</ul>
				{% endif %}
			{% endblock rbsCatalogProductOfferSimplePrices %}

			{% block rbsCatalogProductOfferSimpleAddToCart %}
				{% if productData.stock.sku %}
					<div data-rbs-catalog-add-simple-product-to-cart=""
						data-modal-id="addToCartConfirmationModal-{{ blockId }}"></div>
				{% endif %}
			{% endblock rbsCatalogProductOfferSimpleAddToCart %}

			{{ block('rbsCatalogProductReinsurance') }}
		</div>
	{% endif %}
{% endblock rbsCatalogProductOfferSimple %}

{% block rbsCatalogProductOfferSet %}
	<div class="product-set-content">
		{% for itemData in productData.productSet.products %}
			<div class="product-set-content-item">
				{% block rbsCatalogProductOfferSetItem %}
					{% if itemData.common.type == 'variant' %}
						{% block rbsCatalogProductOfferSetItemVariant %}
							<div data-rbs-catalog-product-set-item-variant="" data-item-index="{{ loop.index0 }}"
								data-product-set-data="productData" data-parameters="parameters"
								data-product-ajax-data="productAjaxData" data-product-ajax-params="productAjaxParams">
							</div>
						{% endblock rbsCatalogProductOfferSetItemVariant %}
					{% else %}
						{% block rbsCatalogProductOfferSetItemSimple %}
							<div data-rbs-catalog-product-set-item-simple="" data-item-index="{{ loop.index0 }}"
								data-product-set-data="productData" data-parameters="parameters"
								data-product-ajax-data="productAjaxData" data-product-ajax-params="productAjaxParams">
							</div>
						{% endblock rbsCatalogProductOfferSetItemSimple %}
					{% endif %}
				{% endblock rbsCatalogProductOfferSetItem %}
			</div>
			{% block rbsCatalogProductOfferSetDivider %}
				<hr class="product-set-content-divider" />
			{% endblock rbsCatalogProductOfferSetDivider %}
		{% endfor %}
		<div class="product-set-content-footer">
			{% block rbsCatalogProductOfferSetFooter %}
				<div data-rbs-catalog-add-set-product-to-cart="" data-parameters="parameters" data-items-to-add="itemsToAdd"
					data-product-data="productData" data-modal-id="addToCartConfirmationModal-{{ blockId }}">
				</div>
			{% endblock rbsCatalogProductOfferSetFooter %}
		</div>
	</div>

	{{ block('rbsCatalogProductReinsurance') }}
{% endblock rbsCatalogProductOfferSet %}

{% block rbsCatalogProductOfferVariant %}
	{% if parameters.webStoreId %}
		<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
			{% block rbsCatalogProductOfferVariantPrices %}
				<div data-rbs-catalog-product-price=""
					data-display-without-tax="{{ parameters.displayPricesWithoutTax }}"
					data-display-with-tax="{{ parameters.displayPricesWithTax }}">
				</div>
			{% endblock rbsCatalogProductOfferVariantPrices %}

			{% block rbsCatalogProductOfferVariantAxes %}
				<div data-rbs-catalog-variant-selector="" data-product-data="productData" data-ajax-data="productAjaxData"
					data-ajax-params="productAjaxParams">
				</div>
				<div data-ng-hide="productData.stock.sku" data-ng-cloak="" class="alert warning">
					{{ i18n('m.rbs.catalog.front.please_configure_axes', ['ucf']) }}
				</div>
			{% endblock rbsCatalogProductOfferVariantAxes %}

			{% block rbsCatalogProductOfferVariantAddToCart %}
				<div data-rbs-catalog-add-variant-product-to-cart=""
					data-modal-id="addToCartConfirmationModal-{{ blockId }}"></div>
			{% endblock rbsCatalogProductOfferVariantAddToCart %}

			{{ block('rbsCatalogProductReinsurance') }}
		</div>
	{% endif %}
{% endblock rbsCatalogProductOfferVariant %}