<li>
	<ul class="grid-list-cell" data-ng-controller="RbsCatalogProductController">
		<li class="product-visual">
			<a title="{{ i18nAttr('m.rbs.catalog.front.view_product_details', ['ucf'], {product: row.title}) }}"
				href="{{ row.url }}">
				<img alt="" src="{{ catalogMacros.listThumbnailURL(row.visual) }}" /></a>
			<div class="pictograms-container">
			</div>
		</li>
		<li class="product-label">
			<a title="{{ i18nAttr('m.rbs.catalog.front.view_product_details', ['ucf'], {product: row.title}) }}"
				href="{{ row.url }}">{{ row.title }}</a>
		</li>
		<li class="product-availability">
			{{ row.productPresentation.stock.thresholdTitle }}
		</li>
		{% if parameters.webStoreId %}
			{% block prices %}
				{% if row.productPresentation.getPriceValue %}
					{% if parameters.displayPrices  %}
						<li class="product-price price">
							{{ formatPrice(row.productPresentation.priceValue) }}
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}</abbr>
							{% if row.productPresentation.priceValueWithoutDiscount %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{- formatPrice(row.productPresentation.priceValueWithoutDiscount) -}}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if parameters.displayPricesWithTax %}
						<li class="product-price price">
							{{ formatPrice(row.productPresentation.priceValueWithTax) }}
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.with_tax') }}">{{ i18n('m.rbs.catalog.front.with_tax_abbr') }}</abbr>
							{% if row.productPresentation.priceValueWithoutDiscountWithTax %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{- formatPrice(row.productPresentation.priceValueWithoutDiscountWithTax) -}}
								</del>
							{% endif %}
						</li>
					{% endif %}
				{% endif %}
			{% endblock %}

			{% block addToCart %}
				<li class="product-add">
					<div rbs-catalog-product-data="" data-ng-model="productConfig"
						data-key="{{ row.id }}" data-product-id="{{ row.id }}"
						data-sku="{{ row.productPresentation.codeSKU }}"
						data-price="{{ row.productPresentation.priceValue }}"
						data-redirect-url="{{ parameters.redirectUrl }}"
						data-designation="{{ row.productPresentation.designation }}"
						data-stock-level ="{{ row.productPresentation.stock.level }}"
						data-stock-min ="{{ row.productPresentation.stock.minQuantity }}"
						data-stock-max ="{{ row.productPresentation.stock.maxQuantity }}"
						data-stock-step ="{{ row.productPresentation.stock.quantityIncrement }}" ></div>
				</li>
			{% endblock %}
		{% endif %}
	</ul>
</li>