<li>
	<ul class="grid-list-cell">
		<li class="product-visual">
			<a title="{{ i18nAttr('m.rbs.catalog.front.view_product_details', ['ucf'], {product: row.title}) }}"
				href="{{ row.url }}">
				<img alt="" src="{{ catalogMacros.listThumbnailURL(row.visual) }}" /></a>
			<div class="pictograms-container">
			</div>
		</li>
		<li class="product-label">
			<a title="{{ i18nAttr('m.rbs.catalog.front.view_product_details', ['ucf'], {product: row.title}) }}"
				href="{{ row.url }}">{{ row.title }}</a>
		</li>
		<li class="product-availability">
			{{ row.productPresentation.stock.thresholdTitle }}
		</li>
		{% if parameters.webStoreId %}
			{% block prices %}
				{% if row.productPresentation.getPriceValue %}
					{% if parameters.displayPrices  %}
						<li class="product-price price">
							{{ formatPrice(row.productPresentation.priceValue) }}
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}</abbr>
							{% if row.productPresentation.priceValueWithoutDiscount %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{- formatPrice(row.productPresentation.priceValueWithoutDiscount) -}}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if parameters.displayPricesWithTax %}
						<li class="product-price price">
							{{ formatPrice(row.productPresentation.priceValueWithTax) }}
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.with_tax') }}">{{ i18n('m.rbs.catalog.front.with_tax_abbr') }}</abbr>
							{% if row.productPresentation.priceValueWithoutDiscountWithTax %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{- formatPrice(row.productPresentation.priceValueWithoutDiscountWithTax) -}}
								</del>
							{% endif %}
						</li>
					{% endif %}
				{% endif %}
			{% endblock %}

			{% block addToCart %}
				{% if row.productPresentation.getStock.level %}
					<li class="product-add">
						<button name="product" type="submit" class="btn btn-primary btn-sm" value="{{ row.id }}">
							<i class="glyphicon glyphicon-shopping-cart"></i>
							{{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
						</button>
					</li>
				{% else %}
					<li class="product-add">
						<button name="product" type="submit" class="btn btn-primary btn-sm btn-disabled" value="{{ row.id }}" disabled>
							<i class="glyphicon glyphicon-shopping-cart"></i>
							{{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
						</button>
					</li>
				{% endif %}
			{% endblock %}
		{% endif %}
	</ul>
</li>