{% block rbsCatalogAddToCartPopin %}
	<div class="modal fade" id="addToCartConfirmationModal-{{ blockId }}" tabindex="-1" role="dialog"
			aria-labelledby="addToCartConfirmationModalLabel-{{ blockId }}" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="addToCartConfirmationModalLabel-{{ blockId }}">
						{{ i18n('m.rbs.catalog.front.product_added_to_cart', ['ucf']) }}
					</h4>
				</div>
				<div class="modal-body" data-ng-hide="hideModalContent">
					<div class="modal-main-content"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">
						{{ i18n('m.rbs.catalog.front.continue_shopping', ['ucf']) }}</button>
					<a href="{{ functionURL('Rbs_Commerce_Cart') }}" class="btn btn-primary">
						<i class="glyphicon glyphicon-arrow-right"></i>
						{{ i18n('m.rbs.catalog.front.view_my_cart', ['ucf']) }}
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock rbsCatalogAddToCartPopin %}

{% block rbsCatalogAddListItemProductToCart %}
	<script type="text/ng-template" id="/rbsCatalogAddListItemProductToCart.tpl">
		<button type="button" class="btn btn-primary btn-sm" data-ng-click="addLine()">
			<span class="glyphicon glyphicon-shopping-cart"></span>
			{{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
		</button>
	</script>
{% endblock rbsCatalogAddListItemProductToCart %}

{% block rbsCatalogAddSimpleProductToCart %}
	<script type="text/ng-template" id="/rbsCatalogAddSimpleProductToCart.tpl">
		<div data-ng-show="productData.stock.sku">
			<div class="row no-bottom-margin">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="product-quantity-{{ blockId }}">{{ i18n('m.rbs.commerce.front.quantity', ['ucf']) }}</label>
						<input id="product-quantity-{{ blockId }}"
							class="form-control" type="number"
							data-ng-model="productData.cart.quantity"
							max="(= productData.cart.maxQuantity =)" min="(= productData.cart.minQuantity =)"
							step="(= productData.cart.quantityIncrement =)"/>
					</div>
				</div>
				<div class="col-sm-6">
					<div data-ng-show="productData.stock.sku" data-rbs-catalog-product-availability=""></div>
				</div>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="addLine()"
					data-ng-disabled="!productData.cart.key">
					<span data-ng-show="productData.cart.key">
						<span class="glyphicon glyphicon-shopping-cart"></span>
						{{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
					</span>
					<span data-ng-hide="productData.cart.key">{{ i18n('m.rbs.commerce.front.not_available', ['ucf']) }}</span>
				</button>
			</div>
		</div>
		<div class="form-group" data-ng-hide="productData.stock.sku">
			<button type="button" class="btn btn-primary btn-lg" disabled="disabled">
				{{ i18n('m.rbs.commerce.front.not_available', ['ucf']) }}
			</button>
		</div>
	</script>
{% endblock rbsCatalogAddSimpleProductToCart %}

{% block rbsCatalogAddVariantProductToCart %}
	<script type="text/ng-template" id="/rbsCatalogAddVariantProductToCart.tpl">
		<div data-ng-show="productData.stock.sku">
			<div class="row no-bottom-margin">
				<div class="col-sm-6">
					<div class="form-group" data-ng-show="productData.cart.key">
						<label for="product-quantity-{{ blockId }}">{{ i18n('m.rbs.commerce.front.quantity', ['ucf']) }}</label>
						<input id="product-quantity-{{ blockId }}"
							class="form-control" type="number"
							data-ng-model="productData.cart.quantity"
							max="(= productData.cart.maxQuantity =)" min="(= productData.cart.minQuantity =)"
							step="(= productData.cart.quantityIncrement =)"/>
					</div>
				</div>
				<div class="col-sm-6">
					<div data-ng-show="productData.stock.sku" data-rbs-catalog-product-availability=""></div>
				</div>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="addLine()"
					data-ng-disabled="!productData.cart.key">
					<span data-ng-show="productData.cart.key">
						<span class="glyphicon glyphicon-shopping-cart"></span>
						{{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
					</span>
					<span data-ng-hide="productData.cart.key">{{ i18n('m.rbs.commerce.front.not_available', ['ucf']) }}</span>
				</button>
			</div>
		</div>
	</script>
{% endblock rbsCatalogAddVariantProductToCart %}

{% block rbsCatalogAddSetItemProductToCart %}
	<script type="text/ng-template" id="/rbsCatalogAddSetItemProductToCart.tpl">
		<div class="row form-horizontal">
			<div class="col-sm-5">
				<div class="form-group" data-ng-show="productData.cart.key">
					<label for="product-quantity-{{ blockId }}-(= productData.common.id =)"
						class="col-sm-6 control-label">
						{{ i18n('m.rbs.commerce.front.quantity', ['ucf']) }}
					</label>
					<div class="col-sm-6">
						<input id="product-quantity-{{ blockId }}-(= productData.common.id =)"
							class="form-control" type="number" data-ng-model="productData.cart.quantity"
							max="(= productData.cart.maxQuantity =)" min="0" step="(= productData.cart.quantityIncrement =)" />
					</div>
				</div>
				<div data-ng-show="productData.stock.sku" data-rbs-catalog-product-availability=""></div>
			</div>
			<div class="col-sm-7">
				<div class="form-group">
					<div class="col-sm-12">
						<button type="button" class="btn btn-primary btn-block" data-ng-click="addLine()"
							data-ng-disabled="!productData.cart.key || !productData.cart.quantity">
							<span data-ng-show="productData.cart.key">
								<span class="glyphicon glyphicon-shopping-cart"></span>
								{{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
							</span>
							<span data-ng-hide="productData.cart.key">
								{{ i18n('m.rbs.commerce.front.not_available', ['ucf']) }}
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</script>
{% endblock rbsCatalogAddSetItemProductToCart %}

{% block rbsCatalogAddSetProductToCart %}
	<script type="text/ng-template" id="/rbsCatalogAddSetProductToCart.tpl">
		<div data-ng-show="addToCartData.hasItemsToAdd">
			<div data-rbs-catalog-product-price=""
				data-display-without-tax="(= parameters.displayPricesWithoutTax =)"
				data-display-with-tax="(= parameters.displayPricesWithTax =)">
			</div>
		</div>
		<p data-ng-hide="addToCartData.hasItemsToAdd" class="text-warning">
			{{ i18n('m.rbs.catalog.front.no_selected_item', ['ucf']) }}
		</p>

		<div class="form-group">
			<button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="addSetItems()"
				data-ng-disabled="!addToCartData.hasItemsToAdd">
				<span class="glyphicon glyphicon-shopping-cart"></span>
				{{ i18n('m.rbs.commerce.front.add_selected_to_cart', ['ucf']) }}
			</button>
		</div>
	</script>
{% endblock rbsCatalogAddSetProductToCart %}

{% block rbsCatalogProductPictograms %}
	<script type="text/ng-template" id="/rbsCatalogProductPictograms.tpl">
		<div data-ng-show="pictograms"  class="pictograms-container">
			{% spaceless %}
				<ul class="list-inline">
					<li data-ng-repeat="pictogramData in pictograms track by $index">
						<img alt="(= pictogramData.alt =)" src="" data-ng-src="(= pictogramData[pictogramFormat] =)" />
					</li>
				</ul>
			{% endspaceless %}
		</div>
	</script>
{% endblock rbsCatalogProductPictograms %}

{% block rbsCatalogAttributeValue %}
	<script type="text/ng-template" id="/rbsCatalogAttributeValue.tpl">
		<span data-ng-if="isArrayValue()">
			<span data-ng-repeat="item in attribute.value track by $index">
				<img data-ng-if="isImageValue(item)" src="" data-ng-src="(= item.attribute =)" alt="(= item.alt =)" />
				<a data-ng-if="isLinkValue(item)" data-ng-href="(= item.URL.canonical =)" data-ng-bind="item.title"></a>
			</span>
		</span>
		<img data-ng-if="isImage()" src="" data-ng-src="(= attribute.value.attribute =)" alt="(= attribute.value.alt =)" />
		<a data-ng-if="isLink()" data-ng-href="(= attribute.value.URL.canonical =)" data-ng-bind="attribute.value.title"></a>
		<div data-ng-if="isHtml()" data-ng-bind-html="trustHtml(attribute.value)"></div>
		<span data-ng-if="isDate()" data-ng-bind="attribute.value | rbsDate"></span>
		<span data-ng-if="isDateTime()" data-ng-bind="attribute.value | rbsDateTime"></span>
		<span data-ng-if="isString()" data-ng-bind="attribute.value"></span>
	</script>
{% endblock rbsCatalogAttributeValue %}

{% block rbsCatalogProductSpecifications %}
	{% block rbsCatalogProductSpecificationsTable %}
		<script type="text/ng-template" id="/rbsCatalogProductSpecificationsTable.tpl">
			<table class="table table-striped table-bordered">
				<tbody>
				<tr data-ng-repeat="rowAttr in tableRows track by $index">
					<th colspan="2" data-ng-if="rowAttr.isSectionTitle">
						<span data-ng-show="rowAttr.section" data-ng-bind="rowAttr.section"></span>
						<span data-ng-hide="rowAttr.section">{{ i18n('m.rbs.catalog.front.main_attributes', ['ucf']) }}</span>
					</th>
					<td data-ng-if="!rowAttr.isSectionTitle" class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
						<span data-ng-bind="rowAttr.title"></span>
						<div class="small" data-ng-if="rowAttr.description" data-ng-bind-html="trustHtml(rowAttr.description)">
						</div>
					</td>
					<td data-ng-if="!rowAttr.isSectionTitle" class="col-xs-6 col-sm-7 col-md-8 col-lg-9"
							data-rbs-catalog-attribute-value="" data-attribute="rowAttr">
					</td>
				</tr>
				</tbody>
			</table>
		</script>
	{% endblock rbsCatalogProductSpecificationsTable %}

	{% block rbsCatalogProductSpecificationsAccordion %}
		<script type="text/ng-template" id="/rbsCatalogProductSpecificationsAccordion.tpl">
			<div class="panel-group" id="block-(= blockId =)-attribute-group-accordion">
				<div class="panel" data-ng-repeat="section in sections track by $index">
					<div class="panel-heading">
						<a class="accordion-toggle" data-toggle="collapse"
							data-parent="#block-(= blockId =)-attribute-group-accordion"
							data-ng-href="#block-(= blockId =)-attribute-group-(= $index =)">
							<span data-ng-show="section" data-ng-bind="section"></span>
							<span data-ng-hide="section">{{ i18n('m.rbs.catalog.front.main_attributes', ['ucf']) }}</span>
						</a>
					</div>
					<div id="block-(= blockId =)-attribute-group-(= $index =)" class="panel-collapse collapse"
						data-ng-class="{in: $first}">
						<div class="panel-body">
							<dl class="dl-horizontal" data-ng-repeat="attribute in sectionsAttributes[section] track by $index">
								<dt>
									<span data-ng-bind="attribute.title"></span>
									<span class="small" data-ng-if="attribute.description"
										data-ng-bind-html="trustHtml(attribute.description)"></span>
								</dt>
								<dd data-rbs-catalog-attribute-value="" data-attribute="attribute"></dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</script>
	{% endblock rbsCatalogProductSpecificationsAccordion %}

	{% block rbsCatalogProductSpecificationsFlat %}
		<script type="text/ng-template" id="/rbsCatalogProductSpecificationsFlat.tpl">
			<dl class="dl-horizontal">
				<dt  data-ng-repeat-start="attribute in flatRows track by $index">
					<span data-ng-bind="attribute.title"></span>
					<span class="small" data-ng-if="attribute.description" data-ng-bind-html="trustHtml(attribute.description)"></span>
				</dt>
				<dd data-ng-repeat-end="" data-rbs-catalog-attribute-value="" data-attribute="attribute"></dd>
			</dl>
		</script>
	{% endblock rbsCatalogProductSpecificationsFlat %}

	{% block rbsCatalogProductSpecificationsTabs %}
		<script type="text/ng-template" id="/rbsCatalogProductSpecificationsTabs.tpl">
			<ul id="block-(= blockId =)-attribute-group-tabs" class="nav nav-tabs">
				<li data-ng-repeat="section in sections track by $index" data-ng-class="{active: $first}">
					<a data-ng-href="#block-(= blockId =)-attribute-group-tab-(= $index =)" data-toggle="tab">
						<span data-ng-show="section" data-ng-bind="section"></span>
						<span data-ng-hide="section">{{ i18n('m.rbs.catalog.front.main_attributes', ['ucf']) }}</span>
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div data-ng-repeat="section in sections track by $index" id="block-(= blockId =)-attribute-group-tab-(= $index =)"
						class="tab-pane fade" data-ng-class="{active: $first, in: $first}">
					<dl class="dl-horizontal" data-ng-repeat="attribute in sectionsAttributes[section] track by $index">
						<dt>
							<span data-ng-bind="attribute.title"></span>
							<span class="small" data-ng-if="attribute.description"
								data-ng-bind-html="trustHtml(attribute.description)"></span>
						</dt>
						<dd data-rbs-catalog-attribute-value="" data-attribute="attribute"></dd>
					</dl>
				</div>
			</div>
		</script>
	{% endblock rbsCatalogProductSpecificationsTabs %}
{% endblock rbsCatalogProductSpecifications %}

{% block rbsCatalogProductAvailability %}
	<script type="text/ng-template" id="/rbsCatalogProductAvailability.tpl">
		<div data-ng-show="productData.stock.thresholdTitle"
			class="alert availability text-center stock-(= productData.stock.threshold | lowercase =)"
			data-ng-class="{'alert-success': productData.stock.threshold == 'AVAILABLE', 'alert-danger': productData.stock.threshold == 'UNAVAILABLE'}">
			<h4 itemprop="availability" class="no-bottom-margin" data-ng-bind="productData.stock.thresholdTitle"></h4>
		</div>
	</script>
{% endblock rbsCatalogProductAvailability %}

{% block rbsCatalogProductPrice %}
	<script type="text/ng-template" id="/rbsCatalogProductPrice.tpl">
		<div data-ng-show="productData.price.currencyCode && (displayWithoutTax || displayWithTax)">
			<meta itemprop="priceCurrency" content="(= productData.price.currencyCode =)" />
			<ul class="list-unstyled main-price">
				<li class="price" data-ng-show="displayWithoutTax && productData.price.valueWithoutTax">
					<span data-ng-if="productData.price.hasDifferentPrices">
						{{ i18n('m.rbs.catalog.front.from', ['ucf']) }}
					</span>
					<span data-ng-if="!(displayWithTax && productData.price.valueWithTax)" itemprop="price">
						(= productData.price.valueWithoutTax | rbsFormatPrice:productData.price.currencyCode =)
					</span>
					<span data-ng-if="displayWithTax && productData.price.valueWithTax">
						(= productData.price.valueWithoutTax | rbsFormatPrice:productData.price.currencyCode =)
					</span>
					<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">
						{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}
					</abbr>
					<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}" data-ng-show="productData.price.baseValueWithoutTax">
						(= productData.price.baseValueWithoutTax | rbsFormatPrice:productData.price.currencyCode =)
					</del>
				</li>
				<li class="price" data-ng-show="displayWithTax && productData.price.valueWithTax">
					<span data-ng-if="productData.price.hasDifferentPrices">
						{{ i18n('m.rbs.catalog.front.from', ['ucf']) }}
					</span>
					<span itemprop="price">(= productData.price.valueWithTax | rbsFormatPrice:productData.price.currencyCode =)</span>
					<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}" data-ng-show="productData.price.baseValueWithTax">
						(= productData.price.baseValueWithTax | rbsFormatPrice:productData.price.currencyCode =)
					</del>
				</li>
				<li class="small" data-ng-show="productData.price.options.ecoTax">
					{{ i18n('m.rbs.catalog.front.including', ['ucf']) }} {{ i18n('m.rbs.catalog.front.ecotax') }}
					(= productData.price.options.ecoTax | rbsFormatPrice:productData.price.currencyCode =)
				</li>
			</ul>
		</div>
	</script>
{% endblock rbsCatalogProductPrice %}

{% block rbsCatalogProductVariantSelector %}
	<script type="text/ng-template" id="/rbsCatalogVariantSelector.tpl">
		<div class="form-horizontal">
			<div class="form-group" data-ng-repeat="axis in rootProductData.variants.axes">
				<label for="selectedVariant_{{ blockId }}_(= $index =)" class="col-sm-4 col-md-3 control-label">
					(= axis.title =)
				</label>
				<div class="col-sm-8 col-md-9">
					{% block rbsCatalogProductVariantSelectorInput %}
						<select id="selectedVariant_{{ blockId }}_(= $index =)" data-ng-show="axesItems[$index].length != 1"
							data-ng-cloak="" class="form-control" data-ng-model="selectedAxesValues[$index]"
							data-ng-options="axisItem.value as axisItem.title for axisItem in axesItems[$index]"
							data-rbs-catalog-axis-option-class="{'text-muted': lastAxis && !hasStock && !allowBackorders}"
							data-ng-change="variantChanged($index)" data-ng-disabled="$index > 0 && !selectedAxesValues[$index - 1]">
							<option value="">{{ i18n('m.rbs.generic.front.select', ['ucf']) }}</option>
						</select>
						<div data-ng-show="axesItems[$index].length == 1" data-ng-cloak="" class="form-control-static">
							(= axesItems[$index][0].title =)
						</div>
					{% endblock rbsCatalogProductVariantSelectorInput %}
				</div>
			</div>
		</div>
	</script>
{% endblock rbsCatalogProductVariantSelector %}

{% block rbsCatalogProductInformation %}
	{# Used parameters: commonInformation #}
	{% block rbsCatalogProductInformationTabs %}
		{% set ngClassTest = '!specificInformation.length && !specifications.length && !handleReviews' %}
		{% set ngClassLastTabs = '{active: ' ~ ngClassTest ~ '}' %}
		{% set ngClassLastContents = '{active: ' ~ ngClassTest ~ ', in: ' ~ ngClassTest ~ '}' %}
		<script type="text/ng-template" id="/rbsCatalogProductInformationTabs.tpl">
			<div{% if not commonInformation|length %} data-ng-show="specificInformation.length || specifications.length || handleReviews"{% endif %}>
				<ul role="tablist" id="(= baseId =)s" class="nav nav-tabs">
					<li role="presentation" data-ng-repeat="information in specificInformation track by $index"
						data-ng-class="{active: $first}">
						<a role="tab" data-ng-href="#(= baseId =)-(= $index =)" data-toggle="tab">
							{% block rbsCatalogProductInformationTabsPanelAttributeTitle %}
								<span data-ng-bind="information.title"></span>
							{% endblock rbsCatalogProductInformationTabsPanelAttributeTitle %}
						</a>
					</li>
					<li role="presentation" data-ng-if="specifications.length"
						data-ng-class="{active: !specificInformation.length}">
						<a role="tab" data-ng-href="#(= baseId =)-specifications" data-toggle="tab">
							{% block rbsCatalogProductInformationTabsPanelSpecificationsTitle %}
								{{ i18n('m.rbs.catalog.front.specifications', ['ucf']) }}
							{% endblock rbsCatalogProductInformationTabsPanelSpecificationsTitle %}
						</a>
					</li>
					<li role="presentation" data-ng-if="handleReviews"
						data-ng-class="{active: !specificInformation.length && !specifications.length}">
						<a role="tab" data-ng-href="#(= baseId =)-reviews" data-toggle="tab">
							{% block rbsCatalogProductInformationTabsPanelReviewsTitle %}
								{{ i18n('m.rbs.catalog.front.customer_reviews', ['ucf']) }} ((= productData.reviews.count =))
							{% endblock rbsCatalogProductInformationTabsPanelReviewsTitle %}
						</a>
					</li>
					{% for information in commonInformation %}
						<li role="presentation"{% if loop.index == 1 %} data-ng-class="{{ ngClassLastTabs }}"{% endif %}>
							<a role="tab" data-ng-href="#(= baseId =)-static-{{ loop.index }}" data-toggle="tab">
								{% block rbsCatalogProductInformationTabsPanelCommonTitle %}
									{{ information.currentLocalization.title }}
								{% endblock rbsCatalogProductInformationTabsPanelCommonTitle %}
							</a>
						</li>
					{% endfor %}
				</ul>
				<div class="tab-content">
					<div role="tabpanel" data-ng-repeat="information in specificInformation track by $index"
						id="(= baseId =)-(= $index =)" class="tab-pane fade richtext"
						data-ng-class="{active: $first, in: $first}">
						{% block rbsCatalogProductInformationTabsPanelAttributeContent %}
							<div data-rbs-catalog-attribute-value="" data-attribute="information"></div>
						{% endblock rbsCatalogProductInformationTabsPanelAttributeContent %}
					</div>
					<div data-ng-if="specifications.length" id="(= baseId =)-specifications" class="tab-pane fade"
						data-ng-class="{active: !specificInformation.length, in: !specificInformation.length}">
						{% block rbsCatalogProductInformationTabsPanelSpecificationsContent %}
							<div role="tabpanel" data-ng-transclude=""></div>
						{% endblock rbsCatalogProductInformationTabsPanelSpecificationsContent %}
					</div>
					<div role="tabpanel" data-ng-if="handleReviews" id="(= baseId =)-reviews" class="tab-pane fade"
						data-ng-class="{active: !specificInformation.length && !specifications.length, in: !specificInformation.length && !specifications.length}">
						{% block rbsCatalogProductInformationTabsPanelReviewsContent %}
							<div data-rbs-review-reviews-details="" data-target-id="productData.common.id"
								data-ajax-data="reviewsAjaxData" data-ajax-params="reviewsAjaxParams"
								data-reviews-per-page="reviewsPerPage" data-scale="ratingScale"
								data-handle-votes="handleReviewVotes"></div>
						{% endblock rbsCatalogProductInformationTabsPanelReviewsContent %}
					</div>
					{% for information in commonInformation %}
						<div role="tabpanel" id="(= baseId =)-static-{{ loop.index }}" class="tab-pane fade richtext"
							{% if loop.index == 1 %} data-ng-class="{{ ngClassLastContents }}"{% endif %}>
							{% block rbsCatalogProductInformationTabsPanelCommonContent %}
								{{ information.currentLocalization.text|richText }}
							{% endblock rbsCatalogProductInformationTabsPanelCommonContent %}
						</div>
					{% endfor %}
				</div>
			</div>
		</script>
	{% endblock rbsCatalogProductInformationTabs %}

	{# Used parameters: commonInformation #}
	{% block rbsCatalogProductInformationAccordion %}
		<script type="text/ng-template" id="/rbsCatalogProductInformationAccordion.tpl">
			<div class="panel-group" id="(= baseId =)">
				<div class="panel" data-ng-repeat="information in specificInformation track by $index">
					<div class="panel-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#(= baseId =)"
							data-ng-href="#(= baseId =)-(= $index =)">
							{% block rbsCatalogProductInformationAccordionPanelAttributeTitle %}
								(= information.title =)
							{% endblock rbsCatalogProductInformationAccordionPanelAttributeTitle %}
						</a>
					</div>
					<div id="(= baseId =)-(= $index =)" class="panel-collapse collapse" data-ng-class="{in: $first}">
						<div class="panel-body richtext">
							{% block rbsCatalogProductInformationAccordionPanelAttributeContent %}
								<div data-rbs-catalog-attribute-value="" data-attribute="information"></div>
							{% endblock rbsCatalogProductInformationAccordionPanelAttributeContent %}
						</div>
					</div>
				</div>

				<div class="panel" data-ng-if="specifications.length">
					<div class="panel-heading">
						<a class="accordion-toggle" data-toggle="collapse"
							data-parent="#(= baseId =)" data-ng-href="#(= baseId =)-specifications">
							{% block rbsCatalogProductInformationAccordionPanelSpecificationsTitle %}
								{{ i18n('m.rbs.catalog.front.specifications', ['ucf']) }}
							{% endblock rbsCatalogProductInformationAccordionPanelSpecificationsTitle %}
						</a>
					</div>
					<div id="(= baseId =)-specifications" class="panel-collapse collapse">
						<div class="panel-body">
							{% block rbsCatalogProductInformationAccordionPanelSpecificationsContent %}
								<div data-ng-transclude=""></div>
							{% endblock rbsCatalogProductInformationAccordionPanelSpecificationsContent %}
						</div>
					</div>
				</div>

				<div class="panel" data-ng-if="handleReviews">
					<div class="panel-heading">
						<a class="accordion-toggle" data-toggle="collapse"
							data-parent="#(= baseId =)" data-ng-href="#(= baseId =)-reviews">
							{% block rbsCatalogProductInformationAccordionPanelReviewsTitle %}
								{{ i18n('m.rbs.catalog.front.customer_reviews', ['ucf']) }} ((= productData.reviews.count =))
							{% endblock rbsCatalogProductInformationAccordionPanelReviewsTitle %}
						</a>
					</div>
					<div id="(= baseId =)-reviews" class="panel-collapse collapse">
						<div class="panel-body">
							{% block rbsCatalogProductInformationAccordionPanelReviewsContent %}
								<div data-rbs-review-reviews-details="" data-target-id="productData.common.id"
									data-ajax-data="reviewsAjaxData" data-ajax-params="reviewsAjaxParams"
									data-reviews-per-page="reviewsPerPage" data-scale="ratingScale"
									data-handle-votes="handleReviewVotes"></div>
							{% endblock rbsCatalogProductInformationAccordionPanelReviewsContent %}
						</div>
					</div>
				</div>

				{% for information in commonInformation %}
					<div class="panel">
						<div class="panel-heading">
							<a class="accordion-toggle" data-toggle="collapse"
								data-parent="#(= baseId =)" data-ng-href="#(= baseId =)-common-{{ loop.index }}">
								{% block rbsCatalogProductInformationAccordionPanelCommonTitle %}
									{{ information.currentLocalization.title }}
								{% endblock rbsCatalogProductInformationAccordionPanelCommonTitle %}
							</a>
						</div>
						<div id="(= baseId =)-common-{{ loop.index }}" class="panel-collapse collapse">
							<div class="panel-body richtext">
								{% block rbsCatalogProductInformationAccordionPanelCommonContent %}
									{{ information.currentLocalization.text|richText }}
								{% endblock rbsCatalogProductInformationAccordionPanelCommonContent %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</script>
	{% endblock rbsCatalogProductInformationAccordion %}

	{# Used parameters: commonInformation #}
	{% block rbsCatalogProductInformationFlat %}
		<script type="text/ng-template" id="/rbsCatalogProductInformationFlat.tpl">
			<div data-ng-repeat="information in specificInformation track by $index">
				{% block rbsCatalogProductInformationFlatPanelAttribute %}
					<h2 id="(= baseId =)-(= $index =)" data-ng-bind="information.title"></h2>
					<div class="richtext" data-rbs-catalog-attribute-value="" data-attribute="information"></div>
				{% endblock rbsCatalogProductInformationFlatPanelAttribute %}
			</div>

			<div data-ng-if="specifications.length">
				{% block rbsCatalogProductInformationFlatPanelSpecifications %}
					<h2 id="(= baseId =)-specifications">{{ i18n('m.rbs.catalog.front.specifications', ['ucf']) }}</h2>
					<div data-ng-transclude=""></div>
				{% endblock rbsCatalogProductInformationFlatPanelSpecifications %}
			</div>

			<div data-ng-if="handleReviews">
				{% block rbsCatalogProductInformationFlatPanelReviews %}
					<h2 id="(= baseId =)-reviews">
						{{ i18n('m.rbs.catalog.front.customer_reviews', ['ucf']) }} ((= productData.reviews.count =))
					</h2>
					<div data-rbs-review-reviews-details="" data-target-id="productData.common.id"
						data-ajax-data="reviewsAjaxData" data-ajax-params="reviewsAjaxParams"
						data-reviews-per-page="reviewsPerPage" data-scale="ratingScale"
						data-handle-votes="handleReviewVotes"></div>
				{% endblock rbsCatalogProductInformationFlatPanelReviews %}
			</div>

			{% for information in commonInformation %}
				<div>
					{% block rbsCatalogProductInformationFlatPanelCommon %}
						<h2 id="(= baseId =)-common-{{ loop.index }}">{{ information.currentLocalization.title }}</h2>
						<div class="richtext">{{ information.currentLocalization.text|richText }}</div>
					{% endblock rbsCatalogProductInformationFlatPanelCommon %}
				</div>
			{% endfor %}
		</script>
	{% endblock rbsCatalogProductInformationFlat %}
{% endblock rbsCatalogProductInformation %}

{% block rbsCatalogProductSetItem %}
	{% block rbsCatalogProductSetItemVisual %}
		<script type="text/ng-template" id="/rbsCatalogProductSetItemVisual.tpl">
			<div class="text-center">
				<img data-ng-if="visuals.length" src="" data-ng-src="(= visuals[0].detail =)" alt="(= visuals[0].alt =)"
					class="img-responsive" />
				<div data-ng-if="!visuals.length" class="text-muted">
					<span class="glyphicon glyphicon-camera" style="font-size: 75px"></span>
				</div>
			</div>
		</script>
	{% endblock rbsCatalogProductSetItemVisual %}

	{% block rbsCatalogProductSetItemHeader %}
		<script type="text/ng-template" id="/rbsCatalogProductSetItemHeader.tpl">
			<h2>
				<a data-ng-if="url" href="javascript:" data-ng-href="(= url =)">(= rootProductData.common.title =)</a>
				<span data-ng-if="!url">(= rootProductData.common.title =)</span>
			</h2>
			{% spaceless %}
				<dl class="list-inline list-divided">
					<dt data-ng-if="productData.common.reference" class="sr-only">
						{{ i18n('m.rbs.catalog.front.reference', ['ucf']) }}
					</dt>
					<dd data-ng-if="productData.common.reference">(= productData.common.reference =)</dd>
					<dt data-ng-if="brand" class="sr-only">{{ i18n('m.rbs.catalog.front.brand', ['ucf']) }}</dt>
					<dd data-ng-if="brand">
						<a data-ng-if="brand.URL.canonical && brand.URL.publishedInWebsite" href="javascript:"
							data-ng-href="(= brand.URL.canonical =)">
							(= brand.title =)
						</a>
						<span data-ng-if="!brand.URL.canonical || !brand.URL.publishedInWebsite">(= brand.title =)</span>
					</dd>
				</dl>
			{% endspaceless %}
			<div data-rbs-catalog-product-price=""
				data-display-without-tax="(= parameters.displayPricesWithoutTax =)"
				data-display-with-tax="(= parameters.displayPricesWithTax =)">
			</div>
		</script>
	{% endblock rbsCatalogProductSetItemHeader %}

	{% block rbsCatalogProductSetItemSimple %}
		<script type="text/ng-template" id="/rbsCatalogProductSetItemSimple.tpl">
			<div class="row">
				<div class="col-sm-5">
					<div data-rbs-catalog-product-set-item-visual=""></div>
				</div>
				<div class="col-sm-7">
					<div data-rbs-catalog-product-set-item-header=""></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div data-rbs-catalog-add-set-item-product-to-cart="" data-product-data="productData"
						data-modal-id="addToCartConfirmationModal-{{ blockId }}"></div>
				</div>
			</div>
		</script>
	{% endblock rbsCatalogProductSetItemSimple %}

	{% block rbsCatalogProductSetItemVariant %}
		<script type="text/ng-template" id="/rbsCatalogProductSetItemVariant.tpl">
			<div class="row">
				<div class="col-sm-5">
					<div data-rbs-catalog-product-set-item-visual=""></div>
				</div>
				<div class="col-sm-7">
					<div data-rbs-catalog-product-set-item-header=""></div>

					<div data-rbs-catalog-variant-selector="" data-product-data="productData" data-ajax-data="productAjaxData"
						data-ajax-params="productAjaxParams">
					</div>
					<div data-ng-hide="productData.stock.sku" data-ng-cloak="" class="alert warning">
						{{ i18n('m.rbs.catalog.front.please_configure_axes', ['ucf']) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div data-rbs-catalog-add-set-item-product-to-cart="" data-product-data="productData"
						data-modal-id="addToCartConfirmationModal-{{ blockId }}"></div>
				</div>
			</div>
		</script>
	{% endblock rbsCatalogProductSetItemVariant %}
{% endblock rbsCatalogProductSetItem %}