<div class="modal fade" id="addToCartConfirmationModal-{{ blockId }}" tabindex="-1" role="dialog"
	aria-labelledby="addToCartConfirmationModalLabel-{{ blockId }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="addToCartConfirmationModalLabel-{{ blockId }}">
					{{ i18n('m.rbs.catalog.front.product_added_to_cart', ['ucf']) }}
				</h4>
			</div>
			<div class="modal-body" data-ng-hide="hideModalContent">
				<div class="modal-main-content"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">
					{{ i18n('m.rbs.catalog.front.continue_shopping', ['ucf']) }}</button>
				<a href="{{ functionURL('Rbs_Commerce_Cart') }}" class="btn btn-primary">
					<i class="glyphicon glyphicon-arrow-right"></i>
					{{ i18n('m.rbs.catalog.front.view_my_cart', ['ucf']) }}
				</a>
			</div>
		</div>
	</div>
</div>