{% block addToCart %}
<div class="modal fade" id="addToCartConfirmationModal-{{ blockId }}" tabindex="-1" role="dialog"
		aria-labelledby="addToCartConfirmationModalLabel-{{ blockId }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="addToCartConfirmationModalLabel-{{ blockId }}">
					{{ i18n('m.rbs.catalog.front.product_added_to_cart', ['ucf']) }}
				</h4>
			</div>
			<div class="modal-body" data-ng-hide="hideModalContent">
				<div class="modal-main-content"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">
					{{ i18n('m.rbs.catalog.front.continue_shopping', ['ucf']) }}</button>
				<a href="{{ functionURL('Rbs_Commerce_Cart') }}" class="btn btn-primary">
					<i class="glyphicon glyphicon-arrow-right"></i>
					{{ i18n('m.rbs.catalog.front.view_my_cart', ['ucf']) }}
				</a>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="/rbsCatalogAddListItemProductToCart.tpl">
	<button type="button" class="btn btn-primary btn-sm" data-ng-click="addLine()">
		<i class="glyphicon glyphicon-shopping-cart"></i>
		{{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
	</button>
</script>

<script type="text/ng-template" id="/rbsCatalogAddSimpleProductToCart.tpl">
	<div data-ng-show="productData.stock.sku">
		<div class="form-group">
			<label for="product-quantity-{{ blockId }}">{{ i18n('m.rbs.commerce.front.quantity', ['ucf']) }}</label>
			<input id="product-quantity-{{ blockId }}"
					class="form-control" type="number"
					data-ng-model="productData.cart.quantity"
					max="(= productData.cart.maxQuantity =)" min="(= productData.cart.minQuantity =)"
					step="(= productData.cart.quantityIncrement =)"/>
		</div>
		<button type="button" class="btn btn-primary btn-lg" data-ng-click="addLine()">
			<i class="glyphicon glyphicon-shopping-cart"></i>
			{{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
		</button>
	</div>
	<button data-ng-hide="productData.stock.sku" type="button" class="btn btn-primary btn-lg" disabled="disabled">
		{{ i18n('m.rbs.commerce.front.not_available', ['ucf']) }}
	</button>
</script>

<script type="text/ng-template" id="/rbsCatalogAddVariantProductToCart.tpl">
	<div data-ng-show="productData.stock.sku">
		<div class="form-group" data-ng-show="productData.cart.key">
			<label for="product-quantity-{{ blockId }}">{{ i18n('m.rbs.commerce.front.quantity', ['ucf']) }}</label>
			<input id="product-quantity-{{ blockId }}"
					class="form-control" type="number"
					data-ng-model="productData.cart.quantity"
					max="(= productData.cart.maxQuantity =)" min="(= productData.cart.minQuantity =)"
					step="(= productData.cart.quantityIncrement =)"/>
		</div>
		<button type="button" class="btn btn-primary btn-lg" data-ng-click="addLine()"
				data-ng-disabled="!productData.cart.key">
			<span data-ng-show="productData.cart.key">
				<i class="glyphicon glyphicon-shopping-cart"></i> {{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
			</span>
			<span data-ng-hide="productData.cart.key">{{ i18n('m.rbs.commerce.front.not_available', ['ucf']) }}</span>
		</button>
	</div>
</script>

<script type="text/ng-template" id="/rbsCatalogAddSetItemProductToCart.tpl">
	<div data-ng-show="productData.stock.sku">
		<button type="button" class="btn btn-primary btn-sm" data-ng-click="addLine()">
			<i class="glyphicon glyphicon-shopping-cart"></i>
			{{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
		</button>
	</div>
	<button data-ng-hide="productData.stock.sku" type="button" class="btn btn-primary btn-sm" disabled="disabled">
		{{ i18n('m.rbs.commerce.front.not_available', ['ucf']) }}
	</button>
</script>

{% endblock addToCart %}

{% block pictograms %}
<script type="text/ng-template" id="/rbsCatalogProductPictograms.tpl">
	<div data-ng-show="pictograms"  class="pictograms-container">
		{% spaceless %}
			<ul class="list-inline">
				<li data-ng-repeat="pictogramData in pictograms track by $index">
					<img alt="(= pictogramData.alt =)" data-ng-src="(= pictogramData[pictogramFormat] =)" />
				</li>
			</ul>
		{% endspaceless %}
	</div>
</script>
{% endblock pictograms %}

{% block attributes %}
<script type="text/ng-template" id="/rbsCatalogAttributeValue.tpl">
	<span data-ng-if="isArrayValue()">
		<span data-ng-repeat="item in attribute.value track by $index">
			<img data-ng-if="isImageValue(item)" data-ng-src="(= item.attribute =)" alt="(= item.alt =)" />
			<a data-ng-if="isLinkValue(item)" data-ng-href="(= item.URL.canonical =)" data-ng-bind="item.title"></a>
		</span>
	</span>
	<img data-ng-if="isImage()" data-ng-src="(= attribute.value.attribute =)" alt="(= attribute.value.alt =)" />
	<a data-ng-if="isLink()" data-ng-href="(= attribute.value.URL.canonical =)" data-ng-bind="attribute.value.title"></a>
	<div data-ng-if="isHtml()" data-ng-bind-html="trustHtml(attribute.value)"></div>
	<span data-ng-if="isDate()" data-ng-bind="attribute.value | rbsDate"></span>
	<span data-ng-if="isDateTime()" data-ng-bind="attribute.value | rbsDateTime"></span>
	<span data-ng-if="isString()" data-ng-bind="attribute.value"></span>
</script>

<script type="text/ng-template" id="/rbsCatalogAttributesTable.tpl">
	<table class="table table-striped table-bordered">
		<tbody>
		<tr data-ng-repeat="rowAttr in tableRows track by $index">
			<th colspan="2" data-ng-if="rowAttr.isSectionTitle">
				<span data-ng-show="rowAttr.section" data-ng-bind="rowAttr.section"></span>
				<span data-ng-hide="rowAttr.section">{{ i18n('m.rbs.catalog.front.main_attributes', ['ucf']) }}</span>
			</th>
			<td data-ng-if="!rowAttr.isSectionTitle" class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
				<span data-ng-bind="rowAttr.title"></span>
				<div class="small" data-ng-if="rowAttr.description" data-ng-bind-html="trustHtml(rowAttr.description)"></div>
			</td>
			<td data-ng-if="!rowAttr.isSectionTitle" class="col-xs-6 col-sm-7 col-md-8 col-lg-9"
					data-rbs-catalog-attribute-value="" data-attribute="rowAttr">
			</td>
		</tr>
		</tbody>
	</table>
</script>

<script type="text/ng-template" id="/rbsCatalogAttributesAccordion.tpl">
	<div class="panel-group" id="block-(= blockId =)-attribute-group-accordion">
		<div class="panel" data-ng-repeat="section in sections track by $index">
			<div class="panel-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#block-(= blockId =)-attribute-group-accordion"
					data-ng-href="#block-(= blockId =)-attribute-group-(= $index =)">
					<span data-ng-show="section" data-ng-bind="section"></span>
					<span data-ng-hide="section">{{ i18n('m.rbs.catalog.front.main_attributes', ['ucf']) }}</span>
				</a>
			</div>
			<div id="block-(= blockId =)-attribute-group-(= $index =)" class="panel-collapse collapse" data-ng-class="{in: $first}">
				<div class="panel-body">
					<dl class="dl-horizontal" data-ng-repeat="attribute in sectionsAttributes[section] track by $index">
						<dt>
							<span data-ng-bind="attribute.title"></span>
							<span class="small" data-ng-if="attribute.description"
								data-ng-bind-html="trustHtml(attribute.description)"></span>
						</dt>
						<dd data-rbs-catalog-attribute-value="" data-attribute="attribute"></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="/rbsCatalogAttributesFlat.tpl">
	<dl class="dl-horizontal">
		<dt  data-ng-repeat-start="attribute in flatRows track by $index">
			<span data-ng-bind="attribute.title"></span>
			<span class="small" data-ng-if="attribute.description" data-ng-bind-html="trustHtml(attribute.description)"></span>
		</dt>
		<dd data-ng-repeat-end="" data-rbs-catalog-attribute-value="" data-attribute="attribute"></dd>
	</dl>
</script>

<script type="text/ng-template" id="/rbsCatalogAttributesTabs.tpl">
	<ul id="block-(= blockId =)-attribute-group-tabs" class="nav nav-tabs">
		<li data-ng-repeat="section in sections track by $index" data-ng-class="{active: $first}">
			<a data-ng-href="#block-(= blockId =)-attribute-group-tab-(= $index =)" data-toggle="tab">
				<span data-ng-show="section" data-ng-bind="section"></span>
				<span data-ng-hide="section">{{ i18n('m.rbs.catalog.front.main_attributes', ['ucf']) }}</span>
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div data-ng-repeat="section in sections track by $index" id="block-(= blockId =)-attribute-group-tab-(= $index =)"
				class="tab-pane fade" data-ng-class="{active: $first, in: $first}">
			<dl class="dl-horizontal" data-ng-repeat="attribute in sectionsAttributes[section] track by $index">
				<dt>
					<span data-ng-bind="attribute.title"></span>
					<span class="small" data-ng-if="attribute.description"
						data-ng-bind-html="trustHtml(attribute.description)"></span>
				</dt>
				<dd data-rbs-catalog-attribute-value="" data-attribute="attribute"></dd>
			</dl>
		</div>
	</div>
</script>
{% endblock attributes %}

{% block stock %}
<script type="text/ng-template" id="/rbsCatalogProductAvailability.tpl">
	<div data-ng-show="productData.stock.thresholdTitle" class="alert availability text-center stock-(= productData.stock.threshold | lowercase =)"
			data-ng-class="{'alert-success': productData.stock.threshold == 'AVAILABLE', 'alert-danger': productData.stock.threshold == 'UNAVAILABLE'}">
		<h4 itemprop="availability" data-ng-bind="productData.stock.thresholdTitle"></h4>
	</div>
</script>
{% endblock stock %}

{% block price %}
<script type="text/ng-template" id="/rbsCatalogProductPrice.tpl">
	<div data-ng-show="productData.price.currencyCode && (displayWithoutTax || displayWithTax)">
		<meta itemprop="priceCurrency" content="(= productData.price.currencyCode =)" />
		<ul class="list-unstyled main-price">
			<li class="price" data-ng-show="displayWithoutTax && productData.price.valueWithoutTax">
				<span data-ng-if="productData.price.hasDifferentPrices">
					{{ i18n('m.rbs.catalog.front.from', ['ucf']) }}
				</span>
				<span data-ng-if="!(displayWithTax && productData.price.valueWithTax)" itemprop="price">
					(= productData.price.valueWithoutTax | rbsFormatPrice:productData.price.currencyCode =)
				</span>
				<span data-ng-if="displayWithTax && productData.price.valueWithTax">
					(= productData.price.valueWithoutTax | rbsFormatPrice:productData.price.currencyCode =)
				</span>
				<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">
					{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}
				</abbr>
				<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}" data-ng-show="productData.price.baseValueWithoutTax">
					(= productData.price.baseValueWithoutTax | rbsFormatPrice:productData.price.currencyCode =)
				</del>
			</li>
			<li class="price" data-ng-show="displayWithTax && productData.price.valueWithTax">
				<span data-ng-if="productData.price.hasDifferentPrices">
					{{ i18n('m.rbs.catalog.front.from', ['ucf']) }}
				</span>
				<span itemprop="price">(= productData.price.valueWithTax | rbsFormatPrice:productData.price.currencyCode =)</span>
				<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}" data-ng-show="productData.price.baseValueWithTax">
					(= productData.price.baseValueWithTax | rbsFormatPrice:productData.price.currencyCode =)
				</del>
			</li>
			<li class="small" data-ng-show="productData.price.ecoTax">
				{{ i18n('m.rbs.catalog.front.including', ['ucf']) }} {{ i18n('m.rbs.catalog.front.ecotax') }}
				(= productData.price.ecoTax | rbsFormatPrice:productData.price.currencyCode =)
			</li>
		</ul>
	</div>
</script>
{% endblock price %}

{% block variantSelector %}
	<script type="text/ng-template" id="/rbsCatalogVariantSelector.tpl">
		<div class="form-horizontal">
			<div class="form-group" data-ng-repeat="axis in rootProductData.variants.axes">
				<label for="selectedVariant_{{ blockId }}_(= $index =)" class="col-sm-4 col-md-3 control-label">
					(= axis.title =)
				</label>
				<div class="col-sm-8 col-md-9">
					<select id="selectedVariant_{{ blockId }}_(= $index =)" data-ng-show="axesItems[$index].length != 1"
						data-ng-cloak="" class="form-control" data-ng-model="selectedAxesValues[$index]"
						data-ng-options="axisItem.value as axisItem.title for axisItem in axesItems[$index]"
						data-rbs-catalog-axis-option-class="{'text-muted': lastAxis && !hasStock && !allowBackorders}"
						data-ng-change="variantChanged($index)" data-ng-disabled="$index > 0 && !selectedAxesValues[$index - 1]">
						<option value="">{{ i18n('m.rbs.admin.admin.select', ['ucf']) }}</option>
					</select>
					<div data-ng-show="axesItems[$index].length == 1" data-ng-cloak="" class="form-control-static">
						(= axesItems[$index][0].title =)
					</div>
				</div>
			</div>
		</div>
	</script>
{% endblock variantSelector %}
