<form name="form" data-ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<p class="text" data-ng-if="document.locked">{{ i18n('m.rbs.geo.documents.addressfield.locked-warning') }}</p>

		<rbs-field-text
				property="code" required="true" ng-disabled="document.locked"
				label="{{ i18nAttr(propertyKey('Rbs_Geo_AddressField', 'code'), ['ucf']) }}"
				input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-text property="title"
				label="{{ i18nAttr(propertyKey('Rbs_Geo_AddressField', 'title'), ['ucf']) }}"
				input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-boolean property="required"
				label="{{ i18nAttr(propertyKey('Rbs_Geo_AddressField', 'required'), ['ucf']) }}"
				input-class="input-block-level">
		</rbs-field-boolean>

		<rbs-field-text property="match"
				label="{{ i18nAttr(propertyKey('Rbs_Geo_AddressField', 'match'), ['ucf']) }}"
				input-class="input-block-level">
		</rbs-field-text>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Geo_AddressField', 'collectionCode'), ['ucf']) }}">
			<select data-ng-model="document.collectionCode" rbs-items-from-collection="Rbs_Collection_Collection_List">
				<option value=""> {{ i18n('m.rbs.geo.documents.addressfield.select-collectioncode', ['ucf']) }}</option>
			</select>
		</rbs-field>

	</fieldset>
	<form-button-bar></form-button-bar>
</form>