{% import 'Rbs_Event/macros.twig' as eventMacros %}
<article itemscope="" itemtype="http://schema.org/Event" class="news-details">
	<header>
		<meta itemprop="url" content="{{ docUrl }}" />
		<h2 itemprop="name"><a href="{{ docUrl }}">{{ doc.currentLocalization.title }}</a></h2>
		<p class="event-date">
			{% set showTime = parameters.showTime %}
			{% include 'Rbs_Event/event-dates.twig' %}
		</p>
	</header>

	{% if doc.listVisual %}<img itemprop="image" class="news-visual" src="{{ eventMacros.listThumbnailURL(doc.listVisual) }}" alt="" />{% endif %}

	{% if doc.currentLocalization.summary %}<div itemprop="description" class="news-summary">{{ doc.currentLocalization.summary|richText }}</div>{% endif %}

	{% if categories|length %}
		<footer>
			<dl class="list-inline list-divided">
				<dt>{{ i18n('m.rbs.event.front.categories', ['ucf']) }}</dt>
				{% for category in categories %}
					<dd><a href="{{ category.url }}">{{ category.doc.currentLocalization.title }}</a></dd>
				{% endfor %}
			</dl>
		</footer>
	{% endif %}
</article>