<div class="row">

	<rbs-workspace-config menu="Rbs_User">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_User'|rbsURL:'home' =)">{{ i18n('m.rbs.user.admin.module_name', ['ucf']) }}</location>
			<location href="(= 'Rbs_User_Group'|rbsURL:'list' =)">{{ i18n('m.rbs.user.admin.group_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<page-header title="{{ i18nAttr('m.rbs.user.admin.group_list', ['ucf']) }}"></page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_User_Group" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_User_Group' | rbsURL:'new' =)">{{ i18n('m.rbs.user.admin.group_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLGroup1" model="Rbs_User_Group" modification-date="false" filter-collection="filter">
			<quick-actions>
				[action default] ||
				<a href="(= doc | rbsURL : 'permission' =)">{{ i18nAttr('m.rbs.user.admin.permission') }}</a>
			</quick-actions>
			<column name="label" primary="true"></column>
			<column name="realm"></column>
		</rbs-document-list>
	</div>

</div>