<div>
	<div><strong>(= popupRelay.title =)</strong></div>
	<div>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#tabs-0">{{ i18n('m.rbs.storeshipping.front.schedule', ['ucf']) }}</a></li>
			<li><a data-toggle="tab" href="#tabs-1">{{ i18n('m.rbs.storeshipping.front.picture', ['ucf']) }}</a></li>
			<li><a data-toggle="tab" href="#tabs-2">{{ i18n('m.rbs.storeshipping.front.info', ['ucf']) }}</a></li>
		</ul>
		<div class="tab-content">
			<div id="tabs-0" class="tab-pane active">
				<table class="table table-striped table-condensed text-center no-bottom-margin">
					<tr data-ng-repeat="timeSlot in popupRelay.options.timeSlot">
						<th>(= timeSlot.dayName =)</th>
						<td data-ng-show="timeSlot.schedule.length == 0" colspan="2">{{ i18n('m.rbs.storeshipping.front.closed', ['ucf']) }}</td>
						<td data-ng-show="timeSlot.schedule.length == 1" colspan="2">(= timeSlot.schedule[0][0] =)-(= timeSlot.schedule[0][1] =)</td>
						<td data-ng-show="timeSlot.schedule.length > 1 && timeSlot.schedule[0]">(= timeSlot.schedule[0][0] =)-(= timeSlot.schedule[0][1] =)</td>
						<td data-ng-show="timeSlot.schedule.length > 1 && !timeSlot.schedule[0]">{{ i18n('m.rbs.storeshipping.front.closed', ['ucf']) }}</td>
						<td data-ng-show="timeSlot.schedule.length > 1 && timeSlot.schedule[1]">(= timeSlot.schedule[1][0] =)-(= timeSlot.schedule[1][1] =)</td>
						<td data-ng-show="timeSlot.schedule.length > 1 && !timeSlot.schedule[1]">{{ i18n('m.rbs.storeshipping.front.closed', ['ucf']) }}</td>
					</tr>
				</table>
			</div>
			<div id="tabs-1" class="tab-pane"><img src="" data-ng-src="(= popupRelay.options.pictureUrl =)" width="182px" style="max-height: 182px"/></div>
			<div id="tabs-2" class="tab-pane">
				<p data-ng-show="popupRelay.options.distance">{{ i18n('m.rbs.storeshipping.front.distance', ['ucf', 'lab']) }} (= popupRelay.options.distance =)
					<span data-ng-show="popupRelay.options.distanceUnit == 'm'">{{ i18n('m.rbs.storeshipping.front.distance_m', ['ucf']) }}</span>
					<span data-ng-show="popupRelay.options.distanceUnit == 'km'">{{ i18n('m.rbs.storeshipping.front.distance_km', ['ucf']) }}</span></p>
				<p data-ng-show="popupRelay.options.description" data-ng-bind-html="trustHtml(popupRelay.options.description)"></p>
			</div>
		</div>
	</div>
</div>