<div data-rbs-catalog-product-pictograms="" data-pictogram-format="'pictogram'" data-pictograms="pictograms" class="pull-right">
</div>

<meta itemprop="url" content="{{ productData.common.URL['canonical'] }}" />
<h1 itemprop="name">{{ productData.common.title }}</h1>
{% spaceless %}
	{% if productData.stock.sku %}<meta itemprop="sku" content="{{ productData.stock.sku }}" />{% endif %}
	<dl class="list-inline list-divided">
		{% if (productData.common.reference) %}
		<dt>{{ i18n('m.rbs.catalog.front.reference', ['ucf']) }}</dt>
		<dd>{{ productData.common.reference }}</dd>
		{% endif %}
		{% set brandAttribute = getAttributeByName(productData, 'brand') %}
		{% if brandAttribute.value %}
		<dt>{{ i18n('m.rbs.catalog.front.brand', ['ucf']) }}</dt>
		<dd>
			<a itemprop="brand" href="{{ brandAttribute.value.URL.canonical }}">{{ brandAttribute.value.title }}</a>
		</dd>
		{% endif %}
	</dl>
{% endspaceless %}