<meta itemprop="url" content="{{ canonicalUrl }}" />
<h1 itemprop="name">{{ product.currentLocalization.title }}</h1>
{% spaceless %}
	{% if product.sku %}<meta itemprop="sku" content="{{ product.sku.code }}" />{% endif %}
	<dl class="list-inline list-divided">
		{% if (product.code) %}
		<dt>{{ i18n('m.rbs.catalog.front.reference', ['ucf']) }}</dt>
		<dd>{{ product.code }}</dd>
		{% endif %}
		{% if product.brand %}
		<dt>{{ i18n('m.rbs.catalog.front.brand', ['ucf']) }}</dt>
		<dd><a itemprop="brand" href="{{ canonicalURL(product.brand) }}">{{ product.brand.currentLocalization.title }}</a></dd>
		{% endif %}
	</dl>
{% endspaceless %}