{% if parameters.webStoreId %}
	<script type="text/ng-template" id="/addLineToCart.tpl">
		<div class="form-group" data-ng-show="stockLevel > 0 && canBeOrdered">
			<label for="product-quantity">{{ i18n('m.rbs.commerce.front.quantity', ['ucf']) }}</label>
			<input class="form-control" type="number" data-ng-model="quantity" id="product-quantity" name="quantity"
					max="{{ productPresentation.stock.maxQuantity }}"
					min="{{ productPresentation.stock.minQuantity }}"
					step="{{ productPresentation.stock.quantityIncrement }}" />
		</div>

		<button name="key" type="button" class="btn btn-primary btn-lg" data-ng-click="addLine()" data-ng-disabled="!canBeOrdered">
			<span data-ng-show="canBeOrdered"><i class="glyphicon glyphicon-shopping-cart"></i> {{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}</span>
			<span data-ng-hide="canBeOrdered">{{ i18n('m.rbs.commerce.front.not_available', ['ucf']) }}</span>
		</button>

	</script>

	<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
		{% block availability %}
			{% if productPresentation.stock.thresholdTitle %}
				<div class="alert availability text-center {{ productPresentation.stock.thresholdClass }}">
					<h4 itemprop="availability">{{ productPresentation.stock.thresholdTitle }}</h4>
				</div>
			{% endif %}
		{% endblock %}

		{% block prices %}
			{% if productPresentation.priceValue and (parameters.displayPrices or parameters.displayPricesWithTax) %}
				<ul class="list-unstyled main-price">
					{% if parameters.displayPrices %}
						<li class="price">
							{{ formatPrice(productPresentation.priceValue) }}
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}</abbr>
							{% if productPresentation.priceValueWithoutDiscount %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{ formatPrice(productPresentation.priceValueWithoutDiscount) }}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if parameters.displayPricesWithTax %}
						<li class="price">
							<meta itemprop="priceCurrency" content="EUR" />
							<span itemprop="price">{{ formatPrice(productPresentation.priceValueWithTax) }}</span>
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.with_tax') }}">{{ i18n('m.rbs.catalog.front.with_tax_abbr') }}</abbr>
							{% if productPresentation.priceValueWithoutDiscountWithTax %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{ formatPrice(productPresentation.priceValueWithoutDiscountWithTax) }}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if productPresentation.ecoTaxValue %}
						<li class="small">
							{{ i18n('m.rbs.catalog.front.including', ['ucf']) }} {{ i18n('m.rbs.catalog.front.ecotax') }} {{ formatPrice(productPresentation.ecoTaxValue) }}
						</li>
					{% endif %}
				</ul>
			{% endif %}
		{% endblock %}

		<form action="{{ ajaxURL('Rbs_Commerce', 'AddLineToCart') }}" method="POST" >
			<input type="hidden" name="redirectLocation" value="{{ currentURL() }}">
			<fieldset>
				<div rbs-catalog-product-data="" data-ng-model="productConfig"
						data-key="{{ parameters.productId }}" data-product-id="{{ parameters.productId }}"
						data-sku="{{ productPresentation.codeSKU }}"
						data-price="{{ productPresentation.priceValue }}"
						data-redirect-url="{{ parameters.redirectUrl }}"
						data-designation="{{ productPresentation.designation }}"
						data-stock-level ="{{ productPresentation.stock.level }}"
						data-stock-min ="{{ productPresentation.stock.minQuantity }}"
						data-stock-max ="{{ productPresentation.stock.maxQuantity }}"
						data-stock-step ="{{ productPresentation.stock.quantityIncrement }}" ></div>
			</fieldset>
		</form>
	</div>
{% endif %}