{% if parameters.webStoreId %}
	<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
		{% block availability %}
			{% if productPresentation.stock.thresholdTitle %}
				<div class="alert availability text-center {{ productPresentation.stock.thresholdClass }}">
					<h4 itemprop="availability">{{ productPresentation.stock.thresholdTitle }}</h4>
				</div>
			{% endif %}
		{% endblock %}

		{% block prices %}
			{% if productPresentation.prices.price and (parameters.displayPrices or parameters.displayPricesWithTax) %}
				{% if productPresentation.prices.currencyCode %}<meta itemprop="priceCurrency" content="{{ productPresentation.prices.currencyCode }}" />{% endif %}
				<ul class="list-unstyled main-price">
					{% if parameters.displayPrices %}
						<li class="price">
							{% if not (parameters.displayPricesWithTax and prices.priceWithTax) %}
								<span itemprop="price">{{ formatPrice(productPresentation.prices.price) }}</span>
							{% else %}
								{{ formatPrice(productPresentation.prices.price) }}
							{% endif %}
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}</abbr>
							{% if productPresentation.prices.priceWithoutDiscount %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{ formatPrice(productPresentation.prices.priceWithoutDiscount) }}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if parameters.displayPricesWithTax %}
						<li class="price">
							<span itemprop="price">{{ formatPrice(productPresentation.prices.priceWithTax) }}</span>
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.with_tax') }}">{{ i18n('m.rbs.catalog.front.with_tax_abbr') }}</abbr>
							{% if productPresentation.prices.priceWithoutDiscountWithTax %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{ formatPrice(productPresentation.prices.priceWithoutDiscountWithTax) }}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if productPresentation.prices.ecoTax %}
						<li class="small">
							{{ i18n('m.rbs.catalog.front.including', ['ucf']) }} {{ i18n('m.rbs.catalog.front.ecotax') }} {{ formatPrice(productPresentation.prices.ecoTax) }}
						</li>
					{% endif %}
				</ul>
			{% endif %}
		{% endblock %}

		<form action="{{ ajaxURL('Rbs_Commerce', 'AddLineToCart') }}" method="POST" >
			<input type="hidden" name="redirectLocation" value="{{ functionURL('Rbs_Commerce_Cart') }}" />
			<input type="hidden" name="errorLocation" value="{{ currentURL() }}" />
			<fieldset>
				{% if productPresentation.general.hasOwnSku %}
					{% if productPresentation.general.canBeOrdered %}
						<input type="hidden" name="key" value="{{ productPresentation.general.id }}">
						<input type="hidden" name="designation" value="{{ productPresentation.general.title }}">
						<input type="hidden" name="options[productId]" value="{{ productPresentation.general.id }}">
						<input type="hidden" name="items[][codeSKU]" value="{{ productPresentation.stock.sku }}">
						<div class="form-group">
							<label for="product-quantity">{{ i18n('m.rbs.commerce.front.quantity', ['ucf']) }}</label>
							<input class="form-control" type="number" id="product-quantity" name="quantity"
								value="{{ productPresentation.stock.minQuantity }}"
								max="{{ productPresentation.stock.maxQuantity }}"
								min="{{ productPresentation.stock.minQuantity }}"
								step="{{ productPresentation.stock.quantityIncrement }}" />
						</div>
					{% endif %}

					<button type="submit" class="btn btn-primary btn-lg" {% if not productPresentation.general.canBeOrdered %} disabled="true" {% endif %}>
						{% if productPresentation.general.canBeOrdered %}
							<i class="glyphicon glyphicon-shopping-cart"></i> {{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
						{% else %}
							{{ i18n('m.rbs.commerce.front.not_available', ['ucf']) }}
						{% endif %}
					</button>
				{% endif %}
			</fieldset>
		</form>
	</div>
{% endif %}