{% if parameters.webStoreId %}
	<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
		{% set rootProduct = productData.rootProduct | default(productData) %}
		{% block variants %}
			<div class="form-group">
				{% for axis in rootProduct.variants.axes %}
					{% set i = loop.index0 %}
					<label for="selectedVariant_{{ blockId }}_{{ i }}">{{ axis.title }}</label>
					<select id="selectedVariant_{{ blockId }}_{{ i }}" data-ng-show="axesItems[{{ i }}].length != 1" data-ng-cloak=""
							class="form-control" data-ng-model="selectedAxesValues[{{ i }}]"
						data-ng-options="axisItem.value as axisItem.title for axisItem in axesItems[{{ i }}]" data-ng-change="variantChanged({{ i }})"
						data-rbs-catalog-axis-option-class="{'text-muted': lastAxis && !hasStock && !allowBackorders}"
						{% if i > 0 %}data-ng-disabled="!selectedAxesValues[{{ i - 1}}]"{% endif %}>
						<option value="">{{ i18n('m.rbs.admin.admin.select', ['ucf']) }}</option>
					</select>
					<div data-ng-show="axesItems[{{ i }}].length == 1" data-ng-cloak="" class="form-control-static">(= axesItems[{{ i }}][0].title =)</div>
				{% endfor %}
			</div>

			<div data-ng-hide="productData.stock.sku" data-ng-cloak="" class="alert warning">{{ i18n('m.rbs.catalog.front.please_configure_axes', ['ucf']) }}</div>
		{% endblock%}

		{% block availability %}
			<div data-ng-show="productData.stock.sku" data-rbs-catalog-product-availability=""></div>
		{% endblock %}

		{% block prices %}
			<div data-rbs-catalog-product-price=""
				data-display-without-tax="{{ parameters.displayPricesWithoutTax }}"
				data-display-with-tax="{{ parameters.displayPricesWithTax }}">
			</div>
		{% endblock %}

		{% block addToCart %}
			<div data-rbs-catalog-add-variant-product-to-cart="" data-modal-id="addToCartConfirmationModal-{{ blockId }}"></div>
		{% endblock %}
	</div>
{% endif %}