<script type="text/javascript">
	script{{ blockId }}.offer = {
		webStoreId: {{ parameters.webStoreId }},
		cartURL: "{{ functionURL('Rbs_Commerce_Cart') }}",
		addProduct: function(button) {
			var url = button.form.action;
			var key = button.value;
			var sku = button.getAttribute('data-sku');
			var designation = button.getAttribute('data-designation');
			var cartURL = this.cartURL;
			var webStoreId = this.webStoreId;
			var quantity =  button.form.elements.namedItem("quantity").value;

			jQuery.ajax({
				type: "POST",
				url: url,
				data: {key: key, designation: designation, quantity: quantity, items: [{codeSKU: sku}] },
				dataType: 'json',
				success: function(data, textStatus, jqXHR) {
					window.location.href = cartURL;
				},
				error: function(jqXHR, textStatus, errorThrown ) {
					console.log(JSON.parse(jqXHR.responseText), textStatus, errorThrown);
				}
			})
		}
	}
</script>

{% if parameters.webStoreId %}
	<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
		{% block availability %}
			{% if productPresentation.stock.thresholdTitle %}
				<div class="alert availability text-center {{ productPresentation.stock.thresholdClass }}">
					<h4 itemprop="availability">{{ productPresentation.stock.thresholdTitle }}</h4>
				</div>
			{% endif %}
		{% endblock %}

		{% block prices %}
			{% if productPresentation.priceValue and (parameters.displayPrices or parameters.displayPricesWithTax) %}
				<ul class="list-unstyled main-price">
					{% if parameters.displayPrices %}
						<li class="price">
							{{ formatPrice(productPresentation.priceValue) }}
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}</abbr>
							{% if productPresentation.priceValueWithoutDiscount %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{ formatPrice(productPresentation.priceValueWithoutDiscount) }}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if parameters.displayPricesWithTax %}
						<li class="price">
							<meta itemprop="priceCurrency" content="EUR" />
							<span itemprop="price">{{ formatPrice(productPresentation.priceValueWithTax) }}</span>
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.with_tax') }}">{{ i18n('m.rbs.catalog.front.with_tax_abbr') }}</abbr>
							{% if productPresentation.priceValueWithoutDiscountWithTax %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{ formatPrice(productPresentation.priceValueWithoutDiscountWithTax) }}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if productPresentation.ecoTaxValue %}
						<li class="small">
							{{ i18n('m.rbs.catalog.front.including', ['ucf']) }} {{ i18n('m.rbs.catalog.front.ecotax') }} {{ formatPrice(productPresentation.ecoTaxValue) }}
						</li>
					{% endif %}
				</ul>
			{% endif %}
		{% endblock %}

		<form action="{{ ajaxURL('Rbs_Commerce', 'AddLineToCart') }}" method="POST" id="{{ blockId }}_add_form">
		<fieldset>
			<input type="hidden" name="redirectLocation" value="{{ currentURL() }}">
			{% if productPresentation.stock.level %}
				<div class="form-group">
					<label for="product-quantity">Quantité</label>
					<input class="form-control" name="quantity" value="1" type="number"
							min="{{ productPresentation.stock.minQuantity }}"
							max="{{ productPresentation.stock.maxQuantity }}"
							step="{{ productPresentation.stock.quantityIncrement }}"/>
				</div>
				<button name="key" type="button" class="btn btn-primary btn-lg" value="{{ parameters.productId }}"
					data-sku="{{ productPresentation.codeSKU }}"
					data-designation="{{ productPresentation.designation }}"
					onclick="script{{ blockId }}.offer.addProduct(this)">
					<i class="glyphicon glyphicon-shopping-cart"></i> {{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
				</button>
			{% else %}
				<button name="key" type="button" class="btn btn-primary btn-lg btn-disabled"
						value="{{ parameters.productId }}" disabled="disabled">
					<i class="glyphicon glyphicon-shopping-cart"></i> {{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
				</button>
			{% endif %}
		</fieldset>
		</form>
	</div>
{% endif %}

<!-- TODO: handle favorites and comparisons -->
<!--<ul class="list-unstyled">
	<li>
		<a href="#TODO:AddToFavorites">Ajouter aux favoris</a>
	</li>
	<li>
		<a href="#TODO:AddToComparisons">Ajouter aux comparaisons</a>
	</li>
</ul>-->