{% if parameters.webStoreId %}
	<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
		{% block availability %}
			{% if productData.stock.thresholdTitle %}
				{% set threshold = productData.stock.threshold %}
				<div class="alert availability text-center stock-{{ threshold|lower }}{% if threshold == 'AVAILABLE' %} alert-success{% elseif threshold == 'UNAVAILABLE' %} alert-danger{% endif %}" >
					<h4 itemprop="availability">{{ productData.stock.thresholdTitle }}</h4>
				</div>
			{% endif %}
		{% endblock %}

		{% block prices %}
			{% set currencyCode = productData.price.currencyCode %}
			{% if productData.price and (parameters.displayPricesWithoutTax or productData.price.valueWithTax) %}
				{% if currencyCode %}<meta itemprop="priceCurrency" content="{{ currencyCode }}" />{% endif %}
				<ul class="list-unstyled main-price">
					{% if parameters.displayPricesWithoutTax and productData.price.valueWithoutTax %}
						<li class="price">
							{% if not (parameters.displayPricesWithTax and productData.price.valueWithTax) %}
								<span itemprop="price">{{ formatPrice(productData.price.valueWithoutTax, currencyCode) }}</span>
							{% else %}
								{{ formatPrice(productData.price.valueWithoutTax, currencyCode) }}
							{% endif %}
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}</abbr>
							{% if productData.price.baseValueWithoutTax %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{ formatPrice(productData.price.baseValueWithoutTax, currencyCode) }}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if parameters.displayPricesWithTax and productData.price.valueWithTax %}
						<li class="price">
							<span itemprop="price">{{ formatPrice(productData.price.valueWithTax, currencyCode) }}</span>
							{% if productData.price.baseValueWithTax %}
								<del title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
									{{ formatPrice(productData.price.baseValueWithTax, currencyCode) }}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if productData.price.ecoTax %}
						<li class="small">
							{{ i18n('m.rbs.catalog.front.including', ['ucf']) }} {{ i18n('m.rbs.catalog.front.ecotax') }} {{ formatPrice(productData.price.ecoTax, currencyCode) }}
						</li>
					{% endif %}
				</ul>
			{% endif %}
		{% endblock %}

		{% block addToCart %}
			{% if productData.stock.sku %}
				<div data-rbs-catalog-add-simple-product-to-cart="" data-modal-id="addToCartConfirmationModal-{{ blockId }}"></div>
			{% endif %}
		{% endblock %}
	</div>
{% endif %}