<script type="text/javascript">
	script{{ blockId }}.offer = {
		webStoreId: {{ parameters.webStoreId }},
		cartURL: "{{ functionURL('Rbs_Commerce_Cart') }}",
		addProduct: function(button) {
			var url = button.form.action;
			var productId = button.value;
			var cartURL = this.cartURL;
			var webStoreId = this.webStoreId;
			var quantity =  button.form.elements.namedItem("quantity").value;

			jQuery.ajax({
				type: "POST",
				url: url,
				data: {product: productId, quantity: quantity, options: {webStoreId: webStoreId} },
				dataType: 'json',
				success: function(data, textStatus, jqXHR) {
					window.location.href = cartURL;
				},
				error: function(jqXHR, textStatus, errorThrown ) {
					console.log(JSON.parse(jqXHR.responseText), textStatus, errorThrown);
				}
			})
		}
	}
</script>

{% if parameters.webStoreId %}
	<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" ng-controller="RbsVariantList"
		ng-init="variantGroupId = '{{ product.getVariantGroup.getId }}'; axesValues = {{ axesValues }}; axesCount='{{ axesCount }}'; axesNames = {{ axesNames }}"
		ng-cloak>
		{% block variants %}
			<div>
				{% for i in 0..axesCount %}
					{% if (not loop.last) %}
					<label for="selectedVariant{{ i }}"	>(= variantNames{{ i }} =)</label>
					<select id="selectedVariant{{ i }}" ng-model="selectedVariant{{ i }}" ng-options="var.id as var.axisValue for var in variants{{ i }}"
						ng-change="variantChanged(selectedVariant{{ i }}, {{ i+1 }});" class="form-control">
						<option value="">(= variantNames{{ i }} =)</option>
					</select>
					{% endif %}
				{% endfor %}
			</div>
		{% endblock%}

		{% block availability %}
				<div ng-if="productPresentation.stock.thresholdTitle" class="alert availability text-center (= productPresentation.stock.thresholdClass =)">
					<h4 itemprop="availability">(= productPresentation.stock.thresholdTitle =)</h4>
				</div>
		{% endblock %}

		{% block prices %}
			{% if (parameters.displayPrices or parameters.displayPricesWithTax) %}
				<ul ng-if="productPresentation.prices.price" class="list-unstyled main-price">
					{% if parameters.displayPrices %}
						<li class="price">
							(= productPresentation.formattedPrices.price =)
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}</abbr>
							<del ng-if="productPresentation.prices.priceWithoutDiscount" title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
								(= productPresentation.formattedPrices.priceWithoutDiscount =)
							</del>
						</li>
					{% endif %}
					{% if parameters.displayPricesWithTax %}
						<li class="price" ng-if="productPresentation.prices.priceWithTax">
							<meta itemprop="priceCurrency" content="EUR" />
							<span itemprop="price">(= formatPrice(productPresentation.prices.priceWithTax) =)</span>
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.with_tax') }}">{{ i18n('m.rbs.catalog.front.with_tax_abbr') }}</abbr>
							<del ng-if="productPresentation.prices.priceWithoutDiscountWithTax" title="{{ i18nAttr('m.rbs.catalog.front.old_price') }}">
								(= formatPrice(productPresentation.prices.priceWithoutDiscountWithTax) =)
							</del>
						</li>
					{% endif %}
					<li class="small" ng-if="productPresentation.prices.ecoTax">
						{{ i18n('m.rbs.catalog.front.including', ['ucf']) }} {{ i18n('m.rbs.catalog.front.ecotax') }} {{ formatPrice(productPresentation.ecoTaxValue) }}
					</li>
				</ul>
			{% endif %}
		{% endblock %}

		<form action="{{ ajaxURL('Rbs_Commerce', 'AddLineToCart') }}" method="POST" id="{{ blockId }}_add_form">
		<fieldset>
			<div ng-if="canBeAddedToCart">
				<input type="hidden" name="redirectLocation" value="{{ currentURL() }}">
				<div class="form-group">
					<label for="product-quantity">Quantité</label>
					<input class="form-control" name="quantity" value="1" type="number" min="(= productPresentation.stock.minQuantity =)" max="(= productPresentation.stock.maxQuantity =)" step="(= productPresentation.stock.quantityIncrement =)"/>
				</div>
				<button name="key" type="button" class="btn btn-primary btn-lg" value="(= currentProductId =)"
					onclick="script{{ blockId }}.offer.addProduct(this)">
					<i class="glyphicon glyphicon-shopping-cart"></i> {{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
				</button>
			</div>
		</fieldset>
		</form>

	</div>
{% endif %}