<script type="text/javascript">
	script{{ blockId }}.offer = {
		webStoreId: {{ parameters.webStoreId }},
		cartURL: "{{ functionURL('Rbs_Commerce_Cart') }}",
		addProduct: function(button) {
			var url = button.form.action;
			var productId = button.value;
			var cartURL = this.cartURL;
			var webStoreId = this.webStoreId;
			var quantity =  button.form.elements.namedItem("quantity").value;

			jQuery.ajax({
				type: "POST",
				url: url,
				data: {product: productId, quantity: quantity, options: {webStoreId: webStoreId} },
				dataType: 'json',
				success: function(data, textStatus, jqXHR) {
					window.location.href = cartURL;
				},
				error: function(jqXHR, textStatus, errorThrown ) {
					console.log(JSON.parse(jqXHR.responseText), textStatus, errorThrown);
				}
			})
		}
	}
</script>

<!-- TODO: handle variants -->
<!--<form method="post" action="http://site36.intportgchange.fr/fr/catalog/classic-1989,13450.html">
	<fieldset>
		<div class="form-group">
			<label for="variant-selector-">Déclinaisons</label>
			<select class="form-control" id="variant-selector-" name="catalogParam[variantId]" onchange="jQuery(this).parents('form').get(0).submit();">
				<option value="13450" selected="selected">Game boy classic (1989)</option>
				<option value="13453">Game boy pocket (1996)</option>
				<option value="13456">Game boy transparente (1998)</option>
			</select>
		</div>
		<input name="productId" value="13450" type="hidden" />
		<button type="submit" class="btn btn-primary btn-sm nojs">Recharger</button>
	</fieldset>
</form>-->

{% if parameters.webStoreId %}
	<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
		{% block availability %}
			{% if productPresentation.stock.thresholdTitle %}
				<div class="alert availability text-center {{ productPresentation.stock.thresholdClass }}">
					<h4 itemprop="availability">{{ productPresentation.stock.thresholdTitle }}</h4>
				</div>
				<!-- TODO: handle stock levels and delivery delay -->
				<!--<div class="alert alert-success availability text-center">
					<h4 itemprop="availability">En stock</h4>
					<p itemprop="deliveryLeadTime">Expédié sous 48 heures</p>
				</div>
				<div class="alert alert-danger availability text-center">
					<h4 itemprop="availability">En rupture</h4>
				</div>-->
			{% endif %}
		{% endblock %}

		{% block prices %}
			{% if productPresentation.priceValue and (parameters.displayPrices or parameters.displayPricesWithTax) %}
				<ul class="list-unstyled main-price">
					{% if parameters.displayPrices %}
						<li class="price">
							{{ formatPrice(productPresentation.priceValue) }}
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.fo.without-tax') }}">{{ i18n('m.rbs.catalog.fo.without-tax-abbr') }}</abbr>
							{% if productPresentation.priceValueWithoutDiscount %}
								<del title="{{ i18nAttr('m.rbs.catalog.fo.old-price') }}">
									{{ formatPrice(productPresentation.priceValueWithoutDiscount) }}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if parameters.displayPricesWithTax %}
						<li class="price">
							<meta itemprop="priceCurrency" content="EUR" />
							<span itemprop="price">{{ formatPrice(productPresentation.priceValueWithTax) }}</span>
							<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.fo.with-tax') }}">{{ i18n('m.rbs.catalog.fo.with-tax-abbr') }}</abbr>
							{% if productPresentation.priceValueWithoutDiscountWithTax %}
								<del title="{{ i18nAttr('m.rbs.catalog.fo.old-price') }}">
									{{ formatPrice(productPresentation.priceValueWithoutDiscountWithTax) }}
								</del>
							{% endif %}
						</li>
					{% endif %}
					{% if productPresentation.ecoTaxValue %}
						<li class="small">
							{{ i18n('m.rbs.catalog.fo.including', ['ucf']) }} {{ i18n('m.rbs.catalog.fo.ecotax') }} {{ formatPrice(productPresentation.ecoTaxValue) }}
						</li>
					{% endif %}
				</ul>
			{% endif %}
		{% endblock %}

		<form action="{{ ajaxURL('Rbs_Commerce', 'AddProductToCart') }}" method="POST" id="{{ blockId }}_add_form">
		<fieldset>
			<input type="hidden" name="redirectLocation" value="{{ currentURL() }}">
			<input type="hidden" name="options[webStoreId]" value="{{ parameters.webStoreId }}">
			{% if productPresentation.getStock.level %}
				<div class="form-group">
					<label for="product-quantity">Quantité</label>
					<input class="form-control" name="quantity" value="1" type="number" min="1" max="{{ productPresentation.getStock.level }}"/>
				</div>
				<button name="product" type="button" class="btn btn-primary btn-lg" value="{{ parameters.productId }}"
					onclick="script{{ blockId }}.offer.addProduct(this)">
					<i class="glyphicon glyphicon-shopping-cart"></i> {{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
				</button>
			{% else %}
				<button name="product" type="button" class="btn btn-primary btn-lg btn-disabled" value="{{ parameters.productId }}"
					onclick="script{{ blockId }}.offer.addProduct(this)" disabled>
					<i class="glyphicon glyphicon-shopping-cart"></i> {{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
				</button>
			{% endif %}
		</fieldset>
		</form>

	</div>
{% endif %}

<!-- TODO: handle favorites and comparisons -->
<!--<ul class="list-unstyled">
	<li>
		<a href="#TODO:AddToFavorites">Ajouter aux favoris</a>
	</li>
	<li>
		<a href="#TODO:AddToComparisons">Ajouter aux comparaisons</a>
	</li>
</ul>-->