<div data-rbs-catalog-product-visuals="" data-visuals="visuals" data-visual-formats="['detail', 'detailThumbnail']" data-full-base-id="full-visual-{{ blockId }}-">
	<div data-ng-show="visuals" class="visuals" id="visuals-{{ blockId }}">
		<ul class="list-unstyled full-visuals">
			<li data-ng-repeat="visual in visuals track by $index" id="full-visual-{{ blockId }}-(= $index =)">
				{% if parameters.activateZoom -%}
				<a data-ng-href="(= visual.original =)" data-ng-mouseover="startZoom($event)">
					{%- endif -%}
					<img itemprop="image" data-ng-src="(= visual.detail =)" alt="(= visual.alt =)" />
					{%- if parameters.activateZoom -%}
				</a>
				{%- endif %}
			</li>
		</ul>
		<ul data-ng-if="visuals.length > 1" class="list-inline thumbnail-visuals">
			<li data-ng-repeat="visual in visuals track by $index" class="thumbnail" id="thumbnail-visual-{{ blockId }}-(= $index =)"
					title="{{ i18nAttr('m.rbs.catalog.front.click_to_show_image', ['ucf']) }}">
				<img data-ng-src="(= visual.detailThumbnail =)" alt="(= visual.alt =)" data-index="(= $index =)"
						data-ng-click="showVisual($event)" />
			</li>
		</ul>
	</div>
	<div data-ng-show="!visuals" class="text-center text-muted">
		<span class="glyphicon glyphicon-camera" style="font-size: 200px"></span><br />
		<span>{{ i18n('m.rbs.catalog.front.no_visual', ['ucf']) }}</span>
	</div>
</div>