{% block rbsOrderOrderDetailUse %}
	{% use 'Rbs_Order/order-templates.twig' %}
{% endblock rbsOrderOrderDetailUse %}

{% if fullListPage and pagination.pageCount > 1 %}
	<p class="pull-right">
		<a href="{{ canonicalURL(fullListPage) }}">
			{{ i18n('m.rbs.order.front.view_all_' ~ parameters.processingStatus ~ '_orders', ['ucf']) }}
		</a>
	</p>
{% endif %}
<h2>
	{{ i18n('m.rbs.order.front.' ~ parameters.processingStatus ~ '_orders', ['ucf']) }}
</h2>

{% if ordersData | length %}
	{{ block('rbsOrderList') }}

	{% if not fullListPage %}
		{% set pageCount = pagination.pageCount %}
		{% set pageNumber = pagination.pageNumber %}
		{% include 'Rbs_Generic/pagination.twig' %}
	{% endif %}
{% else %}
	<p>{{ i18n('m.rbs.order.front.no_' ~ parameters.processingStatus ~ '_order', ['ucf']) }}</p>
{% endif %}