<h1>{{ i18n('m.rbs.order.front.my_orders', ['ucf']) }}</h1>

<h2>{{ i18n('m.rbs.order.front.processing_orders', ['ucf']) }}</h2>

{% if processingOrders %}
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>{{ i18n('m.rbs.order.front.order_number', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.order.front.order_date', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.order.front.order_item_count', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.order.front.order_amount', ['ucf']) }}</th>
				</tr>
			</thead>
			<tbody>
				{% for order in processingOrders %}
					<tr>
						<td>
							{% if order.label %}
								<a href="TODO">{{ order.label }}</a>
							{% else %}
								<em>{{ i18n('m.rbs.order.front.generating_order', ['ucf']) }}</em>
							{% endif %}
						</td>
						<td>{{ order.date | transDateTime }}</td>
						<td>{{ order.itemCount }}</td>
						<td>{{ formatPrice(order.totalAmountWithTaxes, order.currencycode) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% else %}
	<p>{{ i18n('m.rbs.order.front.no_processing_order', ['ucf']) }}</p>
{% endif %}

{% if finalizedOrdersPaginator and finalizedOrdersPaginator.totalCount %}
	{% set hasMore = finalizedOrdersPaginator.pageCount > 1 %}
	<h2>
		{%- if hasMore -%}
			{{ i18n('m.rbs.order.front.last_n_finalized_orders', ['ucf'], { NUMBER: finalizedOrdersPaginator.itemsPerPage }) }}
		{%- else -%}
			{{ i18n('m.rbs.order.front.finalized_orders', ['ucf']) }}
		{%- endif -%}
	</h2>

	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>{{ i18n('m.rbs.order.front.order_number', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.order.front.order_date', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.order.front.order_item_count', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.order.front.order_amount', ['ucf']) }}</th>
				</tr>
			</thead>
			<tbody>
				{% for order in finalizedOrdersPaginator.items %}
					<tr>
						<td>
							<a href="TODO">{{ order.label }}</a>
						</td>
						<td>{{ order.date | transDateTime }}</td>
						<td>{{ order.itemCount }}</td>
						<td>{{ formatPrice(order.totalAmountWithTaxes, order.currencycode) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% if hasMore %}
		<p>
			<a href="{{ currentURL({'mode': 'finalized'}) }}">
				{{ i18n('m.rbs.order.front.view_all_finalized_orders', ['ucf']) }}
			</a>
		</p>
	{% endif %}
{% endif %}

{% if canceledOrdersPaginator and canceledOrdersPaginator.totalCount %}
	{% set hasMore = finalizedOrdersPaginator.pageCount > 1 %}
	<h2>
		{%- if hasMore -%}
			{{ i18n('m.rbs.order.front.last_n_canceled_orders', ['ucf'], { NUMBER: canceledOrdersPaginator.itemsPerPage }) }}
		{%- else -%}
			{{ i18n('m.rbs.order.front.canceled_orders', ['ucf']) }}
		{%- endif -%}
	</h2>

	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>{{ i18n('m.rbs.order.front.order_number', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.order.front.order_date', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.order.front.order_item_count', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.order.front.order_amount', ['ucf']) }}</th>
				</tr>
			</thead>
			<tbody>
				{% for order in canceledOrdersPaginator.items %}
					<tr>
						<td>
							<a href="TODO">{{ order.label }}</a>
						</td>
						<td>{{ order.date | transDateTime }}</td>
						<td>{{ order.itemCount }}</td>
						<td>{{ formatPrice(order.totalAmountWithTaxes, order.currencycode) }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% if hasMore %}
		<p>
			<a href="{{ currentURL({'mode': 'canceled'}) }}">
				{{ i18n('m.rbs.order.front.view_all_canceled_orders', ['ucf']) }}
			</a>
		</p>
	{% endif %}
{% endif %}