{% block rbsOrderOrderDetailUse %}
	{% use 'Rbs_Order/order-templates.twig' %}
	{% use 'Rbs_Productreturn/return-templates.twig' %}
{% endblock rbsOrderOrderDetailUse %}

{{ block('rbsOrderHeader') }}

<div class="clearfix"></div>

{{ block('rbsOrderLinks') }}
{{ block('rbsOrderGeneralInformation') }}

<div class="clearfix"></div>

<div class="row">
	<div class="col-sm-6">
		{% set transaction = orderData.transaction %}
		{{ block('rbsOrderTransaction') }}
	</div>
	<div class="col-sm-6">
		{% set address = orderData.process.address %}
		{% set email = orderData.process.email %}
		{{ block('rbsOrderBillingInformation') }}
	</div>
</div>

{% set displayPricesWithTax = parameters.displayPricesWithTax %}
{% set displayPricesWithoutTax = parameters.displayPricesWithoutTax %}
{{ block('rbsOrderLines') }}
{{ block('rbsOrderAmounts') }}

{% if orderData.shipments | length %}
	{% set shipments = orderData.shipments %}
	{{ block('rbsOrderShipmentList') }}
{% endif %}

{% if orderData.returns | length %}
	{% set returns = orderData.returns %}
	{% set showOrderLink = false %}
	{{ block('rbsProductreturnList') }}
{% endif %}