<h1>{{ i18n('m.rbs.order.front.my_orders', ['ucf']) }}</h1>

<h2>{{ i18n('m.rbs.order.front.processing_orders', ['ucf']) }}</h2>

{% if processingOrders %}
	{% set orderPresentations = processingOrders %}
	{% include 'Rbs_Order/order-list.twig' %}
{% else %}
	<p>{{ i18n('m.rbs.order.front.no_processing_order', ['ucf']) }}</p>
{% endif %}

{% if finalizedOrdersPaginator and finalizedOrdersPaginator.totalCount %}
	{% set hasMore = finalizedOrdersPaginator.pageCount > 1 %}
	<h2>
		{%- if hasMore -%}
			{{ i18n('m.rbs.order.front.last_n_finalized_orders', ['ucf'], { NUMBER: finalizedOrdersPaginator.itemsPerPage }) }}
		{%- else -%}
			{{ i18n('m.rbs.order.front.finalized_orders', ['ucf']) }}
		{%- endif -%}
	</h2>

	{% set orderPresentations = finalizedOrdersPaginator.items %}
	{% include 'Rbs_Order/order-list.twig' %}

	{% if hasMore %}
		<p>
			<a href="{{ currentURL({'mode': 'finalized'}) }}">
				{{ i18n('m.rbs.order.front.view_all_finalized_orders', ['ucf']) }}
			</a>
		</p>
	{% endif %}
{% endif %}

{% if canceledOrdersPaginator and canceledOrdersPaginator.totalCount %}
	{% set hasMore = finalizedOrdersPaginator.pageCount > 1 %}
	<h2>
		{%- if hasMore -%}
			{{ i18n('m.rbs.order.front.last_n_canceled_orders', ['ucf'], { NUMBER: canceledOrdersPaginator.itemsPerPage }) }}
		{%- else -%}
			{{ i18n('m.rbs.order.front.canceled_orders', ['ucf']) }}
		{%- endif -%}
	</h2>

	{% set orderPresentations = canceledOrdersPaginator.items %}
	{% include 'Rbs_Order/order-list.twig' %}

	{% if hasMore %}
		<p>
			<a href="{{ currentURL({'mode': 'canceled'}) }}">
				{{ i18n('m.rbs.order.front.view_all_canceled_orders', ['ucf']) }}
			</a>
		</p>
	{% endif %}
{% endif %}