<div>
	<div class="checkbox">
		<label>
			<input data-ng-model="showFunctionsCode" type="checkbox" value="true">
			{{ i18n('m.rbs.website.admin.show_functions_code', ['ucf']) }}
		</label>
	</div>

	<div class="row">

		<!-- left column: list of already implemented functions -->
		<div class="col-md-6">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ i18n('m.rbs.website.admin.implemented_functions', ['ucf', 'lab']) }} (= sectionPageFunctionList.length | number =)</h3>
				</div>

				<div class="panel-body">
					<div class="input-group">
						<input type="search" class="form-control" placeholder="{{ i18nAttr('m.rbs.website.admin.filter_functions', ['ucf']) }}" data-ng-model="implFunctionsFilter"/>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" data-ng-click="implFunctionsFilter = ''"><i class="icon-remove-circle"></i></button>
						</span>
					</div>
				</div>

				<div class="list-group">
					<div class="list-group-item repeat-animation" data-ng-repeat="spf in sectionPageFunctionList | filter:implFunctionsFilter">
						<h5 class="list-group-item-heading">
							<button type="button" title="{{ i18nAttr('m.rbs.website.admin.change_page_for_function', ['ucf']) }}" class="btn btn-default btn-xs pull-right" style="margin-left: 15px;" ng-click="changePage(spf)"><i class="icon-pencil"></i></button>
							<span data-ng-if="spf.functionCode === 'Rbs_Website_Section'"><i class="icon-home"></i> {{ i18n('m.rbs.website.admin.function_index_page', ['ucf']) }}</span>
							<span data-ng-if="spf.functionCode !== 'Rbs_Website_Section'" data-ng-bind="getFunctionLabel(spf.functionCode)"></span>
							<span class="text-muted" data-ng-if="showFunctionsCode"> ((= spf.functionCode =))</span>
							<button type="button" title="{{ i18nAttr('m.rbs.website.admin.remove_function_in_section', ['ucf']) }}" class="btn btn-danger btn-xs pull-left" ng-click="removeFunction(spf)" style="margin-right: 15px;"><i class="icon-minus"></i></button>
						</h5>
						<p class="list-group-item-text">
							<span data-ng-if="spf.page.model === 'Rbs_Website_StaticPage'">{{ i18n('m.rbs.website.admin.via_static_page') }}</span>
							<span data-ng-if="spf.page.model === 'Rbs_Website_FunctionalPage'">{{ i18n('m.rbs.website.admin.via_functional_page') }}</span>
							<a href="javascript:;" data-ng-href="(= spf.page | rbsURL =)" data-ng-bind="spf.page.label"></a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- right column -->
		<div class="col-md-6" data-ng-switch="newFunction !== null">

			<!-- list of available pages to implement the new function -->
			<div data-ng-switch-when="true" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<button type="button" class="close pull-right" data-ng-click="closePageSelection()">&times;</button>
						{{ i18n('m.rbs.website.admin.function', ['ucf']) }} : (= newFunction.label =)
					</h3>
				</div>

				<div class="panel-body">
					<p>{{ i18n('m.rbs.website.admin.select_page_for_function', ['ucf']) }} <strong data-ng-bind="newFunction.label"></strong>.</p>
					<div>
						<p><span class="label label-info">{{ i18n('m.rbs.website.admin.tip', ['ucf']) }}</span> {{ i18n('m.rbs.website.admin.dont_find_page_create_one') }}</p>
						<div class="btn-toolbar">
							<a class="btn btn-sm btn-default" data-rbs-start-navigation=""
								data-navigation-model="Rbs_Website_StaticPage"
								data-navigation-property-type="Document" data-value-key="editor.page"
								href data-target-url="(= 'Rbs_Website_StaticPage' | rbsURL:'new':{website:section.id,tn:section.id} =)">
								<i class="icon-plus"></i> {{ i18n('m.rbs.website.admin.staticpage_create', ['ucf']) }}
							</a>
							<a class="btn btn-sm btn-default" data-rbs-start-navigation=""
								data-navigation-model="Rbs_Website_FunctionalPage"
								data-navigation-property-type="Document" data-value-key="editor.page"
								href data-target-url="(= 'Rbs_Website_FunctionalPage' | rbsURL:'new':{website:section.id,tn:section.id} =)">
								<i class="icon-plus"></i> {{ i18n('m.rbs.website.admin.functionalpage_create', ['ucf']) }}
							</a>
						</div>
					</div>
				</div>

				<div class="list-group">
					<div class="list-group-item repeat-animation">
						<div class="input-group">
							<input type="search" class="form-control" placeholder="{{ i18nAttr('m.rbs.website.admin.filter_pages', ['ucf']) }}" data-ng-model="pagesFilter"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" data-ng-click="pagesFilter = ''"><i class="icon-remove-circle"></i></button>
							</span>
						</div>
					</div>
				</div>

				<div class="list-group">
					<div class="list-group-item text-success" data-ng-if="readyForFunctionPages.length > 0">
						{{ i18n('m.rbs.website.admin.ready_pages_message', ['ucf'], {'function': '(= newFunction.label =)'}) | raw }}
					</div>
					<div class="list-group-item text-warning" data-ng-if="readyForFunctionPages.length == 0">
						{{ i18n('m.rbs.website.admin.no_ready_pages_message', ['ucf'], {'function': '(= newFunction.label =)'}) | raw }}
					</div>
					<div data-ng-repeat="p in readyForFunctionPages | filter:{'label':pagesFilter}" class="list-group-item repeat-animation">
						<button type="button" class="btn btn-xs btn-success pull-right" data-ng-if="newFunction.page.id !== p.id" data-ng-click="selectPage(p)"><i class="icon-ok"></i></button>
						<button type="button" class="btn btn-xs btn-success pull-right" disabled="disabled" data-ng-if="newFunction.page.id === p.id">{{ i18n('m.rbs.website.admin.already_used') }}</button>
						<a href data-ng-href="(= p | rbsURL =)">
							<i data-ng-if="p.model === 'Rbs_Website_StaticPage'" class="icon-file-text-alt" title="{{ i18nAttr('m.rbs.website.documents.staticpage', ['ucf']) }}"></i>
							<i data-ng-if="p.model === 'Rbs_Website_FunctionalPage'" class="icon-file-alt" title="{{ i18nAttr('m.rbs.website.documents.functionalpage', ['ucf']) }}"></i>
							(= p.label =)
							<i class="icon-circle-arrow-right"></i>
						</a>
					</div>
				</div>

				<div class="panel-body">
					<div class="checkbox" style="margin: 0;">
						<label>
							<input data-ng-model="showAllPages" type="checkbox" value="true">
							{{ i18n('m.rbs.website.admin.show_not_ready_pages', ['ucf']) }}
						</label>
					</div>
				</div>

				<div class="list-group" data-ng-if="showAllPages">
					<div class="list-group-item text-warning" data-ng-if="notReadyForFunctionPages.length > 0">
						{{ i18n('m.rbs.website.admin.not_ready_pages_warning', ['ucf'], {'function': '(= newFunction.label =)'}) | raw }}
					</div>
					<div data-ng-repeat="p in notReadyForFunctionPages | filter:{'label':pagesFilter}" class="list-group-item repeat-animation">
						<button type="button" class="btn btn-xs btn-warning pull-right" data-ng-if="newFunction.page.id !== p.id" data-ng-click="selectPage(p)"><i class="icon-ok"></i></button>
						<button type="button" class="btn btn-xs btn-warning pull-right" disabled="disabled" data-ng-if="newFunction.page.id === p.id">{{ i18n('m.rbs.website.admin.already_used') }}</button>
						<a href="javascript:;" data-ng-href="(= p | rbsURL =)">
							<i data-ng-if="p.model === 'Rbs_Website_StaticPage'" class="icon-file-text-alt"
								title="{{ i18nAttr('m.rbs.website.documents.staticpage', ['ucf']) }}"></i>
							<i data-ng-if="p.model === 'Rbs_Website_FunctionalPage'" class="icon-file-alt"
								title="{{ i18nAttr('m.rbs.website.documents.functionalpage', ['ucf']) }}"></i>
							(= p.label =)
							<i class="icon-circle-arrow-right"></i>
						</a>
					</div>
				</div>

				<div class="panel-footer">
					<button type="button" class="btn btn-default btn-block"  data-ng-click="closePageSelection()">
						{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
					</button>
				</div>
			</div>

			<!-- list of available and not implemented functions -->
			<div data-ng-switch-default="" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ i18n('m.rbs.website.admin.available_functions', ['ucf', 'lab']) }} (= unimplementedFunctions.length | number =)</h3>
				</div>

				<div class="panel-body">
					<div class="input-group">
						<input type="search" class="form-control" data-ng-model="availFunctionsFilter"
							placeholder="{{ i18nAttr('m.rbs.website.admin.filter_pages', ['ucf']) }}"/>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" data-ng-click="availFunctionsFilter = ''"><i class="icon-remove-circle"></i></button>
						</span>
					</div>
				</div>

				<div class="list-group">
					<div class="list-group-item repeat-animation"  data-ng-repeat="f in unimplementedFunctions | filter:availFunctionsFilter">
						<button type="button" title="{{ i18nAttr('m.rbs.website.admin.implement_function_in_section', ['ucf']) }}"
							data-ng-click="implementFunction(f)" class="btn btn-primary btn-xs pull-right btn-icon" style="margin-left: 15px;">
							<i data-ng-class="{true: 'icon-level-down', false: 'icon-plus'}[inheritedFunctions[f.code] != null]"></i>
						</button>
						<h5 class="list-group-item-heading">
							<span data-ng-if="f.code === 'Rbs_Website_Section'">
								<i class="icon-home"></i> {{ i18n('m.rbs.website.admin.index_page', ['ucf']) }}
							</span>
							<span data-ng-if="f.code !== 'Rbs_Website_Section'">(= f.label =)</span>
							<span class="text-muted" data-ng-if="showFunctionsCode"> ((= f.code =))</span>
						</h5>
						<p class="list-group-item-text text-muted" data-ng-if="inheritedFunctions[f.code]">
							<small>{{ i18nAttr('m.rbs.website.admin.inherited_from', ['ucf']) }}
								<a href="javascript:;" data-ng-href="(= inheritedFunctions[f.code].section | rbsURL =)">
									<i data-ng-if="inheritedFunctions[f.code].section.model === 'Rbs_Website_Website'"
										class="icon-home" title="{{ i18nAttr('m.rbs.website.documents.website', ['ucf']) }}"></i>
									<i data-ng-if="inheritedFunctions[f.code].section.model === 'Rbs_Website_Topic'"
										class="icon-folder-close-alt" title="{{ i18nAttr('m.rbs.website.documents.topic', ['ucf']) }}"></i>
									(= inheritedFunctions[f.code].section.label =)
								</a>
								<i class="icon-long-arrow-right"></i>
								<a href="javascript:;" data-ng-href="(= inheritedFunctions[f.code].page | rbsURL:'edit':{website:website.id} =)">
									<i data-ng-if="inheritedFunctions[f.code].page.model === 'Rbs_Website_StaticPage'"
										class="icon-file-text-alt" title="{{ i18nAttr('m.rbs.website.documents.staticpage', ['ucf']) }}"></i>
									<i data-ng-if="inheritedFunctions[f.code].page.model === 'Rbs_Website_FunctionalPage'"
										class="icon-file-alt" title="{{ i18nAttr('m.rbs.website.documents.functionalpage', ['ucf']) }}"></i>
									(= inheritedFunctions[f.code].page.label =)
								</a>
							</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>