<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Elasticsearch_FullText">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Elasticsearch_FullText'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-elasticsearch-full-text-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_FullText', 'clientName'), ['ucf']) }}"
					required="true">
					<select data-ng-model="document.clientName" class="form-control" required="true"
						data-rbs-items-from-collection="Rbs_Elasticsearch_Collection_Clients">
						<option value="">{{ i18n('m.rbs.admin.admin.select', ['ucf']) }}</option>
					</select>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_FullText', 'analysisLCID'), ['ucf']) }}"
					required="true">
					<select data-ng-model="document.analysisLCID" class="form-control" required="true"
						data-rbs-items-from-collection="Rbs_Generic_Collection_Languages">
						<option value="">{{ i18n('m.rbs.admin.admin.select', ['ucf']) }}</option>
					</select>
				</rbs-field>

				<rbs-field-picker required="true" property="website"
					label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_FullText', 'website'), ['ucf']) }}"
					accepted-model="Rbs_Website_Website"
					selector-title="{{ i18nAttr('m.rbs.elasticsearch.admin.website_picker_title', ['ucf']) }}">
				</rbs-field-picker>
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>