<div class="control-group">
	<label class="control-label" data-not-a-property="" for="selectShops">
		{{ i18n('m.rbs.catalog.admin.js.shop', ['ucf']) }}
	</label>

	<div class="controls">
		<button class="btn" disabled="disabled" type="button" data-ng-show="List.shopsLoading">
			{{ i18n('m.rbs.catalog.admin.js.shop-list-loading') }}
		</button>
		<div class="btn-group">
			<button class="btn" data-ng-class="{active: List.selectedShop == shop}" type="button"
				data-ng-repeat="shop in List.shops" data-ng-click="List.selectedShop = shop">
				<i class="icon-ok" data-ng-show="List.selectedShop == shop"></i> (= shop.label =)
			</button>
		</div>
	</div>
</div>
<div class="control-group">
	<label class="control-label" data-not-a-property="" for="selectBillingArea">
		{{ i18n('m.rbs.catalog.admin.js.billingarea', ['ucf']) }}
	</label>

	<div class="controls">
		<button class="btn" disabled="disabled" type="button" data-ng-show="List.billingAreasLoading">
			{{ i18n('m.rbs.catalog.admin.js.billingarea-list-loading') }}
		</button>
		<div class="btn-group">
			<button class="btn" data-ng-class="{active: List.selectedBillingArea == billingArea}" type="button"
				data-ng-repeat="billingArea in List.billingAreas" data-ng-click="List.selectedBillingArea = billingArea">
				<i class="icon-ok" data-ng-show="List.selectedBillingArea == billingArea"></i> (= billingArea.label =)
			</button>
		</div>
	</div>
</div>

<div ng-show="List.selectedBillingArea">
	<a href="javascript:;" ng-click="cascadeCreatePrice()">
		{{ i18nAttr('m.rbs.catalog.document.price-create', ['ucf']) }}
	</a>

	<div>
		<search-filters model="Rbs_Catalog_Price" query="DL.query" text-search="textSearch"></search-filters>

		<rbs-document-list data-dlid="DLRbsCatalogPrice"
			model="Rbs_Catalog_Price"
			publishable="true" cascade-edit="(= product.label=)"
			load-query="List.query" modification-date="false" data-currency-symbol="(= List.currencySymbol =)">

			<column name="value" primary="true">
				<a href="javascript:;" ng-click="cascadeEditFn(doc)">(= doc.value | currency:data.currencySymbol =) (= data.currencySymbol =)</a>
				<del ng-show="doc.valueWithoutDiscount">(= doc.valueWithoutDiscount | currency:data.currencySymbol =)</del>
			</column>
			<column name="valueWithoutDiscount" align="center" label="{{ i18nAttr('m.rbs.catalog.document.price.discount', ['ucf']) }}">
				<div ng-show="doc.valueWithoutDiscount"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.yes', ['ucf']) }}</div>
				<button type="button" ng-click="cascadeDuplicate(doc)" ng-show="!doc.valueWithoutDiscount" class="btn btn-small btn-inverse" title="{{ i18nAttr('m.rbs.catalog.document.price.create-discount-from-price', ['ucf']) }}">
					<i class="icon-plus icon-white"></i> {{ i18n('m.rbs.admin.create', ['ucf']) }}
				</button>
			</column>
			<column name="startPublication"></column>
			<column name="endPublication"></column>
			<column name="thresholdMin"></column>
			<preview>
				<dl class="dl-horizontal">
					<dt>{{ i18nAttr('m.rbs.catalog.document.price.modificationDate', ['ucf']) }}</dt>
					<dd>(= doc.modificationDate | date:'medium' =)</dd>
					<dt>{{ i18nAttr('m.rbs.catalog.document.price.ecoTax', ['ucf']) }}</dt>
					<dd>(= doc.ecoTax | currency:List.currencySymbol =)</dd>
					<dt>{{ i18nAttr('m.rbs.catalog.document.price.discountDetail', ['ucf']) }}</dt>
					<dd>(= doc.discountDetail =)</dd>
				</dl>
			</preview>
		</rbs-document-list>
	</div>
</div>