<div class="row" rbs-document-editor-base="" model="Rbs_Catalog_CrossSellingProductList">

	<div class="col-md-12">
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_CrossSellingProductList'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		<div class="rbs-aside-block">
			<h3 class="panel-title">{{ i18n('m.rbs.catalog.admin.product_concerned_product', ['ucf']) }}</h3>
			<rbs-document-preview document="document.product"></rbs-document-preview>
		</div>
		{% include '@Rbs_Admin/view/asides.twig' %}
	</div>

	<div class="document-form" rbs-main-column>

		<form ng-submit="submit()" rbs-document-editor-new="" rbs-document-editor-rbs-catalog-cross-selling-product-list="">

			<fieldset rbs-editor-section=""
			          data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text data-ng-hide="document.isNew()" property="label"
					label="{{ i18nAttr(propertyKey('Rbs_Catalog_CrossSellingProductList', 'label'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_CrossSellingProductList', 'crossSellingType'), ['ucf']) }}" required="true">
					<rbs-collection-item-selector ng-model="document.crossSellingType" collection-code="Rbs_Catalog_Collection_CrossSellingType"></rbs-collection-item-selector>
				</rbs-field>

				<rbs-field-boolean property="symmetrical" label="{{ i18nAttr(propertyKey('Rbs_Catalog_CrossSellingProductList', 'symmetrical'), ['ucf']) }}">
				</rbs-field-boolean>

				<hr />

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_CrossSellingProductList', 'productSortOrder'), ['ucf']) }}">
					<select ng-model="document.productSortOrder" id="productSortOrder" name="productSortOrder" class="form-control"
						rbs-items-from-collection="Rbs_Catalog_Collection_ProductSortOrders">
					</select>
					<span class="help-block">{{ i18n('m.rbs.catalog.admin.productlist_productsortorder_help') }} </span>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_CrossSellingProductList', 'productSortDirection'), ['ucf']) }}">
					<rbs-collection-item-selector ng-model="document.productSortDirection"
						collection-code="Rbs_Generic_Collection_SortDirections">
					</rbs-collection-item-selector>
					<span class="help-block">{{ i18n('m.rbs.catalog.admin.productlist_productsortorder_help') }}</span>
				</rbs-field>

				<hr />

				<rbs-field-date property="startActivation"
					label="{{ i18nAttr(propertyKey('Rbs_Catalog_CrossSellingProductList', 'startActivation'), ['ucf']) }}">
				</rbs-field-date>

				<rbs-field-date property="endActivation"
					label="{{ i18nAttr(propertyKey('Rbs_Catalog_CrossSellingProductList', 'endActivation'), ['ucf']) }}">
				</rbs-field-date>

			</fieldset>

			<fieldset
					rbs-editor-section="systeminfo"
					data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
					data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>

		</form>

	</div>

</div>


