{% macro item(item) %}
	{% import _self as menu %}
	<li{% if item.isInPath or item.isCurrent %} class="active"{% endif %}>
		<a href="{{ item.url }}">{{ item.label }}</a>
		{% if item.hasChild %}
			<ul class="sub-menu">
				{% for child in item.getChildren %}
					{{ menu.item(child) }}
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endmacro %}
{% import _self as menu %}

<nav>
	{% if parameters.showTitle == true %}
		<h3 class="nav-contextual-title">
			{% if root.url %}<a href="{{ root.url }}">{% endif %}{{ root.label }}{% if root.url %}</a>{% endif %}
		</h3>
	{% endif %}
	{% if root.hasChild %}
		<ul class="nav nav-contextual">
			{% for child in root.children %}
				{{ menu.item(child) }}
			{% endfor %}
		</ul>
	{% endif %}
</nav>