<form name="form" data-ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="name" required="true" label="{{ i18nAttr(propertyKey('Rbs_Geo_Address', 'name'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker property="ownerId" accepted-model="Rbs_User_User" allow-creation="false"
			label="{{ i18nAttr(propertyKey('Rbs_Geo_Address', 'ownerId'), ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.geo.admin.address_owner_select', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field required="true" label="{{ i18nAttr(propertyKey('Rbs_Geo_Address', 'addressFields'), ['ucf']) }}">
			<select class="form-control" ng-model="document.addressFields" rbs-items-from-collection="Rbs_Generic_Collection_AddressFields">
				<option value="">{{ i18n('m.rbs.geo.admin.address_fields_select', ['ucf']) }}</option>
			</select>
		</rbs-field>
		<rbs-field-address property="fieldValues" address-fields="document.addressFields"/>
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>