{% block productDetails %}
	{% macro productDetails(designation, product, axesInfo) %}
		<ul class="list-unstyled{% if not (axesInfo | length) %} no-bottom-margin{% endif %}">
			{% if product %}
				<li>
					{% if product.common.URL.canonical %}
						<a href="{{ product.common.URL.canonical }}">{{ product.common.title }}</a>
					{% else %}
						{{ product.common.title }}
					{% endif %}
				</li>
				{% if product.common.reference %}
					<li>{{ product.common.reference }}</li>
				{% endif %}
			{% else %}
				<li>{{ designation }}</li>
			{% endif %}
		</ul>
		{% if axesInfo | length %}
			<dl class="dl-inline-items no-bottom-margin">
				{% for axisInfo in axesInfo %}
					<dt>{{ axisInfo.name }}</dt>
					<dd>{{ axisInfo.value }}</dd>
				{% endfor %}
			</dl>
		{% endif %}
	{% endmacro %}
{% endblock productDetails %}

{% import _self as macros %}

{% block returnHeader %}
	<h2 id="return-details-{{ return.common.id }}">
		{% if return.common.cancellable %}
			<span class="pull-right">
				<button class="btn btn-default" type="button" data-ng-click="cancelReturn({{ return.common.id }}, '{{ i18nAttr('m.rbs.productreturn.front.please_wait_ongoing_treatment', ['ucf', 'etc']) }}')">
					{{ i18n('m.rbs.productreturn.front.cancel_request', ['ucf']) }}
				</button>
			</span>
		{% endif %}
		{{ i18n('m.rbs.productreturn.front.return_title', ['ucf'], {'code': return.common.code}) }}
	</h2>
	{% if showOrderLink and return.order.common.id %}
		<p>
			<a href="{{ functionURL('Rbs_Order_OrderDetail', {'orderId': return.order.common.id}) }}">
				{{ i18n('m.rbs.productreturn.front.for_order_link', ['ucf'], {'code': return.order.common.code, 'date': return.order.common.date | transDateTime}) }}
			</a>
		</p>
	{% endif %}
	<div class="row">
		<dl class="dl-horizontal col-md-6">
			<dt>{{ i18n('m.rbs.productreturn.front.request_date', ['ucf']) }}</dt>
			<dd>{{ return.common.date | transDateTime }}</dd>
			<dt>{{ i18n('m.rbs.productreturn.front.status', ['ucf']) }}</dt>
			<dd>{{ return.common.statusInfos.title }}</dd>
		</dl>
		{% if return.common.processingComment %}
			<dl class="col-md-6">
				<dt>{{ i18n('m.rbs.productreturn.front.return_processingComment', ['ucf']) }}</dt>
				<dd class="long-string">{{ return.common.processingComment }}</dd>
			</dl>
		{% endif %}
	</div>
{% endblock returnHeader %}

{% block returnInstructions %}
	{% if return.common.statusInfos.code == 'VALIDATION' %}
		<div class="panel panel-default">
			<div class="panel-heading">{{ i18n('m.rbs.productreturn.front.return_instructions', ['ucf']) }}</div>
			<div class="panel-body">
				{{ i18n('m.rbs.productreturn.front.wait_for_validation', ['ucf']) }}
			</div>
		</div>
	{% elseif return.common.statusInfos.code == 'RECEPTION' %}
		<div class="panel panel-primary">
			<div class="panel-heading">{{ i18n('m.rbs.productreturn.front.return_instructions', ['ucf']) }}</div>
			<div class="panel-body">
				{{ return.returnMode.instructions }}
			</div>
			{% if return.returnMode.sheetURL %}
				<div class="panel-body">
					<a class="btn btn-default" href="{{ return.returnMode.sheetURL }}">
						{{ i18n('m.rbs.productreturn.front.print_the_return_sheet', ['ucf']) }}
					</a>
				</div>
			{% endif %}
			{% if return.returnMode.stickerURL %}
				<div class="panel-body">
					<a class="btn btn-default" href="{{ return.returnMode.stickerURL }}">
						{{ i18n('m.rbs.productreturn.front.print_the_return_sticker', ['ucf']) }}
					</a>
				</div>
			{% endif %}
		</div>
	{% endif %}
{% endblock returnInstructions %}

{% block returnLines %}
	<div class="table-responsive return-lines">
		<table class="table table-striped table-vertical-middle">
			<thead>
				<tr>
					<th>{{ i18n('m.rbs.commerce.front.line_product', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.commerce.front.line_detail', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.commerce.front.line_quantity', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.productreturn.front.reason', ['ucf']) }}</th>
				</tr>
			</thead>
			<tbody>
				{% for line in return.lines %}
					{% block returnLine %}
						<tr>
							<td>
								{% if line.product %}
									<a title="{{ line.product.common.title }}" href="{{ line.product.common.URL.canonical }}">
										{% if line.product.common.visuals|length %}
											<img alt="{{ line.product.common.visuals[0].alt }}"
												src="{{ line.product.common.visuals[0].cartItem }}" />
										{% else %}
											<div class="text-left text-muted">
												<span class="glyphicon glyphicon-camera" style="font-size: 80px"></span>
											</div>
										{% endif %}
									</a>
								{% else %}
									<div class="text-left text-muted">
										<span class="glyphicon glyphicon-camera" style="font-size: 80px"></span>
									</div>
								{% endif %}
							</td>
							<td>
								{{ macros.productDetails(line.designation, line.product, line.options.orderLineOptions.axesInfo) }}
							</td>
							<td class="form-inline">
								{{ line.quantity }}
							</td>
							<td>
								<strong>{{ line.options.reasonTitle }}</strong>
								{% if line.reasonPrecisions %}
									<br />
									{{ i18n('m.rbs.productreturn.front.precisions', ['ucf', 'lab']) }}
									<span class="long-string">{{ line.reasonPrecisions }}</span>
								{% endif %}
								{% if line.reasonAttachedFileURL %}
									<br />
									<a href="{{ line.reasonAttachedFileURL }}">
										{{ i18n('m.rbs.productreturn.front.attached_file', ['ucf']) }}
									</a>
								{% endif %}
								<br />
								{{ i18n('m.rbs.productreturn.front.preferred_processing_mode', ['ucf', 'lab']) }}
								{% if not line.options.reshippingProductId %}
									{{ line.options.preferredProcessingModeTitle }}
								{% else %}
									<span class="dropdown">
										<a href="javascript:;" data-toggle="dropdown">
											{{ line.options.preferredProcessingModeTitle }}  <span class="caret"></span>
										</a>
										<div class="dropdown-menu dropdown-menu-no-list">
											{{ macros.productDetails(line.options.reshippingProductTitle, line.reshippingProduct, line.options.reshippingProductAxesInfos) }}
										</div>
									</span>
								{% endif %}
							</td>
						</tr>
					{% endblock returnLine %}
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock returnLines %}
