<ul id="block-{{ blockId }}-attribute-group-tabs" class="nav nav-tabs">
	{% for group in attributesConfig %}
		<li{% if loop.index == 1 %} class="active"{% endif %}><a href="#block-{{ blockId }}-attribute-group-tab-{{ loop.index }}" data-toggle="tab">{{ group.title }}</a></li>
	{% endfor %}
</ul>
<div class="tab-content">
	{% for group in attributesConfig %}
		<div id="block-{{ blockId }}-attribute-group-tab-{{ loop.index }}" class="tab-pane fade{% if loop.index == 1 %} active in{% endif %}">
			<dl class="dl-horizontal">
				{% for item in group.items %}
					<dt>
						{{ item.title }}
						{% if item['description'] is defined %}
							<div class="small">{{ item.description|richText }}</div>
						{% endif %}
					</dt>
					<dd>{% include item.template %}</dd>
				{% endfor %}
			</dl>
		</div>
	{% endfor %}
</div>
<script type="text/javascript">
	jQuery('#block-{{ blockId }}-attribute-groups a').click(function (e) {
		e.preventDefault();
		jQuery(this).tab('show');
	});
</script>