<div data-ng-controller="Rbs_User_User_ApplicationsController">
	<page-header sub-title="{{ i18nAttr('m.rbs.user.admin.applications-list-sub-title', ['ucf']) }}"></page-header>
	<rbs-document-list data-dlid="DLRbsUserApplicationList"
		collection="tokens"
		selectable="false"
		extend="tokenList"
		modification-date="false"
		on-reload="reloadTokens()"
		actions="">
		<column name="token" primary="true" label="{{ i18nAttr('m.rbs.user.admin.token', ['ucf']) }}">
			(= doc.token | ellipsis:20:'center' =)
		</column>
		<column name="application" local-sort="true" label="{{ i18nAttr('m.rbs.user.admin.application', ['ucf']) }}"></column>
		<column name="realm" local-sort="true" label="{{ i18nAttr('m.rbs.user.admin.realm', ['ucf']) }}"></column>
		<column name="creation_date" local-sort="true" format="date" label="{{ i18nAttr('m.rbs.user.admin.creation-date', ['ucf']) }}"></column>
		<column name="validity_date" local-sort="true" format="date" label="{{ i18nAttr('m.rbs.user.admin.validity-date', ['ucf']) }}"></column>
		<column name="revokeButtons" align="center"><button class="btn btn-danger btn-small" data-ng-click="extend.revokeToken(doc)">{{ i18n('m.rbs.user.admin.revoke-token', ['ucf']) }}</button></column>
		<quick-actions>[action preview]</quick-actions>
		<preview>(= doc.token =)</preview>
	</rbs-document-list>
</div>