{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.field('login', 'String', 'm.rbs.user.document.user.login', true) }}
		{{ forms.field('email', 'String', 'm.rbs.user.document.user.email', true) }}
		{{ forms.field('label', 'String', 'm.rbs.user.document.user.label', true) }}
	</fieldset>

	<fieldset data-ng-show="section=='security'"
		data-form-section-label="{{ i18nAttr('m.rbs.user.document.user.security', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.readonly('hashMethod', 'm.rbs.user.document.user.hashMethod') }}
	</fieldset>

	<fieldset
			data-ng-show="section=='systeminfo'"
			data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
			data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>