<div data-ng-controller="Rbs_User_User_PermissionController">
	<page-header sub-title="{{ i18nAttr('m.rbs.user.admin.permission-rules-sub-title', ['ucf']) }}"></page-header><br />
	<!-- TODO this button will be replaced by an action coded in controller in List actions -->
	<button class="btn btn-danger btn-small pull-right" data-ng-click="removeAllPermissionRules()">{{ i18nAttr('m.rbs.user.admin.remove-all-permission-rules', ['ucf']) }}</button><br />
	<rbs-document-list data-dlid="DLRbsUserPermissionList"
		collection="permissionRules"
		selectable="false"
		quick-actions=""
		extend="permissionList"
		modification-date="false"
		on-reload="reloadPermissions()"
		actions="">
		<column name="role" local-sort="true" primary="true" label="{{ i18nAttr('m.rbs.user.admin.permission-role', ['ucf']) }}"></column>
		<column name="privilege" local-sort="true" label="{{ i18nAttr('m.rbs.user.admin.permission-privilege', ['ucf']) }}"></column>
		<column name="resource_id" local-sort="true" label="{{ i18nAttr('m.rbs.user.admin.permission-resource', ['ucf']) }}"></column>
		<column name="removePermission" align="center">
			<button class="btn btn-danger btn-small" data-ng-click="extend.removePermissionRule(doc)">{{ i18n('m.rbs.user.admin.remove-permission-rule', ['ucf']) }}</button>
		</column>
	</rbs-document-list>

	<h4>{{ i18n('m.rbs.user.admin.new-permission-rules', ['ucf']) }}</h4>
	<form name="form" data-ng-submit="submit()" >
		<fieldset>
			<div class="control-group required">
				<label class="control-label" for="role">{{ i18n('m.rbs.user.admin.permission-roles', ['ucf']) }}</label>
				<div class="controls">
					<div class="btn-group">
						<button class="btn" data-ng-class="{true:'', false:'active'}[showRoles]" data-ng-click="newPermissionRules.roles = ['*']; showRoles = false">{{ i18n('m.rbs.generic.any-role', ['ucf']) }}</button>
						<button class="btn" data-ng-class="{true:'active', false:''}[showRoles]" data-ng-click="showRoles = true">{{ i18n('m.rbs.user.admin.customise', ['ucf']) }}</button>
					</div>
					<select id="role" data-ng-if="showRoles" multiple="multiple" data-ng-model="newPermissionRules.roles" data-ng-options="key as value.label for (key, value) in permissionRoles"></select>
				</div>
			</div>
			<div class="control-group required">
				<label class="control-label" for="privilege">{{ i18n('m.rbs.user.admin.permission-privileges', ['ucf']) }}</label>
				<div class="controls">
					<div class="btn-group">
						<button class="btn" data-ng-class="{true:'', false:'active'}[showPrivileges]" data-ng-click="newPermissionRules.privileges = ['*']; showPrivileges = false">{{ i18n('m.rbs.generic.any-privilege', ['ucf']) }}</button>
						<button class="btn" data-ng-class="{true:'active', false:''}[showPrivileges]" data-ng-click="showPrivileges = true">{{ i18n('m.rbs.user.admin.customise', ['ucf']) }}</button>
					</div>
					<select data-ng-if="showPrivileges" multiple="multiple" data-ng-model="newPermissionRules.privileges" data-ng-options="key as value.label for (key, value) in permissionPrivileges"></select>
				</div>
			</div>
			<div class="control-group required">
				<label class="control-label" for="resource">{{ i18n('m.rbs.user.admin.permission-resources', ['ucf']) }}</label>
				<input type="text" data-ng-list="," data-ng-model="newPermissionRules.resources">
			</div>
			<button class="btn" data-ng-click="addPermissionRules()">{{ i18n('m.rbs.user.admin.add', ['ucf']) }}</button>
		</fieldset>
	</form>
</div>