<div data-ng-controller="Rbs_User_User_PublicProfileController">
	<page-header sub-title="{{ i18nAttr('m.rbs.user.admin.public-profile-sub-title', ['ucf']) }}"></page-header>
	<div class="media-body well well-small">
		<img style="width: 128px; height: 128px;" class="media-object" data-ng-src="(= profile.avatar =)" />
		<h4 class="media-heading">(= document.label =) <small ng-if="document.login">@(= document.login =)</small></h4>
		<div class="well">
			<dl class="dl-horizontal">
				<dt>{{ i18n('m.rbs.user.documents.user.label', ['ucf']) }}</dt>
				<dd>(= document.label =)</dd>
				<dt>{{ i18n('m.rbs.user.documents.user.email', ['ucf']) }}</dt>
				<dd>(= document.email =)</dd>
				<dt>{{ i18n('m.rbs.user.documents.user.active', ['ucf']) }}</dt>
				<dd><switch disabled ng-model="document.active"></switch></dd>
			</dl>
		</div>
		<div>
			<h4>{{ i18n('m.rbs.user.documents.group-list', ['ucf']) }}</h4>
			<rbs-document-list data-dlid="DLGroup1"
				model="Rbs_User_Group"
				modification-date="false"
				load-query="query">
				<column name="label" primary="true"></column>
				<column name="realm"></column>
				<quick-actions></quick-actions>
			</rbs-document-list>
		</div>
	</div>

</div>