<div data-ng-controller="Rbs_User_User_PublicProfileController">
	<page-header sub-title="{{ i18nAttr('m.rbs.user.admin.public_profile_sub_title', ['ucf']) }}"></page-header>
	<div class="media-body">
		<h4 class="media-heading">(= document.label =) <small ng-if="document.login">@(= document.login =)</small></h4>
		<div class="well">
			<rbs-avatar ng-if="document.id" size="128" user-id="(= document.id =)"></rbs-avatar>
			<dl class="dl-horizontal">
				<dt>{{ i18n(propertyKey('Rbs_User_User', 'label'), ['ucf']) }}</dt>
				<dd>(= document.label =)</dd>
				<dt>{{ i18n(propertyKey('Rbs_User_User', 'email'), ['ucf']) }}</dt>
				<dd>(= document.email =)</dd>
				<dt>{{ i18n(propertyKey('Rbs_User_User', 'active'), ['ucf']) }}</dt>
				<dd>(= document.active | rbsBoolean =)</dd>
			</dl>
		</div>
		<h4>{{ i18n('m.rbs.user.admin.group_list', ['ucf']) }}</h4>
		<rbs-document-list data-dlid="DLGroup1"
			model="Rbs_User_Group"
			modification-date="false"
			load-query="query"
			actions="">
			<column name="label" primary="true"></column>
			<column name="realm"></column>
			<quick-actions></quick-actions>
		</rbs-document-list>
	</div>

</div>