<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-image
				property="path"
				required="true"
				label="{{ i18nAttr('m.rbs.media.document.image.path', ['ucf']) }}">
		</rbs-field-image>

		<rbs-field-text
				property="label" required="true"
				label="{{ i18nAttr('m.rbs.media.document.image.label', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text
				property="alt"
				label="{{ i18nAttr('m.rbs.media.document.image.alt', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-boolean
				property="localizePath"
				label="{{ i18nAttr('m.rbs.media.document.image.localizepath', ['ucf']) }}">
		</rbs-field-boolean>

	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<fieldset data-ng-show="section=='fileinfo'"
		hide-when-create="true"
		data-form-section-label="{{ i18nAttr('m.rbs.media.document.image.file-informations', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}">

		<rbs-field label="{{ i18nAttr('m.rbs.media.document.image.width', ['ucf']) }}">
			<span class="uneditable-input">(=document.width | number=)</span>
		</rbs-field>
		<rbs-field label="{{ i18nAttr('m.rbs.media.document.image.height', ['ucf']) }}">
			<span class="uneditable-input">(=document.height | number=)</span>
		</rbs-field>
		<rbs-field label="{{ i18nAttr('m.rbs.media.document.image.mimetype', ['ucf']) }}">
			<span class="uneditable-input">(=document.mimetype=)</span>
		</rbs-field>

	</fieldset>

	<form-button-bar></form-button-bar>
</form>