<form name="form" data-ng-submit="submit()" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text
				property="label" required="true"
				label="{{ i18nAttr(propertyKey('Rbs_Theme_PageTemplate', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker ng-show="document.isNew()"
				property="theme" required="true" label="{{ i18nAttr(propertyKey('Rbs_Theme_PageTemplate', 'theme'), ['ucf']) }}"
				accepted-model="Rbs_Theme_Theme"
				selector-title="{{ i18nAttr('m.rbs.theme.documents.pagetemplate_theme-picker-title', ['ucf']) }}"
				allow-creation="false">
		</rbs-field-picker>

		<ul class="nav nav-tabs" id="contentsTab">
			<li class="active"><a href="javascript:;" data-target="#html" data-toggle="tab">
				{{ i18n(propertyKey('Rbs_Theme_PageTemplate', 'html'), ['ucf']) }}
			</a></li>
			<li><a href="javascript:;" data-target="#htmlForBackoffice" data-toggle="tab">
				{{ i18n(propertyKey('Rbs_Theme_PageTemplate', 'htmlForBackoffice'), ['ucf']) }}
			</a></li>
			<li><a href="javascript:;" data-target="#editableContent" data-toggle="tab">
				{{ i18n(propertyKey('Rbs_Theme_PageTemplate', 'editableContent'), ['ucf']) }}
			</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="html">
				<ace-editor data-ng-model="document.html"></ace-editor>
			</div>
			<div class="tab-pane" id="htmlForBackoffice">
				<ace-editor data-ng-model="document.htmlForBackoffice"></ace-editor>
			</div>
			<div class="tab-pane" id="editableContent">
				<rbs-todo>Champ de type JSON à éditer en texte.</rbs-todo>
				<ace-editor data-ng-model="document.editableContent" mode="javascript"></ace-editor>
			</div>
		</div>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>