<rbs-links-panel title="{{ i18nAttr('m.rbs.commerce.admin.store_settings', ['ucf']) }}">
	<a rbs-active-route="" href="Rbs/Commerce/WebStore/" rbs-panel-link="">{{ i18n('m.rbs.store.admin.webstore_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Commerce/Process/" rbs-panel-link="">{{ i18n('m.rbs.commerce.admin.process_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Commerce/Mode/" rbs-panel-link="">{{ i18n('m.rbs.shipping.admin.mode_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Commerce/Connector/" rbs-panel-link="">{{ i18n('m.rbs.payment.admin.connector_list', ['ucf']) }}</a>
</rbs-links-panel>
<rbs-links-panel title="{{ i18nAttr('m.rbs.commerce.admin.pricing_settings', ['ucf']) }}">
	<a rbs-active-route="" href="Rbs/Commerce/BillingArea/" rbs-panel-link="">{{ i18n('m.rbs.price.admin.billingarea_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Commerce/Tax/" rbs-panel-link="">{{ i18n('m.rbs.price.admin.tax_list', ['ucf']) }}</a>
</rbs-links-panel>