<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Store_WebStore', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.generic.admin.synchronize_title_label', ['ucf']) }}"
			label="{{ i18nAttr(propertyKey('Rbs_Store_WebStore', 'title'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker-multiple property="billingAreas" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Store_WebStore', 'billingAreas'), ['ucf']) }}"
			accepted-model="Rbs_Price_BillingArea"
			selector-title="{{ i18nAttr('m.rbs.store.admin.store_billingareas_picker_title', ['ucf']) }}">
		</rbs-field-picker-multiple>

		<rbs-field-boolean property="displayPrices"
			label="{{ i18nAttr(propertyKey('Rbs_Store_WebStore', 'displayPrices'), ['ucf']) }}">
		</rbs-field-boolean>

		<rbs-field-boolean property="displayPricesWithTax"
			label="{{ i18nAttr(propertyKey('Rbs_Store_WebStore', 'displayPricesWithTax'), ['ucf']) }}">
		</rbs-field-boolean>

		<rbs-field-picker property="orderProcess"
			label="{{ i18nAttr(propertyKey('Rbs_Store_WebStore', 'orderProcess'), ['ucf']) }}"
			accepted-model="Rbs_Commerce_Process"
			selector-title="{{ i18nAttr('m.rbs.store.admin.store_select_orderprocess', ['ucf']) }}"
			allow-edition="true"
			allow-creation="false">
		</rbs-field-picker>
	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-rbs-document-system-info-section="">
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>