{% block rbsStorelocatorStoreDataCache %}
	<script type="text/javascript">
		window.__change['{{ blockId }}'] = {{ controllerInit | json_encode | raw}};
	</script>
{% endblock rbsStorelocatorStoreDataCache %}
{% block rbsStorelocatorUse %}
	{% use 'Rbs_Storelocator/store-directives.twig' %}
	{{ block('rbsStorelocatorStore') }}
{% endblock rbsStorelocatorUse %}

{% if controllerInit.googleAPIKey %}
	<script type="text/javascript">
		window.__change.__resources.push(function() {window.__change.RBS_Geo.initGoogleMap('{{ controllerInit.googleAPIKey }}')});
	</script>
	<div data-rbs-storelocator-google-store="" data-cache-key="{{ blockId }}">
	</div>
{% else %}
	<script type="text/javascript">
		window.__change.__resources.push(function() {window.__change.RBS_Geo.initLeafletMap();});
	</script>
	<div data-rbs-storelocator-store="" data-cache-key="{{ blockId }}">
	</div>
{% endif %}