<script type="text/ng-template" id="/address-form.static.tpl">
	<div class="form-horizontal">
		{% set leftColumnElementClass = 'col-sm-4 col-md-3' %}
		{% set rightColumnElementClass = 'col-sm-8 col-md-9' %}
		<div class="form-group">
			<label for="rbs-order-process-country" class="{{ leftColumnElementClass }} control-label">
				{{ i18n('m.rbs.commerce.front.country', ['ucf']) }}
			</label>
			<div class="{{ rightColumnElementClass }}">
				<div data-ng-show="readonly || countries.length == 1" class="form-control-static">
					(= countryTitle(fieldValues.countryCode) =)
				</div>
				<select data-ng-show="!readonly && countries.length > 1" id="rbs-order-process-country"
					data-ng-model="fieldValues.countryCode" class="form-control">
					<option data-ng-repeat="country in countries" value="(= country.code =)">
						(= country.title =)
					</option>
				</select>
			</div>
		</div>
		<div class="form-group" data-ng-repeat="fieldDef in fieldsDef" data-ng-if="!readonly || fieldValues[fieldDef.name]">
			<label for="(= fieldDef.id =)" class="{{ leftColumnElementClass }} control-label">
				<em data-ng-if="fieldDef.required" class="required-symbol"
					title="({{ i18nAttr('m.rbs.simpleform.front.this_field_is_required', ['ucf']) }})">*</em>
				(= fieldDef.title =)
			</label>
			<div class="{{ rightColumnElementClass }}" data-ng-if="fieldDef.values">
				<select data-ng-hide="readonly" id="(= fieldDef.id =)" class="form-control"
					data-ng-required="fieldDef.required" data-ng-model="fieldValues[fieldDef.name]"
					data-ng-options="key as v.title for (key, v) in fieldDef.values">
				</select>
				<div data-ng-show="readonly" class="form-control-static">
					(= fieldDef.values[fieldValues[fieldDef.name]].title =)
				</div>
			</div>
			<div class="{{ rightColumnElementClass }}" data-ng-if="!fieldDef.values">
				<input data-ng-hide="readonly" id="(= fieldDef.id =)" class="form-control"
					data-ng-required="fieldDef.required" data-ng-model="fieldValues[fieldDef.name]" type="text" />
				<div data-ng-show="readonly" class="form-control-static">(= fieldValues[fieldDef.name] =)</div>
			</div>
		</div>
	</div>
</script>