<script type="text/ng-template" id="/authentication-step.static.tpl">
	<div data-ng-if="information.guest">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">{{ i18n('m.rbs.commerce.front.already_customer', ['ucf']) }}</div>
				<div class="panel-body">
					<div data-ng-form="loginForm">
						<div class="form-group">
							<label for="rbs-order-process-login" class="control-label">
								{{ i18n('m.rbs.user.front.login', ['ucf']) }}
							</label>
							<input id="rbs-order-process-login" data-ng-model="information.login"
								type="text" name="login" required="required" class="form-control"
								placeholder="{{ i18nAttr('m.rbs.user.front.login_placeholder', ['ucf']) }}" />
						</div>
						<div class="form-group">
							<label for="rbs-order-process-password" class="control-label">
								{{ i18n('m.rbs.user.front.password', ['ucf']) }}
							</label>
							<input id="rbs-order-process-password" data-ng-model="information.password"
								type="password" name="password" required="required" class="form-control"
								placeholder="{{ i18nAttr('m.rbs.user.front.password_placeholder', ['ucf']) }}" />
						</div>
						<button class="btn btn-primary" data-ng-disabled="!canAuthenticate()" data-ng-click="authenticate()">
							{{ i18n('m.rbs.user.front.log_in', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">{{ i18n('m.rbs.commerce.front.new_customer', ['ucf']) }}</div>
				<div class="panel-body">
					<div data-ng-form="emailForm">
						<div class="form-group" data-ng-class="{
								'has-error': emailForm.email.$dirty && emailForm.email.$invalid,
								'has-success': emailForm.email.$dirty && !emailForm.email.$invalid
							}">
							<label for="rbs-order-process-email" class="control-label">
								{{ i18n('m.rbs.user.front.email', ['ucf']) }}
							</label>
							<input id="rbs-order-process-email" data-ng-model="information.email"
								type="email" name="email" required="required" class="form-control"
								placeholder="{{ i18nAttr('m.rbs.user.front.email_placeholder', ['ucf']) }}" />
							<p class="text-danger" data-ng-show="emailForm.email.$dirty && emailForm.email.$invalid">
								{{ i18n('c.constraints.emailaddressinvalid', ['ucf']) }}
							</p>
						</div>
						<div class="form-group" data-ng-class="{
								'has-error': (emailForm.confirmEmail.$dirty && emailForm.confirmEmail.$invalid) || (!emailForm.$invalid && !canSetEmail()),
								'has-success': emailForm.confirmEmail.$dirty && !emailForm.confirmEmail.$invalid && canSetEmail()
							}">
							<label for="rbs-order-process-confirm-email" class="control-label">
								{{ i18n('m.rbs.user.front.confirm_email', ['ucf']) }}
							</label>
							<input id="rbs-order-process-confirm-email" data-ng-model="information.confirmEmail"
								type="email" name="confirmEmail" required="required" class="form-control"
								placeholder="{{ i18nAttr('m.rbs.user.front.email_placeholder', ['ucf']) }}" />
							<p class="text-danger" data-ng-show="emailForm.confirmEmail.$dirty && emailForm.confirmEmail.$invalid">
								{{ i18n('c.constraints.emailaddressinvalid', ['ucf']) }}
							</p>
							<p class="text-danger" data-ng-show="!emailForm.$invalid && !canSetEmail()">
								{{ i18n('m.rbs.user.front.error_email_not_match_confirm_email', ['ucf']) }}
							</p>
						</div>
						<button class="btn btn-primary" data-ng-disabled="!canSetEmail()" data-ng-click="setEmail()">
							{{ i18n('m.rbs.commerce.front.continue', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-if="!information.guest">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ i18n('m.rbs.commerce.front.are_you_really', ['ucf'], { 'NAME': "<strong>#{user.login}</strong>" })|raw }}
				</div>
				<div class="panel-body">
					<p>{{ i18n('m.rbs.commerce.front.please_log_in_again', ['ucf']) }}</p>
					<div data-ng-form="passwordConfirmForm">
						<div class="form-group">
							<label for="rbs-order-process-password">{{ i18n('m.rbs.user.front.password', ['ucf']) }}</label>
							<input id="rbs-order-process-password" data-ng-model="information.password"
								type="password" name="password" required="required" class="form-control"
								placeholder="{{ i18nAttr('m.rbs.user.front.password_placeholder', ['ucf']) }}" />
						</div>
						<button class="btn btn-primary" data-ng-disabled="!canAuthenticate()" data-ng-click="authenticate()">
							{{ i18n('m.rbs.user.front.log_in', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ i18n('m.rbs.commerce.front.not_you', ['ucf'], { 'NAME': "<strong>#{user.login}</strong>" })|raw }}
				</div>
				<div class="panel-body">
					<p>{{ i18n('m.rbs.commerce.front.please_log_out', ['ucf']) }}</p>
					<a class="btn btn-primary"
						href="{{ ajaxURL('Rbs_User', 'Logout') }}?redirectLocation={{ currentURL()|url_encode }}">
						{{ i18n('m.rbs.user.front.log_out', ['ucf']) }}
					</a>
				</div>
			</div>
		</div>
	</div>
</script>

<div class="vertical-if-animation" data-ng-if="!isAuthenticated()">
	<div class="vertical-if-animation-content row" data-rbs-commerce-authentication-step="" data-realm="{{ parameters.realm }}"
		data-login="{{ user.login }}">
	</div>
</div>

<div class="vertical-if-animation" data-ng-if="isAuthenticated()" data-ng-cloak="">
	<div class="vertical-if-animation-content">
		<div class="panel panel-default">
			<div class="panel-heading">{{ i18n('m.rbs.user.front.email', ['ucf']) }}</div>
			<div class="panel-body">
				<button class="btn btn-default pull-right" data-ng-show="isCurrentStep('information')"
					data-ng-click="unsetAuthenticated()">
					{{ i18n('m.rbs.commerce.front.modify', ['ucf']) }}
				</button>
				(= information.email =)
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">{{ i18n('m.rbs.commerce.front.mailing_address', ['ucf']) }}</div>
			<div class="panel-body">
				<div data-rbs-address-form="" data-ng-model="information.address" data-valid="information.isAddressValid"
					data-zone-code="(= cart.zone =)" data-readonly="(= !isCurrentStep('information') =)">
				</div>
			</div>
		</div>

		<div data-ng-show="isCurrentStep('information')" class="clearfix">
			<p>
				<button class="btn btn-primary btn-lg pull-right" data-ng-click="finalizeInformationStep()"
					data-ng-disabled="!isInformationStepComplete()">
					{{ i18n('m.rbs.commerce.front.continue', ['ucf']) }}
				</button>
			</p>
		</div>
		<div data-ng-show="!isCurrentStep('information')" class="clearfix">
			<p>
				<button class="btn btn-default pull-right" data-ng-click="setCurrentStep('information')">
					{{ i18n('m.rbs.commerce.front.modify', ['ucf']) }}
				</button>
			</p>
		</div>
	</div>
</div>