<div class="vertical-if-animation" data-ng-if="!isAuthenticated()" data-ng-init="information.realm = '{{ parameters.realm }}'">
	{% if user %}
		<div class="vertical-if-animation-content row">
			<ul class="text-danger" data-ng-if="errors.length">
				<li data-ng-repeat="error in errors">(= error =)</li>
			</ul>
			<div class="col-sm-6" data-ng-init="information.login = '{{ user.login }}'">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ i18n('m.rbs.commerce.front.are_you_really', ['ucf'], { 'NAME': "<strong>#{user.login}</strong>" })|raw }}
					</div>
					<div class="panel-body">
						<p>{{ i18n('m.rbs.commerce.front.please_log_in_again', ['ucf']) }}</p>
						<div class="form-group">
							<label for="rbs-order-process-password">{{ i18n('m.rbs.user.front.password', ['ucf']) }}</label>
							<input id="rbs-order-process-password" type="password" data-ng-model="information.password"
								class="form-control" placeholder="{{ i18nAttr('m.rbs.user.front.password_placeholder', ['ucf']) }}" />
						</div>
						<button class="btn btn-primary" data-ng-disabled="!canAuthenticate()" data-ng-click="authenticate()">
							{{ i18n('m.rbs.user.front.log_in', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{ i18n('m.rbs.commerce.front.not_you', ['ucf'], { 'NAME': "<strong>#{user.login}</strong>" })|raw }}
					</div>
					<div class="panel-body">
						<p>{{ i18n('m.rbs.commerce.front.please_log_out', ['ucf']) }}</p>
						<a class="btn btn-primary" href="{{ ajaxURL('Rbs_User', 'Logout') }}?redirectLocation={{ currentURL()|url_encode }}">
							{{ i18n('m.rbs.user.front.log_out', ['ucf']) }}
						</a>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="vertical-if-animation-content row">
			<ul class="text-danger" data-ng-if="errors.length">
				<li data-ng-repeat="error in errors">(= error =)</li>
			</ul>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">{{ i18n('m.rbs.commerce.front.already_customer', ['ucf']) }}</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="rbs-order-process-login">{{ i18n('m.rbs.user.front.login', ['ucf']) }}</label>
							<input id="rbs-order-process-login" type="text" data-ng-model="information.login"
								class="form-control" placeholder="{{ i18nAttr('m.rbs.user.front.login_placeholder', ['ucf']) }}" />
						</div>
						<div class="form-group">
							<label for="rbs-order-process-password">{{ i18n('m.rbs.user.front.password', ['ucf']) }}</label>
							<input id="rbs-order-process-password" type="password" data-ng-model="information.password"
								class="form-control" placeholder="{{ i18nAttr('m.rbs.user.front.password_placeholder', ['ucf']) }}" />
						</div>
						<button class="btn btn-primary" data-ng-disabled="!canAuthenticate()" data-ng-click="authenticate()">
							{{ i18n('m.rbs.user.front.log_in', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">{{ i18n('m.rbs.commerce.front.new_customer', ['ucf']) }}</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="rbs-order-process-email">{{ i18n('m.rbs.user.front.email', ['ucf']) }}</label>
							<input id="rbs-order-process-email" type="text" data-ng-model="information.email"
								class="form-control" placeholder="{{ i18nAttr('m.rbs.user.front.email_placeholder', ['ucf']) }}" />
						</div>
						<div class="form-group">
							<label for="rbs-order-process-confirm-email">{{ i18n('m.rbs.user.front.confirm_email', ['ucf']) }}</label>
							<input id="rbs-order-process-confirm-email" type="text" data-ng-model="information.confirmEmail"
								class="form-control" placeholder="{{ i18nAttr('m.rbs.user.front.email_placeholder', ['ucf']) }}" />
						</div>
						<button class="btn btn-primary" data-ng-disabled="!canSetEmail()" data-ng-click="setEmail()">
							{{ i18n('m.rbs.commerce.front.continue', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</div>

<div class="vertical-if-animation" data-ng-if="isAuthenticated()" data-ng-cloak="">
	<div class="vertical-if-animation-content">
		<div class="panel panel-default">
			<div class="panel-heading">{{ i18n('m.rbs.user.front.email', ['ucf']) }}</div>
			<div class="panel-body">
				(= cart.email =)
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">{{ i18n('m.rbs.commerce.front.mailing_address', ['ucf']) }}</div>
			<div class="panel-body">
				<div data-rbs-address-form="" data-ng-model="information.address"
					data-zone-code="(= cart.zone =)" data-readonly="(= !isCurrentStep('information') =)">
				</div>
			</div>
		</div>

		<div data-ng-show="isCurrentStep('information')" class="clearfix">
			<p>
				<button class="btn btn-primary btn-lg pull-right" data-ng-click="setCurrentStep('shipping')"
					data-ng-disabled="!isInformationStepComplete()">
					{{ i18n('m.rbs.commerce.front.continue', ['ucf']) }}
				</button>
			</p>
		</div>
		<div data-ng-show="!isCurrentStep('information')" class="clearfix">
			<p>
				<button class="btn btn-default pull-right" data-ng-click="setCurrentStep('information')">
					{{ i18n('m.rbs.commerce.front.modify', ['ucf']) }}
				</button>
			</p>
		</div>
	</div>
</div>