<script type="text/ng-template" id="/shipping-mode-selector.static.tpl" xmlns="http://www.w3.org/1999/html">
	<div>
		<div class="panel panel-default" data-ng-if="modes.length > 1 && !display.readonly">
			<div class="panel-heading">{{ i18n('m.rbs.commerce.front.shipping_mode', ['ucf']) }}</div>
			<div class="panel-body">
				{{ i18n('m.rbs.commerce.front.select_shipping_mode', ['ucf']) }}
			</div>
			<div class="list-group">
				<a data-ng-repeat="(index, mode) in modes" href="javascript:" class="list-group-item"
					data-ng-class="{active: mode.id == delivery.modeId}" data-ng-click="selectMode(index)">
					<div class="row">
						<div class="col-sm-5 col-md-6 col-lg-7">
							(= mode.title =)<br />
							<div class="small" data-ng-bind-html="trustHtml(mode.description)"></div>
						</div>
						<div class="col-sm-2 price">
							(= mode.feesValue =)
						</div>
						<div class="col-sm-5 col-md-4 col-lg-3">
							<img data-ng-if="mode.visualUrl" data-ng-src="(= mode.visualUrl =)" />
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="panel panel-default" data-ng-if="modes.length == 1 || display.readonly">
			<div class="panel-heading">{{ i18n('m.rbs.commerce.front.shipping_mode', ['ucf']) }}</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-5 col-md-6 col-lg-7">
						(= currentMode.title =)<br />
						<div class="small" data-ng-bind-html="trustHtml(currentMode.description)"></div>
					</div>
					<div class="col-sm-2 price">
						(= currentMode.feesValue =)
					</div>
					<div class="col-sm-5 col-md-4 col-lg-3">
						<img data-ng-if="currentMode.visualUrl" data-ng-src="(= currentMode.visualUrl =)" />
					</div>
				</div>
			</div>
		</div>

		<div class="configuration-zone"></div>
	</div>
</script>

<script type="text/ng-template" id="/shipping-mode-configuration-address.static.tpl">
	<div class="panel panel-default">
		<div class="panel-heading">{{ i18n('m.rbs.commerce.front.shipping_address', ['ucf']) }}</div>
		<div class="panel-body">
			<ol>
				<li class="radio" data-ng-if="!display.readonly">
					<label>
						<input type="radio" data-ng-model="delivery.options.usePostalAddress" value="1">
						{{ i18n('m.rbs.commerce.front.use_postal_address') }}
					</label>
				</li>
				<li class="radio" data-ng-if="display.readonly && delivery.options.usePostalAddress == 1">
					{{ i18n('m.rbs.commerce.front.use_postal_address') }}
				</li>
				<li class="radio" data-ng-if="!display.readonly">
					<label>
						<input type="radio" data-ng-model="delivery.options.usePostalAddress" value="0">
						{{ i18n('m.rbs.commerce.front.use_another_address') }}
					</label>
				</li>
			</ol>

			<div data-ng-if="delivery.options.usePostalAddress == 0">
				<div data-rbs-address-form="" data-ng-model="delivery.address" data-valid="delivery.isConfigured"
					data-zone-code="(= zoneCode =)" data-readonly="(= display.readonly =)">
				</div>
			</div>
		</div>
	</div>
</script>

<div data-ng-repeat="(index, delivery) in shipping.deliveries">
	<div data-ng-if="shipping.deliveries.length > 1">
		<h3>{{ i18n('m.rbs.commerce.front.delivery_n', ['ucf'], {'number': '(= index+1 =)'}) }}</h3>

		<div class="panel panel-default">
			<div class="panel-heading">{{ i18n('m.rbs.commerce.front.lines_included', ['ucf']) }}</div>
			<table class="table table-striped table-vertical-middle">
				<thead>
					<tr>
						<th>#</th>
						<th>{{ i18n('m.rbs.commerce.front.designation', ['ucf']) }}</th>
						<th>{{ i18n('m.rbs.commerce.front.quantity', ['ucf']) }}</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="line in delivery.lines">
						<td>(= line.index+1 =)</td>
						<td>(= line.designation =)</td>
						<td>(= line.quantity =)</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div data-rbs-commerce-shipping-mode-selector="" data-delivery="delivery" data-zone-code="cart.zone" data-cart="cart"
		data-readonly="(= !isCurrentStep('shipping') =)"></div>
</div>

<div data-ng-show="isCurrentStep('shipping')" class="clearfix">
	<p>
		<button class="btn btn-primary btn-lg pull-right" data-ng-click="finalizeShippingStep()"
			data-ng-disabled="!isShippingStepComplete()">
			{{ i18n('m.rbs.commerce.front.continue', ['ucf']) }}
		</button>
	</p>
</div>
<div data-ng-show="!isCurrentStep('shipping')" class="clearfix">
	<p>
		<button class="btn btn-default pull-right" data-ng-click="setCurrentStep('shipping')">
			{{ i18n('m.rbs.commerce.front.modify', ['ucf']) }}
		</button>
	</p>
</div>