<div class="row">
	<div class="col-sm-6 col-md-8">
		<img class="pull-left" src="{{ imageURL(visual, 540, 405) }}" alt="" />
	</div>
	<div class="col-sm-6 col-md-4">
		<p>{{ i18n('m.rbs.brand.documents.brand_websiteurl', ['ucf', 'lab']) }} <a href="{{ websiteURL }}">{{ websiteURL }}</a></p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		{{ description | richText }}
	</div>
</div>