<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true" label="{{ i18nAttr(propertyKey('Rbs_Commerce_Fee', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.generic.admin.synchronize_title_label', ['ucf']) }}"
			label="{{ i18nAttr(propertyKey('Rbs_Commerce_Fee', 'title'), ['ucf']) }}"
			input-class="form-control">
		</rbs-field-text>

		<rbs-field-document-select label="{{ i18nAttr(propertyKey('Rbs_Commerce_Fee', 'orderProcess'), ['ucf']) }}"
				required="true" property="orderProcess" accepted-model="Rbs_Commerce_Process"
				ng-model="document.orderProcess">
		</rbs-field-document-select>

		<rbs-field-picker property="sku" label="{{ i18nAttr(propertyKey('Rbs_Commerce_Fee', 'sku'), ['ucf']) }}"
				required="true"
				accepted-model="Rbs_Stock_Sku"
				selector-title="{{ i18nAttr('m.rbs.admin.admin.select', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Commerce_Fee', 'cartFilterData'), ['ucf']) }}">
			<div rbs-document-filter-container="" filter="document.cartFilterData">
				<div rbs-cart-filter-definitions=""></div>
			</div>
		</rbs-field>

		<rbs-field-picker property="shippingMode" label="{{ i18nAttr(propertyKey('Rbs_Commerce_Fee', 'shippingMode'), ['ucf']) }}"
				accepted-model="Rbs_Shipping_Mode"
				selector-title="{{ i18nAttr('m.rbs.admin.admin.select', ['ucf']) }}">
		</rbs-field-picker>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-rbs-document-system-info-section="">
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>
