<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-picker property="connector" label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'connector'), ['ucf']) }}"
				accepted-model="Rbs_Payment_Connector" allow-creation="false" allow-edition="true"
				selector-title="{{ i18nAttr('m.rbs.payment.admin.transaction_select_connector', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field-text property="targetIdentifier" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'targetIdentifier'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'currencyCode'), ['ucf']) }}">
			<select ng-model="document.currencyCode" rbs-items-from-collection="Rbs_Price_Collection_Iso4217" class="form-control"></select>
		</rbs-field>

		<rbs-field-float
				property="amount"
				label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'amount'), ['ucf']) }}"
				max-length="9" input-class="input-mini">
		</rbs-field-float>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>