<form name="form" data-ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'targetIdentifier'), ['ucf']) }}">
			<div class="form-control-static">(= document.contextData.from =) - (= document.targetIdentifier =)</div>
		</rbs-field>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'amount'), ['ucf']) }}">
			<div class="form-control-static">(= document.formattedAmount =)</div>
		</rbs-field>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'processingStatus'), ['ucf']) }}">
			<div class="form-control-static">(= document.formattedProcessingStatus =)</div>
		</rbs-field>

		<hr />

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'email'), ['ucf']) }}">
			<div class="form-control-static">(= document.email =)</div>
		</rbs-field>

		<hr />

		<rbs-field-picker property="connector" accepted-model="Rbs_Payment_Connector"
			data-ng-if="document.processingStatus === 'initiated' || document.processingStatus === 'processing'"
			label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'connector'), ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.payment.admin.transaction_select_connector', ['ucf']) }}">
		</rbs-field-picker>
		<rbs-field data-ng-if="document.processingStatus !== 'initiated' && document.processingStatus !== 'processing'"
			label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'connector'), ['ucf']) }}">
			<div class="form-control-static">(= document.connector.label =)</div>
		</rbs-field>

		<rbs-field-text property="processingIdentifier"
			data-ng-if="document.processingStatus === 'initiated' || document.processingStatus === 'processing'"
			label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'processingIdentifier'), ['ucf']) }}">
		</rbs-field-text>
		<rbs-field data-ng-if="document.processingStatus !== 'initiated' && document.processingStatus !== 'processing'"
			label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'processingIdentifier'), ['ucf']) }}">
			<div class="form-control-static">(= document.processingIdentifier =)</div>
		</rbs-field>

		<rbs-field-date property="processingDate"
			data-ng-if="document.processingStatus === 'initiated' || document.processingStatus === 'processing'"
			label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'processingDate'), ['ucf']) }}">
		</rbs-field-date>
		<rbs-field data-ng-if="document.processingStatus !== 'initiated' && document.processingStatus !== 'processing'"
			label="{{ i18nAttr(propertyKey('Rbs_Payment_Transaction', 'processingDate'), ['ucf']) }}">
			<div class="form-control-static">(= document.processingDate|rbsDateTime =)</div>
		</rbs-field>
	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-rbs-document-system-info-section="">
	</fieldset>

	<rbs-form-button-bar>
		<button type="button" data-ng-click="validatePayment($event)" class="btn btn-headline btn-success"
			data-ng-if="document.META$.actions.validatePayment"
			data-ng-disabled="document.data.length === 0 || !document.connector || !document.processingIdentifier || !isUnchanged()">
			<i class="icon-ok"></i>{{ i18n('m.rbs.payment.admin.validate_payment_button', ['ucf']) | raw }}
		</button>
		<button type="button" data-ng-click="refusePayment($event)" class="btn btn-headline btn-danger"
			data-ng-if="document.META$.actions.refusePayment"
			data-ng-disabled="document.data.length === 0 || !isUnchanged()">
			<i class="icon-remove"></i>{{ i18n('m.rbs.payment.admin.refuse_payment_button', ['ucf']) | raw }}
		</button>
	</rbs-form-button-bar>
</form>