{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.field('label', 'String', 'm.rbs.website.document.menu.label', true) }}

		{{ forms.picker('website', 'Rbs_Website_Website', 'm.rbs.website.document.menu.website',
			true, null, 'm.rbs.website.document.menu.website-picker-title') }}

	</fieldset>

	<fieldset ng-form="" data-ng-show="section=='entries'"
	          data-form-section-label="{{ i18nAttr('m.rbs.website.document.menu.section-items', ['ucf']) }}"
	          data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<div class="control-group property" ng-class="{'success': hasCorrectionOnProperty('items')}">
			<label class="control-label" for="items">{{ i18n('m.rbs.website.document.menu.items', ['ucf']) }}</label>
			<div class="controls">
				<div class="rbs-website-menu-items-selector" ng-model="document.items"></div>
				<token-list class="rows" items="document.items" label-property="title"></token-list>
				<a href="javascript:;" ng-click="toggleAddItemUI($event)"><i ng-class="{true:'icon-chevron-up', false:'icon-chevron-down'}[addItemUIShown]"></i> Ajouter</a>
			</div>
		</div>


		<div class="well" ng-if="addItemUIShown">
			<button type="button" class="close pull-right" ng-click="toggleAddItemUI($event)">&times;</button>
			<h5>Ajouter une entrée au menu</h5>
			<span class="help-block">
				<strong>Vous pouvez sélectionner un Document publiable ou saisir les informations de l'entrée de menu manuellement.</strong><br/>
				Après avoir choisi un document, il est possible de modifier certains paramètres comme le titre à afficher
				dans le menu.
			</span>
			<div class="control-group">
				<label class="control-label" for="items">{{ i18n('m.rbs.website.document.menu.select-document', ['ucf']) }}</label>
				<div class="controls">
					<div class="document-picker-single"
					     allow-creation="false"
					     select-model="{publishable:'true', root:'true'}"
					     ng-model="add.selectedDocument"
					     selector-title="Sélectionner un document à ajouter au menu"
					     ng-change="onDocumentSelected(add.selectedDocument)">
					</div>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="title">{{ i18n('m.rbs.website.document.menu.title', ['ucf']) }}</label>
				<div class="controls">
					<input type="text" class="input-xlarge" ng-required="true" ng-pattern="add.titlePattern" ng-model="add.title"/><br/>
					<label class="checkbox">
						<input type="checkbox" ng-model="add.titleI18nKey"/> {{ i18n('m.rbs.website.document.menu.i18nKey', ['ucf']) }}
					</label>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="title">{{ i18n('m.rbs.website.document.menu.url') }}</label>
				<div class="controls">
					<input type="url" class="input-xlarge" ng-model="add.url"/>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<button type="button" class="btn" ng-click="addItem()"><i class="icon-plus"></i> Ajouter cet élément au menu</button>
				</div>
			</div>

		</div>

	</fieldset>

	<fieldset
			data-ng-show="section=='systeminfo'"
			data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
			data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>