{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.field('label', 'String', 'm.rbs.website.document.menu.label', true) }}

		{{ forms.picker('website', 'Rbs_Website_Website', 'm.rbs.website.document.menu.website',
			true, null, 'm.rbs.website.document.menu.website-picker-title') }}

		<div class="control-group property">
			<label class="control-label" for="items">{{ i18n('m.rbs.website.document.menu.items', ['ucf']) }}</label>
			<div class="controls">
				<div class="rbs-website-menu-items-selector" ng-model="document.items"></div>
				<textarea ng-model="document.items"></textarea>
			</div>
		</div>


	</fieldset>

	<fieldset
			data-ng-show="section=='systeminfo'"
			data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
			data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>