<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text
				property="label" required="true"
				label="{{ i18nAttr('m.rbs.website.document.menu.label', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker
				property="website" required="true" label="{{ i18nAttr('m.rbs.website.document.menu.website', ['ucf']) }}"
				accepted-model="Rbs_Website_Website"
				selector-title="{{ i18nAttr('m.rbs.website.document.menu.website-picker-title', ['ucf']) }}"
				allow-creation="false">
		</rbs-field-picker>

	</fieldset>

	<fieldset ng-form="" data-ng-show="section=='entries'"
	          data-form-section-label="{{ i18nAttr('m.rbs.website.document.menu.section-items', ['ucf']) }}"
	          data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field label="{{ i18nAttr('m.rbs.website.document.menu.items', ['ucf']) }}">
			<div class="rbs-website-menu-items-selector" ng-model="document.items"></div>
			<token-list class="rows" items="document.items" label-property="title"></token-list>
			<a href="javascript:;" ng-click="toggleAddItemUI($event)"><i ng-class="{true:'icon-chevron-up', false:'icon-chevron-down'}[addItemUIShown]"></i>
				{{ i18n('m.rbs.website.document.menu.add-items', ['ucf']) }}</a>
		</rbs-field>

		<div class="well" ng-if="addItemUIShown">
			<button type="button" class="close pull-right" ng-click="toggleAddItemUI($event)">&times;</button>
			<h5>{{ i18n('m.rbs.website.document.menu.add-item', ['ucf']) }}</h5>
			<span class="help-block">{{ i18n('m.rbs.website.document.menu.add-item-help', ['ucf']) }}</span>
			<div class="control-group">
				<label class="control-label" for="items">{{ i18n('m.rbs.website.document.menu.select-document', ['ucf']) }}</label>
				<div class="controls">
					<div class="document-picker-single"
					     allow-creation="false"
					     select-model="{publishable:'true', root:'true'}"
					     ng-model="add.selectedDocument"
					     selector-title="{{ i18nAttr('m.rbs.website.document.menu.select-document-to-add-to-menu', ['ucf']) }}"
					     ng-change="onDocumentSelected(add.selectedDocument)">
					</div>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="title">{{ i18n('m.rbs.website.document.menu.title', ['ucf']) }}</label>
				<div class="controls">
					<input type="text" class="input-xlarge" ng-required="true" ng-pattern="add.titlePattern" ng-model="add.title"/><br/>
					<label class="checkbox">
						<input type="checkbox" ng-model="add.titleI18nKey"/> {{ i18n('m.rbs.website.document.menu.i18nKey', ['ucf']) }}
					</label>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="title">{{ i18n('m.rbs.website.document.menu.url') }}</label>
				<div class="controls">
					<input type="url" class="input-xlarge" ng-model="add.url"/>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<button type="button" class="btn" ng-click="addItem()"><i class="icon-plus"></i>
						{{ i18n('m.rbs.website.document.menu.add-this-element', ['ucf']) }}</button>
				</div>
			</div>

		</div>

	</fieldset>

	<fieldset
			data-ng-show="section=='systeminfo'"
			data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
			data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>