<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">


		<rbs-field-text property="label" label="{{ i18nAttr(propertyKey('Rbs_Order_Process', 'label'), ['ucf']) }}">
		</rbs-field-text>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>