<rbs-links-panel title="{{ i18nAttr('m.rbs.website.admin.website_list', ['ucf']) }}" icon="icon-globe">
	<a rbs-active-route="" href="Rbs/Generic/Website/" rbs-panel-link="">{{ i18n('m.rbs.website.admin.website_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Generic/Theme/Browse/?theme=:id&view=PageTemplates" rbs-panel-link="">{{ i18n('m.rbs.theme.admin.theme_list', ['ucf']) }}</a>
</rbs-links-panel>
<rbs-links-panel title="{{ i18nAttr('m.rbs.tag.admin.module_name', ['ucf']) }}" icon="icon-tags">
	<a rbs-active-route="" href="Rbs/Generic/Tag/" rbs-panel-link="">{{ i18n('m.rbs.tag.admin.common_tags', ['ucf']) }}</a>
</rbs-links-panel>
<rbs-links-panel title="{{ i18nAttr('m.rbs.plugins.admin.plugin_list', ['ucf']) }}" icon="icon-puzzle-piece">
	<a rbs-active-route="" href="Rbs/Generic/Plugins/Installed/" rbs-panel-link="">{{ i18nAttr('m.rbs.plugins.admin.installed_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Generic/Plugins/Registered/" rbs-panel-link="">{{ i18nAttr('m.rbs.plugins.admin.registered_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Generic/Plugins/New/" rbs-panel-link=""">{{ i18nAttr('m.rbs.plugins.admin.new_list', ['ucf']) }}</a>
</rbs-links-panel>
<rbs-links-panel title="{{ i18nAttr('m.rbs.geo.admin.module_name', ['ucf']) }}" icon="icon-globe">
	<a rbs-active-route="" href="Rbs/Generic/Zone/" rbs-panel-link="">{{ i18n('m.rbs.geo.admin.zone_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Generic/Country/" rbs-panel-link="">{{ i18n('m.rbs.geo.admin.country_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Generic/TerritorialUnit/" rbs-panel-link="">{{ i18n('m.rbs.geo.admin.territorialunit_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Generic/AddressFields/" rbs-panel-link="">{{ i18n('m.rbs.geo.admin.addressfields_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Generic/Address/" rbs-panel-link="">{{ i18n('m.rbs.geo.admin.address_list', ['ucf']) }}</a>
</rbs-links-panel>
