<rbs-links-panel title="{{ i18nAttr('m.rbs.website.admin.website_list', ['ucf']) }}" icon="icon-globe">
	<a data-rbs-active-route="" href="Rbs/Generic/Website/" data-rbs-panel-link="">
		{{ i18n('m.rbs.website.admin.website_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="Rbs/Generic/Theme/Browse/" data-rbs-panel-link="">
		{{ i18n('m.rbs.theme.admin.theme_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="Rbs/Generic/Text/" data-rbs-panel-link="">
		{{ i18n('m.rbs.website.admin.text_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="Rbs/Generic/HtmlFragment/" data-rbs-panel-link="">
		{{ i18n('m.rbs.website.admin.htmlfragment_list', ['ucf']) }}
	</a>
</rbs-links-panel>
<rbs-links-panel title="{{ i18nAttr('m.rbs.tag.admin.module_name', ['ucf']) }}" icon="icon-tags">
	<a data-rbs-active-route="" href="Rbs/Generic/Tag/" data-rbs-panel-link="">
		{{ i18n('m.rbs.tag.admin.common_tags', ['ucf']) }}
	</a>
</rbs-links-panel>
<rbs-links-panel title="{{ i18nAttr('m.rbs.plugins.admin.plugin_list', ['ucf']) }}" icon="icon-puzzle-piece">
	<a data-rbs-active-route="" href="Rbs/Generic/Plugins/Installed/" data-rbs-panel-link="">
		{{ i18nAttr('m.rbs.plugins.admin.installed_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="Rbs/Generic/Plugins/Registered/" data-rbs-panel-link="">
		{{ i18nAttr('m.rbs.plugins.admin.registered_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="Rbs/Generic/Plugins/New/" data-rbs-panel-link="">
		{{ i18nAttr('m.rbs.plugins.admin.new_list', ['ucf']) }}
	</a>
</rbs-links-panel>
<rbs-links-panel title="{{ i18nAttr('m.rbs.geo.admin.module_name', ['ucf']) }}" icon="icon-globe">
	<a data-rbs-active-route="" href="Rbs/Generic/Zone/" data-rbs-panel-link="">
		{{ i18n('m.rbs.geo.admin.zone_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="Rbs/Generic/Country/" data-rbs-panel-link="">
		{{ i18n('m.rbs.geo.admin.country_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="Rbs/Generic/TerritorialUnit/" data-rbs-panel-link="">
		{{ i18n('m.rbs.geo.admin.territorialunit_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="Rbs/Generic/AddressFields/" data-rbs-panel-link="">
		{{ i18n('m.rbs.geo.admin.addressfields_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="Rbs/Generic/Address/" data-rbs-panel-link="">
		{{ i18n('m.rbs.geo.admin.address_list', ['ucf']) }}
	</a>
</rbs-links-panel>
<rbs-links-panel title="{{ i18nAttr('m.rbs.workflow.admin.module_name', ['ucf']) }}" icon="icon-tasks">
	<a data-rbs-active-route="" href="Rbs/Generic/Workflow/" data-rbs-panel-link="">
		{{ i18n('m.rbs.workflow.admin.workflow_list', ['ucf']) }}
	</a>
</rbs-links-panel>
