<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text
				property="label" required="true"
				label="{{ i18nAttr(propertyKey('Rbs_Website_Menu', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text
				property="title" required="true" rbs-sync-value="document.label"
				sync-title="{{ i18nAttr('m.rbs.generic.admin.synchronize_title_label', ['ucf']) }}"
				label="{{ i18nAttr(propertyKey('Rbs_Website_Menu', 'title'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker
				property="website" required="true" label="{{ i18nAttr(propertyKey('Rbs_Website_Menu', 'website'), ['ucf']) }}"
				accepted-model="Rbs_Website_Website"
				selector-title="{{ i18nAttr('m.rbs.website.admin.menu_website_picker_title', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field property="items" label="{{ i18nAttr(propertyKey('Rbs_Website_Menu', 'items'), ['ucf']) }}">
			<div class="rbs-website-menu-items-selector" ng-model="document.items"></div>
			<rbs-token-list rows="true" items="document.items" item-template="picker-item-Rbs_Menu_Item.html"></rbs-token-list>
			<div class="form-control-static">
				<a href="javascript:;" ng-click="toggleAddItemUI($event)">
					<i ng-class="{true:'icon-chevron-up', false:'icon-chevron-down'}[addItemUIShown]"></i>
					{{ i18n('m.rbs.website.admin.menu_add_items', ['ucf']) }}
				</a>
			</div>
		</rbs-field>

		<div class="panel panel-default" ng-if="addItemUIShown">
			<div class="panel-heading">
				<button type="button" class="close pull-right" ng-click="toggleAddItemUI($event)">&times;</button>
				{{ i18n('m.rbs.website.admin.menu_add_document_item', ['ucf']) }}
			</div>
			<div class="panel-body">
				<p class="help-block">{{ i18n('m.rbs.website.admin.menu_add_document_item_help', ['ucf']) }}</p>

				<rbs-field label="{{ i18n('m.rbs.website.admin.menu_select_document', ['ucf']) }}">
					<rbs-document-picker-single
						select-model="{publishable:true, abstract:false}"
						ng-model="add.document.selected"
						selector-title="{{ i18nAttr('m.rbs.website.admin.menu_select_document_to_add_to_menu', ['ucf']) }}"
						ng-change="onDocumentSelected(add.document.selected)">
					</rbs-document-picker-single>
				</rbs-field>

				<rbs-field label="{{ i18n('m.rbs.website.documents.menu_title', ['ucf']) }}">
					<input type="text" class="form-control" ng-pattern="add.titlePattern" ng-model="add.document.title" />
					<label>
						<input type="checkbox" ng-model="add.document.titleI18nKey"/> {{ i18n('m.rbs.website.admin.menu_i18nKey', ['ucf']) }}
					</label>
				</rbs-field>

				<div class="form-group property">
					<div class="col-lg-9 col-lg-offset-3 controls">
						<button type="button" class="btn btn-primary" ng-disabled="!add.document.title || !add.document.selected" ng-click="addDocument()"><i class="icon-plus"></i>
							{{ i18n('m.rbs.website.admin.menu_add_this_element', ['ucf']) }}</button>
					</div>
				</div>
			</div>
			<div class="panel-heading">
				{{ i18n('m.rbs.website.admin.menu_add_url_item', ['ucf']) }}
			</div>
			<div class="panel-body">
				<p class="help-block">{{ i18n('m.rbs.website.admin.menu_add_url_item_help', ['ucf']) }}</p>

				<rbs-field label="{{ i18n('m.rbs.website.admin.menu_url', ['ucf']) }}">
					<input type="url" class="form-control" ng-model="add.url.selected" />
				</rbs-field>

				<rbs-field label="{{ i18n('m.rbs.website.documents.menu_title', ['ucf']) }}">
					<input type="text" class="form-control" ng-pattern="add.titlePattern" ng-model="add.url.title" />
					<label>
						<input type="checkbox" ng-model="add.url.titleI18nKey"/> {{ i18n('m.rbs.website.admin.menu_i18nKey', ['ucf']) }}
					</label>
				</rbs-field>

				<div class="form-group property">
					<div class="col-lg-9 col-lg-offset-3 controls">
						<button type="button" class="btn btn-primary" ng-disabled="!add.url.title || !add.url.selected" ng-click="addUrl()"><i class="icon-plus"></i>
							{{ i18n('m.rbs.website.admin.menu_add_this_element', ['ucf']) }}</button>
					</div>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset
			data-ng-show="section=='systeminfo'"
			data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-rbs-document-system-info-section="">
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>