<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Website_Menu">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Website_Menu'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-website-menu-translate="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-label-title property="title" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Menu', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Website_Menu', 'title'), ['ucf']) }}">
				</rbs-field-label-title>

				<rbs-field-picker property="website" required="true" accepted-model="Rbs_Website_Website"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Menu', 'website'), ['ucf']) }}"
					selector-title="{{ i18nAttr('m.rbs.website.admin.menu_website_picker_title', ['ucf']) }}">
				</rbs-field-picker>

				<rbs-field property="items" label="{{ i18nAttr(propertyKey('Rbs_Website_Menu', 'items'), ['ucf']) }}">
					<rbs-token-list rows="true" items="document.items" ng-if="true" open-item="onSelect"></rbs-token-list>
					<div class="form-control-static">
						<a href="javascript:;" data-ng-click="toggleAddItemUI($event)">
							<i data-ng-class="{true:'icon-chevron-up', false:'icon-chevron-down'}[menuContext.addItemUIShown]"></i>
							{{ i18n('m.rbs.website.admin.menu_add_items', ['ucf']) }}
						</a>
					</div>
				</rbs-field>

				<div class="panel panel-default" data-ng-show="menuContext.addItemUIShown">
					<div class="panel-heading">
						<button type="button" class="close pull-right" data-ng-click="toggleAddItemUI($event)">&times;</button>
						{{ i18n('m.rbs.website.admin.menu_add_document_item', ['ucf']) }}
					</div>
					<div class="panel-body">
						<p class="help-block">{{ i18n('m.rbs.website.admin.menu_add_document_item_help', ['ucf']) }}</p>

						<rbs-field label="{{ i18n('m.rbs.website.admin.menu_select_document', ['ucf']) }}">
							<rbs-document-picker-single
								select-model="{publishable:true, abstract:false}"
								ng-model="menuContext.add.document.selected"
								selector-title="{{ i18nAttr('m.rbs.website.admin.menu_select_document_to_add_to_menu', ['ucf']) }}"
								ng-change="onDocumentSelected(menuContext.add.document.selected)">
							</rbs-document-picker-single>
						</rbs-field>

						<rbs-field label="{{ i18n('m.rbs.website.documents.menu_title', ['ucf']) }}">
							<input type="text" class="form-control" data-ng-pattern="menuContext.add.titlePattern"
								data-ng-model="menuContext.add.document.title" />
							<label>
								<input type="checkbox" data-ng-model="menuContext.add.document.titleI18nKey"/>
								{{ i18n('m.rbs.website.admin.menu_i18nKey', ['ucf']) }}
							</label>
						</rbs-field>

						<div class="form-group property">
							<div class="col-lg-9 col-lg-offset-3 controls">
								<button type="button" class="btn btn-primary" data-ng-click="addDocument()"
									data-ng-disabled="!menuContext.add.document.title || !menuContext.add.document.selected">
									<i class="icon-plus"></i>
									<span data-ng-hide="menuContext.add.id">
										{{ i18n('m.rbs.website.admin.menu_add_this_element', ['ucf']) }}
									</span>
									<span data-ng-show="menuContext.add.id">
										{{ i18n('m.rbs.website.admin.menu_update_this_element', ['ucf']) }}
									</span>
								</button>
							</div>
						</div>
					</div>
					<div class="panel-heading">
						{{ i18n('m.rbs.website.admin.menu_add_url_item', ['ucf']) }}
					</div>
					<div class="panel-body">
						<p class="help-block">{{ i18n('m.rbs.website.admin.menu_add_url_item_help', ['ucf']) }}</p>

						<rbs-field label="{{ i18n('m.rbs.website.admin.menu_url', ['ucf']) }}">
							<input type="url" class="form-control" data-ng-model="menuContext.add.url.selected" />
						</rbs-field>

						<rbs-field label="{{ i18n('m.rbs.website.documents.menu_title', ['ucf']) }}">
							<input type="text" class="form-control" data-ng-pattern="menuContext.add.titlePattern"
								data-ng-model="menuContext.add.url.title" />
							<label>
								<input type="checkbox" data-ng-model="menuContext.add.url.titleI18nKey"/>
								{{ i18n('m.rbs.website.admin.menu_i18nKey', ['ucf']) }}
							</label>
						</rbs-field>

						<div class="form-group property">
							<div class="col-lg-9 col-lg-offset-3 controls">
								<button type="button" class="btn btn-primary" data-ng-click="addUrl()"
									data-ng-disabled="!menuContext.add.url.title || !menuContext.add.url.selected">
									<i class="icon-plus"></i>
									<span data-ng-hide="menuContext.add.id">
										{{ i18n('m.rbs.website.admin.menu_add_this_element', ['ucf']) }}
									</span>
									<span data-ng-show="menuContext.add.id">
										{{ i18n('m.rbs.website.admin.menu_update_this_element', ['ucf']) }}
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>