<form class="form-horizontal">
	<rbs-workspace-config menu="Rbs_Seo">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Seo'|rbsURL:'home' =)">{{ i18nAttr('m.rbs.seo.admin.js.module-name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Seo_SitemapConfiguration'|rbsURL:'list' =)">{{ i18nAttr('m.rbs.seo.documents.sitemapconfiguration-list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<page-header title="{{ i18nAttr('m.rbs.seo.documents.sitemapconfiguration-list', ['ucf']) }}"></page-header><br />
	<search-filters model="Rbs_Website_Website" filter-query="query" text-search="textSearch"></search-filters>

	<rbs-document-list data-dlid="DLCollection1" model="Rbs_Website_Website" filter-query="query">
		<quick-actions></quick-actions>
		<column name="label" primary="true" label="{{ i18n(propertyKey('Rbs_Website_Website', 'label'), ['ucf']) }}">
			<strong><a href="" ng-href="(= doc | rbsURL =)?section=sitemap">(= doc.label =)</a></strong>
		</column>
		<column name="sitemapGeneration" label="{{ i18n(propertyKey('Rbs_Website_Website', 'sitemapGeneration'), ['ucf']) }}">
			<switch ng-model="doc.sitemapGeneration" disabled="true"></switch>
		</column>
	</rbs-document-list>
</form>