<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Seo_DocumentSeo">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Seo_DocumentSeo'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-seo-document-seo-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				{% include '@Rbs_Seo/Documents/DocumentSeo/localized-properties.twig' %}
			</fieldset>

			<fieldset data-rbs-editor-section="sitemap"
				data-editor-section-label="{{ i18nAttr('m.rbs.seo.admin.sitemap', ['ucf']) }}">

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Seo_DocumentSeo', 'sitemapChangeFrequency'), ['ucf']) }}">
					<select class="form-control" data-ng-model="document.sitemapChangeFrequency"
						data-rbs-items-from-collection="Rbs_Seo_Collection_SitemapChangeFrequency">
						<option value="">
							{{ i18n('m.rbs.seo.admin.documentseo_sitemap_change_frequency_option', ['ucf']) }}
						</option>
					</select>
				</rbs-field>

				<rbs-field-float property="sitemapPriority"
					label="{{ i18nAttr(propertyKey('Rbs_Seo_DocumentSeo', 'sitemapPriority'), ['ucf']) }}">
				</rbs-field-float>

				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>{{ i18n('m.rbs.seo.admin.website', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.seo.admin.add_on_website_sitemap', ['ucf']) }}</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="(websiteId, sitemapWebsiteInfo) in document.sitemapGenerateForWebsites">
							<td>(= sitemapWebsiteInfo.label =)</td>
							<td><rbs-switch ng-model="sitemapWebsiteInfo.generate"></rbs-switch></td>
						</tr>
					</tbody>
				</table>
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>