<div ng-controller="Rbs_Website_MainMenuController">
	<div class="list-group">
		<h4 class="list-group-item">{{ i18n('m.rbs.admin.contents', ['ucf']) }}</h4>
		<a class="list-group-item" href="Rbs/Website/Website/">
			<i class="icon-home"></i> {{ i18n('m.rbs.website.documents.website-list', ['ucf']) }}
		</a>
		<a class="list-group-item" href="Rbs/Website/StaticPage/">
			<i class="icon-file-text"></i> {{ i18n('m.rbs.website.documents.staticpage-list', ['ucf']) }}
		</a>
		<a class="list-group-item" href="Rbs/Website/FunctionalPage/">
			<i class="icon-file"></i> {{ i18n('m.rbs.website.documents.functionalpage-list', ['ucf']) }}
		</a>
		<a class="list-group-item" href="Rbs/Website/Menu/">
			<i class="icon-list-alt"></i> {{ i18n('m.rbs.website.documents.menu-list', ['ucf']) }}
		</a>
		<h4 class="list-group-item">{{ i18n('m.rbs.website.admin.websites-trees', ['ucf']) }}</h4>
	</ul>

	<div class="accordion" id="chgMainMenuTree">
		<div class="accordion-group" data-ng-repeat="website in websites" data-ng-class="{'selected': currentWebsiteId == website.id}">
			<div class="accordion-heading">
				<a class="accordion-toggle pull-right" data-toggle="collapse" data-parent="#chgMainMenuTree" data-target="#chgChangeWebsite(=website.id=)">
					<i class="icon-collapse collapsible"></i>
				</a>
				<a class="accordion-toggle" href="Rbs/Website/nav/?tn=(=website.id=)">
					<i class="icon-home icon-large pull-left"></i>
					<strong>(=website.label=)</strong>
				</a>
			</div>
			<div id="chgChangeWebsite(=website.id=)" class="accordion-body collapse" data-ng-class="{'in': currentWebsiteId == website.id}">
				<div class="accordion-inner">
					<div tree-view="Rbs/Website"
						root-node-url="(=website.META$.treeNode.url=)"
						allowed-models="Rbs_Website_Website Rbs_Website_Topic"
						url-template="Rbs/Website/nav/?tn=:id">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>