<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text
			property="code"
			label="{{ i18nAttr('m.rbs.stock.document.sku.code', ['ucf']) }}"
			max-length="80"
			input-class="input-block-level">
		</rbs-field-text>
		<rbs-field
			label="{{ i18nAttr('m.rbs.stock.document.sku.physicalProperties', ['ucf']) }}">
			<div class="control-group">
				<div class="input-prepend">
					<span class="add-on">m</span>
					<input class="input-mini" data-ng-model="document.physicalProperties.mass.value" smart-float="" type="text" placeholder="mass">
				</div>
				<select class="input-mini" ng-model="document.physicalProperties.mass.unit">
					<option value="kg">kg</option>
					<option value="g">g</option>
					<option value="lbs">lbs</option>
				</select>
			</div>
			<div class="control-group">
				<div class="input-prepend">
					<span class="add-on">l</span>
					<input class="input-mini" smart-float="" ng-model="document.physicalProperties.length.value" min="0" type="text" placeholder="length">
				</div>
				<select class="input-mini" ng-model="document.physicalProperties.length.unit">
					<option value="cm">cm</option>
					<option value="m">m</option>
					<option value="in">in</option>
				</select>
				<span>x</span>
				<div class="input-prepend">
					<span class="add-on">w</span>
					<input class="input-mini" smart-float="" data-ng-model="document.physicalProperties.width.value" min="0" type="text" placeholder="width">
				</div>
				<select class="input-mini" ng-model="document.physicalProperties.width.unit">
					<option value="cm">cm</option>
					<option value="m">m</option>
					<option value="in">in</option>
				</select>
				<span>x</span>
				<div class="input-prepend">
					<span class="add-on">h</span>
					<input class="input-mini" smart-float="" data-ng-model="document.physicalProperties.height.value" min="0" type="text" placeholder="height">
				</div>
				<select class="input-mini" ng-model="document.physicalProperties.height.unit">
					<option value="cm">cm</option>
					<option value="m">m</option>
					<option value="in">in</option>
				</select>
			</div>
		</rbs-field>
		<rbs-field
			label="{{ i18nAttr('m.rbs.stock.document.sku.unit', ['ucf']) }}">
			<select data-ng-model="unit" rbs-items-from-collection="Rbs_Stock_Collection_Unit">
			</select>
		</rbs-field>

		<rbs-field-integer
			property="quantityIncrement"
			min="1"
			max="10000"
			label="{{ i18nAttr('m.rbs.stock.document.sku.quantityincrement', ['ucf']) }}">
		</rbs-field-integer>

		<rbs-field-integer
			property="minQuantity"
			min="1"
			max="10000"
			label="{{ i18nAttr('m.rbs.stock.document.sku.minquantity', ['ucf']) }}">
		</rbs-field-integer>

		<rbs-field-integer
			min="1"
			max="10000"
			property="maxQuantity"
			label="{{ i18nAttr('m.rbs.stock.document.sku.maxquantity', ['ucf']) }}">
		</rbs-field-integer>

		<rbs-field-boolean
			property="unlimitedInventory"
			label="{{ i18nAttr('m.rbs.stock.document.sku.unlimitedinventory', ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.stock.document.sku.unlimitedinventory-help') }}</span>
		</rbs-field-boolean>

		<rbs-field-boolean
			property="allowBackorders"
			label="{{ i18nAttr('m.rbs.stock.document.sku.allowbackorders', ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.stock.document.sku.allowbackorders-help') }}</span>
		</rbs-field-boolean>

		<rbs-field-boolean
			property="allowQuantitySplit"
			label="{{ i18nAttr('m.rbs.stock.document.sku.allowquantitysplit', ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.stock.document.sku.allowquantitysplit-help') }}</span>
		</rbs-field-boolean>

	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section="">
	</fieldset>

	<form-button-bar></form-button-bar>
</form>