<form novalidate="" ng-controller="Rbs_Catalog_ProductList_ProductsController" class="form-horizontal">
	<div class="page-header">
		<h2 class="ng-binding">
			(= productList.label =)
			<span ng-if="List.isCrossSelling">
				(<a href="(= productList.product | documentURL =)">(= productList.product.label =)</a>)
			</span>
			<small>
				{{ i18n(propertyKey('Rbs_Catalog_ProductList', 'productSortOrder'), ['ucf', 'lab']) }}
				(= List.sortOrders[productList.productSortOrder].label =)
				(= List.sortDirections[productList.productSortDirection].label =)
				(<a ng-href="(= productList | documentURL =)">{{ i18n('m.rbs.admin.admin.js.edit') }}</a>)
			</small>
		</h2>
	</div>

	<div ng-if="List.isSynchronized">
		<p>{{ i18n(propertyKey('Rbs_Catalog_SectionProductList', 'synchronizedSection'), ['ucf', 'lab']) }} <a href="(= productList.synchronizedSection | documentURL =)">(= productList.synchronizedSection.label =)</a></p>
		<p>{{ i18n('m.rbs.catalog.documents.sectionproductlist.synchronizedsection-help', ['ucf']) }}</p>
	</div>

	<div ng-if="List.conditions.length > 1">
		<p>{{ i18n('m.rbs.catalog.documents.productlist.condition-help', ['ucf']) }}</p>

		<div class="control-group" >
			<label class="control-label" data-not-a-property="" for="selectCondition">
				{{ i18n('m.rbs.catalog.documents.productlist.condition', ['ucf']) }}
			</label>

			<div class="controls">
				<div class="btn-group" ng-if="List.conditions.length <= 5">
					<button class="btn btn-default" ng-class="{active: List.selectedCondition == condition}" type="button"
						data-ng-repeat="condition in List.conditions" ng-click="List.selectedCondition = condition">
						<i class="icon-ok" ng-show="List.selectedCondition == condition"></i> (= condition.label =)
					</button>
				</div>
				<div class="btn-group" ng-if="List.conditions.length > 5">
					<button class="btn btn-default" data-toggle="dropdown" type="button"
						data-ng-class="{active: List.selectedCondition}">
						<span ng-show="List.selectedCondition"><i class="icon-ok"></i> (= List.selectedCondition.label =)</span>
						<em ng-show="!List.selectedCondition">...</em>
					</button>
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li ng-repeat="condition in List.conditions" ng-click="List.selectedCondition = condition">
							<a><i class="icon-ok" ng-show="List.selectedCondition == condition"></i> (= condition.label =)</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="control-group" >
		<rbs-document-list data-dlid="DLRbsCatalogProductListProducts" model="Rbs_Catalog_ProductListItem" activable="true"
			collection-url="(=productsUrl=)"
			modification-date="false" extend="List" actions="Rbs_Catalog_RemoveProductsFromProductList Rbs_Catalog_HighlightProductsInProductList Rbs_Catalog_RemoveHighlightProductsInProductList"
			use-properties="title">
			<column name="visuals" thumbnail="S" thumbnail-path="doc.product.adminthumbnail" label="{{ i18nAttr('m.rbs.catalog.documents.productlistitem.productvisual', ['ucf']) }}"></column>
			<column name="productLabel" primary="true">
				<strong><a href ng-href="(= doc | documentURL =)">(= doc.product.label =)</a></strong>
			</column>
			<column name="_priority" label="{{ i18nAttr('m.rbs.catalog.documents.productlist.sort-order', ['ucf']) }}" align="center" width="110px">
				<span ng-show="doc.isHighlighted">
					<rbs-kb-switch>
						<button rbs-kb-alt="" ng-disabled="pagination.offset == 0 && $index == 0" class="btn btn-default" type="button" title="{{ i18nAttr('m.rbs.admin.move-top', ['ucf']) }}" ng-click="extend.moveTop(doc)">
							<i class="icon-step-forward icon-rotate-270"></i>
						</button>
						<button rbs-kb-default="" ng-disabled="pagination.offset == 0 && $index == 0" class="btn btn-default" type="button" title="{{ i18nAttr('m.rbs.admin.move-up', ['ucf']) }}" ng-click="extend.moveUp(doc)">
							<i class="icon-play icon-rotate-270"></i>
						</button>
					</rbs-kb-switch>
					<rbs-kb-switch>
						<button rbs-kb-alt="" ng-disabled="doc.position ==  -1" class="btn btn-default" type="button" title="{{ i18nAttr('m.rbs.admin.move-bottom', ['ucf']) }}" ng-click="extend.moveBottom(doc)">
							<i class="icon-step-forward icon-rotate-90"></i>
						</button>
						<button rbs-kb-default="" ng-disabled="doc.position == -1" class="btn btn-default" type="button" title="{{ i18nAttr('m.rbs.admin.move-down', ['ucf']) }}" ng-click="extend.moveDown(doc)">
							<i class="icon-play icon-rotate-90"></i>
						</button>
					</rbs-kb-switch>
				</span>
			</column>
			<column name="_highlight" label="{{ i18nAttr('m.rbs.catalog.documents.productlist.highlight', ['ucf']) }}" align="center" width="90px">
				<switch ng-model="doc.isHighlighted" ng-change="extend.toggleHighlight(doc)"></switch>
			</column>

			<quick-actions>
				[action edit]
				|| <a href="(= doc.product | documentURL =)">{{ i18nAttr('m.rbs.catalog.documents.productlist.edit-product', ['ucf']) }}</a>
				|| [action Rbs_Catalog_RemoveProductsFromProductList]
			</quick-actions>

			<grid-item>
				<img rbs-storage-image="doc.visuals[0].id" thumbnail="L"/>
				<div class="caption">
					<h4><status ng-model="doc" class="small"/> <a href ng-href="(= doc | documentURL =)">(=doc.label=)</a></h4>
				</div>
			</grid-item>
		</rbs-document-list>

		<h4>{{ i18n('m.rbs.catalog.documents.productlist.add-products', ['ucf']) }}</h4>

		<div class="control-group property">
			<label class="control-label" for="{{ name }}">{{ i18n('m.rbs.catalog.documents.productlist.products', ['ucf']) }}</label>
			<div class="controls">
				<div class="document-picker-multiple" ng-model="List.productsToAdd"
					accepted-model="Rbs_Catalog_Product"
					property-label="{{ i18nAttr('m.rbs.catalog.documents.productlist.products', ['ucf']) }}"
					selector-title="{{ i18nAttr('m.rbs.catalog.documents.productlist.products-picker-title', ['ucf']) }}"
					master-label="(= document.label =)"
					allow-edition="false"
					allow-creation="false"
					disable-reordering="true"
					picker-template="picker-categorizable.twig">
				</div>

				<div class="btn-toolbar">
					<button type="button" class="btn btn-primary" ng-click="addProductsFromPicker()" ng-disabled="hasProductsToAdd()">{{ i18n('m.rbs.admin.add', ['ucf']) }}</button>
				</div>
			</div>
		</div>
	</div>

	<div class="form-actions">
		<button class="btn btn-headline" type="button" ng-click="goBack($event)">
			<i class="icon-arrow-left"></i>{{ i18n('m.rbs.admin.forms.btnGoBack', ['ucf']) }}
		</button>
	</div>
</form>