<div class="form-group{{ errorClassName }}">
	{% include 'Rbs_Simpleform/default-label.twig' %}
	<div class="{{ rightColumnElementClass }}">
		<input class="form-control form-control-inline" type="date" name="{{ fieldName }}[date]" id="{{ fieldId }}" size="16"
			value="{{ fieldInfos.value.date }}"
			{% if fieldInfos.field.required %}required=""{% endif %}
			{% if fieldInfos.field.parameters.placeHolder %}placeholder="{{ fieldInfos.field.parameters.placeHolder }}"{% endif %} />
		{{ i18n('m.rbs.simpleform.fo.date-picker-at') }}
		<input class="form-control form-control-inline" type="time" name="{{ fieldName }}[time]" id="{{ fieldId }}" size="5"
			value="{{ fieldInfos.value.time }}"
			{% if fieldInfos.field.required %}required=""{% endif %}
			{% if fieldInfos.field.parameters.timePlaceHolder %}placeholder="{{ fieldInfos.field.parameters.timePlaceHolder }}"{% endif %} />
		{% include 'Rbs_Simpleform/default-error-messages.twig' %}
		{% include 'Rbs_Simpleform/default-help-text.twig' %}
	</div>
</div>