<div class="form-group{{ errorClassName }}">
	{% include 'Rbs_Simpleform/default-label.twig' %}
	<div class="{{ rightColumnElementClass }}">
		<input class="form-control" type="text" name="{{ fieldName }}" id="{{ fieldId }}" value="{{ fieldInfos.value }}"
			autocorrect="off" autocapitalize="off" autocomplete="on"
			{%- if fieldInfos.field.required %} required=""{% endif -%}
			{%- if fieldInfos.field.parameters.placeHolder %} placeholder="{{ fieldInfos.field.parameters.placeHolder }}"{% endif %} />
		{% include 'Rbs_Simpleform/default-error-messages.twig' %}
		{% include 'Rbs_Simpleform/default-help-text.twig' %}
	</div>
</div>
