<rbs-field property="withTax" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_with_tax', ['ucf']) }}">
	<rbs-switch data-ng-model="facet.parameters.withTax"></rbs-switch>
</rbs-field>

<rbs-field property="interval" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_interval', ['ucf']) }}">
	<input data-ng-model="facet.parameters.interval" type="number" class="form-control" />
</rbs-field>

<rbs-field property="minAmount" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_min_amount', ['ucf']) }}">
	<input data-ng-model="facet.parameters.minAmount" type="number" class="form-control" />
</rbs-field>

<rbs-field property="maxAmount" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_max_amount', ['ucf']) }}">
	<input data-ng-model="facet.parameters.maxAmount" type="number" class="form-control" />
</rbs-field>

<rbs-field property="showEmptyItem" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_show_empty_item', ['ucf']) }}">
	<rbs-switch data-ng-model="facet.parameters.showEmptyItem"></rbs-switch>
</rbs-field>

<rbs-field property="renderingMode" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_rendering_mode', ['ucf']) }}">
	<select data-ng-model="facet.parameters.renderingMode" class="form-control"
		data-rbs-items-from-collection="Rbs_Elasticsearch_FacetRenderingModes"
		data-rbs-items-collection-params="forType:price">
		<option value="">{{ i18n('m.rbs.admin.admin.select', ['ucf', 'etc']) }}</option>
	</select>
</rbs-field>

<div data-ng-show="facet.parameters.renderingMode == 'interval'">
	<rbs-field property="sliderShowLabels" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_slider_how_labels', ['ucf']) }}">
		<rbs-switch data-ng-model="facet.parameters.sliderShowLabels"></rbs-switch>
	</rbs-field>

	<rbs-field property="sliderShowTooltips" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_slider_how_tooltips', ['ucf']) }}">
		<rbs-switch data-ng-model="facet.parameters.sliderShowTooltips"></rbs-switch>
	</rbs-field>

	<rbs-field property="sliderShowPips" label="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_configuration_field_slider_how_pips', ['ucf']) }}">
		<rbs-switch data-ng-model="facet.parameters.sliderShowPips"></rbs-switch>
	</rbs-field>
</div>