<div class="form-vertical">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="icon-info-sign"></i> {{ i18n('m.rbs.order.admin.order_parameters', ['ucf']) }}</h3>
		</div>

		<div class="panel-body">
			<rbs-field-select-from-collection
					property="webStoreId" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'webStoreId'), ['ucf']) }}"
					rbs-items-from-collection="Rbs_Store_Collection_WebStores"
					empty-value-label="{{ i18nAttr('m.rbs.order.admin.order_select_webstore', ['ucf']) }}">
			</rbs-field-select-from-collection>

			<rbs-field-select-from-collection
					property="billingAreaId"
					label="{{ i18nAttr('m.rbs.order.admin.order_billing_area', ['ucf']) }}"
					rbs-items-collection-params="webStoreId:(=document.webStoreId=)"
					rbs-items-from-collection="Rbs_Price_Collection_BillingAreasForWebStore"
					empty-value-label="{{ i18nAttr('m.rbs.order.admin.order_select_billingarea', ['ucf']) }}">
			</rbs-field-select-from-collection>


			<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'currencyCode'), ['ucf']) }}">
				<input type="text" class="form-control" ng-model="document.currencyCode" data-ng-disabled="true"/>
			</rbs-field>

			<rbs-field label="{{ i18n('m.rbs.order.admin.order_tax_zone', ['ucf']) }}">
				<select class="form-control" ng-model="document.context.taxZone">
					<option value="">{{ i18nAttr('m.rbs.order.admin.order_select_taxzone', ['ucf']) }}</option>
					<option ng-repeat="zone in priceInfo.zones" ng-value="(=zone=)">(=zone=)</option>
				</select>
			</rbs-field>

			<rbs-field-picker property="ownerId" label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'ownerId'), ['ucf']) }}"
					accepted-model="Rbs_User_User" allow-edition="true"
					value-ids="true"
					selector-title="{{ i18nAttr('m.rbs.order.admin.order_select_ownerid', ['ucf']) }}">
			</rbs-field-picker>

			<rbs-field label="{{ i18nAttr('m.rbs.order.admin.order_email', ['ucf']) }}">
				<input type="text" class="form-control" ng-model="document.context.email" />
			</rbs-field>
		</div>
	</div>
</div>