<form name="form" ng-submit="submit()" class="form-horizontal">

	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<div class="row">
			<div class="col-md-6 form-vertical">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="icon-info-sign"></i> {{ i18n('m.rbs.order.admin.order_parameters', ['ucf']) }}</h3>
					</div>
					<div class="panel-body">
						<rbs-field-date property="creationDate"
						                label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'creationDate'), ['ucf']) }}">
						</rbs-field-date>

						<rbs-field-text property="code"
						                required="true"
						                label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'code'), ['ucf']) }}">
						</rbs-field-text>

						<rbs-field-select-from-collection
								property="webStoreId"
								required="true"
								label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'webStoreId'), ['ucf']) }}"
								rbs-items-from-collection="Rbs_Store_Collection_WebStores"
								empty-value-label="{{ i18nAttr('m.rbs.order.admin.order_select_webstore', ['ucf']) }}">
						</rbs-field-select-from-collection>

						<rbs-field-select-from-collection
								property="currencyCode"
								label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'currencyCode'), ['ucf']) }}"
								rbs-items-from-collection="Rbs_Price_Collection_Iso4217">
						</rbs-field-select-from-collection>
					</div>
				</div>
			</div>
			<div class="col-md-6 form-vertical">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="icon-user"></i> {{ i18n('m.rbs.order.admin.order_customer', ['ucf']) }}</h3>
					</div>
					<div class="panel-body">
						<rbs-field-picker property="ownerId" label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'ownerId'), ['ucf']) }}"
						                  accepted-model="Rbs_User_User" allow-edition="true"
						                  value-ids="true"
						                  selector-title="{{ i18nAttr('m.rbs.order.admin.order_select_ownerid', ['ucf']) }}">
						</rbs-field-picker>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-envelope"></i> <a href="javascript:;" ng-click="extend.showAddressUI = !extend.showAddressUI">{{ i18n('m.rbs.order.admin.order_billing_address', ['ucf']) }} <i ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[extend.showAddressUI]"></i></a>
				</h3>
			</div>
			<div class="panel-body" ng-show="extend.showAddressUI">
				<rbs-field label="{{ i18n('m.rbs.order.admin.order_address_document', ['ucf']) }}">
					<div class="document-picker-single"
						ng-model="extend.address.doc"
						accepted-model="Rbs_Geo_Address" allow-edition="true"
						selector-title="{{ i18nAttr('m.rbs.order.admin.order_select_address', ['ucf']) }}">
					</div>
				</rbs-field>
				<rbs-field label="{{ i18nAttr('m.rbs.order.admin.order_address_fields', ['ucf']) }}">
					<select class="form-control" ng-model="document.contextData.addressFields" rbs-items-from-collection="Rbs_Generic_Collection_AddressFields">
						<option value="">{{ i18n('m.rbs.geo.admin.address_fields_select', ['ucf']) }}</option>
					</select>
				</rbs-field>
				<rbs-field-address property="addressData" address-fields="document.contextData.addressFields"/>
				</rbs-field>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-truck"></i> <a href="javascript:;" ng-click="extend.showShippingUI = !extend.showShippingUI">{{ i18n('m.rbs.order.admin.order_shipping', ['ucf']) }} <i ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[extend.showShippingUI]"></i></a>
				</h3>
			</div>
			<div class="panel-body" ng-show="extend.showShippingUI">
				<table class="table table-bordered table-condensed table-striped">
					<tr>
						<th>{{ i18n('m.rbs.order.admin.order_shipping_mode', ['ucf']) }}</th>
						<th>{{ i18n('m.rbs.order.admin.order_shipping_lines', ['ucf']) }}</th>
						<th>&nbsp;</th>
					</tr>
					<tr ng-repeat="shipping in document.shippingData" ng-show="shipping.lines.length > 0">
						<td>(=extend.shippingDetails[shipping.id].label=)</td>
						<td>(=shipping.lines.join(', ')=)</td>
						<td><a class="icon-envelope" title="{{ i18nAttr('m.rbs.order.admin.order_shipping_address', ['ucf']) }}" ng-click="extend.editShippingAddress(shipping.id)"></a></td>
					</tr>
				</table>
				<div ng-show="extend.showShippingAddressUI">
					<h4><a href="javascript:;" ng-click="extend.showShippingAddressUI = !extend.showShippingAddressUI"><i ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[extend.showShippingAddressUI]"></i> {{ i18nAttr('m.rbs.order.admin.order_shipping_address', ['ucf', 'lab']) }} (=extend.shippingDetails[extend.editedShippingMode.id].label=)</a></h4>
					<rbs-field label="{{ i18n('m.rbs.order.admin.order_address_document', ['ucf']) }}">
						<div class="document-picker-single"
							ng-model="extend.shippingAddress.doc"
							accepted-model="Rbs_Geo_Address" allow-edition="true"
							selector-title="{{ i18nAttr('m.rbs.order.admin.order_select_address', ['ucf']) }}">
						</div>
					</rbs-field>
					<rbs-field label="{{ i18nAttr('m.rbs.order.admin.order_address_fields', ['ucf']) }}">
						<select class="form-control" ng-model="extend.editedShippingMode.addressFields" rbs-items-from-collection="Rbs_Generic_Collection_AddressFields">
							<option value="">{{ i18n('m.rbs.geo.admin.address_fields_select', ['ucf']) }}</option>
						</select>
					</rbs-field>
					<div class="form-group">
						<div class="col-lg-12">
							<div class="rbs-address-fields" ng-model="extend.editedShippingMode.address" address-fields="extend.editedShippingMode.addressFields"/>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="panel" ng-class="{true: 'panel-default', false: 'panel-warning'}[document.linesData.length > 0]">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-list"></i> {{ i18n('m.rbs.order.admin.order_lines', ['ucf', 'lab']) }} (= document.linesData.length =) &mdash; {{ i18n('m.rbs.order.admin.order_articles', ['ucf', 'lab']) }} (= extend.articleCount =)</h3>
			</div>
			<div class="panel-body">
				<p class="text-warning" ng-show="document.linesData.length == 0">
					<strong>{{ i18n('m.rbs.order.admin.order_no_lines', ['ucf']) }}</strong>
				</p>
				<p ng-show="document.linesData.length == 0">
					{{ i18n('m.rbs.order.admin.order_no_lines_help', ['ucf']) | raw }}
				</p>

				<div ng-show="document.webStoreId">
					<p>
						<a href="javascript:;" ng-click="extend.showNewLineUI = !extend.showNewLineUI"><i ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[extend.showNewLineUI]"></i> {{ i18n('m.rbs.order.admin.order_add_lines', ['ucf']) }}</a>
					</p>
					<div class="well well-sm" ng-show="extend.showNewLineUI">
						<h4>{{ i18n('m.rbs.order.admin.order_new_line', ['ucf']) }}</h4>
						<p>{{ i18n('m.rbs.order.admin.order_article_choice_help', ['ucf']) | raw}}</p>

						<p>
							<rbs-field-select-from-collection
									property="billingAreaId"
									label="{{ i18nAttr('m.rbs.order.admin.order_billing_area', ['ucf']) }}"
									rbs-items-collection-params="webStoreId:(=document.webStoreId=)"
									rbs-items-from-collection="Rbs_Price_Collection_BillingAreasForWebStore"
									empty-value-label="{{ i18nAttr('m.rbs.order.admin.order_select_billingarea', ['ucf']) }}">
							</rbs-field-select-from-collection>
							<rbs-field-text
									property="taxZone"
									label="{{ i18nAttr('m.rbs.order.admin.order_tax_zone', ['ucf']) }}">
							</rbs-field-text>
						</p>

						<div ng-show="document.billingAreaId && document.taxZone">
							<p>
								<div>
								<rbs-field label="{{ i18n('m.rbs.order.admin.order_articles', ['ucf']) }}">
								<div class="document-picker-multiple"
							         accepted-model="Rbs_Catalog_Product"
							         allow-edition="false" allow-creation="false" allow-in-place-selection="true"
							         selector-title="{{ i18nAttr('m.rbs.order.admin.order_article_selector_title', ['ucf']) }}" ng-model="document.newLineProducts">
						         </div>
								<button type="button" ng-disabled="extend.loadingProductInfo || ! document.newLineProducts.length || ! document.webStoreId || ! document.billingAreaId" class="btn btn-primary" ng-click="extend.addNewLines()">
									<i ng-class="{true:'icon-spin icon-spinner', false:'icon-plus'}[extend.loadingProductInfo]"></i> {{ i18n('m.rbs.order.admin.order_add_line', ['ucf']) }}
								</button>
								</rbs-field>
								</div>
							</p>
						</div>
						<p ng-hide="document.billingAreaId && document.taxZone">
							<span class="label label-info">Info</span>
							{{ i18n('m.rbs.order.admin.order_choose_billingarea_and_taxzone_first', ['ucf']) | raw }}
						</p>
					</div>
				</div>
				<div ng-show="document.linesData.length > 0">
					<rbs-document-list
							collection="document.linesData"
							data-dlid="RbsOrderOrderEditorLinesList"
							modification-date="false"
							extend="extend"
							actions="">

						<column name="options.lineNumber" label="{{ i18nAttr('m.rbs.order.admin.order_line_number', ['ucf']) }}" format="number" width="60px">

						</column>

						<column name="visuals" thumbnail="XS" thumbnail-path="doc.options.visual"
						        label="{{ i18nAttr('m.rbs.catalog.documents.product_visual', ['ucf']) }}">
				        </column>

						<column name="designation" label="{{ i18nAttr('m.rbs.order.admin.order_designation', ['ucf']) }}">
							<input type="text" required="true" class="form-control" ng-model="doc.designation"/>
						</column>

						<column name="sku" label="{{ i18nAttr('m.rbs.order.admin.order_sku', ['ucf']) }}">
							<input type="text" required="true" class="form-control" ng-model="doc.items[0].codeSKU"/>
						</column>

						<column name="unitPrice" label="{{ i18nAttr('m.rbs.order.admin.order_unit_price', ['ucf']) }}" format="number" width="100px">
							<input type="text" smart-float="" required="true" class="form-control" ng-model="doc.items[0].priceValue"/>
						</column>

						<column name="quantity" label="{{ i18nAttr('m.rbs.order.admin.order_quantity', ['ucf']) }}" format="number" width="100px">
							<input type="number" min="1" required="true" ng-model="doc.quantity" class="form-control"/>
						</column>

						<column name="totalPrice" label="{{ i18nAttr('m.rbs.order.admin.order_line_total_price', ['ucf']) }}" format="number" width="100px">
							(= doc.items[0].priceValue * doc.quantity | currency =)
						</column>

						<action name="removeLines" icon="icon-trash" label="{{ i18nAttr('m.rbs.order.admin.order_remove_lines', ['ucf']) }}"
								selection="+"></action>

						<action name="setShippingMode" icon="icon-truck" label="{{ i18nAttr('m.rbs.order.admin.order_set_shipping_mode', ['ucf']) }}"
							selection="+"></action>

					</rbs-document-list>
				</div>
			</div>
		</div>

		<div class="panel panel-danger" ng-show="extend.removedLines.length > 0">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-trash"></i> {{ i18n('m.rbs.order.admin.order_removed_lines', ['ucf']) }}</h3>
			</div>
			<div class="list-group">
				<div ng-repeat="line in extend.removedLines" class="list-group-item" style="line-height: 30px;">
					<span class="pull-right">
						<button class="btn btn-default btn-sm" ng-click="extend.restoreRemovedLine($index)">{{ i18n('m.rbs.order.admin.order_put_back_in_order', ['ucf']) }}</button>
						<button class="btn btn-danger btn-sm" ng-click="extend.trashRemovedLine($index)" title="{{ i18nAttr('m.rbs.order.admin.order_remove_permanently', ['ucf']) }}"><i class="icon-trash"></i></button>
					</span>
					(= line.quantity =) &times; (= line.designation =)
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="icon-dollar"></i> {{ i18n('m.rbs.order.admin.order_total', ['ucf']) }}</h3>
					</div>
					<div class="panel-body">
						<strong>(= document.amountWithTax | currency =)</strong>
					</div>
				</div>
			</div>
		</div>

			<!--
		<div ng-if="! document.isNew()">
			<div class="control-group">
				<label class="control-label">{{ i18n(propertyKey('Rbs_Order_Order', 'processingStatus'),['ucf']) }}</label>
				<div class="controls">
					<span class="uneditable-input input-xlarge">(=document.processingStatus=)</span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">{{ i18n(propertyKey('Rbs_Order_Order', 'paymentStatus'),['ucf']) }}</label>
				<div class="controls">
					<span class="uneditable-input input-xlarge">(=document.paymentStatus=)</span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">{{ i18n(propertyKey('Rbs_Order_Order', 'shippingStatus'),['ucf']) }}</label>
				<div class="controls">
					<span class="uneditable-input input-xlarge">(=document.shippingStatus=)</span>
				</div>
			</div>
		</div>
-->
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>