<div class="row">
	<div class="col-md-6 form-vertical">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-info-sign"></i> {{ i18n('m.rbs.order.admin.order_parameters', ['ucf']) }}</h3>
			</div>
			<div class="panel-body">
				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'creationDate'), ['ucf']) }}">
					<p class="form-control-static">(= document.creationDate | rbsDateTime =)</p>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'code'), ['ucf']) }}">
					<p class="form-control-static" ng-show="document.code">(= document.code =)</p>
					<p class="form-control-static" ng-hide="document.code">{{ i18n('m.rbs.order.admin.order_code_waiting', ['ucf']) }}</p>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'currencyCode'), ['ucf']) }}">
					<p class="form-control-static">(= document.currencyCode =)</p>
				</rbs-field>

				<rbs-field label="{{ i18n('m.rbs.order.admin.order_tax_zone', ['ucf']) }}">
					<p class="form-control-static">(= document.context.taxZone =)</p>
				</rbs-field>
			</div>
		</div>
	</div>
	<div class="col-md-6 form-vertical">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-user"></i> {{ i18n('m.rbs.order.admin.order_customer', ['ucf']) }}</h3>
			</div>
			<div class="panel-body">
				<rbs-field-picker property="ownerId" label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'ownerId'), ['ucf']) }}"
						accepted-model="Rbs_User_User"
						value-ids="true"
						selector-title="{{ i18nAttr('m.rbs.order.admin.order_select_ownerid', ['ucf']) }}">
				</rbs-field-picker>
				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'email'), ['ucf']) }}">
					<input type="text" class="form-control" ng-model="document.email" />
				</rbs-field>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-envelope"></i> <a href="javascript:;" ng-click="showAddressUI = !showAddressUI">{{ i18n('m.rbs.order.admin.order_billing_address', ['ucf']) }} <i ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[showAddressUI]"></i></a>
				</h3>
			</div>
			<div rbs-order-address="" class="panel-body" ng-show="showAddressUI"
					address-documents="userAddresses"
					address="document.address" address-fields="document.address.__addressFieldsId" >
			</div>
		</div>
	</div>
</div>