<form name="form" ng-submit="submit()" class="form-horizontal">

	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<div class="row">
			<div class="col-md-6 form-vertical">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="icon-info-sign"></i> {{ i18n('m.rbs.order.admin.order_parameters', ['ucf']) }}</h3>
					</div>
					<div class="panel-body">
						<rbs-field-date property="creationDate"
						                label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'creationDate'), ['ucf']) }}">
						</rbs-field-date>

						<rbs-field-text property="code"
						                required="true"
						                label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'code'), ['ucf']) }}">
						</rbs-field-text>

						<rbs-field-select-from-collection
								property="webStoreId"
								required="true"
								label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'webStoreId'), ['ucf']) }}"
								rbs-items-from-collection="Rbs_Store_Collection_WebStores"
								empty-value-label="{{ i18nAttr('m.rbs.order.admin.order_select_webstore', ['ucf']) }}">
						</rbs-field-select-from-collection>

						<rbs-field-select-from-collection
							property="billingAreaId"
							label="{{ i18nAttr('m.rbs.order.admin.order_billing_area', ['ucf']) }}"
							rbs-items-collection-params="webStoreId:(=document.webStoreId=)"
							rbs-items-from-collection="Rbs_Price_Collection_BillingAreasForWebStore"
							empty-value-label="{{ i18nAttr('m.rbs.order.admin.order_select_billingarea', ['ucf']) }}">
						</rbs-field-select-from-collection>

						<rbs-field-select-from-collection
								property="currencyCode"
								label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'currencyCode'), ['ucf']) }}"
								rbs-items-from-collection="Rbs_Price_Collection_Iso4217">
						</rbs-field-select-from-collection>

						<rbs-field label="{{ i18n('m.rbs.order.admin.order_tax_zone', ['ucf']) }}">
							<select class="form-control" ng-model="document.contextData.taxZone">
								<option value="">{{ i18nAttr('m.rbs.order.admin.order_select_taxzone', ['ucf']) }}</option>
								<option ng-repeat="zone in priceInfo.zones" ng-value="(=zone=)">(=zone=)</option>
							</select>
						</rbs-field>

					</div>
				</div>
			</div>
			<div class="col-md-6 form-vertical">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="icon-user"></i> {{ i18n('m.rbs.order.admin.order_customer', ['ucf']) }}</h3>
					</div>
					<div class="panel-body">
						<rbs-field-picker property="ownerId" label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'ownerId'), ['ucf']) }}"
						                  accepted-model="Rbs_User_User" allow-edition="true"
						                  value-ids="true"
						                  selector-title="{{ i18nAttr('m.rbs.order.admin.order_select_ownerid', ['ucf']) }}">
						</rbs-field-picker>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-envelope"></i> <a href="javascript:;" ng-click="showAddressUI = !showAddressUI">{{ i18n('m.rbs.order.admin.order_billing_address', ['ucf']) }} <i ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[showAddressUI]"></i></a>
				</h3>
			</div>
			<div rbs-order-address="" class="panel-body"
				ng-show="showAddressUI"
				address-documents="userAddresses"
				address-fields="document.contextData.addressFields"
				address="document.addressData">
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-truck"></i> <a href="javascript:;" ng-click="showShippingUI = !showShippingUI">{{ i18n('m.rbs.order.admin.order_shipping', ['ucf']) }} <i ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[showShippingUI]"></i></a>
				</h3>
			</div>
			<div rbs-order-shipping-modes="" class="panel-body"
				ng-show="showShippingUI"
				shipping-data="document.shippingData"
				lines-data="document.linesData"
				address-documents="userAddresses"
				order-id="(= document.id =)">
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-archive"></i> <a href="javascript:;" ng-init="showShipmentUI = false" ng-click="showShipmentUI = !showShipmentUI">{{ i18n('m.rbs.order.admin.order_shipment', ['ucf']) }} <i ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[showShipmentUI]"></i></a>
				</h3>
			</div>
			<div class="panel-body" ng-show="showShipmentUI">
				<table class="table table-bordered table-condensed table-striped">
					<tr>
						<th>{{ i18n('m.rbs.order.documents.shipment_code', ['ucf']) }}</th>
						<th>{{ i18n('m.rbs.order.documents.shipment_shippingmodecode', ['ucf']) }}</th>
						<th>{{ i18n('m.rbs.order.documents.shipment_trackingcode', ['ucf']) }}</th>
						<th>{{ i18n('m.rbs.order.documents.shipment_carrierstatus', ['ucf']) }}</th>
					</tr>
					<tr ng-repeat="shipment in shipments" ng-show="shipments.length > 0">
						<td><a href="" ng-href="Rbs/Order/Shipment/(= shipment.id =)">(= shipment.code =)</a></td>
						<td>(= shipment.shippingModeCode =)</td>
						<td>(= shipment.trackingCode =)</td>
						<td>(= shipment.carrierStatus =)</td>
					</tr>
				</table>
			</div>
		</div>

		<rbs-order-lines></rbs-order-lines>

		<!--
		<div ng-if="! document.isNew()">
			<div class="control-group">
				<label class="control-label">{{ i18n(propertyKey('Rbs_Order_Order', 'processingStatus'),['ucf']) }}</label>
				<div class="controls">
					<span class="uneditable-input input-xlarge">(=document.processingStatus=)</span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">{{ i18n(propertyKey('Rbs_Order_Order', 'paymentStatus'),['ucf']) }}</label>
				<div class="controls">
					<span class="uneditable-input input-xlarge">(=document.paymentStatus=)</span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">{{ i18n(propertyKey('Rbs_Order_Order', 'shippingStatus'),['ucf']) }}</label>
				<div class="controls">
					<span class="uneditable-input input-xlarge">(=document.shippingStatus=)</span>
				</div>
			</div>
		</div>
-->
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>