<div class="row">
	<div class="col-md-6 form-vertical">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-info-sign"></i> {{ i18n('m.rbs.order.admin.order_parameters', ['ucf']) }}</h3>
			</div>
			<div class="panel-body">
				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'creationDate'), ['ucf']) }}">
					<p class="form-control-static">(= document.creationDate | rbsDateTime =)</p>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'code'), ['ucf']) }}">
					<p class="form-control-static" data-ng-show="document.code">(= document.code =) - (= document.statusTitle =)</p>
					<p class="form-control-static" data-ng-hide="document.code">
						{{ i18n('m.rbs.order.admin.code_waiting', ['ucf']) }}
					</p>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'currencyCode'), ['ucf']) }}">
					<p class="form-control-static">(= document.currencyCode =)</p>
				</rbs-field>

				<rbs-field label="{{ i18n('m.rbs.order.admin.order_tax_zone', ['ucf']) }}">
					<p class="form-control-static">(= document.context.taxZone =)</p>
				</rbs-field>
			</div>
		</div>
	</div>
	<div class="col-md-6 form-vertical">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-user"></i> {{ i18n('m.rbs.order.admin.order_customer', ['ucf']) }}</h3>
			</div>
			<div class="panel-body">
				<rbs-field-picker data-ng-if="isContentEditable()" property="ownerId" accepted-model="Rbs_User_User"
					value-ids="true" label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'ownerId'), ['ucf']) }}"
					selector-title="{{ i18nAttr('m.rbs.order.admin.order_select_ownerid', ['ucf']) }}">
				</rbs-field-picker>
				<rbs-field data-ng-if="!isContentEditable()"
					label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'ownerId'), ['ucf']) }}">
					<p data-ng-if="!isContentEditable()" class="form-control-static">
						<a data-ng-if="owner.id" href="javascript:;" data-ng-href="(= owner|rbsURL =)">(= owner.label =)</a>
						<em data-ng-if="!owner.id">{{ i18nAttr('m.rbs.order.admin.owner_none', ['ucf']) }}</em>
					</p>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Order_Order', 'email'), ['ucf']) }}">
					<input data-ng-if="isContentEditable()" type="text" class="form-control" data-ng-model="document.email" />
					<p data-ng-if="!isContentEditable()" class="form-control-static">
						<span data-ng-if="document.email">(= document.email =)</span>
						<em data-ng-if="!document.email">{{ i18nAttr('m.rbs.order.admin.email_none', ['ucf']) }}</em>
					</p>
				</rbs-field>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="icon-envelope"></i>
					<a data-ng-if="isContentEditable()" href="javascript:;"
						data-ng-click="orderContext.showAddressUI = !orderContext.showAddressUI">
						{{ i18n('m.rbs.order.admin.order_billing_address', ['ucf']) }}
						<i data-ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[orderContext.showAddressUI]"></i>
					</a>
					<span data-ng-if="!isContentEditable()">{{ i18n('m.rbs.order.admin.order_billing_address', ['ucf']) }}</span>
				</h3>
			</div>
			<div class="panel-body" data-ng-show="orderContext.showAddressUI || !isContentEditable()">
				<div data-ng-if="isContentEditable()" data-rbs-order-address="" data-address-documents="userAddresses"
					 data-address="document.address">
				</div>
				<div data-ng-if="!isContentEditable()">
					<address class="no-bottom-margin">
						<strong>(= document.address.__lines[0] =)</strong>
						<div data-ng-repeat="line in document.address.__lines track by $index" data-ng-if="!$first">(= line =)</div>
					</address>
				</div>
			</div>
		</div>
	</div>
</div>