<div class="panel" data-ng-class="{true: 'panel-default', false: 'panel-warning'}[document.lines.length > 0]">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="icon-list"></i>
			{{ i18n('m.rbs.order.admin.order_lines', ['ucf', 'lab']) }} (= document.lines.length =) &mdash;
			{{ i18n('m.rbs.order.admin.order_articles', ['ucf', 'lab']) }} (= data.articleCount =)
		</h3>
	</div>
	<div class="panel-body">
		<p class="text-warning" data-ng-show="document.lines.length == 0">
			<strong>{{ i18n('m.rbs.order.admin.order_no_lines', ['ucf']) }}</strong>
		</p>
		<p data-ng-show="document.lines.length == 0">
			{{ i18n('m.rbs.order.admin.order_no_lines_help', ['ucf']) | raw }}
		</p>

		{# Line creation actions #}
		<div data-ng-show="document.webStoreId">
			<div class="add-elements-bar" data-ng-if="isContentEditable()">
				<a href="javascript:;" data-ng-show="document.billingAreaId && document.context.taxZone"
					data-ng-click="updateNewLineUI('product')">
					{{ i18n('m.rbs.order.admin.order_add_product_lines', ['ucf']) }}
				</a>
				<a href="javascript:;" data-ng-click="updateNewLineUI('custom')">
					{{ i18n('m.rbs.order.admin.order_add_custom_line', ['ucf']) }}
				</a>
			</div>
			{# New product lines panel #}
			<div class="panel panel-default" data-ng-show="orderContext.showNewProductLineUI">
				<div class="panel-heading">
					<h4 class="panel-title">{{ i18n('m.rbs.order.admin.order_add_product_lines', ['ucf']) }}</h4>
				</div>
				<div class="panel-body">
					<p>{{ i18n('m.rbs.order.admin.order_product_choice_help', ['ucf']) | raw}}</p>
					<rbs-document-picker-multiple accepted-model="Rbs_Catalog_Product" ng-model="data.newLineProducts"
						selector-title="{{ i18nAttr('m.rbs.order.admin.order_product_selector_title', ['ucf']) }}">
					</rbs-document-picker-multiple>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-primary btn-success" data-ng-click="addProductLines()"
						data-ng-disabled="data.loadingProductInfo || !data.newLineProducts.length">
						<i data-ng-class="{true:'icon-spin icon-spinner', false:'icon-plus'}[data.loadingProductInfo]"></i>
						{{ i18n('m.rbs.admin.admin.add', ['ucf']) }}
					</button>
					<button type="button" class="btn btn-default" data-ng-click="updateNewLineUI(null)">
						{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
					</button>
				</div>
			</div>
			{# New custom line panel #}
			<div class="panel panel-default" data-ng-if="orderContext.showNewCustomLineUI">
				<div class="panel-heading">
					<h4 class="panel-title">{{ i18n('m.rbs.order.admin.order_add_custom_line', ['ucf']) }}</h4>
				</div>
				<div class="panel-body">
					<rbs-order-line-editor ng-model="data.newCustomLine" price-info="priceInfo"></rbs-order-line-editor>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-primary btn-success" data-ng-click="addCustomLine()">
						<i data-ng-class="icon-plus"></i> {{ i18n('m.rbs.admin.admin.add', ['ucf']) }}
					</button>
					<button type="button" class="btn btn-default" data-ng-click="updateNewLineUI(null)">
						{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
					</button>
				</div>
			</div>
		</div>
		{# Lines #}
		<div data-ng-show="document.lines.length > 0">
			{# Actions #}
			<div class="btn-toolbar" data-ng-if="isContentEditable()">
				<button type="button" class="btn btn-default" data-ng-click="removeLines()"
					data-ng-disabled="selection.empty()">
					<i class="icon-trash"></i> {{ i18n('m.rbs.order.admin.order_remove_lines', ['ucf']) }}
				</button>
				<button type="button" class="btn btn-default" data-ng-click="selectShippingMode($event)"
					data-ng-disabled="selection.empty()">
					<i class="icon-truck"></i> {{ i18n('m.rbs.order.admin.order_set_shipping_mode', ['ucf']) }}
				</button>
			</div>
			<div class="confirmation-area"></div>
			{# List (not a document-list but using the same markup) #}
			<table class="document-list table table-condensed table-bordered table-striped table-hover"
				data-ng-class="{'margin-top': isContentEditable()}">
				<thead>
					<tr>
						<th class="column-checkbox" data-ng-click="selection.all = !selection.all"
							data-ng-if="isContentEditable()">
							<input type="checkbox" data-ng-model="selection.all" data-ng-click="$event.stopPropagation()" />
						</th>
						<th class="column-number" style="width: 60px;">
							{{ i18nAttr('m.rbs.order.admin.order_line_number', ['ucf']) }}
						</th>
						<th>{{ i18nAttr('m.rbs.order.admin.order_designation', ['ucf']) }}</th>
						<th>{{ i18nAttr('m.rbs.order.admin.order_sku', ['ucf']) }}</th>
						<th class="column-number" style="width: 100px;">
							{{ i18nAttr('m.rbs.order.admin.order_unit_price', ['ucf']) }}
						</th>
						<th class="column-number" style="width: 100px;">
							{{ i18nAttr('m.rbs.order.admin.order_quantity', ['ucf']) }}
						</th>
						<th class="column-number" style="width: 100px;">
							{{ i18nAttr('m.rbs.order.admin.order_line_total_price', ['ucf']) }}
						</th>
					</tr>
				</thead>
				{# Editable mode #}
				<tbody data-ng-if="isContentEditable()">
					{# Main line #}
					<tr class="normal-row" data-ng-repeat-start="doc in listLines">
						<td class="column-checkbox" data-ng-click="selection.lines[$index] = !selection.lines[$index]">
							<input type="checkbox" data-ng-model="selection.lines[$index]"
								data-ng-click="$event.stopPropagation()">
						</td>
						<td class="column-number">(= $index + 1 =)</td>
						<td>
							<span class="pull-right quick-actions-buttons">
								<button type="button" title="{{ i18nAttr('m.rbs.admin.admin.edit', ['ucf']) }}"
									data-ng-click="data.editedLineIndex = $index" class="btn btn-xs btn-default btn-icon"
									data-ng-show="data.editedLineIndex != $index">
									<i class="icon-pencil"></i>
								</button>
								<button type="button" title="{{ i18nAttr('m.rbs.admin.admin.close', ['ucf']) }}"
									data-ng-click="data.editedLineIndex = null" class="btn btn-xs btn-default btn-icon"
									data-ng-show="data.editedLineIndex == $index">
									<i class="icon-pencil"></i>
								</button>
								<button type="button" title="{{ i18nAttr('m.rbs.admin.admin.delete', ['ucf']) }}"
									data-ng-click="removeLine($index)" class="btn btn-xs btn-danger btn-icon">
									<i class="icon-trash"></i>
								</button>
							</span>
							(= doc.designation =)
						</td>
						<td>(= doc.items[0].codeSKU =)</td>
						<td class="column-number">(= doc.items[0].price.value | number:priceInfo.decimals =)</td>
						<td class="column-number">
							<input type="number" class="form-control" data-ng-model="doc.quantity" required="true" min="1" />
						</td>
						<td class="column-number">
							(= doc.items[0].price.value * doc.quantity | number:priceInfo.decimals =)
						</td>
					</tr>
					{# Line edition panel #}
					<tr class="normal-row preview" data-ng-show="data.editedLineIndex == $index" data-ng-repeat-end="">
						<td class="preview" colspan="7">
							<div class="inner" style="margin-top: 20px;">
								<rbs-order-line-editor ng-model="doc" price-info="priceInfo"></rbs-order-line-editor>
								<button type="button" data-ng-click="data.editedLineIndex = null" class="btn btn-default">
									<i class="icon-chevron-up"></i>
									{{ i18nAttr('m.rbs.admin.admin.close', ['ucf']) }}
								</button>
							</div>
						</td>
					</tr>
				</tbody>
				{# Not editable mode #}
				<tbody data-ng-if="!isContentEditable()">
					<tr class="normal-row" data-ng-repeat="doc in listLines">
						<td class="column-number">(= $index + 1 =)</td>
						<td>(= doc.designation =)</td>
						<td>(= doc.items[0].codeSKU =)</td>
						<td class="column-number">(= doc.items[0].price.value | number:priceInfo.decimals =)</td>
						<td class="column-number">(= doc.quantity =)</td>
						<td class="column-number">(= doc.items[0].price.value * doc.quantity | number:priceInfo.decimals =)</td>
					</tr>
				</tbody>
				{# Total #}
				<tfoot>
					<tr>
						<td colspan="(= isContentEditable() ? 7 : 6 =)" class="text-right">
							<strong data-ng-if="priceInfo.withTax">
								{{ i18n('m.rbs.order.admin.order_lines_amount_with_taxes', ['ucf', 'lab']) | raw }}
								(= document.linesAmountWithTaxes | number:priceInfo.decimals =)
							</strong>
							<strong data-ng-if="!priceInfo.withTax">
								{{ i18n('m.rbs.order.admin.order_lines_amount_without_taxes', ['ucf', 'lab']) | raw }}
								(= document.linesAmountWithoutTaxes | number:priceInfo.decimals =)
							</strong>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>

{# Removed lines #}
<div class="panel panel-danger" data-ng-show="data.removedLines.length > 0">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="icon-trash"></i> {{ i18n('m.rbs.order.admin.order_removed_lines', ['ucf']) }}</h3>
	</div>
	<div class="list-group">
		<div data-ng-repeat="line in data.removedLines" class="list-group-item" style="line-height: 30px;">
			<span class="pull-right">
				<button class="btn btn-default btn-sm" data-ng-click="restoreRemovedLine($index)">
					{{ i18n('m.rbs.order.admin.order_put_back_in_order', ['ucf']) }}
				</button>
				<button class="btn btn-danger btn-sm" data-ng-click="trashRemovedLine($index)"
					title="{{ i18nAttr('m.rbs.order.admin.order_remove_permanently', ['ucf']) }}">
					<i class="icon-trash"></i>
				</button>
			</span>
			(= line.quantity =) &times; (= line.designation =)
		</div>
	</div>
</div>