<div class="row">

	<rbs-workspace-config menu="Rbs_Order">
		<rbs-breadcrumb-config>
			<rbs-location href="(= 'Rbs_Order'|rbsURL:'home' =)">{{ i18n('m.rbs.order.admin.module_name', ['ucf']) }}</rbs-location>
			<rbs-location href="(= 'Rbs_Order_Order'|rbsURL:'list' =)">{{ i18n('m.rbs.order.admin.order_list', ['ucf']) }}</rbs-location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column ng-controller="Rbs_Order_Order_ListController">
		<rbs-page-header title="{{ i18nAttr('m.rbs.order.admin.order_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Order_Order" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Order_Order' | rbsURL:'new' =)">{{ i18n('m.rbs.order.admin.order_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLRbsOrderOrder"
				model="Rbs_Order_Order" filter-collection="filter" use-properties="shippingStatus processingStatus paymentStatus" extend="extend">
			<rbs-column name="code" primary="true"></rbs-column>
			<rbs-column name="status" align="center" label="{{ i18nAttr('m.rbs.order.admin.order_statuses', ['ucf']) }}">
				<span rbs-order-status-indicators="" order="doc"></span>
			</rbs-column>
			<rbs-column name="amountWithTax"></rbs-column>
			<rbs-column name="currencyCode"></rbs-column>
			<rbs-column name="creationDate"></rbs-column>
			<rbs-preview style="min-height: 200px">
				<h4>(= doc.label =)</h4>
				<div rbs-order-status-indicators-text="" order="doc.__document"></div>
			</rbs-preview>

			<rbs-action name="markAsPayed" loading="true" label="{{ i18nAttr('m.rbs.order.admin.order_action_mark_as_payed', ['ucf']) }}" selection="+"></rbs-action>
			<rbs-action name="markAsShipped" label="{{ i18nAttr('m.rbs.order.admin.order_action_mark_as_shipped', ['ucf']) }}" selection="+"></rbs-action>
			<rbs-action name="markAsDelivered" label="{{ i18nAttr('m.rbs.order.admin.order_action_mark_as_delivered', ['ucf']) }}" selection="+"></rbs-action>
			<rbs-action name="markAsPrepared" label="{{ i18nAttr('m.rbs.order.admin.order_action_mark_as_prepared', ['ucf']) }}" selection="+"></rbs-action>
			<rbs-action name="markAsFinalized" label="{{ i18nAttr('m.rbs.order.admin.order_action_mark_as_finalized', ['ucf']) }}" selection="+"></rbs-action>
			<rbs-action name="cancel" label="{{ i18nAttr('m.rbs.order.admin.order_action_cancel', ['ucf']) }}" selection="+"></rbs-action>
		</rbs-document-list>
	</div>

</div>