<rbs-field label="{{ i18nAttr('m.rbs.order.admin.order_sku', ['ucf']) }}" class="required">
	<input type="text" class="form-control" required="required" data-ng-model="fee.items[0].codeSKU" />
</rbs-field>

<rbs-field label="{{ i18nAttr('m.rbs.order.admin.order_designation', ['ucf']) }}" class="required">
	<input type="text" class="form-control" required="required" data-ng-model="fee.designation" />
</rbs-field>

<rbs-field label="{{ i18nAttr('m.rbs.order.admin.order_fee_amount', ['ucf']) }}" class="required">
	<rbs-price-input data-ng-model="fee.items[0].price.value" data-currency-code="priceInfo.currencyCode"
		data-price-with-tax="fee.items[0].price.withTax" required="required"
		data-ng-disabled="!fee.items[0].options.lockedPrice">
	</rbs-price-input>
	<label>
		<input type="checkbox" data-ng-checked="fee.items[0].options.lockedPrice"
			data-ng-click="fee.items[0].options.lockedPrice = !fee.items[0].options.lockedPrice" />
		{{ i18n('m.rbs.order.admin.order_manual_price', ['ucf']) }}
	</label>
</rbs-field>
<table data-ng-show="priceInfo.currentTaxInfo" class="table table-striped">
	<thead>
		<tr>
			<th>{{ i18n(modelKey('Rbs_Price_Tax'), ['ucf']) }}</th>
			<th>{{ i18n('m.rbs.price.documents.tax_category', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="tax in priceInfo.currentTaxInfo">
			<td>(= tax.code =)<br/>
				<small>(= tax.label =)</small>
			</td>
			<td>
				<select data-ng-model="fee.items[0].price.taxCategories[tax.code]" class="input-medium form-control"
					data-ng-options="c.code as c.formattedRate + ' (' + c.code + ')' for c in tax.categories"
					data-ng-disabled="!fee.items[0].options.lockedPrice">
					<option value="">{{ i18n('m.rbs.price.documents.tax_not_applicable', ['ucf']) }}</option>
				</select>
			</td>
		</tr>
	</tbody>
</table>