<table class="table table-bordered table-condensed table-striped">
	<tr>
		<th>{{ i18n('m.rbs.order.admin.order_shipping_mode', ['ucf']) }}</th>
		<th>{{ i18n('m.rbs.order.admin.order_shipping_lines', ['ucf']) }}</th>
		<th>{{ i18n('m.rbs.order.admin.order_shipping_status', ['ucf']) }}</th>
		<th>{{ i18n('m.rbs.order.admin.order_shipping_actions', ['ucf']) }}</th>
	</tr>
	<tr ng-repeat="shipping in shippingData" ng-show="shipping.lines.length > 0">
		<td>(=shippingDetails[shipping.id].label=)</td>
		<td>(=shipping.lines.join(', ')=)</td>
		<td ng-switch="shippingDetails[shipping.id].status">
			<span ng-switch-when="noShipment">{{ i18n('m.rbs.order.admin.order_no_shipment', ['ucf']) }}</span>
			<span ng-switch-when="remain">{{ i18n('m.rbs.order.admin.order_partially_sent', ['ucf']) }}</span>
			<span ng-switch-when="sent">{{ i18n('m.rbs.order.admin.order_sent', ['ucf']) }}</span>
			<span ng-switch-default=""></span>
		</td>
		<td>
			<a ng-if="shippingDetails[shipping.id].status && shippingDetails[shipping.id].status != 'sent'"
				href="" ng-href="Rbs/Order/Shipment/new?orderId=(= orderId =)&shippingModeId=(= shipping.id =)" ng-if="orderId > 0">
				<i class="icon-archive"></i>
				<span ng-switch="shippingDetails[shipping.id].status">
					<span ng-switch-when="noShipment">{{ i18n('m.rbs.order.admin.order_send', ['ucf']) }},</span>
					<span ng-switch-when="remain">{{ i18n('m.rbs.order.admin.order_send_the_remain', ['ucf']) }},</span>
					<span ng-switch-default=""></span>
				</span>
			</a>
			<a title="{{ i18nAttr('m.rbs.order.admin.order_shipping_address', ['ucf']) }}" ng-click="editShippingAddress(shipping.id)">
				<i class="icon-envelope"></i>
				<span ng-if="!addressDefined[shipping.id]">{{ i18n('m.rbs.order.admin.order_specify_shipping_address', ['ucf']) }}</span>
				<span ng-if="addressDefined[shipping.id]">{{ i18n('m.rbs.order.admin.order_modify_shipping_address', ['ucf']) }}</span>
			</a>
		</td>
	</tr>
</table>
<div ng-show="showShippingAddressUI">
	<h4><a href="javascript:;" ng-click="showShippingAddressUI = !showShippingAddressUI"><i ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[showShippingAddressUI]"></i> {{ i18nAttr('m.rbs.order.admin.order_shipping_address', ['ucf', 'lab']) }} (=shippingDetails[editedShippingMode.id].label=)</a></h4>
	<div rbs-order-address=""
		address-documents="addressDocuments"
		address-fields="editedShippingMode.addressFields"
		address="editedShippingMode.address">
	</div>
</div>
