<div data-ng-controller="rbsOrderOrderShipments">
	{% set currentRouteName = 'shipments' %}
	{% include '@Rbs_Order/Documents/Order/header.twig' %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<i class="icon-archive"></i>
				{{ i18n('m.rbs.order.admin.order_shipment', ['ucf', 'lab']) }} (= shipments.length =)
			</h3>
		</div>
		<div class="panel-body">
			<div class="add-elements-bar">
				<a data-ng-if="document.id > 0" href="javascript:;"
					data-ng-href="(= 'Rbs_Order_Shipment' | rbsURL:'new':{orderId: document.id} =)">
					{{ i18n('m.rbs.order.admin.order_add_shipment', ['ucf']) }}
				</a>
			</div>
			<table class="table table-striped table-bordered no-bottom-margin document-list" data-ng-show="shipments.length > 0">
				<thead>
					<tr>
						<th>{{ i18nAttr(propertyKey('Rbs_Order_Shipment', 'code'), ['ucf']) }}</th>
						<th>{{ i18nAttr(propertyKey('Rbs_Order_Shipment', 'shippingModeCode'), ['ucf']) }}</th>
						<th>{{ i18nAttr(propertyKey('Rbs_Order_Shipment', 'trackingCode'), ['ucf']) }}</th>
						<th>{{ i18nAttr(propertyKey('Rbs_Order_Shipment', 'carrierStatus'), ['ucf']) }}</th>
					</tr>
				</thead>
				<tr class="normal-row" data-ng-repeat="shipment in shipments">
					<td><a href="javascript:;" data-ng-href="(= shipment | rbsURL =)">(= shipment.code =)</a></td>
					<td>(= shipment.shippingModeCode =)</td>
					<td>(= shipment.trackingCode =)</td>
					<td>(= shipment.carrierStatus =)</td>
				</tr>
			</table>
			<p data-ng-show="shipments.length == 0" class="no-bottom-margin">
				{{ i18n('m.rbs.order.admin.order_no_shipment_yet', ['ucf']) }}
			</p>
		</div>
	</div>
</div>