<div class="row">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<rbs-location href="(= 'Rbs_Catalog'|rbsURL:'home' =)">{{ i18n('m.rbs.catalog.admin.module_name', ['ucf']) }}</rbs-location>
			<rbs-location href="(= 'Rbs_Catalog_Product'|rbsURL:'list' =)">{{ i18n('m.rbs.catalog.admin.product_list', ['ucf']) }}</rbs-location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>

		<a ng-show="! document.variant && document.variantGroup" rbs-aside-other-link href="Rbs/Catalog/VariantGroup/(= document.variantGroup.id =)">{{ i18n('m.rbs.catalog.admin.variantgroup_aside_link', ['ucf']) | raw }}</a>
		<a ng-show="! document.variant && ! document.variantGroup" rbs-aside-other-link href="Rbs/Catalog/VariantGroup/new?productId=(= document.id =)">{{ i18n('m.rbs.catalog.admin.variantgroup_aside_link', ['ucf']) | raw }}</a>

		<a rbs-aside-other-link href="(= document | rbsURL:'cross-selling-lists' =)" >{{ i18n('m.rbs.catalog.admin.crosssellingproductlist_crossselling_lists_aside_link', ['ucf']) | raw }}</a>
		<a rbs-aside-other-link ng-show="document.categorizable" href="(= document | rbsURL:'product-lists' =)" >{{ i18n('m.rbs.catalog.admin.productlistitem_list_aside_link', ['ucf']) | raw }}</a>

		<a rbs-aside-other-link href="(= document | rbsURL:'prices' =)">{{ i18n('m.rbs.catalog.admin.product_prices_aside_link', ['ucf']) | raw }}</a>
	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_Product'), ['ucf']) }}"></rbs-page-header>
		<div ng-switch="editMode">
			<div ng-switch-when="translate" class="rbs-document-editor rbs-document-editor-translate rbs-document-editor-rbs-catalog-product-translate"></div>
			<div ng-switch-default="" class="rbs-document-editor rbs-document-editor-rbs-catalog-product"></div>
		</div>
	</div>

</div>