<div class="row">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<rbs-location href="(= 'Rbs_Catalog'|rbsURL:'home' =)">{{ i18n('m.rbs.catalog.admin.module_name', ['ucf']) }}</rbs-location>
			<rbs-location href="(= 'Rbs_Catalog_Product'|rbsURL:'list' =)">{{ i18n('m.rbs.catalog.admin.product_list', ['ucf']) }}</rbs-location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<rbs-page-header title="{{ i18nAttr('m.rbs.catalog.admin.product_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel rbs-catalog-product-default-filter="" open-by-default="false"
				model="Rbs_Catalog_Product" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Catalog_Product' | rbsURL:'new' =)">{{ i18n('m.rbs.catalog.admin.product_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list  data-dlid="DLRbsCatalogProduct" model="Rbs_Catalog_Product" publishable="true" filter-collection="filter">
			<rbs-column name="visuals" thumbnail="XS" thumbnail-path="doc.adminthumbnail"
				label="{{ i18nAttr('m.rbs.catalog.documents.product_visual', ['ucf']) }}"></rbs-column>
			<rbs-column name="label" primary="true"></rbs-column>
			<rbs-quick-actions>
				<a href="(= doc | rbsURL:'prices' =)">{{ i18nAttr('m.rbs.catalog.admin.product_prices') }}</a>
				<a href="(= doc | rbsURL:'cross-selling-lists' =)">{{ i18nAttr('m.rbs.catalog.admin.product_cross_selling') }}</a>
				[action default]
			</rbs-quick-actions>
			<rbs-column name="sku" sort="sku.code"><small>(= doc.sku.code =)</small></rbs-column>

			<rbs-preview style="min-height: 200px">
				<img rbs-storage-image="doc.visuals[0].id" rbs-image-container-colorizer="td.preview" thumbnail="L" class="absolute-top-left"/>
				<div style="margin-left: 290px;">
					<h4>(= doc.label =)</h4>
					<dl>
						<dt>{{ i18n('m.rbs.tag.admin.tags', ['ucf','lbl']) }}</dt>
						<dd ng-if="doc.getTags().length"><span rbs-tag="tag" ng-repeat="tag in doc.getTags()"></span></dd>
						<dd ng-if="!doc.getTags().length">{{ i18n('m.rbs.tag.admin.no_tags', ['ucf']) }}</dd>
					</dl>
					<p ng-bind-html="doc.description.h"></p>
					<div class="clearfix">
						<img ng-repeat="visual in doc.visuals" rbs-storage-image="visual.id" thumbnail="XS" class="img-polaroid margin-right pull-left"/>
					</div>
				</div>
			</rbs-preview>

			<rbs-grid-item>
				<img rbs-storage-image="doc.adminthumbnail" thumbnail="L"/>
				<div class="caption">
					<h4><status data-ng-model="doc" class="small"/> <a href ng-href="(= doc | rbsURL =)">(=doc.label=)</a></h4>
				</div>
			</rbs-grid-item>
		</rbs-document-list>
	</div>
</div>