<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Payment_DeferredConnector">
	<div class="col-md-12">
		<rbs-page-header title="{{ i18nAttr('m.rbs.admin.adminjs.new_resource', ['ucf']) }}"
			sub-title="{{ i18nAttr(modelKey('Rbs_Payment_DeferredConnector'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-new=""
			data-rbs-document-editor-rbs-payment-connector-new=""
			data-rbs-document-editor-rbs-payment-deferred-connector-new="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field property="refLCID" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Payment_DeferredConnector', 'refLCID'), ['ucf']) }}">
					<select class="form-control" data-ng-model="document.refLCID"
						data-rbs-items-from-collection="Rbs_Generic_Collection_Languages" data-ucfirst="true">
					</select>
				</rbs-field>

				<hr />

				{% include '@Rbs_Payment/Documents/DeferredConnector/properties.twig' %}
			</fieldset>

			<fieldset data-rbs-editor-section="activation"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.activation_properties', ['ucf']) }}"
				data-rbs-document-activation-section="">
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>