<div ng-controller="Rbs_Media_Menu_Controller">

	<div style="display:none;" ng-show="selectedTags.length > 0">
		<ul class="nav nav-list">
			<li class="nav-header">{{ i18n('m.rbs.media.menu.selected-tags', ['ucf']) }}</li>
		</ul>
		<div class="nav-list">
			<div class="muted" style="text-align:right;line-height:14px;"><small>{{ i18n('m.rbs.media.menu.selected-tags-message', ['ucf']) }} <i class="icon-arrow-right"></i></small></div>
			<span
				ng-repeat="tag in selectedTags"
				on-remove="unselectTag(tag)"
				rbs-tag="tag"></span>
			<br/>
			<small><a href="javascript:;" ng-click="unselectAll()"><i class="icon-remove"></i> {{ i18n('m.rbs.media.menu.clear-selection', ['ucf']) }}</a></small>
			<hr/>
		</div>
	</div>

	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.rbs.media.menu.all-tags', ['ucf']) }}</li>
	</ul>
	<div class="nav-list">
		<form class="rbs-form-simple-filter"
		      filter="filterTags"
		      on-enter="selectTag(filteredTags[0])"
		      on-tab="selectTag(filteredTags[0])"
		      on-escape="removeLastSelectedTag()"></form>
		<span ng-repeat="tag in filteredTags"
		      ng-click="selectTag(tag)"><span class="cursor-pointer" rbs-tag="tag"></span></span>
		<hr/>
		<a href="Rbs/Tag">{{ i18n('m.rbs.media.menu.manage-tags', ['ucf']) }} <i class="icon-circle-arrow-right"></i></a>
	</div>

</div>