<rbs-panel title="{{ i18nAttr('m.rbs.seo.admin.aside_title') }}" icon="icon-magic" data-ng-show="showContent">
	<div data-ng-if="seoDocument">
		<p class="list-group-item">
			<a data-ng-if="document.publicationStatus" href="javascript:;" data-ng-href="(= document | rbsURL:'urls' =)">
				<i class="icon-arrow-right"></i> {{ i18n('m.rbs.admin.admin.configure_url_and_redirections', ['ucf']) | raw }}
			</a>
		</p>
		<p class="list-group-item">
			<a href="javascript:;" data-ng-href="(= seoDocument | rbsURL =)">
				<i class="icon-arrow-right"></i> {{ i18n('m.rbs.seo.admin.aside_edit_seo_info') }}
			</a>
		</p>
	</div>
	<div data-ng-if="! seoDocument" class="panel-body">
		{{ i18n('m.rbs.seo.admin.aside_document_has_no_seo_info') }}<br/>
		<button type="button" data-ng-disabled="seoCreating" class="btn btn-default" data-ng-click="seoCreate()">
			{{ i18n('m.rbs.seo.admin.aside_create_seo_info') }} <i data-ng-if="seoCreating" class="icon-spin icon-spinner"></i>
		</button>
	</div>
</rbs-panel>
