<script type="text/javascript">
	var script{{ blockId }} = {
		cartIdentifier: "{{ cart.identifier }}",
		deleteLine : function(button) {
			var lineKey = button.value;
			jQuery.ajax({
				type: "POST",
				url: "Action/Rbs/Commerce/UpdateCartLine",
				data: {lineKey: lineKey, quantity: 0},
				dataType: 'json',
				success: function(data, textStatus, jqXHR) {
					window.location.reload();
				}
			})
		},
		updateLine : function(button) {
			var newQuantity = parseInt(button.getAttribute('data-quantity'), 10) + 1;
			var lineKey = button.value;
			jQuery.ajax({
				type: "POST",
				url: "Action/Rbs/Commerce/UpdateCartLine",
				data: {lineKey: lineKey, quantity: newQuantity},
				dataType: 'json',
				success: function(data, textStatus, jqXHR) {
					window.location.reload();
				}
			})
		}
	}
</script>

<div data-ng-controller="rbsCommerceCartController">
	<h1>{{ i18n('m.rbs.commerce.front.my_cart', ['ucf']) }}</h1>
	<div class="table-responsive">
		<table summary="{{ i18nAttr('m.rbs.commerce.front.cart_contents', ['ucf']) }}"
			class="table table-striped table-vertical-middle">
			<thead>
				<tr>
					<th>#</th>
					<th>{{ i18n('m.rbs.commerce.front.designation', ['ucf']) }}</th>
					{% if parameters.displayPrices or parameters.displayPricesWithTax %}
						<th>{{ i18n('m.rbs.commerce.front.unit_price', ['ucf']) }}</th>
					{% endif %}
					<th>{{ i18n('m.rbs.commerce.front.quantity', ['ucf']) }}</th>
					{% if parameters.displayPrices or parameters.displayPricesWithTax %}
						<th>{{ i18n('m.rbs.commerce.front.total_price', ['ucf']) }}</th>
					{% endif %}
					<th>{{ i18n('m.rbs.commerce.front.actions', ['ucf']) }}</th>
				</tr>
			</thead>
			<tbody>
				{% for cartLine in cart.lines %}
					{% include 'Rbs_Commerce/Blocks/cart-line.twig' %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table summary="{{ i18nAttr('m.rbs.commerce.front.taxes_amount', ['ucf']) }}"
				class="table table-striped table-bordered">
				<caption>{{ i18n('m.rbs.commerce.front.taxes_amount', ['ucf']) }}</caption>
				<tbody>
					{% for cartTax in cart.taxes %}
						<tr>
							<td>{{ taxTitle(cartTax.tax) }} ({{ formatRate(cartTax.rate) }})</td>
							<td class="price">{{ formatPrice(cartTax.value) }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<table summary="" class="table table-striped table-bordered">
				<tbody>
					<tr>
						<td>{{ i18n('m.rbs.commerce.front.amount_without_tax', ['ucf']) }}</td>
						<td class="price">{{ formatPrice(cart.priceValue) }}</td>
					</tr>
					<tr>
						<td>{{ i18n('m.rbs.commerce.front.amount_with_tax', ['ucf']) }}</td>
						<td class="price">{{ formatPrice(cart.priceValueWithTax) }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>




