{% block rbsCommerceCartUse %}
	{% use 'Rbs_Commerce/cart-directives.twig' %}
{% endblock rbsCommerceCartUse %}

{% if cartData %}
	{% block rbsCommerceCartDataCache %}
	<script type="text/javascript">
		window.__change['cartData'] = {{ cartData | json_encode | raw}};
	</script>
	{% endblock rbsCommerceCartDataCache %}

	{{ block('cartStructure') }}
	{{ block('cartLine') }}

	{% block cart %}
		<div data-rbs-commerce-cart="" data-cache-key="{{ blockId }}">
		</div>
	{% endblock cart %}
{% else %}
	{{ block('emptyCart') }}
{% endif %}