<tr id="{{ blockId }}_{{ cartLine.key }}" data-line-key="{{ cartLine.key }}">
	<td>{{ cartLine.number }}</td>
	<td>{{ cartLine.designation }}</td>
	{% if parameters.displayPrices or parameters.displayPricesWithTax %}
		<td class="price">
			{% if parameters.displayPrices %}
				{{ formatPrice(cartLine.unitPriceValue) }}
				<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}</abbr>
			{% endif %}
			{% if parameters.displayPrices and parameters.displayPricesWithTax %}<br />{% endif %}
			{% if parameters.displayPricesWithTax %}
				{{ formatPrice(cartLine.unitPriceValueWithTax) }}
				<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.with_tax') }}">{{ i18n('m.rbs.catalog.front.with_tax_abbr') }}</abbr>
			{% endif %}
		</td>
	{% endif %}
	<td>{{ cartLine.quantity }}</td>
	{% if parameters.displayPrices or parameters.displayPricesWithTax %}
		<td class="price">
			{% if parameters.displayPrices %}
				{{ formatPrice(cartLine.priceValue) }}
				<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}</abbr>
			{% endif %}
			{% if parameters.displayPrices and parameters.displayPricesWithTax %}<br />{% endif %}
			{% if parameters.displayPricesWithTax %}
				{{ formatPrice(cartLine.priceValueWithTax) }}
				<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.with_tax') }}">{{ i18n('m.rbs.catalog.front.with_tax_abbr') }}</abbr>
			{% endif %}
		</td>
	{% endif %}
	<td>
		<button type="button" class="btn btn-default btn-sm" onclick="script{{ blockId }}.updateLine(this)"
			value="{{ cartLine.key }}" data-quantity="{{ cartLine.quantity }}"
			title="{{ i18nAttr('m.rbs.commerce.front.update', ['ucf']) }}">
			<i class="glyphicon glyphicon-refresh"></i>
		</button>
		<button type="button" class="btn btn-default btn-sm" onclick="script{{ blockId }}.deleteLine(this)"
			value="{{ cartLine.key }}" title="{{ i18nAttr('m.rbs.commerce.front.remove', ['ucf']) }}">
			<i class="glyphicon glyphicon-remove"></i>
		</button>
	</td>
</tr>

