{% extends 'Rbs_Geo/Blocks/manage-addresses-list.twig' %}
{% block rbsGeoManageAddressUse %}
	{{ parent() }}
	{% use 'Rbs_Commerce/icon-templates.twig' %}
{% endblock rbsGeoManageAddressUse %}

{% block defaultAddresses %}
	<p>
		<span data-ng-show="address.default.shipping">
			{{ block('rbsCommerceIconShipping') }}
			{{ i18n('m.rbs.commerce.front.by_shipping_default', ['ucf']) }}
		</span>
		<button data-ng-hide="address.default.shipping" class="btn btn-sm btn-default"
				data-ng-click="setDefaultAddress(address, 'shipping')">
			<span class="text-muted">{{ block('rbsCommerceIconShipping') }}</span>
			{{ i18n('m.rbs.commerce.front.button_set_shipping_default', ['ucf']) }}
		</button>
	</p>

	<p>
		<span data-ng-show="address.default.billing">
			{{ block('rbsCommerceIconBilling') }}
			{{ i18n('m.rbs.commerce.front.by_billing_default', ['ucf']) }}
		</span>
		<button data-ng-hide="address.default.billing" class="btn btn-sm btn-default"
				data-ng-click="setDefaultAddress(address, 'billing')">
			<span class="text-muted">{{ block('rbsCommerceIconBilling') }}</span>
			{{ i18n('m.rbs.commerce.front.button_set_billing_default', ['ucf']) }}
		</button>
	</p>
{% endblock %}