<script type="text/ng-template" id="/rbsShortCart.tpl">
	<div>
		<div data-ng-show="cart.lines.length" class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">
				<i class="glyphicon glyphicon-shopping-cart"></i>
				{{ i18n('m.rbs.commerce.front.my_cart', ['ucf']) }}
				<span class="badge">(= cart.lines.length =)</span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li class="dropdown-text">
					(= cart.lines.length =)
					<span data-ng-show="cart.lines.length == 1">{{ i18n('m.rbs.commerce.front.article') }}</span>
					<span data-ng-show="cart.lines.length > 1">{{ i18n('m.rbs.commerce.front.articles') }}</span>
				</li>

				<li class="divider" data-ng-show="parameters.displayPricesWithoutTax || parameters.displayPricesWithTax"></li>
				<li class="dropdown-text price" data-ng-show="parameters.displayPricesWithoutTax">
					(= cart.amounts.linesAmountWithoutTaxes | rbsFormatPrice:cart.common.currencyCode =)
					<abbr class="tax-mode" title="{{ i18nAttr('m.rbs.catalog.front.without_tax') }}">{{ i18n('m.rbs.catalog.front.without_tax_abbr') }}</abbr>
				</li>
				<li class="dropdown-text price" data-ng-show="parameters.displayPricesWithTax">
					(= cart.amounts.linesAmountWithTaxes | rbsFormatPrice:cart.common.currencyCode =)
				</li>
				<li class="dropdown-text" data-ng-show="parameters.displayPricesWithoutTax || parameters.displayPricesWithTax">{{ i18n('m.rbs.commerce.front.excluding_fees') }}</li>

				<li class="divider"></li>
				<li><a href="{{ functionURL('Rbs_Commerce_Cart') }}">{{ i18n('m.rbs.commerce.front.view_my_cart', ['ucf']) }}</a></li>
			</ul>
		</div>
		<div data-ng-hide="cart.lines.length" class="dropdown">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">
				<i class="glyphicon glyphicon-shopping-cart"></i>
				{{ i18n('m.rbs.commerce.front.my_cart', ['ucf']) }}
				<span class="badge">{{ i18n('m.rbs.commerce.front.empty') }}</span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="{{ functionURL('Rbs_Commerce_Cart') }}">{{ i18n('m.rbs.commerce.front.empty_cart', ['ucf']) }}</a></li>
			</ul>
		</div>
	</div>
</script>

<div data-rbs-short-cart="" data-cache-key="{{ blockId }}">
	<i class="glyphicon glyphicon-shopping-cart"></i>
	{{ i18n('m.rbs.commerce.front.my_cart', ['ucf']) }}
</div>