{% block rbsCommerceShortCartUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
	{% use 'Rbs_Commerce/icon-templates.twig' %}
	{% use 'Rbs_Commerce/cart-directives.twig' %}
	{{ block('rbsCommerceShortCart') }}
	{{ block('rbsCommerceCartLineVisual') }}
{% endblock rbsCommerceShortCartUse %}

<div data-rbs-commerce-short-cart="" data-cache-key="{{ blockId }}"
	data-delete-product-waiting-message="{{ i18nAttr('m.rbs.commerce.front.deleting_product', ['ucf', 'etc']) }}">
	{{ block('cartLoading') }}
</div>