<form name="form" data-ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text
				property="label" required="true"
				label="{{ i18nAttr('m.rbs.geo.document.territorialunit.label', ['ucf']) }}"
				input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-text
				property="code" required="true"
				label="{{ i18nAttr('m.rbs.geo.document.territorialunit.code', ['ucf']) }}"
				input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-text
				property="title"
				label="{{ i18nAttr('m.rbs.geo.document.territorialunit.title', ['ucf']) }}"
				input-class="input-block-level">
		</rbs-field-text>

		<div class="alert alert-danger">TODO: liste des types.</div>

		<rbs-field-text
				property="unitType" required="true"
				label="{{ i18nAttr('m.rbs.geo.document.territorialunit.unittype', ['ucf']) }}"
				input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-picker
				property="country" required="true" label="{{ i18nAttr('m.rbs.geo.document.territorialunit.country', ['ucf']) }}"
				accepted-model="Rbs_Geo_Country"
				selector-title="{{ i18nAttr('m.rbs.geo.document.territorialunit.country-picker-title', ['ucf']) }}"
				allow-creation="false">
		</rbs-field-picker>

		<rbs-field-picker
				property="unitParent" label="{{ i18nAttr('m.rbs.geo.document.territorialunit.unitparent', ['ucf']) }}"
				accepted-model="Rbs_Geo_TerritorialUnit"
				selector-title="{{ i18nAttr('m.rbs.geo.document.territorialunit.unitparent-picker-title', ['ucf']) }}"
				allow-creation="false">
		</rbs-field-picker>

	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>