{% block addWishlistPopinUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
{% endblock addWishlistPopinUse %}

<div class="modal fade" id="addWishlistModal-{{ blockId }}" tabindex="-1" role="dialog"
	aria-labelledby="addWishlistModalLabel-{{ blockId }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" data-ng-click="reset()">&times;</button>
				<h4 class="modal-title" id="addWishlistModalLabel-{{ blockId }}">
					{{ i18n('m.rbs.wishlist.front.wishlist_add', ['ucf']) }}
				</h4>
			</div>
			<div class="modal-body">
				<div class="modal-main-content">
					<form >
						<label for="addWishlistTitle-{{ blockId }}">{{ i18n('m.rbs.wishlist.front.wishlist_add_title', ['ucf']) }}</label>
						<input id="addWishlistTitle-{{ blockId }}" type="text" data-ng-model="newWishlist.title">
						<label for="addWishlistIsPublic-{{ blockId }}">{{ i18n('m.rbs.wishlist.front.wishlist_set_wishlist_public', ['ucf']) }}</label>
						<input id="addWishlistIsPublic-{{ blockId }}" type="checkbox" data-ng-model="newWishlist.public">
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<p data-ng-show="error" class="text-danger">(= error =)</p>
				<p data-ng-show="addWishlistSuccess" class="text-success">{{ i18n('m.rbs.wishlist.front.wishlist_add_success', ['ucf']) }}</p>
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal" data-ng-click="reset()">
					{{ i18n('m.rbs.wishlist.front.wishlist_modal_close', ['ucf']) }}</button>
				<button type="button" data-ng-hide="addWishlistSuccess" class="btn btn-success" data-ng-click="confirmNewWishlist()">
					{{ i18n('m.rbs.wishlist.front.wishlist_modal_add_confirm', ['ucf']) }}
				</button>
				<a href="{{ functionURL('Rbs_Wishlist_WishlistList') }}" class="btn btn-primary" data-ng-show="addWishlistSuccess">
					{{ block('rbsGenericIconGoto') }}
					{{ i18n('m.rbs.wishlist.front.wishlist_view_my_wishlists', ['ucf']) }}
				</a>
			</div>
		</div>
	</div>
</div>