{% block addWishlistPopinUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
{% endblock addWishlistPopinUse %}

<h1>{{ i18n('m.rbs.wishlist.front.wishlist_my_wishlists', ['ucf']) }}</h1>

{% if wishlists | length > 0 %}
	<div data-ng-controller="RbsWishlistListCtrl" data-ng-init='data = {{ data | json_encode() | raw }}'>
		<div class="row">
			{% for wishlist in wishlists %}
				<div data-ng-cloak="" class="col-sm-6 col-lg-4">
					<div class="row">
						<div class="col-xs-6">
							{% spaceless %}
								<a href="{{ contextualURL(wishlist.id) }}">
									<img class="img-responsive" alt="{{ wishlist.visual.alt }}" src="{{ imageURL(wishlist.visual.docId, 200, 200) }}" />
								</a>
							{% endspaceless %}
						</div>
						<ul class="col-xs-6 list-unstyled">
							<div><a href="{{ contextualURL(wishlist.id) }}">{{ wishlist.title }}</a></div>
							<p class="small">{{ i18n('m.rbs.wishlist.front.wishlist_list_wishlist_product_count', ['ucf'], {count: wishlist.productCount}) }}</p>
							{% if isUserWishlists %}
								{% if wishlist.default %}
									<div>
										{{ block('rbsGenericIconFavorite') }}
										{{ i18nAttr('m.rbs.wishlist.front.wishlist_default', ['ucf']) }}
									</div>
								{% else %}
									<div>
										{{ block('rbsGenericIconNotFavorite') }}
										<a href="javascript:" data-ng-click="setDefaultWishlist({{ wishlist.id }})">
											{{ i18nAttr('m.rbs.wishlist.front.wishlist_make_default', ['ucf']) }}
										</a>
									</div>
								{% endif %}
								{% if wishlist.public %}
									<div>
										{{ block('rbsGenericIconVisible') }}
										{{ i18n('m.rbs.wishlist.front.wishlist_public', ['ucf']) }}
									</div>
									<div class="small">
										<a href="javascript:" data-ng-click="changeIsPublic({{ wishlist.id }},false)">
											{{ i18n('m.rbs.wishlist.front.wishlist_make_private', ['ucf']) }}
										</a>
									</div>
								{% else %}
									<div>
										{{ block('rbsGenericIconHidden') }}
										{{ i18n('m.rbs.wishlist.front.wishlist_private', ['ucf']) }}
									</div>
									<div class="small">
										<a href="javascript:" data-ng-click="changeIsPublic({{ wishlist.id }}, true">
											{{ i18n('m.rbs.wishlist.front.wishlist_make_public', ['ucf']) }}
										</a>
									</div>
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</div>
				{% if loop.index % 3 == 0 %}<div class="clearfix visible-lg-block one-line-bottom-margin"></div>{% endif %}
				{% if loop.index % 2 == 0 %}<div class="clearfix visible-sm-block visible-md-block one-line-bottom-margin"></div>{% endif %}
			{% endfor %}
		</div>
	</div>
{% else %}
	<p>{{ i18n('m.rbs.wishlist.front.wishlist_list_no_wishlist_in_wishlist_list', ['ucf']) }}</p>
{% endif %}