<div class="order-status-item" ng-switch="order.processingStatus">
	<span ng-switch-when="in_progress" class="text-info">
		<i class="icon-large icon-info-sign"></i> {{ i18n('m.rbs.order.collection.processing-status-in-progress') }}
	</span>
	<span ng-switch-when="finalized" class="text-success">
		<i class="icon-large icon-info-sign"></i> {{ i18n('m.rbs.order.collection.processing-status-finalized') }}
	</span>
	<span ng-switch-when="canceled" class="text-danger">
		<i class="icon-large icon-info-sign"></i> {{ i18n('m.rbs.order.collection.processing-status-canceled') }}
	</span>
	<span ng-switch-when="initiated">
		<i class="icon-large icon-info-sign"></i> {{ i18n('m.rbs.order.collection.processing-status-initiated') }}
	</span>
</div>

<div class="order-status-item" ng-switch="order.paymentStatus">
	<span ng-switch-when="partially_payed" class="text-warning">
		<i class="icon-money"></i> {{ i18n('m.rbs.order.collection.payment-status-partially-payed') }}
	</span>
	<span ng-switch-when="payed" class="text-success">
		<i class="icon-large icon-money"></i> {{ i18n('m.rbs.order.collection.payment-status-payed') }}
	</span>
	<span ng-switch-when="canceled" class="text-danger">
		<i class="icon-large icon-money"></i> {{ i18n('m.rbs.order.collection.payment-status-canceled') }}
	</span>
	<span ng-switch-when="unconfirmed" class="text-warning">
		<i class="icon-large icon-money"></i> {{ i18n('m.rbs.order.collection.payment-status-unconfirmed') }}
	</span>
	<span ng-switch-when="initiated">
		<i class="icon-large icon-money"></i> {{ i18n('m.rbs.order.collection.payment-status-initiated') }}
	</span>
</div>

<div class="order-status-item" ng-switch="order.shippingStatus">
	<span ng-switch-when="prepared" class="text-info">
		<i class="icon-large icon-truck"></i> {{ i18n('m.rbs.order.collection.shipping-status-prepared') }}
	</span>
	<span ng-switch-when="shipped" class="text-success">
		<i class="icon-large icon-truck"></i> {{ i18n('m.rbs.order.collection.shipping-status-shipped') }}
	</span>
	<span ng-switch-when="partially_shipped" class="text-warning">
		<i class="icon-truck"></i> {{ i18n('m.rbs.order.collection.shipping-status-partially-shipped') }}
	</span>
	<span ng-switch-when="delivered" class="text-success">
		<i class="icon-large icon-truck"></i> {{ i18n('m.rbs.order.collection.shipping-status-delivered') }}
	</span>
	<span ng-switch-when="partially_delivered" class="text-success">
		<i class="opacity-half icon-truck"></i> {{ i18n('m.rbs.order.collection.shipping-status-partially-delivered') }}
	</span>
	<span ng-switch-when="initiated">
		<i class="icon-large icon-truck"></i> {{ i18n('m.rbs.order.collection.shipping-status-initiated') }}
	</span>
</div>