<div class="navbar navbar-inverse" id="mainNavbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="javascript:;" ng-click="menu.toggle()" title="{{ i18nAttr('m.rbs.admin.menu.open', ['ucf']) }}"><img src="Rbs/Admin/img/logo-rbs-change@2x.png" style="width:159px; height:25px;" alt="Logo RBS Change"></a> <a
					class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<ul class="nav notifications">
				<li class="dropdown">
				</li>
			</ul>

			<div class="nav-collapse">

				<form action="javascript:;" data-toggle="dropdown" onsubmit="$.rbschange.navigation.go('search/' + $('#globalSearchInput').val()); return false;" class="navbar-search pull-left">
					<input accesskey="4" type="text" placeholder="{{ i18nAttr('m.rbs.admin.menu.search', ['ucf', 'etc']) }}" class="search-query span2" id="globalSearchInput" value=""/>
					<ul class="dropdown-menu" id="globalSearchInputDropDown" style="z-index:3000"></ul>
				</form>

				<ul class="nav pull-right">
					<li class="dropdown" ng-cloak=""><a data-toggle="dropdown"
					                        class="dropdown-toggle" href="javascript:;"><i class="icon-user"></i> (= user.label =) <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href ng-href="(= user.url() =)"><i class="icon-user"></i> {{ i18nAttr('m.rbs.admin.menu.profile', ['ucf']) }}</a></li>
							<li><a href="./"><i class="icon-tasks"></i> {{ i18nAttr('m.rbs.admin.menu.dashboard', ['ucf']) }}</a></li>
							<li class="divider"></li>
							<li><a href="javascript:;" data-ng-click="logout()"><i class="icon-signout"></i> {{ i18nAttr('m.rbs.admin.menu.logout', ['ucf']) }}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
