<div class="navbar navbar-inverse" id="rbs-change-navbar">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rbs-change-navbar-collapse">
			<span class="sr-only">{{ i18nAttr('m.rbs.admin.admin.toggle_navigation', ['ucf']) }}</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a class="navbar-brand" href="/admin.php/" title="{{ i18nAttr('m.rbs.admin.admin.main_menu', ['ucf']) }}">
			<img src="Rbs/Admin/img/rbschange-white-icon.png" style="height:26px; margin:-3px 0;" alt="Logo RBS Change" />
		</a>
	</div>
	<div class="collapse navbar-collapse" id="rbs-change-navbar-collapse">
		<ul class="nav navbar-nav navbar-left main-menu">
			{% for section in mainMenu %}
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;"><i class="{{ section.icon }}"></i>&nbsp;
						{{  section.label }}  <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						{% for entry in section.entries %}
							<li><a href ng-href="{{entry.url}}">{{entry.label}}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown" ng-cloak="">
				<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
					<i class="icon-user"></i> (= user.pseudonym =) <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href ng-href="Rbs/User/Profile"><i class="icon-user"></i> {{ i18n('m.rbs.admin.admin.profile', ['ucf']) }}</a></li>
					<li><a href="./"><i class="icon-tasks"></i> {{ i18n('m.rbs.admin.admin.dashboard', ['ucf']) }}</a></li>
					<li class="divider"></li>
					<li><a href="javascript:;" data-ng-click="logout()"><i class="icon-signout"></i> {{ i18n('m.rbs.admin.admin.logout', ['ucf']) }}</a></li>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right navbar-indicators">
			<li rbs-clipboard-indicator=""></li>
			<li rbs-local-copy-indicator=""></li>
		</ul>
	</div>
</div>
