<div id="rbs-change-menu" ng-controller="Rbs_MainMenu_Controller" ng-mouseleave="close()" ng-swipe-left="close()">

	<div class="navbar navbar-inverse">
		<a class="navbar-brand" href="javascript:;"><img
					src="Rbs/Admin/img/logo-rbs-change@2x.png" style="width:160px; height:26px; margin:-3px 0;" alt="Logo RBS Change"/></a>
	</div>

	<ul class="nav">
		<li><a ng-click="close()" href="./"><i class="icon-tasks"></i> {{ i18nAttr('m.rbs.admin.menu.dashboard', ['ucf']) }}</a></li>
		<li class="divider"></li>
	</ul>

	<div class="nav">
		<a class="close-menu" href="javascript:;" ng-click="close()" title="{{ i18nAttr('m.rbs.admin.menu.close', ['ucf']) }}"><i class="icon-remove"></i> {{ i18n('m.rbs.admin.menu.close', ['ucf']) }}</a>
		<form class="rbs-form-simple-filter" on-escape="close()" filter="filterModules" on-enter="go()"></form>
	</div>

	<div class="nav text-muted fade-animation" ng-if="filterResults.length == 1">
		<small>Appuyez sur <strong class="kb">Entrée</strong> pour vous rendre à<br/>
			<strong>(= filterResults[0].label =)</strong>.</small>
	</div>

	<div ng-switch="chuckUrl">
		<div ng-switch-when="null">
			<div ng-repeat="s in menu.sections | orderBy:'label'">
				<h3 ng-bind="s.label"></h3>
				<ul class="nav">
					<li class="repeat-animation" ng-repeat="m in menu.entries | filter:{'section':s.code} | filter:filterModules | orderBy:'label'">
						<a href ng-click="close()" ng-href="(= m.url =)" ng-bind-html="m.label"></a>
					</li>
				</ul>
			</div>

			<h3>{{ i18n('m.rbs.admin.menu.other-modules', ['ucf']) }}</h3>
			<ul class="nav" ng-if="hasOtherModules">
				<li class="repeat-animation" ng-repeat="m in menu.entries | filter:{'section':'other'} | filter:filterModules |  orderBy:'label'">
					<a href ng-click="close()" ng-href="(= m.url =)" ng-bind-html="m.label"></a>
				</li>
			</ul>
		</div>

		<div class="nav" ng-switch-default="" style="text-align: center">
			<a target="_blank" href="http://chucknorrisfacts.fr/"><img class="img-thumbnail" ng-src="(=chuckUrl=)"/></a>
			<br/><small class="muted">On ne cherche pas Chuck Norris.<br/>C'est Chuck Norris qui vous trouve.</small>
		</div>
	</div>

	<div class="nav menu-help">
		<div>{{ i18n('m.rbs.admin.menu.help-bottom', ['ucf']) }}</div>
		<div class="links">
			<a onclick="window.open(this.href); return false;" href="http://www.rbschange.fr">{{ i18n('m.rbs.admin.menu.website') }}</a>
			|
			<a onclick="window.open(this.href); return false;" href="http://www.twitter.com/RBSChange">{{ i18n('m.rbs.admin.menu.twitter') }}</a>
			|
			<a onclick="window.open(this.href); return false;" href="https://github.com/RBSChange">{{ i18n('m.rbs.admin.menu.github') }}</a>
		</div>
		<div class="about" rbs-change-version=""></div>
	</div>

</div>