<form name="form" data-ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text
			property="name" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Theme_Theme', 'name'), ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.theme.admin.theme_name_help') | raw }}</span>
		</rbs-field-text>

		<rbs-field-text
			property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Theme_Theme', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker property="parentTheme" required="false" label="{{ i18nAttr(propertyKey('Rbs_Theme_Theme', 'parentTheme'), ['ucf']) }}"
			accepted-model="Rbs_Theme_Theme"
			allow-edition="true">
		</rbs-field-picker>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>