<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Storelocator_Store">
	<div class="col-md-12">
		<rbs-page-header title="{{ i18nAttr('m.rbs.admin.adminjs.new_resource', ['ucf']) }}"
			sub-title="{{ i18nAttr(modelKey('Rbs_Storelocator_Store'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-new=""
			data-rbs-document-editor-rbs-storelocator-store-new="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field property="refLCID" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Storelocator_Store', 'refLCID'), ['ucf']) }}">
					<select class="form-control" data-ng-model="document.refLCID"
						data-rbs-items-from-collection="Rbs_Generic_Collection_Languages" data-ucfirst="true">
					</select>
				</rbs-field>

				<hr />

				<rbs-field-label-title property="title" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Storelocator_Store', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Storelocator_Store', 'title'), ['ucf']) }}">
				</rbs-field-label-title>

				<rbs-field-text property="code" 
					label="{{ i18nAttr(propertyKey('Rbs_Storelocator_Store', 'code'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field-boolean property="allowRelayMode"
						label="{{ i18nAttr(propertyKey('Rbs_Storelocator_Store', 'allowRelayMode'), ['ucf']) }}">
				</rbs-field-boolean>

				<rbs-field-rich-text property="description" 
					label="{{ i18nAttr(propertyKey('Rbs_Storelocator_Store', 'description'), ['ucf']) }}">
				</rbs-field-rich-text>

				<rbs-field-picker-multiple property="visuals"
					label="{{ i18nAttr(propertyKey('Rbs_Storelocator_Store', 'visuals'), ['ucf']) }}"
					accepted-model="Rbs_Media_Image">
				</rbs-field-picker-multiple>

				<rbs-field-picker property="commercialSign"
						label="{{ i18nAttr(propertyKey('Rbs_Storelocator_Store', 'commercialSign'), ['ucf']) }}"
						accepted-model="Rbs_Storelocator_CommercialSign">
				</rbs-field-picker>

				<rbs-field-picker-multiple property="services"
						label="{{ i18nAttr(propertyKey('Rbs_Storelocator_Store', 'services'), ['ucf']) }}"
						accepted-model="Rbs_Storelocator_Service">
				</rbs-field-picker-multiple>

			</fieldset>
			<fieldset data-rbs-editor-section="geo" data-editor-section-icon="icon-map-marker"
					data-editor-section-label="{{ i18nAttr('m.rbs.storelocator.admin.geo_section', ['ucf']) }}">

				<rbs-field-picker property="territorialUnit" label="{{ i18nAttr(propertyKey('Rbs_Storelocator_Store', 'territorialUnit'), ['ucf']) }}"
						accepted-model="Rbs_Geo_TerritorialUnit"
						selector-title="{{ i18nAttr('m.rbs.storelocator.admin.territorialunit_picker_title', ['ucf']) }}">
				</rbs-field-picker>

				<div rbs-geo-address-field="" data-ng-model="document.address"></div>

				<rbs-field property="coordinates" label="{{ i18nAttr('m.rbs.storelocator.admin.coordinates', ['ucf']) }}">
					<div data-ng-model="document.coordinates" data-rbs-geo-coordinates-field="" data-address="document.address">
					</div>
				</rbs-field>
			</fieldset>

			<fieldset data-rbs-editor-section="publication"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.publication_properties', ['ucf']) }}"
				data-rbs-document-publication-section="">
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>