<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-date property="creationDate" label="{{ i18nAttr('m.rbs.order.document.order.creationDate', ['ucf']) }}">
		</rbs-field-date>

		<rbs-field-text property="code" input-class="input-block-level"
			label="{{ i18nAttr('m.rbs.order.document.order.code', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker property="ownerId" label="{{ i18nAttr('m.rbs.order.document.order.ownerid', ['ucf']) }}"
			accepted-model="Rbs_User_User" allow-edition="true"
			selector-title="{{ i18nAttr('m.rbs.order.document.order.select-ownerid', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field-picker property="webStoreId" label="{{ i18nAttr('m.rbs.order.document.order.webstoreid', ['ucf']) }}"
				accepted-model="Rbs_Store_WebStore" allow-edition="true"
				selector-title="{{ i18nAttr('m.rbs.order.document.order.select-webstoreid', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field label="{{ i18nAttr('m.rbs.order.document.order.currencycode', ['ucf']) }}">
			<select ng-model="document.currencyCode" rbs-items-from-collection="Rbs_Price_Collection_Iso4217"></select>
		</rbs-field>

		<rbs-field label="{{ i18nAttr('m.rbs.order.document.order.amount', ['ucf']) }}">
			<rbs-price-input data-ng-model="document.amount" data-currency-code="(=document.currencyCode=)" />
		</rbs-field>

		<rbs-field label="{{ i18nAttr('m.rbs.order.document.order.amountwithtax', ['ucf']) }}">
			<rbs-price-input data-ng-model="document.amountWithTax"
					data-price-with-tax="true" data-currency-code="(=document.currencyCode=)" />
		</rbs-field>

		<rbs-field-text property="processingStatus" input-class="input-block-level"
				label="{{ i18nAttr('m.rbs.order.document.order.processingstatus', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="paymentStatus" input-class="input-block-level"
				label="{{ i18nAttr('m.rbs.order.document.order.paymentstatus', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="shippingStatus" input-class="input-block-level"
				label="{{ i18nAttr('m.rbs.order.document.order.shippingstatus', ['ucf']) }}">
		</rbs-field-text>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>