<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text
				property="label" required="true"
				label="{{ i18nAttr(propertyKey('Rbs_Geo_Country', 'label'), ['ucf']) }}"
				input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-text
				property="code" required="true"
				label="{{ i18nAttr(propertyKey('Rbs_Geo_Country', 'code'), ['ucf']) }}"
				input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-text
				property="title"
				label="{{ i18nAttr(propertyKey('Rbs_Geo_Country', 'title'), ['ucf']) }}"
				input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-picker
				property="addressFields" label="{{ i18nAttr(propertyKey('Rbs_Geo_Country', 'addressFields'), ['ucf']) }}"
				accepted-model="Rbs_Geo_AddressFields"
				selector-title="{{ i18nAttr('m.rbs.geo.documents.country.select-addressfields', ['ucf']) }}"
				allow-creation="false">
		</rbs-field-picker>
	</fieldset>

	<fieldset ng-show="section=='systeminfo'"
	          data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
	          data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>