<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text
			property="label" required="true"
			label="{{ i18nAttr('m.rbs.store.document.webstore.label', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker-multiple property="billingAreas" required="true" label="{{ i18nAttr('m.rbs.store.document.webstore.billingareas', ['ucf']) }}"
			accepted-model="Rbs_Price_BillingArea"
			selector-title="{{ i18nAttr('m.rbs.store.document.webstore.billingareas-picker-title', ['ucf']) }}">
		</rbs-field-picker-multiple>

		<rbs-field-boolean
				property="displayPrices"
				label="{{ i18nAttr('m.rbs.store.document.webstore.displayprices', ['ucf']) }}">
		</rbs-field-boolean>

		<rbs-field-boolean
				property="displayPricesWithTax"
				label="{{ i18nAttr('m.rbs.store.document.webstore.displaypriceswithtax', ['ucf']) }}">
		</rbs-field-boolean>

		<rbs-field-picker property="orderProcess" label="{{ i18nAttr('m.rbs.store.document.webstore.orderprocess', ['ucf']) }}"
				accepted-model="Rbs_Order_Process"
				selector-title="{{ i18nAttr('m.rbs.store.document.webstore.select-orderprocess', ['ucf']) }}"
				allow-edition="true"
				allow-creation="false">
		</rbs-field-picker>

	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>