<div data-ng-controller="Rbs_Seo_Configuration_ConfigurationController">
	<page-header sub-title="{{ i18nAttr('m.rbs.seo.admin.configuration', ['ucf']) }}"></page-header><br />
	<h3>{{ i18nAttr('m.rbs.seo.admin.document-seo-auto-generation', ['ucf']) }}</h3>

	<rbs-document-list data-dlid="DLCollection1" model="Rbs_Seo_SitemapModel" filter-query="query" modificationDate="false" actions="">
		<column name="label" primary="true" label="{{ i18n('m.rbs.seo.documents.sitemapmodel.label', ['ucf']) }}"></column>
		<column name="documentSeoAutoGenerate" label="{{ i18n('m.rbs.seo.documents.sitemapmodel.document-seo-auto-generate', ['ucf']) }}">
			<switch data-ng-model="doc.documentSeoAutoGenerate" data-ng-change="activateChange(plugin)"></switch>
		</column>
		<column name="defaultChangeFrequency" label="{{ i18n('m.rbs.seo.documents.sitemapmodel.default-change-frequency', ['ucf']) }}"></column>
		<column name="defaultPriority" label="{{ i18n('m.rbs.seo.documents.sitemapmodel.default-priority', ['ucf']) }}"></column>
	</rbs-document-list>

</div>