<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-picker property="website" required="true" label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'website'), ['ucf']) }}"
			accepted-model="Rbs_Website_Website"
			selector-title="{{ i18nAttr('m.rbs.website.documents.functionalpage_website-picker-title', ['ucf']) }}"
			allow-edition="true">
			<span class="help-block">{{ i18n('m.rbs.website.documents.functionalpage_website-picker-title', ['ucf']) }}</span>
		</rbs-field-picker>

		<hr />

		<rbs-field-text
			property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'title'), ['ucf']) }}"
			property="title"
			rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.website.documents.functionalpage.synchronize-title-label', ['ucf']) }}"
			required="true">
		</rbs-field-text>

		<rbs-field-picker property="pageTemplate" required="true" accepted-model="Rbs_Theme_PageTemplate"
				label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'pageTemplate'), ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.website.documents.functionalpage.pagetemplate-picker-title', ['ucf']) }}"
			allow-edition="true">
		</rbs-field-picker>

		<div rbs-tip="Rbs_Website_FunctionalPageEditorFunctions">
			{{ i18n('m.rbs.website.admin.functional_page_editor_help') | raw }}
		</div>

		<hr />

		<rbs-field-boolean property="useCache"
				label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'useCache'), ['ucf']) }}">
		</rbs-field-boolean>

		<div data-ng-show="document.useCache">
			<rbs-field property="TTL" label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'TTL'), ['ucf']) }}">
				<input class="form-control" size="7" smart-float="" ng-model="document.TTL" min="0" type="number" />
				<span class="help-block">{{ i18n('m.rbs.website.documents.staticpage.ttl-help') }}</span>
			</rbs-field>
		</div>

		<rbs-field-boolean property="https"
				label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'https'), ['ucf']) }}">
		</rbs-field-boolean>
	</fieldset>

	<fieldset ng-show="section=='content'" hide-when-create="true"
		data-form-section-label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'editableContent'), ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">
		<structure-editor name="contents" ng-model="document.editableContent" template="(=pageTemplate=)">
		</structure-editor>
	</fieldset>

	<fieldset ng-show="section=='functions'" hide-when-create="true"
	          data-form-section-label="{{ i18nAttr('m.rbs.website.admin.functionalpage_functions', ['ucf']) }}"
	          data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">
		<div class="control-group property">
			<span class="help-block">
				{{ i18n('m.rbs.website.admin.all_functions_list') | raw}}
			</span>

			<select multiple="multiple" class="form-control" size="10"
			        ng-model="document.allowedFunctionsCode"
			        ng-options="value as func.label+' ('+value+')' for (value, func) in allFunctions">
				<option value="">-</option>
			</select>

			<div ng-if="hasAvailableFunctions()">
				{{ i18n('m.rbs.website.admin.page_contains_blocks_for_following_functions') }}
				<ul>
					<li ng-repeat="(value, func) in availableFunctions">(= func.label =)<em class="muted"> ((= value =))</em></li>
				</ul>
			</div>
			<div class="alert" ng-if="! hasAvailableFunctions() && ! warningFunctions">
				{{ i18n('m.rbs.website.admin.page_contains_no_function') | raw }}
			</div>

			<div ng-if="document.allowedFunctionsCode">
				<div ng-if="!warningFunctions" class="alert alert-success">
					{{ i18n('m.rbs.website.admin.page_contains_required_blocks') }}
				</div>

				<div ng-if="warningFunctions" class="alert">
					{{ i18n('m.rbs.website.admin.following_functions_cannot_be_supported_correctly') }}
					<ul>
						<li ng-repeat="(value, func) in warningFunctions">(= func.label =)<em class="muted"> ((= value =))</em></li>
					</ul>
					{{ i18n('m.rbs.website.admin.edit_page_contents_to_fix_this') | raw }}
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>