{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		{{ forms.picker('website', 'Rbs_Website_Website',
			'm.rbs.website.document.functionalpage.website',
			true, 'm.rbs.website.document.functionalpage.website-help',
			'm.rbs.website.document.functionalpage.website-picker-title') }}

		<hr />

		{{ forms.field('label', 'String', 'm.rbs.website.document.functionalpage.label', true) }}

		<div class="control-group required property" data-ng-class="{'success': hasCorrectionOnProperty('title')}">
			<label class="control-label" for="title">{{ i18n('m.rbs.website.document.functionalpage.title', ['ucf']) }}</label>
			<div class="controls">
				<input type="text" rbs-sync-value="document.label" sync-title="{{ i18nAttr('m.rbs.website.document.functionalpage.synchronize-title-label', ['ucf']) }}" id="title" name="title" required class="input-block-level" ng-model="document.title"/>
			</div>
		</div>

		{{ forms.picker('pageTemplate', 'Rbs_Theme_PageTemplate', 'm.rbs.website.document.functionalpage.pagetemplate',
			true, null, 'm.rbs.website.document.functionalpage.pagetemplate-picker-title') }}

		<hr />

		<div class="control-group">
			<label class="control-label" for="editableContent">{{ i18n('m.rbs.website.document.functionalpage.editablecontent', ['ucf']) }}</label>
			<div class="controls">
				<button class="btn" id="editableContent" type="button" data-ng-click="editPage($event, document)">
					<i class="icon-edit"></i>
					{{ i18n('m.rbs.website.document.functionalpage.open-page-editor', ['ucf']) }}
				</button>
				<span class="help-block">
					{{ i18n('m.rbs.website.document.functionalpage.content-zones', ['ucf', 'lab']) }}
					<span ng-repeat="zone in editableContentInfo" class="label">(=zone=)</span>
				</span>
			</div>
		</div>
		<div data-role="edit-page-contents-confirmation"></div>

		<div rbs-tip="Rbs_Website_FunctionalPageEditorFunctions">
			{{ i18n('m.rbs.website.document.functionalpage.functional-page-editor-help') }}
		</div>
	</fieldset>

	<fieldset data-ng-show="section=='functions'"
	          data-form-section-label="{{ i18nAttr('m.rbs.website.document.functionalpage.functions', ['ucf']) }}"
	          data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<div class="control-group property">
			<span class="help-block">
			<strong>Voici la liste de toutes les fonctions disponibles.</strong><br/>
			Les fonctions déjà supportées par la page sont sélectionnées. Sélectionnez les fonctions que vous désirez
			attribuer à cette page.
			</span>

			<select multiple="multiple" class="input-block-level" size="10" ng-model="document.allowedFunctionsCode" ng-options="value as func.label+' ('+value+')' for (value, func) in allFunctions"></select>

			<div>
				Pour information, la page dispose actuellement des blocs nécessaires pour remplir les fonctions suivantes :
				<ul>
					<li ng-repeat="(value, func) in availableFunctions">(= func.label =)<em class="muted"> ((= value =))</em></li>
				</ul>
			</div>

			<div ng-if="document.allowedFunctionsCode">
				<div ng-if="!warningFunctions" class="alert alert-success">
					La page dispose de tous les blocs nécessaires pour supporter correctement les fonctions choisies.
				</div>

				<div ng-if="warningFunctions" class="alert">
					Les fonctions suivantes ne pourront pas être supportées correctement car la page ne dispose pas
					des blocs nécessaires à ces fonctions :
					<ul>
						<li ng-repeat="(value, func) in warningFunctions">(= func.label =)<em class="muted"> ((= value =))</em></li>
					</ul>
					Pour corriger cela, vous pouvez <a href ng-href="(= doc | documentURL:'editor' =)">éditer le contenu de la page</a>.
				</div>
			</div>
		</div>

	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>