<div class="media rbs-media-timeline">
	<a class="pull-left" data-rbs-document-popover="" data-rbs-document-href="Rbs_User_User,(= message.authorId =),public-profile">
		<rbs-avatar size="80" user-id="(= message.authorId =)"></rbs-avatar>
	</a>
	<div class="media-body">
		<time class="pull-right" data-display="both" datetime="(= message.modificationDate =)"></time>
		<h4 class="media-heading">
			(= message.authorName =)
			<small data-ng-if="message.authorIdentifier">
				<a data-rbs-document-popover="" data-rbs-document-href="Rbs_User_User,(= message.authorId =),public-profile">
					@(= message.authorIdentifier =)
				</a>
			</small>
		</h4>
		<div data-ng-if="message.authorId === user.id && !message.editMode" class="pull-right">
			<button class="btn btn-default" type="button" data-ng-click="editMessage(message)">
				<i class="icon-edit"></i>
				{{ i18n('m.rbs.timeline.admin.edit_message', ['ucf']) }}
			</button>
			<button class="btn btn-danger" type="button" data-ng-click="removeMessage(message)" title="{{ i18nAttr('m.rbs.timeline.admin.remove_message', ['ucf']) }}">
				<i class="icon-trash"></i>
			</button>
		</div>
		<div class="message-content"></div>
		<div data-ng-if="!message.editMode && message.creationDate !== message.modificationDate">
			<small class="text-muted">{{ i18n('m.rbs.timeline.admin.edited_message', ['ucf']) }} <time data-display="both" datetime="(= message.modificationDate =)"></time></small>
		</div>
		<div data-ng-if="message.editMode">
			<rbs-rich-text-input data-ng-model="message.message" class="input-block-level" profile="Admin"></rbs-rich-text-input>
			<div class="btn-toolbar margin-top">
				<button type="button" data-ng-click="updateMessage(message)" class="btn btn-primary">
					<i class="icon-ok"></i> {{ i18n('m.rbs.timeline.admin.leave_a_message_update', ['ucf']) }}
				</button>
				<button type="button" data-ng-click="cancelMessageEdition(message)" class="btn btn-default pull-right">
					{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}</button>
			</div>
		</div>
	</div>
</div>