<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true" label="{{ i18nAttr('m.rbs.simpleform.documents.form.label', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" rbs-sync-value="document.label"
			label="{{ i18nAttr('m.rbs.simpleform.documents.form.title', ['ucf']) }}"
			sync-title="{{ i18nAttr('m.rbs.simpleform.documents.form.synchronize-title-label', ['ucf']) }}">
		</rbs-field-text>

		<hr />

		<rbs-field property="confirmationMode" required="true"
			label="{{ i18nAttr('m.rbs.simpleform.documents.form.confirmationmode', ['ucf']) }}">
			<select class="form-control" ng-required="true" ng-model="document.confirmationMode"
				rbs-items-from-collection="Rbs_Simpleform_ConfirmationModes">
			</select>
		</rbs-field>

		<div ng-hide="document.confirmationMode == 'page'">
			<rbs-field-rich-text property="confirmationMessage" profile="Website"
				label="{{ i18nAttr('m.rbs.simpleform.documents.form.confirmationmessage', ['ucf']) }}">
			</rbs-field-rich-text>
		</div>
		<div ng-show="document.confirmationMode == 'page'">
			<rbs-field-picker property="confirmationPage" accepted-model="Rbs_Website_StaticPage"
				allow-creation="true" allow-edition="true"
				label="{{ i18nAttr('m.rbs.simpleform.documents.form.confirmationpage', ['ucf']) }}"
				selector-title="{{ i18nAttr('m.rbs.simpleform.documents.form.confirmationpage-picker-title', ['ucf']) }}">
			</rbs-field-picker>
		</div>

		<hr />

		<rbs-field-picker-multiple property="receiverUsers" accepted-model="Rbs_User_User" allow-creation="true"
			allow-edition="true" label="{{ i18nAttr('m.rbs.simpleform.documents.form.receiverusers', ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.simpleform.documents.form.receiverusers-picker-title', ['ucf']) }}">
		</rbs-field-picker-multiple>

		<rbs-field-picker-multiple property="receiverUsers" accepted-model="Rbs_User_Group" allow-creation="true"
			allow-edition="true" label="{{ i18nAttr('m.rbs.simpleform.documents.form.receivergroups', ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.simpleform.documents.form.receivergroups-picker-title', ['ucf']) }}">
		</rbs-field-picker-multiple>

		<rbs-field-text property="receiverEmails"
			label="{{ i18nAttr('m.rbs.simpleform.documents.form.receiveremails', ['ucf']) }}">
		</rbs-field-text>

		<hr />

		<rbs-field-boolean property="useCaptcha" label="{{ i18nAttr('m.rbs.simpleform.documents.form.usecaptcha', ['ucf']) }}">
		</rbs-field-boolean>
		<rbs-field-boolean property="sendAcknowledgment"
			label="{{ i18nAttr('m.rbs.simpleform.documents.form.sendacknowledgment', ['ucf']) }}">
		</rbs-field-boolean>
		<rbs-field-boolean property="saveResponses"
			label="{{ i18nAttr('m.rbs.simpleform.documents.form.saveresponses', ['ucf']) }}">
		</rbs-field-boolean>
	</fieldset>

	<fieldset data-ng-show="section=='publication'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.publication-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-picker-multiple property="publicationSections" accepted-model="Rbs_Website_Section" allow-creation="true"
			allow-edition="true" label="{{ i18nAttr('m.rbs.simpleform.documents.form.publicationsections', ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.simpleform.documents.form.publicationsections-picker-title', ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.simpleform.documents.form.publicationsections-help', ['ucf']) }}</span>
		</rbs-field-picker-multiple>

		<rbs-field-date property="startPublication"
			label="{{ i18nAttr('m.rbs.simpleform.documents.form.startPublication', ['ucf']) }}">
		</rbs-field-date>

		<rbs-field-date property="endPublication"
			label="{{ i18nAttr('m.rbs.simpleform.documents.form.endPublication', ['ucf']) }}">
		</rbs-field-date>
	</fieldset>

	<fieldset data-ng-show="section=='fields'"
		data-form-section-label="{{ i18nAttr('m.rbs.simpleform.documents.field-list', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		<div class="add-elements-bar">
			<a href="javascript:;" ng-click="fieldManager.cascadeCreate()">
				{{ i18n('m.rbs.simpleform.admin.js.field-create', ['ucf']) }}
			</a>
		</div>

		<rbs-document-list data-dlid="DLCollection1" model="Rbs_Simpleform_Field" collection="document.fields" extend="fieldManager"
			toolbar="false" selectable="false">
			<column name="label" primary="true">
				<a href="javascript:;" ng-click="extend.cascadeEdit($index)">(= doc.label =)</a>
			</column>
			<column name="actions" width="168">
				<rbs-kb-switch>
					<button rbs-kb-when="alt" ng-disabled="$first" class="btn btn-default btn-icon" type="button" ng-click="extend.moveTop($index)" title="{{ i18nAttr('m.rbs.admin.admin.js.move-top', ['ucf']) }}">
						<i class="icon-step-forward icon-rotate-270"></i>
					</button>
					<button rbs-kb-default="" ng-disabled="$first" class="btn btn-default btn-icon" type="button" ng-click="extend.moveUp($index)" title="{{ i18nAttr('m.rbs.admin.admin.js.move-up', ['ucf']) }}">
						<i class="icon-play icon-rotate-270"></i>
					</button>
				</rbs-kb-switch>
				<rbs-kb-switch>
					<button rbs-kb-when="alt" ng-disabled="$last" class="btn btn-default btn-icon" type="button" ng-click="extend.moveBottom($index)" title="{{ i18nAttr('m.rbs.admin.admin.js.move-bottom', ['ucf']) }}">
						<i class="icon-step-forward icon-rotate-90"></i>
					</button>
					<button rbs-kb-default="" ng-disabled="$last" class="btn btn-default btn-icon" type="button" ng-click="extend.moveDown($index)" title="{{ i18nAttr('m.rbs.admin.admin.js.move-down', ['ucf']) }}">
						<i class="icon-play icon-rotate-90"></i>
					</button>
				</rbs-kb-switch>
				<button class="btn btn-default btn-icon" type="button" ng-click="extend.cascadeEdit($index)" title="{{ i18nAttr('m.rbs.admin.admin.js.edit', ['ucf']) }}">
					<i class="icon-pencil"></i>
				</button>
				<button class="btn btn-danger btn-icon" type="button" ng-click="extend.remove($index)" title="{{ i18nAttr('m.rbs.admin.admin.js.delete', ['ucf']) }}">
					<i class="icon-remove"></i>
				</button>
			</column>
			<quick-actions></quick-actions>
		</rbs-document-list>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>