<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Website_Topic', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.generic.admin.synchronize_title_label', ['ucf']) }}"
			label="{{ i18nAttr(propertyKey('Rbs_Website_Topic', 'title'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field ng-hide="document.isNew() || !document.indexPage" label="{{ i18nAttr(propertyKey('Rbs_Website_Topic', 'indexPage'), ['ucf']) }}">
			<div class="form-control-static">(=document.indexPage.label=)</div>
		</rbs-field>

		<hr/>

		<rbs-field-picker property="section" required="true"
				label="{{ i18nAttr('m.rbs.website.admin.topic_section', ['ucf']) }}"
				select-model="{ancestors:'Rbs_Website_Section', abstract:false}"
				selector-title="{{ i18nAttr('m.rbs.website.admin.topic_section_picker_title', ['ucf']) }}">
			<div class="help-block">{{ i18n('m.rbs.website.admin.topic_section_help', ['ucf']) }}</div>
		</rbs-field-picker>
	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-rbs-document-system-info-section="">
	</fieldset>

	<div ng-if="!document.isNew()">
		<fieldset data-ng-show="section=='permission'"
			data-form-section-label="{{ i18nAttr('m.rbs.website.documents.topic_permission', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}">
			<div rbs-tip="RbsWebsiteSectionPermissionRules" class="margin-top">
				{{ i18n('m.rbs.website.admin.section_permission_rule_helper', ['ucf']) }}
			</div>

			<rbs-field-picker-multiple property="authorizedUsers" required="false"
				label="{{ i18nAttr('m.rbs.website.documents.topic_authorized_users', ['ucf']) }}"
				accepted-model="Rbs_User_User"
				selector-title="{{ i18nAttr('m.rbs.website.admin.topic_users_picker_title', ['ucf']) }}">
			</rbs-field-picker-multiple>

			<rbs-field-picker-multiple property="authorizedGroups" required="false"
				label="{{ i18nAttr('m.rbs.website.documents.topic_authorized_groups', ['ucf']) }}"
				accepted-model="Rbs_User_Group"
				selector-title="{{ i18nAttr('m.rbs.website.admin.topic_groups_picker_title', ['ucf']) }}">
			</rbs-field-picker-multiple>
		</fieldset>
	</div>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>