<div class="row" rbs-document-editor-base="" model="Rbs_Website_Topic">

	<div class="col-md-12">
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Website_Topic'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
	</div>

	<div class="document-form" rbs-main-column>

		<form ng-submit="submit()" rbs-document-editor-new="" rbs-document-editor-rbs-website-topic="">

			<fieldset rbs-editor-section=""
			          data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
			          data-editor-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

				<rbs-field-label-title property="title" required="true"
				                       label="{{ i18nAttr(propertyKey('Rbs_Website_Topic', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Website_Topic', 'title'), ['ucf']) }}">
				</rbs-field-label-title>

				<rbs-field-picker property="section" required="true"
						label="{{ i18nAttr('m.rbs.website.admin.topic_section', ['ucf']) }}"
						select-model="{ancestors:'Rbs_Website_Section', abstract:false}"
						selector-title="{{ i18nAttr('m.rbs.website.admin.topic_section_picker_title', ['ucf']) }}">
					<div class="help-block">{{ i18n('m.rbs.website.admin.topic_section_help', ['ucf']) }}</div>
				</rbs-field-picker>
			</fieldset>

			<fieldset rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
				data-editor-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>

	</div>

</div>