<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a rbs-active-route="" href="Rbs/Geo/Zone/" class="rbs-panel-link">{{ i18n('m.rbs.geo.admin.zone_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Geo/Country/" class="rbs-panel-link">{{ i18n('m.rbs.geo.admin.country_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Geo/TerritorialUnit/" class="rbs-panel-link">{{ i18n('m.rbs.geo.admin.territorialunit_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Geo/AddressFields/" class="rbs-panel-link">{{ i18n('m.rbs.geo.admin.addressfields_list', ['ucf']) }}</a>
</rbs-links-panel>
