{% if parameters.blockTitle %}<h1>{{ parameters.blockTitle }}</h1>{% endif %}

<ul class="list-unstyled">
	{% for file in files %}
		<li>
			<span class="glyphicon glyphicon-save"></span>
			<a href="{{ ajaxURL('Rbs_Media', 'Download', {'documentId': file.document.id}) }}">
				{{ file.document.currentLocalization.title }}
			</a>
			&mdash; {{ file.document.mimeType }}
			&mdash; {{ file.formattedSize|raw }}
		</li>
	{% endfor %}
</ul>