<form name="form" ng-submit="submit()" novalidate="">
	<rbs-field-text property="title" required="true"
		label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'title'), ['ucf']) }}">
	</rbs-field-text>

	<hr />

	<rbs-field-rich-text property="summary" required="false" profile="Website"
		label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'summary'), ['ucf']) }}">
	</rbs-field-rich-text>

	<rbs-field-rich-text property="text" required="false" profile="Website"
		label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'text'), ['ucf']) }}">
	</rbs-field-rich-text>

	<hr />

	<rbs-field-date property="startPublication"
		label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'startPublication'), ['ucf']) }}">
	</rbs-field-date>

	<rbs-field-date property="endPublication"
		label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'endPublication'), ['ucf']) }}">
	</rbs-field-date>

	<form-button-bar></form-button-bar>
</form>