<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="title" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'title'), ['ucf']) }}"
			rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.generic.admin.synchronize_title_label', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-date property="date" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'date'), ['ucf']) }}">
		</rbs-field-date>

		<rbs-field-date property="endDate"
			label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'endDate'), ['ucf']) }}">
		</rbs-field-date>

		<hr />

		<rbs-field-rich-text property="summary" required="false" profile="Website"
			label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'summary'), ['ucf']) }}">
		</rbs-field-rich-text>

		<rbs-field-rich-text property="text" required="false" profile="Website"
			label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'text'), ['ucf']) }}">
		</rbs-field-rich-text>

		<hr />

		<rbs-field-picker property="detailVisual" label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'detailVisual'), ['ucf']) }}"
			accepted-model="Rbs_Media_Image" allow-creation="true" allow-edition="true"
			selector-title="{{ i18nAttr('m.rbs.event.admin.event_detailvisual_picker_title', ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.event.admin.event_detailvisual_help', ['ucf']) }}</span>
		</rbs-field-picker>

		<rbs-field-picker property="listVisual" label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'listVisual'), ['ucf']) }}"
			accepted-model="Rbs_Media_Image" allow-creation="true" allow-edition="true"
			selector-title="{{ i18nAttr('m.rbs.event.admin.event_listvisual-picker-title', ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.event.admin.event_listvisual_help', ['ucf']) }}</span>
		</rbs-field-picker>

		<hr />

		<rbs-field-picker-multiple property="categories"
			label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'categories'), ['ucf']) }}"
			accepted-model="Rbs_Event_Category" allow-creation="true" allow-edition="true"
			selector-title="{{ i18nAttr('m.rbs.event.admin.event_categories_picker_title', ['ucf']) }}">
		</rbs-field-picker-multiple>
	</fieldset>

	<fieldset data-ng-show="section=='publication'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.publication_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-picker-multiple property="publicationSections"
			label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'publicationSections'), ['ucf']) }}"
			accepted-model="Rbs_Website_Section" allow-creation="true" allow-edition="true"
			selector-title="{{ i18nAttr('m.rbs.event.admin.event_publicationsections_picker_title', ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.event.admon.event_publicationsections_help', ['ucf']) }}</span>
		</rbs-field-picker-multiple>

		<rbs-field-date property="startPublication"
			label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'startPublication'), ['ucf']) }}">
		</rbs-field-date>

		<rbs-field-date property="endPublication"
			label="{{ i18nAttr(propertyKey('Rbs_Event_Event', 'endPublication'), ['ucf']) }}">
		</rbs-field-date>
	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<fieldset ng-show="section=='timeline'"
		data-form-section-label="{{ i18nAttr('m.rbs.timeline.admin.message_list', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		rbs-timeline>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>