{% include 'Rbs_Geo/address-form.twig' %}

<div data-ng-controller="rbsGeoManageAddressesController">
	<h1>{{ i18n('m.rbs.geo.front.manage_addresses_title', ['ucf']) }}</h1>

	<div class="vertical-if-animation" data-ng-if="data.addresses.length > 0 && !data.editedAddress && !data.newAddress"
		data-ng-cloak="">
		<div class="vertical-if-animation-content">
			<h2>{{ i18n('m.rbs.geo.front.address_list_title', ['ucf']) }}</h2>
			<div class="row">
				<div data-ng-repeat-start="address in data.addresses" class="col-md-6 col-lg-4">
					<h3>(= address.name =) <small data-ng-if="address.default">({{ i18n('m.rbs.geo.front.by_default') }})</small></h3>
					<address>
						<strong>(= address.lines[0] =)</strong>
						<div data-ng-repeat="line in address.lines track by $index" data-ng-if="!$first">(= line =)</div>
					</address>
					<p data-ng-if="address.fieldValues.__id">
						<button type="button" class="btn btn-sm btn-default" data-ng-click="openEditAddressForm(address)">
							{{ i18n('m.rbs.geo.front.button_edit', ['ucf']) }}
						</button>
						<button data-ng-if="!address.default" type="button" class="btn btn-sm btn-default"
							data-ng-click="setDefaultAddress(address)">
							{{ i18n('m.rbs.geo.front.button_set_default', ['ucf']) }}
						</button>
						<button type="button" class="btn btn-sm btn-danger btn-icon" data-ng-click="deleteAddress(address)"
							title="{{ i18nAttr('m.rbs.geo.front.button_delete', ['ucf']) }}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</p>
				</div>
				<div data-ng-if="($index % 3) == 2" class="clearfix visible-lg-block"></div>
				<div data-ng-repeat-end="" data-ng-if="($index % 2) == 1" class="clearfix visible-md-block"></div>
			</div>
			<p>
				<button type="button" class="btn btn-primary" data-ng-click="openNewAddressForm()">
					{{ i18n('m.rbs.geo.front.button_new_address', ['ucf']) }}
				</button>
			</p>
		</div>
	</div>
	<div class="vertical-if-animation" data-ng-if="data.addresses.length == 0 && !data.editedAddress && !data.newAddress"
		data-ng-cloak="">
		<div class="vertical-if-animation-content">
			<h2>{{ i18n('m.rbs.geo.front.address_list_title', ['ucf']) }}</h2>
			<p>{{ i18n('m.rbs.geo.front.no_address_yet', ['ucf']) }}</p>
			<p>
				<button type="button" class="btn btn-primary" data-ng-click="openNewAddressForm()">
					{{ i18n('m.rbs.geo.front.button_new_address', ['ucf']) }}
				</button>
			</p>
		</div>
	</div>
	<div class="vertical-if-animation" data-ng-if="data.editedAddress" data-ng-cloak="">
		<div class="vertical-if-animation-content">
			<h2>{{ i18n('m.rbs.geo.front.add_edit_address_title', ['ucf']) }}</h2>
			<div data-rbs-address-form="" data-ng-model="data.editedAddress.fieldValues"
				data-valid="data.isEditedAddressValid"
				data-address-name="data.editedAddress.name"
				data-manage-name="">
				<button type="button" class="btn btn-primary" data-ng-disabled="!data.isEditedAddressValid"
					data-ng-click="updateAddress()">
					{{ i18n('m.rbs.geo.front.button_save', ['ucf']) }}
				</button>
				<button type="button" class="btn btn-sm btn-default" data-ng-click="cancelEdition()">
					{{ i18n('m.rbs.geo.front.button_cancel', ['ucf']) }}
				</button>
			</div>
		</div>
	</div>
	<div class="vertical-if-animation" data-ng-if="data.newAddress" data-ng-cloak="">
		<div class="vertical-if-animation-content">
			<h2>{{ i18n('m.rbs.geo.front.add_new_address_title', ['ucf']) }}</h2>
			<div data-rbs-address-form="" data-ng-model="data.newAddress.fieldValues"
				data-valid="data.isNewAddressValid"
				data-address-name="data.newAddress.name"
				data-manage-name=""
				data-clear-address="clearAddress">
				<button type="button" class="btn btn-primary" data-ng-disabled="!data.isNewAddressValid"
					data-ng-click="addNewAddress()">
					{{ i18n('m.rbs.geo.front.button_save', ['ucf']) }}
				</button>
				<button type="button" class="btn btn-sm btn-default" data-ng-click="clearAddress()">
					{{ i18n('m.rbs.geo.front.button_clear', ['ucf']) }}
				</button>
				<button type="button" class="btn btn-sm btn-default" data-ng-click="cancelCreation()">
					{{ i18n('m.rbs.geo.front.button_cancel', ['ucf']) }}
				</button>
			</div>
		</div>
	</div>
</div>