<form name="form" data-ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<p class="text" data-ng-if="document.locked">{{ i18n('m.rbs.collection.admin.item_locked_warning') | raw }}</p>

		<rbs-field-text
			property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Collection_Item', 'label'), ['ucf']) }}"
			input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-text
			property="title" required="true"
			rbs-sync-value="document.label" sync-title="{{ i18nAttr('m.rbs.generic.admin.synchronize_title_label', ['ucf']) }}"
			label="{{ i18nAttr(propertyKey('Rbs_Collection_Item', 'title'), ['ucf']) }}"
			input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-text
			property="value" data-ng-disabled="document.locked" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Collection_Item', 'value'), ['ucf']) }}"
			input-class="input-block-level">
		</rbs-field-text>

	</fieldset>
	<form-button-bar></form-button-bar>
</form>