{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.change.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.change.admin.properties', ['ucf']) }}">
		{{ forms.picker('website', 'Change_Website_Website',
			'm.change.website.document.topic.website',
			true, 'm.change.website.document.topic.website-help',
			'm.change.website.document.staticpage.topic-picker-title') }}

		{{ forms.field('label', 'String', 'm.change.website.document.topic.label', true) }}

		{{ forms.field('pathPart', 'String', 'm.change.website.document.topic.pathPart',
			false, 'm.change.website.document.topic.pathPart-help') }}

		{{ forms.picker('indexPage', 'Change_Website_StaticPage', 'm.change.website.document.topic.indexpage',
			false, null, 'm.change.website.document.topic.indexpage-picker-title') }}
	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.change.admin.Status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.change.admin.Information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>