<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text
				property="label" required="true"
				label="{{ i18nAttr('m.rbs.website.document.topic.label', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text
				property="title" required="true"
				rbs-sync-value="document.label" sync-title="{{ i18nAttr('m.rbs.website.document.topic.synchronize-title-label', ['ucf']) }}"
				label="{{ i18nAttr('m.rbs.website.document.topic.title', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text
				property="pathPart"
				label="{{ i18nAttr('m.rbs.website.document.topic.pathPart', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field ng-hide="document.isNew()" label="{{ i18nAttr('m.rbs.website.document.topic.indexpage', ['ucf']) }}">
			<span class="uneditable-input">(=document.indexPage.label=)</span>
		</rbs-field>

		<hr/>

		<rbs-field-picker
				property="website" required="true" label="{{ i18nAttr('m.rbs.website.document.topic.website', ['ucf']) }}"
				accepted-model="Rbs_Website_Website"
				selector-title="{{ i18nAttr('m.rbs.website.document.topic.website-picker-title', ['ucf']) }}"
				allow-creation="false">
			<div class="help-block">{{ i18n('m.rbs.website.document.topic.website-help', ['ucf']) }}</div>
		</rbs-field-picker>

	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>