<rbs-field-label-title property="title" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Shipping_Mode', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Shipping_Mode', 'title'), ['ucf']) }}">
</rbs-field-label-title>

<rbs-field-text property="code" required="true"
		label="{{ i18nAttr(propertyKey('Rbs_Shipping_Mode', 'code'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Rbs_Shipping_Mode', 'description'), ['ucf']) }}">
</rbs-field-rich-text>

<rbs-field-picker property="visual" label="{{ i18nAttr(propertyKey('Rbs_Shipping_Mode', 'visual'), ['ucf']) }}"
		accepted-model="Rbs_Media_Image"
		selector-title="{{ i18nAttr('m.rbs.shipping.admin.mode_select_visual', ['ucf']) }}">
</rbs-field-picker>

<rbs-field-boolean property="hasAddress"
		label="{{ i18nAttr(propertyKey('Rbs_Shipping_Mode', 'hasAddress'), ['ucf']) }}">
</rbs-field-boolean>

<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Shipping_Mode', 'cartFilterData'), ['ucf']) }}">
	<div data-rbs-document-filter-container="" data-filter="document.cartFilterData">
		<div data-rbs-cart-filter-definitions=""></div>
	</div>
</rbs-field>

<rbs-field-picker-multiple property="deliveryZones" accepted-model="Rbs_Geo_Zone"
		label="{{ i18nAttr(propertyKey('Rbs_Shipping_Mode', 'deliveryZones'), ['ucf']) }}"
		selector-title="{{ i18nAttr('m.rbs.shipping.admin.mode_select_delivery_zones', ['ucf']) }}">
</rbs-field-picker-multiple>