<h2>{{ i18n('m.rbs.review.front.review_post', ['ucf']) }}</h2>
{% if notConnected %}
	<p class="muted">
		{{ i18n('m.rbs.review.front.review_post_not_connected', ['ucf']) }}
		<!-- TODO add a button or a link to connect user -->
	</p>
{% else %}
	{% if parameters.alreadyReviewed %}
		{% if notPublished %}
			<p>{{ i18n('m.rbs.review.front.pending_publication', ['ucf']) }}</p>
		{% elseif refused %}
			<p>{{ i18n('m.rbs.review.blocks.review-refused', ['ucf']) }}</p>
		{% else %}
			<p>{{ i18n('m.rbs.review.front.already_reviewed', ['ucf', 'lab']) }}</p>
		{% endif %}
		<div>
			{% if parameters.canEdit %}
				<a href="{{ functionURL('Rbs_Review_EditReview') }}">{{ i18n('m.rbs.review.front.edit_review', ['ucf']) }}</a>
			{% endif %}
			{% include 'Rbs_Review/Blocks/review.twig' with { 'review': review, 'class': validationClass } %}
			{% if hasCorrection %}
				<p>{{ i18n('m.rbs.review.front.review_pending_correction', ['ucf']) }}</p>
				<div class="panel panel-info">
					<dl class="dl-horizontal">
						{% if correction.reviewStarRating %}
							<dt>{{ i18n('m.rbs.review.front.review_pending_correction_new_note', ['ucf', 'lab']) }}</dt>
							<dd>{% include 'Rbs_Review/Blocks/star-rating.twig' with { 'reviewStarRating': correction.reviewStarRating } %} </dd>
						{% endif %}
						{% if correction.content %}
							<dt>{{ i18n('m.rbs.review.front.review_pending_correction_new_content', ['ucf', 'lab']) }}</dt>
							<dd>{{ correction.content | raw }}</dd>
						{% endif %}
					</dl>
				</div>
			{% endif %}
		</div>
	{% else %}
		<form method="post" id="Review" action="Action/Rbs/Review/PostReview" class="well well-small">
			<input type="hidden" name="userId" value="{{ parameters.userId }}">
			<input type="hidden" name="targetId" value="{{ parameters.targetId }}">
			<input type="hidden" name="sectionId" value="{{ parameters.sectionId }}">
			<input type="hidden" name="redirectLocation" value="{{ currentURL() }}" />
			<fieldset>
				<div class="form-group">
					<label for="rbs-review-review-pseudonym">{{ i18n('m.rbs.review.front.review_post_pseudonym', ['ucf']) }}</label>
					<p id="rbs-review-review-pseudonym" class="form-control-static">{{ parameters.pseudonym }}</p>
				</div>
				<div class="form-group">
					<label for="rbs-review-review-rating-value">{{ i18n('m.rbs.review.front.review_post_rating', ['ucf']) }}</label>
					{% include 'Rbs_Review/Blocks/star-rating.twig' %}
				</div>
				<div class="form-group">
					<label for="rbs-review-review-content">{{ i18n('m.rbs.review.front.review_post_content', ['ucf']) }}</label>
					<textarea id="rbs-review-review-content" name="content" class="form-control"></textarea>
				</div>
				<button class="btn btn-primary" type="submit">{{ i18n('m.rbs.review.front.review_post_submit', ['ucf']) }}</button>
			</fieldset>
		</form>
	{% endif %}
{% endif %}