{% set ratingScale = parameters.ratingScale %}
{% set handleVotes = parameters.handleVotes %}

{% block rbsCatalogProductUse %}
	{% use 'Rbs_Review/review-directives.twig' %}
	{{ block('rbsReviewCommon') }}
	{{ block('rbsReviewReview') }}
{% endblock rbsCatalogProductUse %}

{% block rbsReviewReviewDataCache %}
	<script type="text/javascript">
		window.__change['{{ blockId }}'] = {{ reviewData | json_encode | raw}};
	</script>
{% endblock rbsReviewReviewDataCache %}

{% block rbsReviewReviewContent %}
	<h1>{{ i18n('m.rbs.review.front.review_detail_title', ['ucf']) }}</h1>
	<div data-rbs-review-review-details="" data-ajax-data="{}" data-ajax-params="{}" data-cache-key="{{ blockId }}"
		data-review-id="{{ parameters.toDisplayDocumentId }}" data-handle-votes="{{ handleVotes }}"></div>
{% endblock rbsReviewReviewContent %}