<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true"
			label="{{ i18nAttr('m.rbs.website.documents.staticpage.label', ['ucf']) }}"
			input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.website.documents.staticpage.synchronize-title-label', ['ucf']) }}"
			label="{{ i18nAttr('m.rbs.website.documents.staticpage.title', ['ucf']) }}"
			input-class="input-block-level">
		</rbs-field-text>

		<rbs-field-picker property="pageTemplate" required="true"
			label="{{ i18nAttr('m.rbs.website.documents.staticpage.pageTemplate', ['ucf']) }}"
			accepted-model="Rbs_Theme_PageTemplate"
			selector-title="{{ i18nAttr('m.rbs.website.documents.staticpage.pagetemplate-picker-title', ['ucf']) }}">
		</rbs-field-picker>

		<hr />

		<rbs-field-picker property="section" required="true"
			label="{{ i18nAttr('m.rbs.website.documents.staticpage.section', ['ucf']) }}"
			accepted-model="Rbs_Website_Section"
			selector-title="{{ i18nAttr('m.rbs.website.documents.staticpage.section-picker-title', ['ucf']) }}"
			allow-creation="false">
			<span class="help-block">{{ i18n('m.rbs.website.documents.staticpage.section-help', ['ucf']) }}</span>
		</rbs-field-picker>
	</fieldset>

	<fieldset ng-show="section=='content'" hide-when-create="true"
		data-form-section-label="{{ i18nAttr('m.rbs.website.documents.staticpage.editableContent', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<div rbs-tip="Rbs_PageEditor_Markdown">
			{{ i18n('m.rbs.admin.tips.rbs-pageeditor-markdown') }}
		</div>

		<structure-editor property="editableContent" name="contents" ng-model="document.editableContent"
			template="(=pageTemplate=)">
		</structure-editor>
	</fieldset>

	<fieldset ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<fieldset ng-show="section=='timeline'" hide-when-create="true"
		data-form-section-label="{{ i18nAttr('m.rbs.timeline.admin.message-list', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
		rbs-timeline>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>