{% import "@Admin/forms.twig" as forms %}

<form name="form" data-ng-submit="submit()" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.picker('section', 'Rbs_Website_Topic',
			'm.rbs.website.document.staticpage.section',
			true, 'm.rbs.website.document.staticpage.section-help',
			'm.rbs.website.document.staticpage.section-picker-title') }}

		<hr />

		{{ forms.field('label', 'String', 'm.rbs.website.document.staticpage.label', true) }}

		<div class="control-group required property" data-ng-class="{'success': hasCorrectionOnProperty('title')}">
			<label class="control-label" for="title">{{ i18n('m.rbs.website.document.staticpage.title', ['ucf']) }}</label>
			<div class="controls">
				<input type="text" rbs-sync-value="document.label" sync-title="{{ i18nAttr('m.rbs.website.document.staticpage.synchronize-title-label', ['ucf']) }}" id="title" name="title" required class="input-block-level" ng-model="document.title"/>
			</div>
		</div>

		{{ forms.picker('pageTemplate', 'Rbs_Theme_PageTemplate', 'm.rbs.website.document.staticpage.pagetemplate',
			true, null, 'm.rbs.website.document.staticpage.pagetemplate-picker-title') }}

		<hr />

		<div class="control-group">
			<label class="control-label" for="editableContent">{{ i18n('m.rbs.website.document.staticpage.editablecontent', ['ucf']) }}</label>
			<div class="controls">
				<button class="btn" id="editableContent" type="button" data-ng-click="editPage($event, document)">
					<i class="icon-edit"></i>
					{{ i18n('m.rbs.website.document.staticpage.open-page-editor', ['ucf']) }}
				</button>
				<span class="help-block">
					{{ i18n('m.rbs.website.document.staticpage.content-zones', ['ucf', 'lab']) }}
					<span ng-repeat="zone in editableContentInfo" class="label">(=zone=)</span>
				</span>
			</div>
		</div>
		<div data-role="edit-page-contents-confirmation"></div>
	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.Status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.Information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>