<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Catalog_SectionProductList">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_SectionProductList'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-catalog-product-list-edit=""
			data-rbs-document-editor-rbs-catalog-section-product-list-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text property="label" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Catalog_SectionProductList', 'label'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field-picker property="synchronizedSection"
					label="{{ i18nAttr(propertyKey('Rbs_Catalog_SectionProductList', 'synchronizedSection'), ['ucf']) }}"
					select-model="{ancestors:'Rbs_Website_Section', abstract:false}"
					selector-title="{{ i18nAttr('m.rbs.catalog.admin.sectionproductlist_synchronizedsection_picker_title', ['ucf']) }}">
				</rbs-field-picker>

				<hr />

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_SectionProductList', 'productSortOrder'), ['ucf']) }}">
					<select data-ng-model="document.productSortOrder" id="productSortOrder" name="productSortOrder"
						class="form-control" data-rbs-items-from-collection="Rbs_Catalog_Collection_ProductSortOrders">
					</select>
					<span class="help-block">{{ i18n('m.rbs.catalog.admin.productlist_productsortorder_help') }} </span>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_SectionProductList', 'productSortDirection'), ['ucf']) }}">
					<rbs-collection-item-selector ng-model="document.productSortDirection"
						collection-code="Rbs_Generic_Collection_SortDirections">
					</rbs-collection-item-selector>
					<span class="help-block">{{ i18n('m.rbs.catalog.admin.productlist_productsortorder_help') }}</span>
				</rbs-field>

				<hr />

				<rbs-field-picker-multiple property="facets"
					label="{{ i18nAttr(propertyKey('Rbs_Catalog_SectionProductList', 'facets'), ['ucf']) }}"
					accepted-model="Rbs_Elasticsearch_Facet"
					selector-title="{{ i18nAttr('m.rbs.catalog.admin.productlist_facets_picker_title', ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.catalog.admin.productlist_facets_help') }} </span>
				</rbs-field-picker-multiple>
			</fieldset>

			<fieldset data-rbs-editor-section="activation"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.activation_properties', ['ucf']) }}"
				data-rbs-document-activation-section="">
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>