<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Seo_DocumentSeo', 'target'), ['ucf']) }}">
			<p class="form-control-static">
				<a href="javascript:;" ng-href="(= document.target | rbsURL =)">(= document.target.label =) <i class="icon-circle-arrow-right"></i></a>
			</p>
		</rbs-field>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Seo_DocumentSeo', 'metaTitle'), ['ucf']) }}">
			<div class="input-group">
				<input type="text" class="form-control" data-ng-model="document.metaTitle" />
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ i18n('m.rbs.seo.admin.meta-variables', ['ucf']) }} <span class="caret"></span></button>
					<ul class="dropdown-menu pull-right">
						<li data-ng-repeat="(key, variable) in metaVariables">
							<a href="" data-ng-click="addMetaVariable('metaTitle', key)">(= variable =)</a>
						</li>
					</ul>
				</div>
			</div>
		</rbs-field>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Seo_DocumentSeo', 'metaDescription'), ['ucf']) }}">
			<div class="input-group">
				<input type="text" class="form-control" data-ng-model="document.metaDescription" />
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ i18n('m.rbs.seo.admin.meta-variables', ['ucf']) }} <span class="caret"></span></button>
					<ul class="dropdown-menu pull-right">
						<li data-ng-repeat="(key, variable) in metaVariables">
							<a href="" data-ng-click="addMetaVariable('metaDescription', key)">(= variable =)</a>
						</li>
					</ul>
				</div>
			</div>
		</rbs-field>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Seo_DocumentSeo', 'metaKeywords'), ['ucf']) }}">
			<div class="input-group">
				<input type="text" class="form-control" data-ng-model="document.metaKeywords" />
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ i18n('m.rbs.seo.admin.meta-variables', ['ucf']) }} <span class="caret"></span></button>
					<ul class="dropdown-menu pull-right">
						<li data-ng-repeat="(key, variable) in metaVariables">
							<a href="" data-ng-click="addMetaVariable('metaKeywords', key)">(= variable =)</a>
						</li>
					</ul>
				</div>
			</div>
		</rbs-field>

	</fieldset>

	<fieldset data-ng-show="section=='urlinfo'" hide-when-create="true"
		data-form-section-label="{{ i18nAttr('m.rbs.seo.admin.urls', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		<p>{{ i18n('m.rbs.seo.admin.available-languages-help') }}</p>
		<p>{{ i18n('m.rbs.seo.admin.canonical-help') }}</p>
		<table data-ng-show="document.locations.length > 0" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>{{ i18n('m.rbs.seo.admin.website', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.seo.admin.lcid', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.seo.admin.section', ['ucf']) }}</th>
					<th style="width: 90px;">{{ i18n('m.rbs.seo.admin.publication', ['ucf']) }}</th>
					<th style="width: 25px;"></th>
				</tr>
			</thead>
			<tbody data-ng-repeat="(locationIndex, location) in document.locations">
				<tr>
					<td>(= location.websiteLabel =)</td>
					<td>(= availableLanguages[location.LCID].label|ucf =) [(= location.LCID =)]</td>
					<td>(= location.sectionLabel =) <i ng-show="location.canonical" class="icon-star text-info" title="{{ i18n('m.rbs.seo.admin.canonical-location', ['ucf']) }}"></i></td>
					<td style="white-space: nowrap;" ng-click="displayConfig[locationIndex].showDetails = !displayConfig[locationIndex].showDetails">
						<span ng-show="location.published">
							<i class="icon-ok text-success"></i> {{ i18n('m.rbs.seo.admin.published', ['ucf']) }}
						</span>
						<span ng-hide="location.published">
							<i class="icon-remove text-error"></i> {{ i18n('m.rbs.seo.admin.not-published', ['ucf']) }}
						</span>
					</td>
					<td>
						<button type="button" class="btn btn-default" ng-click="displayConfig[locationIndex].showDetails = !displayConfig[locationIndex].showDetails">
							<i ng-hide="displayConfig[locationIndex].showDetails" class="icon-chevron-down"></i>
							<i ng-show="displayConfig[locationIndex].showDetails" class="icon-chevron-up"></i>
						</button>
					</td>
				</tr>
				<tr>
					<td ng-if="displayConfig[locationIndex].showDetails === true" class="preview" colspan="5">
						<div class="inner">
							<h3>{{ i18n('m.rbs.seo.admin.publication', ['ucf']) }}</h3>
							<ul class="unstyled">
								<li ng-repeat="condition in location.publication"><i ng-show="condition.ok" class="icon-ok text-success"></i><i ng-show="!condition.ok" class="icon-remove text-error"></i> (= condition.message =)</li>
							</ul>
							<h3>{{ i18n('m.rbs.seo.admin.urls', ['ucf']) }}</h3>
							<table data-ng-show="location.urls.length > 0" class="table table-striped table-bordered table-condensed">
								<thead>
									<tr>
										<th>{{ i18n('m.rbs.seo.admin.url', ['ucf']) }}</th>
										<th style="width: 220px;">{{ i18n('m.rbs.seo.admin.query', ['ucf']) }}</th>
										<th style="width: 125px;"></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="(index, url) in location.urls">
										<td>
											<a ng-hide="displayConfig[locationIndex].urls[index].edit" href="(= getHref(location, url) =)" target="_blank">(= url.relativePath =)</a>
											<input ng-show="displayConfig[locationIndex].urls[index].edit" ng-model="url.relativePath" type="text" style="width: 90%;" />
										</td>
										<td>
											(= url.query =)
										</td>
										<td style="white-space: nowrap; text-align: right;">
											<button ng-hide="displayConfig[locationIndex].urls[index].edit" type="button" class="btn"
												title="{{ i18nAttr('m.rbs.seo.admin.edit-url', ['ucf']) }}"
												ng-click="startEditUrl(locationIndex, index)"><i class="icon-pencil"></i></button>
											<button ng-hide="displayConfig[locationIndex].urls[index].edit" type="button" class="btn btn-danger"
												title="{{ i18nAttr('m.rbs.seo.admin.restore-default-url', ['ucf']) }}"
												ng-click="restoreDefaultUrl(locationIndex, index)" ng-disabled="url.relativePath == location.defaultUrl.relativePath"><i class="icon-remove"></i></button>
											<button ng-show="displayConfig[locationIndex].urls[index].edit" type="button" class="btn btn-info"
												title="{{ i18nAttr('m.rbs.seo.admin.validate-url', ['ucf']) }}"
												ng-click="updateUrl(locationIndex, index)"><i class="icon-check"></i></button>
											<button ng-show="displayConfig[locationIndex].urls[index].edit" type="button" class="btn btn-warning"
												title="{{ i18nAttr('m.rbs.seo.admin.undo-edit-url', ['ucf']) }}"
												ng-click="undoEditUrl(locationIndex, index)"><i class="icon-undo"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
							<h3>
								{{ i18n('m.rbs.seo.admin.redirects', ['ucf']) }}
								<span ng-click="displayConfig[locationIndex].showRedirects = !displayConfig[locationIndex].showRedirects" class="badge badge-info">
									(= location.redirects.length =)
								</span>
								<button type="button" class="btn btn-default" ng-click="displayConfig[locationIndex].showRedirects = !displayConfig[locationIndex].showRedirects">
									<i ng-show="!displayConfig[locationIndex].showRedirects" class="icon-chevron-down"></i>
									<i ng-show="displayConfig[locationIndex].showRedirects" class="icon-chevron-up"></i>
								</button>
							</h3>
							<table data-ng-show="displayConfig[locationIndex].showRedirects === true" class="table table-striped table-bordered table-condensed">
								<thead>
									<tr>
										<th>{{ i18n('m.rbs.seo.admin.url', ['ucf']) }}</th>
										<th style="width: 85px;">{{ i18n('m.rbs.seo.admin.permanent', ['ucf']) }}</th>
										<th style="width: 220px;">{{ i18n('m.rbs.seo.admin.query', ['ucf']) }}</th>
										<th style="width: 125px;"></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="(index, redirect) in location.redirects">
										<td>
											<span ng-hide="displayConfig[locationIndex].redirects[index].edit">(= redirect.relativePath =)</span>
											<input ng-show="displayConfig[locationIndex].redirects[index].edit" ng-model="redirect.relativePath" type="text" style="width: 90%;" />
										</td>
										<td><switch ng-model="redirect.permanent" ng-disabled="!displayConfig[locationIndex].redirects[index].edit"></switch></td>
										<td>(= redirect.query =)</td>
										<td style="white-space: nowrap; text-align: right;">
											<button ng-disabled="displayConfig[locationIndex].redirects[index].edit" type="button" class="btn"
												title="{{ i18nAttr('m.rbs.seo.admin.make-current-url', ['ucf']) }}"
												ng-click="makeCurrentUrl(locationIndex, index)"><i class="icon-thumbs-up"></i></button>
											<button ng-hide="displayConfig[locationIndex].redirects[index].edit" type="button" class="btn"
												title="{{ i18nAttr('m.rbs.seo.admin.edit-redirect', ['ucf']) }}"
												ng-click="startEditRedirect(locationIndex, index)"><i class="icon-pencil"></i></button>
											<button ng-hide="displayConfig[locationIndex].redirects[index].edit" type="button" class="btn btn-danger"
												title="{{ i18nAttr('m.rbs.seo.admin.remove-redirect', ['ucf']) }}"
												ng-click="deleteRedirect(locationIndex, index)"><i class="icon-remove"></i></button>
											<button ng-show="displayConfig[locationIndex].redirects[index].edit" type="button" class="btn btn-info"
												title="{{ i18nAttr('m.rbs.seo.admin.validate-redirect', ['ucf']) }}"
												ng-click="updateRedirect(locationIndex, index)"><i class="icon-check"></i></button>
											<button ng-show="displayConfig[locationIndex].redirects[index].edit" type="button" class="btn btn-warning"
												title="{{ i18nAttr('m.rbs.seo.admin.undo-edit-redirect', ['ucf']) }}"
												ng-click="undoEditRedirect(locationIndex, index)"><i class="icon-undo"></i></button>
										</td>
									</tr>
									<tr>
										<td><input ng-model="newRedirect[locationIndex].relativePath" type="text" style="width: 90%;" /></td>
										<td><switch ng-model="newRedirect[locationIndex].permanent"></switch></td>
										<td><input ng-model="newRedirect[locationIndex].query" type="text" /></td>
										<td style="white-space: nowrap; text-align: right;">
											<button type="button" class="btn btn-info" ng-disabled="!newRedirect[locationIndex].relativePath"
												title="{{ i18nAttr('m.rbs.seo.admin.add-new-redirect', ['ucf']) }}"
												ng-click="addNewRedirect(locationIndex)"><i class="icon-check"></i></button>
											<button type="button" class="btn btn-danger" ng-disabled="!newRedirect[locationIndex].relativePath && !newRedirect[locationIndex].query && newRedirect[locationIndex].permanent"
												title="{{ i18nAttr('m.rbs.seo.admin.clear-new-redirect', ['ucf']) }}"
												ng-click="clearNewRedirect(locationIndex)"><i class="icon-remove"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!--<p>(= document.rules|json =)</p>
		<p>(= document.locations|json =)</p>-->
	</fieldset>

	<fieldset data-ng-show="section=='sitemap'"
		data-form-section-label="{{ i18nAttr('m.rbs.seo.admin.sitemap', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Seo_DocumentSeo', 'sitemapChangeFrequency'), ['ucf']) }}">
			<select class="form-control" data-ng-model="document.sitemapChangeFrequency" rbs-items-from-collection="Rbs_Seo_Collection_SitemapChangeFrequency">
				<option value=""> {{ i18n('m.rbs.seo.documents.documentseo.sitemap-change-frequency-option', ['ucf']) }}</option>
			</select>
		</rbs-field>

		<rbs-field-float property="sitemapPriority"
			label="{{ i18nAttr(propertyKey('Rbs_Seo_DocumentSeo', 'sitemapPriority'), ['ucf']) }}">
		</rbs-field-float>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>{{ i18n('m.rbs.seo.admin.website', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.seo.admin.add-on-website-sitemap', ['ucf']) }}</th>
				</tr>
			</thead>
			<tbody data-ng-repeat="(websiteId, sitemapWebsiteInfo) in document.sitemapGenerateForWebsites">
				<tr>
					<td>(= sitemapWebsiteInfo.label =)</td>
					<td><switch ng-model="sitemapWebsiteInfo.generate"></switch></td>
				</tr>
			</tbody>
		</table>

	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>