<div class="row">
	{% set visualData = productData.common.visuals[0] %}
	{% if visualData %}
		{% set secondColumnClass = 'col-sm-8' %}
		<div class="col-sm-4">
			<img alt="{{ visualData.alt }}" src="{{ visualData.listItem }}" />
		</div>
	{% else %}
		{% set secondColumnClass = 'col-sm-12' %}
	{% endif %}
	<div class="{{ secondColumnClass }}">
		<h3>{{ productData.common.title }}</h3>
		<div class="alert alert-success">{{ i18n('m.rbs.catalog.front.this_product_added_to_cart', ['ucf']) }}</div>
	</div>
</div>