{% import 'Rbs_Catalog/macros.twig' as catalogMacros %}
{% set listFormat = {'maxWidth': 160, 'maxHeight' : 120}  %}
{% set pictogramFormat = {'maxWidth': 60, 'maxHeight' : 45}  %}
{% if rows %}
	<h1 id="product-list-title">{{ parameters.title }}</h1>

	<div id="myCarousel{{ blockId }}" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{% for i in range(0,slideCount-1) %}
				{% set slideNumber = loop.index0 %}
				<div class="item{% if loop.first %} active{% endif %}">
					{% spaceless %}
						<ul class="grid-list grid-list-{{ itemsPerSlide }} grid-list-bordered product-list">
							{% for row in rows|slice(slideNumber * itemsPerSlide, itemsPerSlide) %}
								<li>
									<div class="grid-list-cell">
										{% block productItem %}
											{% include 'Rbs_Catalog/product-list-item.twig' %}
										{% endblock %}
									</div>
								</li>
							{% endfor %}
						</ul>
					{% endspaceless %}
				</div>
			{% endfor %}
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel{{ blockId }}" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel{{ blockId }}" data-slide="next">
			<span class="icon-next"></span>
		</a>
	</div>
{% endif %}
{% include 'Rbs_Catalog/product-added-to-cart-popin.twig' %}