{% import 'Rbs_Catalog/macros.twig' as catalogMacros %}
{% if rows %}
<h1 id="product-list-title">{{ parameters.title }}</h1>

<form action="{{ ajaxURL('Rbs_Commerce', 'AddLineToCart') }}" method="post">
	<input type="hidden" name="quantity" value="1" />
	<input type="hidden" name="redirectLocation" value="{{ functionURL('Rbs_Commerce_Cart') }}" />
	<input type="hidden" name="errorLocation" value="{{ currentURL() }}" />

	<!-- Slider
	================================================== -->
	<div id="myCarousel{{ blockId }}" class="carousel slide">
		<!-- Indicators -->

		<ol class="carousel-indicators">
			{#
			{% for i in range(0,slideCount-1) %}
					{%  if loop.first %}
						<li data-target="#myCarousel{{ blockId }}" data-slide-to="{{ i }}" class="active"></li>
					{%  else %}
						<li data-target="#myCarousel{{ blockId }}" data-slide-to="{{ i }}"></li>
					{% endif %}
				{%  endfor %}
			#}
		</ol>

		<div class="carousel-inner">
			{% for i in range(0,slideCount-1) %}
				{% set slideNumber = loop.index0 %}
				{% if loop.first %}
				<div class="item active">
				{%  else %}
				<div class="item">
				{%  endif %}
					<ul class="grid-list grid-list-{{ itemsPerSlide }} grid-list-bordered product-list">
					{% spaceless %}
					{%  for row in rows|slice(slideNumber * itemsPerSlide, itemsPerSlide) %}
						{% include 'Rbs_Catalog/Blocks/product-list-item.twig' %}
					{% endfor %}
					{% endspaceless %}</ul>
				</div>
			{% endfor %}
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel{{ blockId }}" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel{{ blockId }}" data-slide="next">
			<span class="icon-next"></span>
		</a>
	</div>
	<!-- /.carousel -->
</form>
{% endif %}
