{% block rbsCatalogProductListUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
	{% use 'Rbs_Commerce/icon-templates.twig' %}

	{% use 'Rbs_Catalog/product-directives.twig' %}
	{{ block('rbsCatalogProductModals') }}
	{{ block('rbsCatalogProductAddToCartItem') }}

	{% use 'Rbs_Media/media-directives.twig' %}
	{{ block('rbsMediaPictograms') }}
{% endblock rbsCatalogProductListUse %}

{% block rbsCatalogProductListHeader %}
	{% if parameters.showOrdering %}
		<div class="form-inline one-line-bottom-margin">
			<div class="input-group result-sorting-method">
				<span class="input-group-addon">
					{{ i18n('m.rbs.catalog.front.sort', ['ucf']) }}
				</span>
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{% if parameters.sortBy == null %}
							{{ i18n('m.rbs.catalog.front.sort_default', ['ucf']) }}
						{% elseif parameters.sortBy == 'price.asc' %}
							{{ i18n('m.rbs.catalog.front.sort_price_asc', ['ucf']) }}
						{% elseif parameters.sortBy == 'price.desc' %}
							{{ i18n('m.rbs.catalog.front.sort_price_desc', ['ucf']) }}
						{% elseif parameters.sortBy == 'dateAdded.desc' %}
							{{ i18n('m.rbs.catalog.front.sort_date_added_desc', ['ucf']) }}
						{% elseif parameters.sortBy == 'title.asc' %}
							{{ i18n('m.rbs.catalog.front.sort_title_asc', ['ucf']) }}
						{% endif %}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						{% set paramName = 'sortBy-' ~ blockId %}
						<li>
							<a href="{{ currentURL({(paramName): null}) }}">
								{{ i18n('m.rbs.catalog.front.sort_default', ['ucf']) }}
							</a>
						</li>
						<li>
							<a href="{{ currentURL({(paramName):'price.asc'}) }}">
								{{ i18n('m.rbs.catalog.front.sort_price_asc', ['ucf']) }}
							</a>
						</li>
						<li>
							<a href="{{ currentURL({(paramName):'price.desc'}) }}">
								{{ i18n('m.rbs.catalog.front.sort_price_desc', ['ucf']) }}
							</a>
						</li>
						<li>
							<a href="{{ currentURL({(paramName):'dateAdded.desc'}) }}">
								{{ i18n('m.rbs.catalog.front.sort_date_added_desc', ['ucf']) }}
							</a>
						</li>
						<li>
							<a href="{{ currentURL({(paramName):'title.asc'}) }}">
								{{ i18n('m.rbs.catalog.front.sort_title_asc', ['ucf']) }}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock rbsCatalogProductListHeader %}

{% block rbsCatalogProductList %}
	{% spaceless %}
		<div class="row product-list">
			{% for productData in productsData %}
				{% if parameters.itemsPerLine == 1 %}
					{# One item per line. #}
					<div class="col-sm-12">
						{% block productItem %}
							{% include 'Rbs_Catalog/product-list-item.twig' %}
						{% endblock %}
					</div>
					{# END One item per line. #}
				{% elseif parameters.itemsPerLine == 2 %}
					{# Two items per line. #}
					<div class="col-sm-12 col-md-6">
						{{ block('productItem') }}
					</div>
					{% if (loop.index % 2) == 0 %}
						<div class="clearfix visible-md-block"></div>
						<div class="clearfix visible-lg-block"></div>
					{% endif %}
					{# END Two items per line. #}
				{% elseif parameters.itemsPerLine == 3 %}
					{# Three items per line. #}
					<div class="col-sm-6 col-md-4">
						{{ block('productItem') }}
					</div>
					{% if (loop.index % 2) == 0 %}
						<div class="clearfix visible-sm-block"></div>
					{% endif %}
					{% if (loop.index % 3) == 0 %}
						<div class="clearfix visible-md-block"></div>
						<div class="clearfix visible-lg-block"></div>
					{% endif %}
					{# END Three items per line. #}
				{% else %}
					{# Four items per line. #}
					<div class="col-sm-6 col-md-4 col-lg-3">
						{{ block('productItem') }}
					</div>
					{% if (loop.index % 2) == 0 %}
						<div class="clearfix visible-sm-block"></div>
					{% endif %}
					{% if (loop.index % 3) == 0 %}
						<div class="clearfix visible-md-block"></div>
					{% endif %}
					{% if (loop.index % 4) == 0 %}
						<div class="clearfix visible-lg-block"></div>
					{% endif %}
					{# END Four items per line. #}
				{% endif %}
			{% endfor %}
		</div>
	{% endspaceless %}
{% endblock rbsCatalogProductList %}

{% block rbsCatalogProductListFooter %}
	{% include 'Rbs_Generic/pagination.twig' with {'pageCount': pagination.pageCount, 'pageNumber': pagination.pageNumber, 'blockId': blockId} %}
{% endblock rbsCatalogProductListFooter %}