{% extends 'Rbs_Catalog/Blocks/product-list.twig' %}
{% block rbsCatalogProductListUse %}
	{{ parent() }}
	{{ block('rbsCatalogProductPrice') }}
	{% use 'Rbs_Catalog/product-list-directives.twig' %}
	{{ block('rbsCatalogProductsList') }}
	<script type="application/javascript">
		window.__change['{{ blockId }}'] = {context : {{ context | json_encode | raw }}, productsData : {{ productsData | json_encode | raw }} };
	</script>
{% endblock rbsCatalogProductListUse %}

{% block rbsCatalogProductListFooter %}
{% endblock rbsCatalogProductListFooter %}

{% block rbsCatalogProductList %}
	{% spaceless %}
		<div data-rbs-catalog-products-list="" data-cache-key="{{ blockId }}" data-product-count="{{ pagination.count }}"
				data-view-detail-title-mask="{{ i18nAttr('m.rbs.catalog.front.view_product_details', ['ucf'], {product: 'PRODUCT_TITLE'}) }}">
		</div>
	{% endspaceless %}
{% endblock rbsCatalogProductList %}