{% block rbsCatalogProductListUse %}
	{% use 'Rbs_Catalog/product-directives.twig' %}
	{{ block('rbsCatalogAddToCartPopin') }}
	{{ block('rbsCatalogAddToCartListItem') }}
	{{ block('rbsCatalogProductPictograms') }}
{% endblock rbsCatalogProductListUse %}

{% block rbsCatalogProductListHeader %}
	{% if parameters.showOrdering %}
		<div class="input-group result-sorting-method">
		<span class="input-group-addon">
			{{ i18n('m.rbs.catalog.front.sort', ['ucf']) }}
		</span>
			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					{% if parameters.sortBy == null %}
						{{ i18n('m.rbs.catalog.front.sort_default', ['ucf']) }}
					{% elseif parameters.sortBy == 'price.asc' %}
						{{ i18n('m.rbs.catalog.front.sort_price_asc', ['ucf']) }}
					{% elseif parameters.sortBy == 'price.desc' %}
						{{ i18n('m.rbs.catalog.front.sort_price_desc', ['ucf']) }}
					{% elseif parameters.sortBy == 'dateAdded.desc' %}
						{{ i18n('m.rbs.catalog.front.sort_date_added_desc', ['ucf']) }}
					{% elseif parameters.sortBy == 'title.asc' %}
						{{ i18n('m.rbs.catalog.front.sort_title_asc', ['ucf']) }}
					{% endif %}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					{% set paramName = 'sortBy-' ~ blockId %}
					<li><a href="{{ currentURL({(paramName): null}) }}">{{ i18n('m.rbs.catalog.front.sort_default', ['ucf']) }}</a></li>
					<li><a href="{{ currentURL({(paramName):'price.asc'}) }}">{{ i18n('m.rbs.catalog.front.sort_price_asc', ['ucf']) }}</a></li>
					<li><a href="{{ currentURL({(paramName):'price.desc'}) }}">{{ i18n('m.rbs.catalog.front.sort_price_desc', ['ucf']) }}</a></li>
					<li><a href="{{ currentURL({(paramName):'dateAdded.desc'}) }}">{{ i18n('m.rbs.catalog.front.sort_date_added_desc', ['ucf']) }}</a></li>
					<li><a href="{{ currentURL({(paramName):'title.asc'}) }}">{{ i18n('m.rbs.catalog.front.sort_title_asc', ['ucf']) }}</a></li>
				</ul>
			</div>
		</div>
	{% endif %}
{% endblock rbsCatalogProductListHeader %}

{% block rbsCatalogProductList %}
	{% spaceless %}
		<ul class="grid-list grid-list-{{ itemsPerLine }} grid-list-bordered grid-list-align-top product-list">
			{% for productData in productsData %}
				<li>
					<div class="grid-list-cell">
						{% block rbsCatalogProductItem %}
							{% include 'Rbs_Catalog/product-list-item.twig' %}
						{% endblock rbsCatalogProductItem %}
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endspaceless %}
{% endblock rbsCatalogProductList %}

{% block rbsCatalogProductListFooter %}
	{% include 'Rbs_Generic/pagination.twig' with {'pageCount': pagination.pageCount, 'pageNumber': pagination.pageNumber, 'blockId': blockId} %}
{% endblock rbsCatalogProductListFooter %}