{% set handleReviews = parameters.handleReviews %}
{% set reviewsPerPage = parameters.reviewsPerPage %}
{% set ratingScale = parameters.ratingScale %}
{% set handleReviewVotes = parameters.handleReviewVotes %}

{% block rbsCatalogProductUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
	{% use 'Rbs_Commerce/icon-templates.twig' %}

	{% use 'Rbs_Catalog/product-detail.twig' %}

	{% use 'Rbs_Catalog/product-directives.twig' %}
	{{ block('rbsCatalogAddToCartPopin') }}
	{{ block('rbsCatalogAttributeValue') }}
	{{ block('rbsCatalogProductInformation') }}
	{{ block('rbsCatalogProductSpecifications') }}
	{{ block('rbsCatalogProductAvailability') }}
	{{ block('rbsCatalogProductPrice') }}
	{{ block('rbsCatalogProductInformationTabs') }}
	{{ block('rbsCatalogProductSetItem') }}

	{% use 'Rbs_Media/media-directives.twig' %}
	{{ block('rbsMediaPictograms') }}
	{{ block('rbsMediaVisuals') }}

	{% if handleReviews %}
		{% use 'Rbs_Review/review-directives.twig' %}
		{{ block('rbsReviewCommon') }}
		{{ block('rbsReviewReview') }}
		{{ block('rbsReviewReviews') }}
	{% endif %}
{% endblock rbsCatalogProductUse %}

{% block rbsCatalogProductDataCache %}
	<script type="text/javascript">
		window.__change['{{ blockId }}'] = {{ productData | json_encode | raw}};
	</script>
{% endblock rbsCatalogProductDataCache %}

{% if productData.common.type == 'variant' %}
	{% block rbsCatalogVariantProduct %}
		{{ block('rbsCatalogAddVariantProductToCart') }}
		{{ block('rbsCatalogProductVariantSelector') }}
		<article itemscope="" itemtype="http://schema.org/Product" class="product-details" data-block-id="{{ blockId }}"
			data-ng-controller="RbsCatalogVariantProductController" data-cache-key="{{ blockId }}">
			{{ block('rbsCatalogProductDataLoading') }}
			<div class="row">
				<div class="col-sm-6 col-md-8">
					{{ block('rbsCatalogProductVisuals') }}
				</div>
				<div class="col-sm-6 col-md-4">
					<header>{{ block('rbsCatalogProductHeader') }}</header>
					{{ block('rbsCatalogProductOfferVariant') }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					{{ block('rbsCatalogProductDetailInformation') }}
				</div>
			</div>
		</article>
	{% endblock rbsCatalogVariantProduct %}
{% elseif productData.common.type == 'set' %}
	{% block rbsCatalogProductSet %}
		{{ block('rbsCatalogAddSetItemProductToCart') }}
		{{ block('rbsCatalogAddSetProductToCart') }}
		{{ block('rbsCatalogProductVariantSelector') }}
		<article itemscope="" itemtype="http://schema.org/Product" class="product-details" data-block-id="{{ blockId }}"
			data-ng-controller="RbsCatalogProductSetController" data-cache-key="{{ blockId }}">
			{{ block('rbsCatalogProductDataLoading') }}
			<div class="row">
				<div class="col-sm-5 col-lg-6">
					{{ block('rbsCatalogProductVisuals') }}
				</div>
				<div class="col-sm-7 col-lg-6">
					<header>{{ block('rbsCatalogProductHeader') }}</header>
					{{ block('rbsCatalogProductOfferSet') }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					{{ block('rbsCatalogProductDetailInformation') }}
				</div>
			</div>
		</article>
	{% endblock rbsCatalogProductSet %}
{% else %}
	{% block rbsCatalogSimpleProduct %}
		{{ block('rbsCatalogAddSimpleProductToCart') }}
		<article itemscope="" itemtype="http://schema.org/Product" class="product-details" data-block-id="{{ blockId }}"
			data-ng-controller="RbsCatalogSimpleProductController" data-cache-key="{{ blockId }}">
			{{ block('rbsCatalogProductDataLoading') }}
			<div class="row">
				<div class="col-sm-6 col-md-8">
					{{ block('rbsCatalogProductVisuals') }}
				</div>
				<div class="col-sm-6 col-md-4">
					<header>{{ block('rbsCatalogProductHeader') }}</header>
					{{ block('rbsCatalogProductOfferSimple') }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					{{ block('rbsCatalogProductDetailInformation') }}
				</div>
			</div>
		</article>
	{% endblock rbsCatalogSimpleProduct %}
{% endif %}