{% if productsData %}
	{% block rbsCatalogProductListUse %}
		{% use 'Rbs_Generic/icon-templates.twig' %}
		{% use 'Rbs_Commerce/icon-templates.twig' %}

		{% use 'Rbs_Catalog/product-directives.twig' %}
		{{ block('rbsCatalogProductModals') }}
		{{ block('rbsCatalogProductAddToCartItem') }}
		{{ block('rbsCatalogProductPrice') }}

		{% use 'Rbs_Catalog/product-list-directives.twig' %}
		{{ block('rbsCatalogProductsListSlider') }}
		{{ block('rbsCatalogProductsItem') }}

		{% use 'Rbs_Media/media-directives.twig' %}
		{{ block('rbsMediaPictograms') }}
	{% endblock rbsCatalogProductListUse %}

	{% block rbsCatalogProductListDataCache %}
		<script type="application/javascript">
			window.__change['{{ blockId }}'] = {context : {{ context | json_encode | raw }}, productsData : {{ productsData | json_encode | raw }} };
		</script>
	{% endblock rbsCatalogProductListDataCache %}

	{% block rbsCatalogProductListHeader %}
		{% if parameters.title %}
			<h1 id="product-list-title">{{ parameters.title }}</h1>
		{% endif %}
	{% endblock rbsCatalogProductListHeader %}

	{% block rbsCatalogProductList %}
		<div data-rbs-catalog-products-list-slider="" data-cache-key="{{ blockId }}" data-product-count="{{ productsData|length }}"
			data-view-detail-title-mask="{{ i18nAttr('m.rbs.catalog.front.view_product_details', ['ucf'], {product: 'PRODUCT_TITLE'}) }}"
			data-items-per-slide="{{ parameters.itemsPerSlide }}" data-interval="{{ parameters.interval }}"></div>
	{% endblock rbsCatalogProductList %}
{% endif %}