{% if rows %}
	{% block rbsCatalogProductListUse %}
		{% use 'Rbs_Catalog/product-directives.twig' %}
		{{ block('rbsCatalogAddToCartPopin') }}
		{{ block('rbsCatalogAddToCartListItem') }}
		{{ block('rbsCatalogProductPictograms') }}
	{% endblock rbsCatalogProductListUse %}

	{% block rbsCatalogProductListHeader %}
	<h1 id="product-list-title">{{ parameters.title }}</h1>
	{% endblock rbsCatalogProductListHeader %}

	{% block rbsCatalogProductList %}
	<div id="myCarousel{{ blockId }}" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{% for i in range(0,slideCount-1) %}
				{% set slideNumber = loop.index0 %}
				<div class="item{% if loop.first %} active{% endif %}">
					{% spaceless %}
						<ul class="grid-list grid-list-{{ itemsPerSlide }} grid-list-bordered product-list">
							{% for row in rows|slice(slideNumber * itemsPerSlide, itemsPerSlide) %}
								<li>
									<div class="grid-list-cell">
										{% block rbsCatalogProductItem %}
											{% include 'Rbs_Catalog/product-list-item.twig' with {'productData': row} %}
										{% endblock rbsCatalogProductItem %}
									</div>
								</li>
							{% endfor %}
						</ul>
					{% endspaceless %}
				</div>
			{% endfor %}
		</div>
		{% block rbsCatalogProductListControls %}
		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel{{ blockId }}" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel{{ blockId }}" data-slide="next">
			<span class="icon-next"></span>
		</a>
		{% endblock rbsCatalogProductListControls %}
	</div>
	{% endblock rbsCatalogProductList %}
{% endif %}