<div>
	<rbs-field-float label="{{ i18nAttr('m.rbs.simpleform.documents.field.parameters-min', ['ucf']) }}"
		property="document.parameters.min">
	</rbs-field-float>

	<rbs-field-float label="{{ i18nAttr('m.rbs.simpleform.documents.field.parameters-max', ['ucf']) }}"
		property="document.parameters.max">
	</rbs-field-float>

	<rbs-field-text label="{{ i18nAttr('m.rbs.simpleform.documents.field.parameters-place-holder', ['ucf']) }}"
		property="document.parameters.placeHolder">
		<div class="help-block">{{ i18nAttr('m.rbs.simpleform.documents.field.parameters-place-holder-help', ['ucf']) }}</div>
	</rbs-field-text>

	<rbs-field-rich-text label="{{ i18nAttr('m.rbs.simpleform.documents.field.helptext', ['ucf']) }}"
		property="document.helpText">
	</rbs-field-rich-text>
</div>