{% if webStoreData|length > 1 or webStoreData[0].billingAreas|length > 1 %}
	<form>
		<fieldset data-rbs-store-web-store-selector-init="" data-web-store-data="{{ webStoreData|json_encode }}"
			data-web-store-id="{{ parameters.webStoreId }}" data-billing-area-id="{{ parameters.billingAreaId }}">
			<div class="form-group" data-ng-if="webStoreData.length > 1">
				<label for="rbs-store-web-store">
					{{ i18n('m.rbs.store.front.web_store', ['ucf']) }}
				</label>
				<select id="rbs-store-web-store" data-ng-model="selection.webStoreId" class="form-control"
					data-ng-options="webStore.id as webStore.title for webStore in webStoreData">
				</select>
			</div>

			<div data-ng-repeat="webStore in webStoreData" data-ng-cloak="">
				<div data-ng-show="webStore.billingAreas.length > 1">
					<div class="form-group" data-ng-show="selection.webStoreId == webStore.id">
						<label for="rbs-store-billing-area-(= webStore.id =)">
							{{ i18n('m.rbs.store.front.billing_area', ['ucf']) }}
						</label>
						<select id="rbs-store-billing-area-(= webStore.id =)" data-ng-model="selection.billingAreaId"
							class="form-control" data-ng-options="area.id as area.title for area in webStore.billingAreas">
						</select>
					</div>
				</div>
			</div>

			<button class="btn btn-primary" type="button" data-ng-disabled="!canSubmit()" data-ng-click="submit()">
				{{ i18n('m.rbs.store.front.validate', ['ucf']) }}
			</button>
		</fieldset>
	</form>
{% endif %}