<div data-rbs-store-web-store-selector-init=""
	data-web-store-data="{{ webStoreData|json_encode }}"
	data-web-store-id="{{ parameters.webStoreId }}"
	data-billing-area-id="{{ parameters.billingAreaId }}"
	data-zone="{{ parameters.zone }}">
	{% if webStoreData|length > 1 or webStoreData[0].billingAreas|length > 1 or webStoreData[0].billingAreas[0].zones|length > 1 %}
		<form data-ng-cloak="">
			<fieldset>
				<div class="form-group">
					<label for="rbs-store-web-store">
						{{ i18n('m.rbs.store.front.web_store', ['ucf']) }}
					</label>
					<select data-ng-if="webStoreData.length > 1" id="rbs-store-web-store" data-ng-model="selection.webStoreId" class="form-control"
						data-ng-options="webStore.id as webStore.title for webStore in webStoreData">
					</select>
					<div data-ng-if="webStoreData.length == 1">(= webStoreData[0].title =)</div>
				</div>

				<div class="form-group">
					<label for="rbs-store-billing-area">
						{{ i18n('m.rbs.store.front.billing_area', ['ucf']) }}
					</label>
					<select data-ng-show="billingAreaData.length > 1" id="rbs-store-billing-area" data-ng-model="selection.billingAreaId"
						class="form-control" data-ng-options="area.id as area.title for area in billingAreaData">
					</select>
					<div data-ng-if="billingAreaData.length == 1">(= billingAreaData[0].title =)</div>
				</div>

				<div data-ng-show="zoneData.length > 1">
					<div class="form-group">
						<label for="rbs-store-zone">
							{{ i18n('m.rbs.store.front.zone', ['ucf']) }}
						</label>
						<select id="rbs-store-zone" data-ng-model="selection.zone" class="form-control" data-ng-options="zone as zone for zone in zoneData"></select>
					</div>
				</div>

				<button class="btn btn-primary" type="button" data-ng-disabled="!canSubmit()" data-ng-click="submit()">
					{{ i18n('m.rbs.store.front.validate', ['ucf']) }}
				</button>
			</fieldset>
		</form>
	{% endif %}
</div>