<script type="text/javascript">
	window.__change['{{ blockId }}'] = {{ webStoreData | json_encode | raw}};
</script>

<script type="text/ng-template" id="/rbsStoreWebStoreSelectorInit.tpl">
	<form>
		<fieldset>
			<div class="form-group">
				<label for="rbs-store-web-store">
					{{ i18n('m.rbs.store.front.web_store', ['ucf']) }}
				</label>
				<select data-ng-if="webStoreData.length > 1" id="rbs-store-web-store" data-ng-model="selection.webStoreId" class="form-control"
						data-ng-options="webStore.common.id as webStore.common.title for webStore in webStoreData">
					<option value="">{{ i18n('m.rbs.generic.front.select', ['ucf', 'etc']) }}</option>
				</select>
				<div data-ng-if="webStoreData.length == 1">(= webStoreData[0].common.title =)</div>
			</div>

			<div class="form-group" data-ng-if="billingAreaData.length">
				<label for="rbs-store-billing-area">
					{{ i18n('m.rbs.store.front.billing_area', ['ucf']) }}
				</label>
				<select data-ng-if="billingAreaData.length > 1" id="rbs-store-billing-area" data-ng-model="selection.billingAreaId"
						class="form-control" data-ng-options="area.common.id as area.common.title for area in billingAreaData">
					<option value="">{{ i18n('m.rbs.generic.front.select', ['ucf', 'etc']) }}</option>
				</select>
				<div data-ng-if="billingAreaData.length == 1">(= billingAreaData[0].common.title =)</div>
			</div>

			<div class="form-group" data-ng-if="zoneData.length">
				<label for="rbs-store-zone">
					{{ i18n('m.rbs.store.front.zone', ['ucf']) }}
				</label>
				<select data-ng-if="zoneData.length > 1" id="rbs-store-zone" data-ng-model="selection.zone" class="form-control" data-ng-options="zone.common.code as zone.common.title for zone in zoneData">
					<option value="">{{ i18n('m.rbs.generic.front.select', ['ucf', 'etc']) }}</option>
				</select>
				<div data-ng-if="zoneData.length == 1">(= zoneData[0].common.title =)</div>
			</div>

			<button class="btn btn-primary" type="button" data-ng-disabled="!canSubmit()" data-ng-click="submit()" data-ng-if="show">
				{{ i18n('m.rbs.store.front.validate', ['ucf']) }}
			</button>
		</fieldset>
	</form>
</script>

<div data-rbs-store-web-store-selector-init="" data-cache-key="{{ blockId }}">
</div>