<h3>Facettes</h3>
<form class="form-inline" method="GET" action="{{ parameters.formAction }}">
{% for group in facetGroups %}
	<fieldset>
		<legend>{{ group.currentLocalization.title }}</legend>
		{% for facet in group.facets %}
			{{ facet.currentLocalization.title }}
			 <ol>
				{% if facet.multipleChoice %}
					{% for facetValue in attribute(facetValues, facet.fieldName) %}
						<li><label>
							<input type="checkbox" name="facetFilters[{{ facet.fieldName }}][]" value="{{ facetValue.value }}"
								{% if facetValue.filtered %} checked="checked" {% endif %} />
							{{ facetValue.title }}
						</label></li>
					{% endfor %}
				{% else %}
					{% for facetValue in attribute(facetValues, facet.fieldName) %}
						<li><label>
							<input type="radio" name="facetFilters[{{ facet.fieldName }}]" value="{{ facetValue.value }}"
								{% if facetValue.filtered %} checked="checked" {% endif %} />
							{{ facetValue.title }}
						</label></li>
					{% endfor %}
				{% endif %}
			 </ol>
		{% endfor %}
	</fieldset>
{% endfor %}
	<button type="submit">{{ i18n('m.rbs.elasticsearch.front.facets_filter') }}</button>
</form>