<form class="form-inline" method="GET" action="{{ parameters.formAction }}">
{% if parameters.sortBy %}
	<input type="hidden" name="sortBy" value="{{ parameters.sortBy }}">
{% endif %}
{% for facetValue in facetValues %}
	<h4>{{ facetValue.title }}</h4>
	<ol class="list-unstyled">
		{% if facetValue.multipleChoice %}
			{% for value in facetValue.values %}
				<li><div class="checkbox"><label>
					<input type="checkbox" name="facetFilters[{{ facetValue.fieldName }}][]" value="{{ value.key }}"
						{% if value.selected %} checked="checked" {% endif %} />
					{{ value.title }} {% if value.value %}<span class="badge">{{ value.value }}</span>{% endif %}
				</label></div></li>
			{% endfor %}
		{% else %}
			{% for value in facetValue.values %}
				<li><div class="radio"><label>
					<input type="radio" name="facetFilters[{{ facetValue.fieldName }}][]" value="{{ value.key }}"
						{% if value.selected %} checked="checked" {% endif %} />
							{{ value.title }} {% if value.value %}<span class="badge">{{ value.value }}</span>{% endif %}
				</label></div></li>
			{% endfor %}
			<li><div class="radio"><label>
				<input type="radio" name="facetFilters[{{ facetValue.fieldName }}][]" value="" />
						{{ i18n('m.rbs.elasticsearch.front.unset_value', ['ucf']) }}
			</label></div></li>
		{% endif %}
	</ol>
{% endfor %}
	<button type="submit" class="btn btn-primary">{{ i18n('m.rbs.elasticsearch.front.facets_filter', ['ucf']) }}</button>
</form>