<form class="form-inline" method="GET" action="{{ currentURL() }}">
	<div class="input-group">
		<input name="searchText" type="text" class="form-control typeahead elastic-search" value="{{ parameters.searchText}}"/>
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
		</span>
	</div>
	<div class="input-group">
		{% for fv in facet %}
			<label>
				<input type="checkbox" name="facetFilters[]" value="{{ fv.value }}" {% if fv.filtered %} checked="checked" {% endif %} />
				{{ fv.title }}
			</label>
			{% if not(loop.last) %} | {% endif %}
		{% endfor %}
	<div>
</form>
<h4>{{ i18n('m.rbs.elasticsearch.fo.total-result-count', ['ucf', 'lab']) }} {{ totalCount }}</h4>
<ul>
	{% for item in items %}
		<li>{{ item.score }} <a href="{{ canonicalURL(item.id) }}">{{ item.title }}</a> </li>
	{% endfor %}
</ul>
{% include 'Rbs_Generic/pagination.twig' %}