{% block rbsElasticsearchShortSearchUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
{% endblock rbsElasticsearchShortSearchUse %}

<form action="{{ parameters.formAction }}" method="GET" data-rbs-elasticsearch-short-search="">
	{% if parameters.sectionPageFunction %}
		<input name="sectionPageFunction" type="hidden" value="{{ parameters.sectionPageFunction }}" />
	{% endif %}
	<div class="input-group">
		<input name="searchText" type="text" value="{{ parameters.searchText }}" data-ng-model="searchText"
			class="form-control elastic-search" autocomplete="off"
			placeholder="{{ i18nAttr('m.rbs.elasticsearch.front.search', ['ucf']) }}"
			data-typeahead="suggestion for suggestion in loadSuggestions($viewValue)"
			data-typeahead-loading="suggestionsLoading"
			data-typeahead-min-length="3"
			data-typeahead-wait-ms="500"
			data-typeahead-editable="true"
			data-typeahead-on-select="submitForm($item)" />
		<span class="input-group-btn">
			<button type="button" data-ng-click="submitForm()" class="btn btn-primary"
				title="{{ i18nAttr('m.rbs.elasticsearch.front.search', ['ucf']) }}">
				{{ block('rbsGenericIconSearch') }}
			</button>
		</span>
	</div>
</form>