{% import 'Rbs_Catalog/macros.twig' as catalogMacros %}
{% set listFormat = {'maxWidth': 160, 'maxHeight' : 120}  %}
{% set pictogramFormat = {'maxWidth': 60, 'maxHeight' : 45}  %}
<script type="text/ng-template" id="/addLineToCart.tpl">
	<button name="key" type="button" class="btn btn-primary btn-sm" data-ng-click="addLine()" data-ng-disabled="quantity <= 0">
		<i class="glyphicon glyphicon-shopping-cart"></i> {{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
	</button>
</script>

{% if parameters.showOrdering %}
	<ul class="nav nav-pills">
		<li {% if parameters.sortBy == null %}class="active"{% endif %}><a href="{{ currentURL({'sortBy': null}) }}">{{ i18n('m.rbs.catalog.front.sort_default', ['ucf']) }}</a></li>
		<li {% if parameters.sortBy == 'price.asc' %}class="active"{% endif %}><a href="{{ currentURL({'sortBy':'price.asc'}) }}">{{ i18n('m.rbs.catalog.front.sort_price_asc', ['ucf']) }}</a></li>
		<li {% if parameters.sortBy == 'price.desc' %}class="active"{% endif %}><a href="{{ currentURL({'sortBy':'price.desc'}) }}">{{ i18n('m.rbs.catalog.front.sort_price_desc', ['ucf']) }}</a></li>
		<li {% if parameters.sortBy == 'dateAdded.desc' %}class="active"{% endif %}><a href="{{ currentURL({'sortBy':'dateAdded.desc'}) }}">{{ i18n('m.rbs.catalog.front.sort_date_added_desc', ['ucf']) }}</a></li>
		<li {% if parameters.sortBy == 'title.asc' %}class="active"{% endif %}><a href="{{ currentURL({'sortBy':'title.asc'}) }}">{{ i18n('m.rbs.catalog.front.sort_date_title_asc', ['ucf']) }}</a></li>
	</ul>
{% endif %}

{% spaceless %}
	<ul class="grid-list grid-list-{{ itemsPerLine }} grid-list-bordered grid-list-align-top product-list">
		{% for row in rows %}
			<li>
				<div class="grid-list-cell">
					{% include 'Rbs_Catalog/product-list-item.twig' %}
				</div>
			</li>
		{% endfor %}
	</ul>
{% endspaceless %}

{% include 'Rbs_Generic/pagination.twig' %}
{% include 'Rbs_Catalog/product-added-to-cart-popin.twig' %}