{% set lineFormName = 'lineForm_' ~ blockId %}
{% set commonFormName = 'commonForm_' ~ blockId %}
{% set showPrices = parameters.displayPricesWithoutTax or parameters.displayPricesWithTax %}
{% set columnCount = showPrices ? 5 : 3 %}
{% set lineTrNgClass = "{
	'active': isEditingLine(shipmentIndex, lineIndex),
	'success': hasReturnLine(shipmentIndex, lineIndex) && !isEditingLine(shipmentIndex, lineIndex)
}"%}
{% set cacheKey = blockId %}

{% block rbsProductreturnReturnProcessUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
	{% use 'Rbs_Commerce/icon-templates.twig' %}

	{% use 'Rbs_Order/order-templates.twig' %}

	{% block geoDirectives %}
		{% use 'Rbs_Geo/address-editor.twig' %}
		{{ block('addressEditor') }}
	{% endblock geoDirectives %}

	{% block productDirectives %}
		{% include 'Rbs_Catalog/product-directives.twig' %}
	{% endblock productDirectives %}

	{% block cartDirectives %}
		{% use 'Rbs_Commerce/cart-directives.twig' %}
		{{ block('rbsCommerceCartLineVisual') }}
	{% endblock cartDirectives %}

	{% block orderProcessDirectives %}
		{% use 'Rbs_Commerce/process-directives.twig' %}
		{{ block('processShippingStep') }}
	{% endblock orderProcessDirectives %}

	{% block returnProcessDirectives %}
		{% use 'Rbs_Productreturn/return-process-directives.twig' %}
		{{ block('rbsProductreturnProcess') }}
		{{ block('rbsProductreturnShipmentLine') }}
		{{ block('rbsProductreturnReturnLine') }}
		{{ block('rbsProductreturnReshipping') }}
	{% endblock returnProcessDirectives %}
{% endblock rbsProductreturnReturnProcessUse %}

{% block rbsProductreturnReturnProcessDataCache %}
	<script type="text/javascript">
		window.__change['{{ cacheKey }}'] = {
			'orderData': {{ orderData | json_encode | raw}},
			'processData': {{ processData | json_encode | raw}}
		};
	</script>
{% endblock rbsProductreturnReturnProcessDataCache %}

{% block rbsProductreturnReturnProcessHeader %}
	{{ block('rbsOrderHeader') }}

	<ul class="pull-right text-right list-unstyled">
		<li>
			<a href="{{ functionURL('Rbs_Order_OrderDetail', {'orderId': orderData.common.id}) }}" class="btn btn-default">
				{{ i18n('m.rbs.productreturn.front.cancel_request', ['ucf']) }}
			</a>
		</li>
	</ul>

	<h2>{{ i18n('m.rbs.productreturn.front.return_request', ['ucf']) }}</h2>
{% endblock rbsProductreturnReturnProcessHeader %}

{% block rbsProductreturnReturnProcessMain %}
	<div data-ng-controller="RbsProductreturnReturnProcessController" data-cache-key="{{ cacheKey }}">
		<div data-rbs-productreturn-process=""
			data-loading-message="{{ i18n('m.rbs.commerce.front.please_wait_loading', ['ucf', 'etc']) }}">
		</div>
	</div>
{% endblock rbsProductreturnReturnProcessMain %}