{% macro price(name, label, required, roundable, help) %}
	<!-- FIXME Use Directive from 'form-fields.js' instead -->
	<div class="control-group property{% if required %} required{% endif %}"
		data-ng-class="{'success': hasCorrectionOnProperty('{{ name }}')}">
		<label class="control-label" for="{{ name }}">{{ i18n(label, ['ucf']) }}</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" class="input-mini" id="{{ name }}" name="{{ name }}"  data-ng-model="document.{{ name }}"/>
				<span class="add-on" title="(=document.currencyLabel=)">(=metadata.currencySymbol=)</span>
				<span class="add-on" title="(=document.taxModeLabel=)">(=metadata.editWithTax ? '{{ i18n('m.rbs.catalog.admin.macros.with-tax-abbr') }}' : '{{ i18n('m.rbs.catalog.admin.macros.without-tax-abbr') }}' =)</span>
			</div>
			{% if roundable %}
				<rbs-todo>Réagir sur les boutons...</rbs-todo>
				<div class="btn-toolbar price-round-options has-captions">
					<div class="btn-group">
						<label class="caption">{{ i18n('m.rbs.catalog.admin.macros.round-down', ['ucf']) }}</label>
						<button data-ng-click="round10CentsDown()" class="btn btn-small" type="button"
							title="{{ i18n('m.rbs.catalog.admin.macros.round-down-tencents', ['ucf', 'attr']) }}">
							0,1
						</button>
						<button data-ng-click="roundIntDown()" class="btn btn-small" type="button"
							title="{{ i18n('m.rbs.catalog.admin.macros.round-down-unit', ['ucf', 'attr']) }}">
							1
						</button>
					</div>
					<div class="btn-group">
						<label class="caption">{{ i18n('m.rbs.catalog.admin.macros.round-up', ['ucf']) }}</label>
						<button data-ng-click="round10CentsUp()" class="btn btn-small" type="button"
							title="{{ i18n('m.rbs.catalog.admin.macros.round-up-tencent', ['ucf', 'attr']) }}">
							0,1
						</button>
						<button data-ng-click="round99Cents()" class="btn btn-small" type="button"
							title="{{ i18n('m.rbs.catalog.admin.macros.round-up-99cents', ['ucf', 'attr']) }}">
							0,99
						</button>
						<button data-ng-click="roundIntUp()" class="btn btn-small" type="button"
							title="{{ i18n('m.rbs.catalog.admin.macros.round-up-unit', ['ucf', 'attr']) }}">
							1
						</button>
					</div>
				</div>
			{% endif %}
			{% if help %}
				<span class="help-block">
					{{ i18n(help) }}
				</span>
			{% endif %}
		</div>
	</div>
{% endmacro %}