<div class="row" ng-controller="Rbs_Website_HeaderController">
	<div rbs-full-width>
		<nav class="navbar navbar-default" role="navigation">
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<select ng-model="currentWebsite" ng-change="changeWebsite(currentWebsite)" ng-options="w.label for w in websites" class="form-control"></select>
				</div>
			</form>
			<ul class="nav navbar-nav" ng-if="currentWebsite">
				<li class="active"><a href ng-href="(= currentWebsite | rbsURL:'structure' =)"><i class="icon-puzzle-piece"></i> {{ i18n('m.rbs.website.admin.website_structure', ['ucf']) }}</a></li>
				<li><a href ng-href="(= currentWebsite | rbsURL:'menus' =)"><i class="icon-list-alt"></i> {{ i18n('m.rbs.website.documents.topic_menus', ['ucf']) }}</a></li>
				<li><a href ng-href="(= currentWebsite | rbsURL:'functions' =)"><i class="icon-wrench"></i> {{ i18n('m.rbs.website.admin.topic_functions', ['ucf']) }}</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="(= 'Rbs_Website_Website' | rbsURL:'list' =)"><i class="icon-cog"></i> {{ i18n('m.rbs.website.admin.manage_websites') }}</a></li>
			</ul>
		</nav>

		<div ng-controller="Rbs_Website_StructureController">

			<div class="add-elements-bar">
				<a href rbs-start-navigation="" data-navigation-node="(= currentWebsite.id =)" target-url="(= 'Rbs_Website_Topic' | rbsURL:'new':{website:currentWebsite.id} =)">{{ i18n('m.rbs.website.admin.topic_create', ['ucf']) }}</a>
				<a href rbs-start-navigation="" data-navigation-node="(= currentWebsite.id =)" target-url="(= 'Rbs_Website_StaticPage' | rbsURL:'new':{website:currentWebsite.id} =)">{{ i18n('m.rbs.website.admin.staticpage_create', ['ucf']) }}</a>
			</div>

			<rbs-document-list data-dlid="DLRbsWebsiteBrowser"
					publishable="true"
					model="Rbs_Website_Topic"
					collection="browseCollection"
					striped-rows="false"
					extend="browser"
					use-properties="functions title website">

				<rbs-quick-actions>
					[action default]
					<a ng-if="doc.is('Rbs_Website_Topic')" href="" ng-href="(= doc | rbsURL:'functions' =)">
						<i class="icon-cog"></i> {{ i18n('m.rbs.website.admin.topic_functions') }}
					</a>
					<a ng-if="! doc.is('Rbs_Website_Topic')" href="" ng-href="(= doc | rbsURL:'createFrom' =)">
						<i class="icon-plus"></i> {{ i18n('m.rbs.admin.admin.new_from', ['etc']) }}
					</a>
				</rbs-quick-actions>

				<rbs-column name="label" label="{{ i18n('c.documents.label', ['ucf']) }}" primary="true">
					<div class="depth-level-indicator" ng-style="extend.getIndicatorStyle(doc, $index)"></div>

					<span class="pull-right">
						<button ng-if="extend.isPage(doc) && ! extend.isIndexPage(doc)" type="button" class="btn-flat" ng-disabled="busy" ng-click="extend.setIndexPage(doc, $index); extend.busyIndex=$index;" ng-switch="busy && $index == extend.busyIndex">
							{{ i18n('m.rbs.website.admin.index', ['ucf']) }}
						</button>

						<a ng-if="extend.isTopic(doc)" class="btn-flat" title="{{ i18nAttr('m.rbs.website.admin.staticpage_create', ['ucf']) }}" rbs-start-navigation="" data-navigation-node="(= doc.id =)" href target-url="(= 'Rbs_Website_StaticPage' | rbsURL:'new':{website: doc.website.id,tn: doc.id} =)"><i class="icon-file-text-alt icon-large"></i></a>
						<a ng-if="extend.isTopic(doc)" class="btn-flat" title="{{ i18nAttr('m.rbs.website.admin.topic_create', ['ucf']) }}" rbs-start-navigation="" data-navigation-node="(= doc.id =)" href target-url="(= 'Rbs_Website_Topic' | rbsURL:'new':{website: doc.website.id,tn: doc.id} =)"><i class="icon-folder-close-alt icon-large"></i></a>
						<a ng-if="! extend.isFunction(doc)" ng-href="(= doc | rbsURL:'form' =)" class="btn-flat"><i class="icon-pencil icon-large"></i></a>
					</span>

					<span ng-if="extend.isTopic(doc)">
						<i ng-if="extend.hasChildren(doc)" ng-click="extend.toggleNode(doc)" class="tree-icon opacity-half icon-large" ng-class="{'icon-folder-open': extend.isNodeOpen(doc), 'icon-folder-close': ! extend.isNodeOpen(doc)}"></i>
						<i ng-if="! extend.hasChildren(doc)" class="tree-icon opacity-half icon-large icon-folder-close-alt"></i>
						<strong><a href="javascript:;" ng-click="extend.toggleNode(doc)" ng-bind="doc.label"></a></strong>
						<span class="children-count">(= extend.childrenCount(doc) | rbsMaxNumber =)</span>
						<small ng-if="doc.label != doc.title" class="text-muted" ng-bind="doc.title"></small>
					</span>

					<span ng-if="extend.isPage(doc)">
						<i class="tree-icon opacity-half icon-large icon-file-text-alt"></i>
						<a href="(= doc | rbsURL =)" ng-bind="doc.label"></a>
						<small ng-if="doc.label != doc.title" class="text-muted" ng-bind="doc.title"></small>
					</span>

					<span class="label label-info" ng-if="extend.isIndexPage(doc)">{{ i18n('m.rbs.website.admin.index', ['ucf']) }}</span>
				</rbs-column>
			</rbs-document-list>
		</div>
	</div>
</div>