<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.generic.admin.synchronize_title_label', ['ucf']) }}"
			label="{{ i18nAttr(propertyKey('Rbs_Website_Topic', 'title'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-url property="baseurl" required="true"
				label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'baseurl'), ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.website.admin.website_baseurl_help', ['ucf']) }}</span>
		</rbs-field-url>

		<rbs-field ng-hide="document.isNew() || !document.indexPage" label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'indexPage'), ['ucf']) }}">
			<div class="form-control-static">(=document.indexPage.label=)</div>
		</rbs-field>
	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-rbs-document-system-info-section="">
	</fieldset>

	<fieldset data-ng-show="section=='permission'" hide-when-create="true"
		data-form-section-label="{{ i18nAttr('m.rbs.website.documents.topic_permission', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}">
		<div rbs-tip="RbsWebsiteSectionPermissionRules" class="margin-top">
			{{ i18n('m.rbs.website.admin.section_permission_rule_helper', ['ucf']) }}
		</div>

		<rbs-field-picker-multiple property="authorizedUsers" required="false"
			label="{{ i18nAttr('m.rbs.website.documents.topic_authorized_users', ['ucf']) }}"
			accepted-model="Rbs_User_User"
			selector-title="{{ i18nAttr('m.rbs.website.admin.topic_users_picker_title', ['ucf']) }}"
			allow-creation="false">
		</rbs-field-picker-multiple>

		<rbs-field-picker-multiple property="authorizedGroups" required="false"
			label="{{ i18nAttr('m.rbs.website.documents.topic_authorized_groups', ['ucf']) }}"
			accepted-model="Rbs_User_Group"
			selector-title="{{ i18nAttr('m.rbs.website.admin.topic_groups_picker_title', ['ucf']) }}"
			allow-creation="false">
		</rbs-field-picker-multiple>
	</fieldset>

	<fieldset data-ng-show="section=='sitemap'" hide-when-create="true"
		data-form-section-label="{{ i18nAttr('m.rbs.website.documents.website_sitemap', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}">

		<div rbs-tip="Rbs_Website_WebsiteEditorSitemap">
			{{ i18n('m.rbs.website.admin.website_sitemap_help') | raw }}
		</div>

		<rbs-field-boolean property="sitemapGeneration" required="false"
			label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'sitemapGeneration'), ['ucf']) }}">
		</rbs-field-boolean>

		<rbs-field label="{{ i18nAttr('m.rbs.website.documents.website_sitemap_time_interval', ['ucf']) }}" required="false">
			<rbs-time-interval-input name="sitemapTimeInterval" min="1" show="hours,days,weeks"
				ng-model="data.timeInterval" ng-required="" disabled="(= !document.sitemapGeneration =)">
			</rbs-time-interval-input>
		</rbs-field>

		<rbs-field label="{{ i18nAttr('m.rbs.website.documents.website_sitemaps_url', ['ucf']) }}" required="false">
			<table class="table">
				<thead>
					<tr>
						<th>{{ i18n('m.rbs.website.documents.website_sitemap_lang', ['ucf']) }}</th>
						<th>{{ i18n('m.rbs.website.documents.website_sitemap_url', ['ucf']) }}</th>
						<th ng-if="pendingSitemapCreations"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="sitemap in document.sitemaps">
						<td>(= sitemap.LCID =)</td>
						<td ng-if="!sitemap.jobId"></td>
						<td ng-if="sitemap.jobId">
							<a ng-if="sitemap.url" href="" ng-href="(= sitemap.url =)">(= sitemap.url =)</a>
							<span ng-if="!sitemap.url">
								{{ i18n('m.rbs.website.admin.website_sitemap_url_pending_creation', ['ucf']) }}
							</span>
						</td>
						<td ng-if="sitemap.jobId && !sitemap.url">
							<button type="button" class="btn btn-default" ng-click="notifyUrlCreation(sitemap)"
								ng-disabled="disableNotifyButtons[sitemap.LCID]">
								{{ i18n('m.rbs.website.admin.website_notify_url_creation', ['ucf']) }}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</rbs-field>
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>