<form name="form" data-ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<p class="text" data-ng-if="document.locked">{{ i18n('m.rbs.collection.admin.collection_locked_warning') | raw }}</p>

		<rbs-field-text
			property="label"
			required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Collection_Collection', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<div ng-show="document.id > 0">
			<h3>
				{{ i18n(propertyKey('Rbs_Collection_Collection', 'items'), ['ucf']) }}
			</h3>

			<div class="add-elements-bar">
				<a href="javascript:;" ng-click="cascadeCreate()">{{ i18n('m.rbs.collection.admin.item_create', ['ucf']) }}</a>
			</div>

			<rbs-document-list data-dlid="DLCollection1" model="Rbs_Collection_Item" collection="document.items" extend="this"
				toolbar="false" selectable="false" correction="true">
				<rbs-column name="label" primary="true">
					<a href="javascript:;" ng-click="extend.cascadeEdit(doc)">(= doc.label =)</a>
				</rbs-column>
				<rbs-column name="value"></rbs-column>
				<rbs-column name="actions" width="88" label="{{ i18nAttr('m.rbs.admin.admin.sort_actions', ['ucf']) }}">
					<rbs-kb-switch>
						<button rbs-kb-when="alt" ng-disabled="$first" class="btn btn-default btn-icon" type="button" ng-click="extend.moveTop($index)" title="{{ i18nAttr('m.rbs.admin.admin.move_top', ['ucf']) }}">
							<i class="icon-step-forward icon-rotate-270"></i>
						</button>
						<button rbs-kb-default="" ng-disabled="$first" class="btn btn-default btn-icon" type="button" ng-click="extend.moveUp($index)" title="{{ i18nAttr('m.rbs.admin.admin.move_up', ['ucf']) }}">
							<i class="icon-play icon-rotate-270"></i>
						</button>
					</rbs-kb-switch>
					<rbs-kb-switch>
						<button rbs-kb-when="alt" ng-disabled="$last" class="btn btn-default btn-icon" type="button" ng-click="extend.moveBottom($index)" title="{{ i18nAttr('m.rbs.admin.admin.move_bottom', ['ucf']) }}">
							<i class="icon-step-forward icon-rotate-90"></i>
						</button>
						<button rbs-kb-default="" ng-disabled="$last" class="btn btn-default btn-icon" type="button" ng-click="extend.moveDown($index)" title="{{ i18nAttr('m.rbs.admin.admin.move_down', ['ucf']) }}">
							<i class="icon-play icon-rotate-90"></i>
						</button>
					</rbs-kb-switch>
				</rbs-column>
			</rbs-document-list>

		</div>
	</fieldset>
	<rbs-form-button-bar></rbs-form-button-bar>
</form>