<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
			data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.catalog.documents.attribute.synchronize-title-label', ['ucf']) }}"
			label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'title'), ['ucf']) }}"
			input-class="form-control">
		</rbs-field-text>

		<rbs-field-rich-text property="description"
			label="{{ i18nAttr(propertyKey("Rbs_Catalog_Attribute", "description"), ['ucf']) }}">
			<div class="help-block">{{ i18n('m.rbs.catalog.documents.attribute.description-help', ['ucf']) }}</div>
		</rbs-field-rich-text>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'visibility'), ['ucf']) }}">
			<rbs-collection-multiple-item-selector ng-model="document.visibility"
				collection-code="Rbs_Catalog_Collection_AttributeVisibility" />
		</rbs-field>

		<rbs-field required="true" label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'valueType'), ['ucf']) }}">
			<select ng-model="document.valueType" class="form-control" required="required"
				rbs-items-from-collection="Rbs_Catalog_Collection_AttributeValueTypes">
				<option value=""></option>
				</select>
		</rbs-field>

		<div data-ng-hide="document.valueType == 'Group'">
			<div data-ng-hide="document.valueType == 'Text' || document.valueType == 'Boolean'">
				<rbs-field-boolean property="requiredValue"
					label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'requiredValue'), ['ucf']) }}">
				</rbs-field-boolean>
			</div>

			<div data-ng-hide="document.valueType == 'Text' || document.valueType == 'Document' || document.valueType == 'Property'">
				<rbs-field-text property="defaultValue"
					label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'defaultValue'), ['ucf']) }}">
				</rbs-field-text>
			</div>

			<div data-ng-show="document.valueType == 'Code' || document.valueType == 'Integer' || document.valueType == 'Document'">
				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'collectionCode'), ['ucf']) }}">
					<select ng-model="document.collectionCode" class="form-control"
							rbs-items-from-collection="Rbs_Catalog_Collection_AttributeCollections">
						<option value=""></option>
					</select>
				</rbs-field>
			</div>

			<div data-ng-show="document.valueType == 'Property'">
				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'productProperty'), ['ucf']) }}">
					<select ng-model="document.productProperty" class="form-control"
							rbs-items-from-collection="Rbs_Catalog_Collection_AttributeProductProperties">
						<option value=""></option>
					</select>
				</rbs-field>
			</div>

			<div data-ng-show="document.valueType == 'Text'">
				<rbs-field-boolean property="localizedValue"
					label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'localizedValue'), ['ucf']) }}">
				</rbs-field-boolean>
			</div>

			<div data-ng-show="document.valueType == 'Document'">
				<rbs-field-text property="documentType"
					label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'documentType'), ['ucf']) }}">
				</rbs-field-text>
			</div>
		</div>

		<div data-ng-show="document.valueType == 'Group'">
			<rbs-field-picker-multiple property="attributes" accepted-model="Rbs_Catalog_Attribute" allow-creation="true"
				label="{{ i18nAttr(propertyKey('Rbs_Catalog_Attribute', 'attributes'), ['ucf']) }}"
				selector-title="{{ i18nAttr('m.rbs.catalog.admin.js.attribute-picker-title', ['ucf']) }}">
			</rbs-field-picker-multiple>
		</div>
	</fieldset>

	<fieldset
			data-ng-show="section=='systeminfo'"
			data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
			data-document-system-info-section="">
	</fieldset>

	<form-button-bar></form-button-bar>
</form>