<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Brand_Brand', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.generic.admin.synchronize_title_label', ['ucf']) }}"
			label="{{ i18nAttr(propertyKey('Rbs_Brand_Brand', 'title'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-rich-text property="description" required="false"
			label="{{ i18nAttr(propertyKey('Rbs_Brand_Brand', 'description'), ['ucf']) }}">
		</rbs-field-rich-text>

		<rbs-field-picker property="visual" label="{{ i18nAttr('m.rbs.brand.documents.brand_visual', ['ucf']) }}"
			accepted-model="Rbs_Media_Image" allow-creation="true" allow-edition="true"
			selector-title="{{ i18nAttr('m.rbs.brand.admin.select_visual', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field-url property="websiteUrl" required="false"
			label="{{ i18nAttr(propertyKey('Rbs_Brand_Brand', 'websiteUrl'), ['ucf']) }}">
		</rbs-field-url>

		<rbs-field-date property="startPublication"
			label="{{ i18nAttr(propertyKey('Rbs_Brand_Brand', 'startPublication'), ['ucf']) }}">
		</rbs-field-date>

		<rbs-field-date property="endPublication" label="{{ i18nAttr(propertyKey('Rbs_Brand_Brand', 'endPublication'), ['ucf']) }}">
		</rbs-field-date>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>