<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Brand_Brand">
	<div class="col-md-12">
		<rbs-page-header title="{{ i18nAttr('m.rbs.admin.adminjs.new_resource', ['ucf']) }}"
			sub-title="{{ i18nAttr(modelKey('Rbs_Brand_Brand'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
	</div>

	<div class="document-form" {% if attributes['asideDirectives'] | length %} data-rbs-main-column=""{% else %} data-rbs-full-width=""{% endif %}>
		<form data-ng-submit="submit()" data-rbs-document-editor-new=""
			data-rbs-document-editor-rbs-brand-brand-new="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field property="refLCID" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Brand_Brand', 'refLCID'), ['ucf']) }}">
					<select class="form-control" data-ng-model="document.refLCID"
						data-rbs-items-from-collection="Rbs_Generic_Collection_Languages" data-ucfirst="true">
					</select>
				</rbs-field>

				<hr />

				{% include '@Rbs_Brand/Documents/Brand/properties.twig' %}
			</fieldset>

			<fieldset data-rbs-editor-section="publication"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.publication_properties', ['ucf']) }}"
				data-rbs-document-publication-section="">
			</fieldset>

			<rbs-document-editor-button-bar disable-delete="true"></rbs-document-editor-button-bar>
		</form>
	</div>
</div>