<div class="row" data-rbs-document-editor-base="" model="Rbs_Brand_Brand">
	<div class="col-md-12">
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Brand_Brand'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit="" data-rbs-document-editor-translate="">
			<fieldset data-rbs-editor-section=""
			          data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">
				<rbs-field-label-title property="title" required="true"
				                       label="{{ i18nAttr(propertyKey('Rbs_Brand_Brand', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Brand_Brand', 'title'), ['ucf']) }}">
				</rbs-field-label-title>
				<rbs-field-rich-text property="description" required="false"
				                     label="{{ i18nAttr(propertyKey('Rbs_Brand_Brand', 'description'), ['ucf']) }}">
				</rbs-field-rich-text>
			</fieldset>
			<fieldset data-rbs-editor-section="publication"
			          data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.publication_properties', ['ucf']) }}"
			          data-editor-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}"
			          data-rbs-document-publication-section="">
			</fieldset>
			<fieldset
					data-rbs-editor-section="systeminfo"
					data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
					data-editor-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
					data-rbs-document-system-info-section="">
			</fieldset>
			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>