<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>{{ i18n('m.rbs.order.front.order_number', ['ucf']) }} - {{ i18n('m.rbs.order.front.order_processing_status', ['ucf']) }}</th>
				<th>{{ i18n('m.rbs.order.front.order_date', ['ucf']) }}</th>
				<th>{{ i18n('m.rbs.order.front.order_item_count', ['ucf']) }}</th>
				<th>{{ i18n('m.rbs.order.front.order_amount', ['ucf']) }}</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orderPresentations %}
				<tr>
					<td>
						{% if order.id %}
							{% set detailHref = functionURL('Rbs_Order_OrderDetail', {'orderId': order.id}) %}
						{% else %}
							{% set detailHref = functionURL('Rbs_Order_OrderDetail', {'cartIdentifier': order.cartIdentifier}) %}
						{% endif %}
						<a href="{{ detailHref }}">{% if order.code %}{{ order.code }} - {% endif %}{{ order.statusTitle }}</a>
					</td>
					<td>{{ order.date | transDateTime }}</td>
					<td>{{ order.itemCount }}</td>
					<td>{{ formatPrice(order.totalAmountWithTaxes, order.currencycode) }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>