<div class="form-inline">
	<input data-role="input-date" class="form-control" size="16" type="date" data-date-format="{{ i18nAttr('m.rbs.admin.admin.date_selector_format') }}"
		data-date-language="{{ i18nAttr('m.rbs.admin.admin.date_selector_lang') }}"/>

	<span data-ng-hide="hideTime">
		<span class="input-unit">{{ i18n('m.rbs.admin.admin.date_selector_at') }}</span>
		<input data-role="input-hour" class="form-control" type="number" size="2" value="0" />
		<span class="input-unit">{{ i18n('m.rbs.admin.admin.date_selector_hour_letter') }}</span>
		<input data-role="input-minute" class="form-control" type="number" size="2" value="00" />
	</span>


	<button class="btn btn-info btn-icon" type="button" data-ng-click="setDateToNow()"
		title="{{ i18nAttr('m.rbs.admin.admin.date_selector_now', ['ucf']) }}">
		<i class="icon-calendar"></i>
	</button>

	<button class="btn btn-info btn-icon" type="button" data-ng-click="clearDate()"
		title="{{ i18nAttr('m.rbs.admin.admin.date_selector_none', ['ucf']) }}">
		<i class="icon-calendar-empty"></i>
	</button>

	<span data-ng-hide="hideTime">
	<button class="btn btn-info timezone-selector" type="button" data-ng-click="openTimeZoneSelector($event)"
		title="{{ i18nAttr('m.rbs.admin.admin.date_selector_change_timezone', ['ucf']) }}">
		<i class="icon-globe"></i> (=timeZone=)
	</button>
	</span>
	<div class="timeZoneSelectorContainer"></div>
</div>