<div class="control-group">
	<label class="control-label">{{ i18n('m.rbs.generic.document.id',['ucf']) }}</label>
	<div class="controls">
		<span class="uneditable-input input-small">(=document.id=)</span>
		<span class="muted" ng-if="document.id < 0">{{ i18n('m.rbs.admin.temporary-id',['ucf']) }}</span>
	</div>
</div>

<div class="control-group">
	<label class="control-label">{{ i18n('m.rbs.generic.document.model',['ucf']) }}</label>
	<div class="controls">
		<span class="uneditable-input input-xlarge">(=document.model=)</span>
	</div>
</div>

<hr/>
<h4>Localisation</h4>

<div class="control-group" ng-if="document.refLCID">
	<label class="control-label">{{ i18n('m.rbs.admin.languages',['ucf']) }}</label>
	<div class="controls">
		<span class="label label-success"><i class="icon-book"></i> (=document.refLCID=)</span>
		<span data-ng-repeat="l in document.META$.locales" data-ng-show="l.id != document.refLCID" class="label">(=l.label=)</span>
	</div>
</div>

<div ng-if="document.publicationStatus">
	<hr/>
	<h4>Validation</h4>
	<div class="control-group">
		<label class="control-label">{{ i18n('m.rbs.generic.document.publicationstatus',['ucf']) }}</label>
		<div class="controls">
			<span class="uneditable-input"><status ng-model="document" class="small"></status> (=document.publicationStatus=)</span>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">{{ i18n('m.rbs.generic.document.startpublication',['ucf']) }}</label>
		<div class="controls">
			<date-selector ng-model="document.startPublication"></date-selector>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ i18n('m.rbs.generic.document.endpublication',['ucf']) }}</label>
		<div class="controls">
			<date-selector ng-model="document.endPublication"></date-selector>
		</div>
	</div>

</div>
