<div ng-show="previewAvailable" rbs-tip="RbsDocumentListGeneralWithPreview">
	{{ i18n('m.rbs.admin.lists.preview-tip') }}
</div>

<div ng-show="selectSession.info != null" class="select-session">
	<h4>{{ i18n('m.rbs.admin.lists.elements-selection', ['ucf']) }}</h4>
	<dl class="dl-horizontal">
		<dt>{{ i18n('m.rbs.admin.lists.for-property', ['lab']) }}</dt><dd><strong ng-bind="selectSession.info.propertyLabel"></strong><span ng-if="selectSession.info.multiple"> (multiple)</span></dd>
		<dt>{{ i18n('m.rbs.admin.lists.of', ['lab']) }}</dt><dd><strong ng-bind="selectSession.info.document.label"></strong><span> ((=selectSession.info.document.model=))</span></dd>
	</dl>
	<p>
		{{ i18n('m.rbs.admin.lists.compose-selection-message') }}
	</p>
	<p ng-if="selectSession.info.selection.length == 0">
		<strong>{{ i18n('m.rbs.admin.lists.selection-is-empty-now') }}</strong>
	</p>
	<token-list rows="true" items="selectSession.info.selection"></token-list>
	<div class="btn-toolbar">
		<span class="pull-right">
			<button type="button" class="btn btn-default" ng-click="selectSession.cancel()"><i class="icon-circle-arrow-left"></i> {{ i18n('m.rbs.admin.lists.cancel-selection', ['ucf']) }}</button>
			<button type="button" class="btn btn-success" ng-click="selectSession.end()">{{ i18n('m.rbs.admin.lists.validate-selection', ['ucf']) }} <i class="icon-circle-arrow-right"></i></button>
		</span>
		<button type="button" class="btn btn-default" ng-click="selectSession.appendSelected()" ng-disabled="selectedDocuments.length == 0"><i class="icon-plus"></i> {{ i18n('m.rbs.admin.lists.add-selected-elements', ['ucf']) }}</button>
		<button type="button" class="btn btn-default" ng-click="selectSession.clear()" ng-disabled="selectSession.info.selection.length == 0"><i class="icon-eraser"></i> {{ i18n('m.rbs.admin.lists.clear-selection', ['ucf']) }}</button>
	</div>
</div>

<div class="btn-toolbar" ng-show="useToolBar">
	<div ng-if="hasColumn('nodeOrder')" class="btn-virtual-group">
		<a class="btn btn-default" href go-up-in-tree></a>
	</div>

	<clipboard-add-widget ng-if="selectionEnabled" selected="selectedDocuments"></clipboard-add-widget>

	<span ng-repeat="item in actions" ng-switch="item.type">
		<button ng-switch-when="single" class="btn btn-default" type="button"
		        rbs-bind-action="(= item.name =)"
		        collection="collection"
		        selection="selectedDocuments"
		        embed-dialog="(= embeddedActionsOptionsContainerId =)"></button>
		<div ng-switch-when="group" class="btn-group">
			<button ng-repeat="action in item.actions"
			        class="btn btn-default" type="button"
			        rbs-bind-action="(= action =)"
			        collection="collection"
			        selection="selectedDocuments"
			        embed-dialog="(= embeddedActionsOptionsContainerId =)"></button>
		</div>
	</span>

	<div class="btn-group pull-right" ng-show="gridModeAvailable" data-toggle="buttons-radio">
		<button title="{{ i18nAttr('m.rbs.admin.lists.grid-display', ['ucf']) }}" type="button" ng-class="{'active': viewMode == 'grid'}" ng-click="viewMode = 'grid'" class="btn btn-default"><i class="icon-th-large"></i></button>
		<button title="{{ i18nAttr('m.rbs.admin.lists.list-display', ['ucf']) }}" type="button" ng-class="{'active': viewMode == 'list'}" ng-click="viewMode = 'list'" class="btn btn-default"><i class="icon-list"></i></button>
	</div>

	<div ng-if="viewMode == 'grid'" class="btn-group pull-right" title="{{ i18nAttr('m.rbs.admin.lists.sort', ['ucf']) }}">
		<a class="btn btn-default" href ng-href="(= headerUrl(sort.column) =)"><i ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[sort.descending]"></i> (= columns[sort.column].label =)</a>
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li ng-repeat="c in sortable" ng-hide="! columns[c].label"><a href ng-href="(= headerUrl(c) =)">(= columns[c].label =)</a></li>
		</ul>
	</div>

	<div class="btn-group pull-right">
		<button type="button" class="btn btn-default" ng-disabled="busy" ng-click="refresh()" title="{{ i18nAttr('m.rbs.admin.lists.refresh', ['ucf']) }}"><i ng-class="{'icon-spin':busy}" class="icon-refresh"></i></button>
	</div>
</div>

<div class="clearfix" data-role="embedded-actions-options-container" id="(=embeddedActionsOptionsContainerId=)"></div>

<div ng-switch="viewMode">

	<table ng-switch-when="list" class="document-list table table-condensed table-bordered table-striped table-hover">
		<thead>
			<tr>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="doc in collection|orderBy:localSortColumn" class="normal-row" ng-class="{'preview': isPreview(doc), 'has-preview': hasPreview(doc), 'error': hasErrors(doc), 'selected': doc.selected}">
				<td class="preview" data-colspan="auto" ng-if="isPreview(doc)">
					<div class="inner">
						<div class="rbs-kb-switch pull-right">
							<button rbs-kb-default="" type="button" class="btn btn-default btn-xs" ng-click="preview(doc, $event)">{{ i18n('m.rbs.admin.lists.close-preview') }}</button>
							<button rbs-kb-when="alt" type="button" class="btn btn-default btn-xs" ng-click="closeAllPreviews()">{{ i18n('m.rbs.admin.lists.close-all-previews') }}</button>
						</div>
						<div class="preview-indicator"></div>
						<div data-role="preview-contents"></div>
					</div>
				</td>
				<td class="workflow" data-colspan="auto" ng-if="isWorkflow(doc)">
					<div class="inner">
						<div class="workflow-indicator"></div>
						<div class="rbs-document-workflow-actions" document="doc.__document" on-close="closeWorkflow($index)"></div>
					</div>
				</td>
			</tr>
		</tbody>
		<tbody ng-show="busy">
			<tr class="empty-row">
				<td data-colspan="auto"><i class="icon-spinner icon-spin"></i> {{ i18n('m.rbs.admin.lists.loading', ['ucf']) }}</td>
			</tr>
		</tbody>
		<tbody ng-if="collection.length == 0 && !busy">
			<tr class="empty-row">
				<td data-colspan="auto"><i class="icon-frown"></i> {{ i18n('m.rbs.admin.lists.this-list-is-empty', ['ucf']) }}</td>
			</tr>
		</tbody>
	</table>

	<div ng-switch-when="grid">
		<div ng-if="collection.length == 0 && !busy" class="empty-row">{{ i18n('m.rbs.admin.lists.this-list-is-empty', ['ucf']) }}</div>
		<ul class="thumbnail-grid clearfix list-unstyled">
			<li ng-repeat="doc in collection"
			    ng-class="{selected: doc.selected, warning: doc.status!='PUBLISHABLE'}">
				<div class="inner" ng-class="doc.status" ng-click="doc.selected = ! doc.selected">
					<div class="caption">
						<h4><status ng-model="doc" class="small"/> <a href ng-href="(= doc | documentURL =)">(=doc.label=)</a></h4>
					</div>
				</div>
			</li>
		</ul>
	</div>

</div>

<footer class="rbsc-list-footer clearfix" ng-hide="(! collection.length && ! busy) || disablePagination">

		<div class="pull-right">
			<ul class="pagination pagination-sm" style="margin-top:0">
				<li ng-class="{disabled: isFirstPage()}">
					<a ng-if="!isFirstPage()" ng-href="(= pageUrl(0) =)"><i class="icon-double-angle-left"></i></a>
					<a ng-if="isFirstPage()" href="javascript:;"><i class="icon-double-angle-left"></i></a>
				</li>
				<li ng-class="{disabled: isFirstPage()}">
					<a ng-if="!isFirstPage()" ng-href="(= pageUrl(currentPage-1) =)"><i class="icon-angle-left"></i></a>
					<a ng-if="isFirstPage()" href="javascript:;"><i class="icon-angle-left"></i></a>
				</li>

				<li ng-repeat="page in pages" ng-class="{active: page==currentPage, disabled: page=='...'}"><a
							ng-href="(= pageUrl(page) =)">(= page + 1 =)</a></li>

				<li ng-class="{disabled: isLastPage()}">
					<a ng-if="!isLastPage()" ng-href="(= pageUrl(currentPage+1) =)"><i class="icon-angle-right"></i></a>
					<a ng-if="isLastPage()" href="javascript:;"><i class="icon-angle-right"></i></a>
				</li>

				<li ng-class="{disabled: isLastPage()}">
					<a ng-if="!isLastPage()" ng-href="(= pageUrl(pages.length-1) =)"><i class="icon-double-angle-right"></i></a>
					<a ng-if="isLastPage()" href="javascript:;"><i class="icon-double-angle-right"></i></a>
				</li>
			</ul>
		</div>

		<div class="pagination-info">
			<strong ng-pluralize data-count="pagination.total"
			        data-when="{{ i18nAttr('m.rbs.admin.lists.pagination-total') }}"></strong>
				<span class="text-muted" ng-show="pages.length > 0">
					{{ i18n('m.rbs.admin.lists.on') }}
					<span ng-pluralize data-count="pages.length" data-when="{{ i18nAttr('m.rbs.admin.lists.pagination-pages') }}"></span>
				</span>
			<div class="btn-group dropup">
				<button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
					(= pagination.limit =) {{ i18n('m.rbs.admin.lists.per-page') }} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right" style="text-align: left">
					<li ng-repeat="ps in predefinedPageSizes"><a href ng-href="(= pageUrl(0, ps) =)">(= ps =) <i class="icon-ok" ng-if="pagination.limit == ps"></i></a></li>
				</ul>
			</div>
		</div>

</footer>