<div ng-show="documents.length > 0">
	<rbs-token-list ng-if="disableReordering" items="documents" rows="true" disable-reordering="true"></rbs-token-list>
	<rbs-token-list ng-if="!disableReordering" items="documents" rows="true"></rbs-token-list>
</div>

<p class="form-control form-control-static text-muted" style="margin-bottom: 0;" ng-show="! documents || documents.length == 0">{{ i18n('m.rbs.admin.admin.picker_no_element', ['ucf']) }}</p>

<div class="btn-toolbar">
	<div class="btn-group">
		<button
			type="button"
			class="btn btn-default btn-xs"
			ng-click="beginSelectSession()"
			ng-if="multiple || (!multiple && (!documents || documents.length == 0))"
			title="{{ i18nAttr('m.rbs.admin.admin.picker_in_place_tooltip', ['ucf', 'etc']) }}"><i class="icon-external-link"></i><span ng-if="showButtonsLabel"> {{ i18n('m.rbs.admin.admin.picker_in_place', ['etc']) }}</span></button>
	</div>
	<button
		type="button"
		class="btn btn-default btn-xs pull-right"
		ng-click="clear()"
		ng-disabled="isEmpty()"
		title="{{ i18nAttr('m.rbs.admin.admin.picker_clear_tooltip', ['ucf']) }}"><i class="icon-eraser"></i><span ng-if="showButtonsLabel"> {{ i18n('m.rbs.admin.admin.picker_clear') }}</span></button>
</div>


