<rbs-field label="{{ i18nAttr('c.documents.id',['ucf']) }}">
	<p class="form-control-static">
		(= document.id =)
		<span class="text-muted" data-ng-if="document.id < 0"> {{ i18n('m.rbs.admin.admin.temporary_id', ['ucf']) }}</span>
	</p>
</rbs-field>

<rbs-field label="{{ i18nAttr('c.documents.model', ['ucf']) }}">
	<p class="form-control-static">(= document.model =)</p>
</rbs-field>

<rbs-field label="{{ i18nAttr('c.documents.creationDate', ['ucf']) }}">
	<p class="form-control-static" data-ng-if="document.creationDate">
		(= document.creationDate | rbsDateTime =)
	</p>
</rbs-field>

<rbs-field label="{{ i18nAttr('c.documents.modificationDate', ['ucf']) }}">
	<p class="form-control-static" data-ng-if="document.modificationDate">
		(= document.modificationDate | rbsDateTime =)
	</p>
</rbs-field>

<!-- Localizable -->

<div data-ng-if="modelInfo.metas.localized">
	<hr/>
	<h4>{{ i18n('m.rbs.admin.admin.translation',['ucf']) }}</h4>

	<rbs-field label="{{ i18nAttr('m.rbs.admin.admin.reference_language', ['ucf']) }}">
		<p class="form-control-static"><i class="icon-book"></i> (= availableLanguages[document.refLCID].label =)</p>
	</rbs-field>

	<rbs-field label="{{ i18nAttr('m.rbs.admin.admin.translations', ['ucf']) }}">
		<p class="form-control-static">
			<span data-ng-repeat="l in document.META$.locales" data-ng-show="l.id != document.refLCID">
				<a href data-ng-href="(= document.translateUrl(l.id) =)">(= availableLanguages[l.id].label =)</a>
			</span>
		</p>
	</rbs-field>
</div>

<!-- Publishable -->

<div data-ng-if="modelInfo.metas.publishable">
	<hr/>
	<h4>{{ i18n('m.rbs.admin.admin.publication',['ucf']) }}</h4>

	<rbs-field label="{{ i18nAttr('c.documents.publicationstatus', ['ucf']) }}">
		<p class="form-control-static">
			<rbs-status ng-model="document" class="small"></rbs-status> (= document.publicationStatus | rbsStatusLabel =)
		</p>
	</rbs-field>

	<rbs-field label="{{ i18nAttr('c.documents.startpublication', ['ucf']) }}">
		<p class="form-control-static" data-ng-if="document.startPublication">
			(= document.startPublication | rbsDateTime =)
		</p>
	</rbs-field>

	<rbs-field label="{{ i18nAttr('c.documents.endpublication', ['ucf']) }}">
		<p class="form-control-static" data-ng-if="document.endPublication">
			(= document.endPublication | rbsDateTime =)
		</p>
	</rbs-field>
</div>

<!-- Activable -->

<div data-ng-if="modelInfo.metas.activable">
	<hr/>
	<h4>{{ i18n('m.rbs.admin.admin.activation',['ucf']) }}</h4>

	<rbs-field label="{{ i18nAttr('c.documents.active', ['ucf']) }}">
		<p class="form-control-static">
			(= document.active | rbsBoolean =)
		</p>
	</rbs-field>

	<rbs-field label="{{ i18nAttr('c.documents.startactivation', ['ucf']) }}">
		<p class="form-control-static" data-ng-if="document.startActivation">
			(= document.startActivation | rbsDateTime =)
		</p>
	</rbs-field>

	<rbs-field label="{{ i18nAttr('c.documents.endactivation', ['ucf']) }}">
		<p class="form-control-static" data-ng-if="document.endActivation">
			(= document.endActivation | rbsDateTime =)
		</p>
	</rbs-field>
</div>