<div class="btn-toolbar" ng-show="useToolBar">
	<div ng-if="hasColumn('nodeOrder')" class="btn-virtual-group">
		<a class="btn" href go-up-in-tree></a>
	</div>

	<clipboard-add-widget selected="selectedDocuments"></clipboard-add-widget>

	<div class="btn-virtual-group" data-ng-repeat="item in actions" data-ng-switch="item.type">
		<div data-ng-switch-when="single" class="btn-group">
			<button class="btn" type="button"
			        rbs-bind-action="(= item.name =)"
			        collection="collection"
			        selection="selectedDocuments"
			        embed-dialog="(= embeddedActionsOptionsContainerId =)"></button>
		</div>
		<div data-ng-switch-when="group" class="btn-group">
			<button data-ng-repeat="action in item.actions" data-bind-action="(= action =)" data-bind-action-embed-dialog="(= embeddedActionsOptionsContainerId =)" class="btn" type="button"></button>
		</div>
	</div>

	<div class="btn-group pull-right" ng-show="gridModeAvailable" data-toggle="buttons-radio">
		<button title="{{ i18nAttr('m.rbs.admin.lists.list-display', ['ucf']) }}" type="button" ng-class="{'active': viewMode == 'list'}" ng-click="viewMode = 'list'" class="btn"><i class="icon-list"></i></button>
		<button title="{{ i18nAttr('m.rbs.admin.lists.grid-display', ['ucf']) }}" type="button" ng-class="{'active': viewMode == 'grid'}" ng-click="viewMode = 'grid'" class="btn"><i class="icon-th-large"></i></button>
	</div>

	<div ng-if="viewMode == 'grid'" class="btn-group pull-right" title="{{ i18nAttr('m.rbs.admin.lists.sort', ['ucf']) }}">
		<a class="btn" href ng-href="(= headerUrl(sort.column) =)"><i ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[sort.descending]"></i> (= columns[sort.column].label =)</a>
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li ng-repeat="c in sortable"><a href ng-href="(= headerUrl(c) =)">(= columns[c].label =)</a></li>
		</ul>
	</div>
</div>

<div class="clearfix" data-role="embedded-actions-options-container" id="(=embeddedActionsOptionsContainerId=)"></div>

<div ng-switch="viewMode">

	<table ng-switch-when="list" class="document-list table table-condensed table-bordered table-striped table-hover">
		<thead>
			<tr>
			</tr>
		</thead>
		<tbody ng-if="collection.length == 0 && !loading">
			<tr class="empty-row">
				<td colspan="0">{{ i18n('m.rbs.admin.lists.this-list-is-empty', ['ucf']) }}</td>
			</tr>
		</tbody>
		<tbody>
			<tr ng-repeat="doc in collection" class="normal-row" ng-class="{'success': isLastCreated(doc), 'selected': doc.selected}">
				<td class="preview" colspan="0" ng-if="isPreview(doc)"></td>
			</tr>
		</tbody>
	</table>

	<div ng-switch-when="grid">
		<div ng-if="collection.length == 0 && !loading" class="empty-row">{{ i18n('m.rbs.admin.lists.this-list-is-empty', ['ucf']) }}</div>
		<ul class="thumbnail-grid clearfix">
			<li ng-repeat="doc in collection"
			    ng-class="{selected: doc.selected, warning: doc.status!='PUBLISHABLE'}">
				<div class="inner" ng-class="doc.status" ng-click="doc.selected = ! doc.selected">
					<div class="caption">
						<h4><status ng-model="doc" class="small"/> <a href ng-href="(= doc | documentURL =)">(=doc.label=)</a></h4>
					</div>
				</div>
			</li>
		</ul>
	</div>

</div>

<footer class="rbsc-list-footer clearfix" ng-hide="collection.length == 0 && !loading">

		<div class="pull-right">
			<div class="pagination pagination-small" style="display: block; margin: 0;">
				<ul>
					<li ng-class="{disabled: isFirstPage()}">
						<a ng-if="!isFirstPage()" ng-href="(= pageUrl(0) =)"><i class="icon-double-angle-left"></i></a>
						<a ng-if="isFirstPage()" href="javascript:;"><i class="icon-double-angle-left"></i></a>
					</li>
					<li ng-class="{disabled: isFirstPage()}">
						<a ng-if="!isFirstPage()" ng-href="(= pageUrl(currentPage-1) =)"><i class="icon-angle-left"></i></a>
						<a ng-if="isFirstPage()" href="javascript:;"><i class="icon-angle-left"></i></a>
					</li>

					<li ng-repeat="page in pages" ng-class="{active: page==currentPage, disabled: page=='...'}"><a
								ng-href="(= pageUrl(page) =)">(= page + 1 =)</a></li>

					<li ng-class="{disabled: isLastPage()}">
						<a ng-if="!isLastPage()" ng-href="(= pageUrl(currentPage+1) =)"><i class="icon-angle-right"></i></a>
						<a ng-if="isLastPage()" href="javascript:;"><i class="icon-angle-right"></i></a>
					</li>

					<li ng-class="{disabled: isLastPage()}">
						<a ng-if="!isLastPage()" ng-href="(= pageUrl(pages.length-1) =)"><i class="icon-double-angle-right"></i></a>
						<a ng-if="isLastPage()" href="javascript:;"><i class="icon-double-angle-right"></i></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="pagination-info">
			<strong ng-pluralize data-count="pagination.total"
			        data-when="{{ i18nAttr('m.rbs.admin.lists.pagination-total') }}"></strong>
				<span class="muted" ng-show="pages.length > 0">
					{{ i18n('m.rbs.admin.lists.on') }}
					<span ng-pluralize data-count="pages.length" data-when="{{ i18nAttr('m.rbs.admin.lists.pagination-pages') }}"></span>
				</span>
			<div class="btn-group dropup">
				<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
					(= pagination.limit =) {{ i18n('m.rbs.admin.lists.per-page') }} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right" style="text-align: left">
					<li ng-repeat="ps in predefinedPageSizes"><a href ng-href="(= pageUrl(0, ps) =)">(= ps =) <i class="icon-ok" ng-if="pagination.limit == ps"></i></a></li>
				</ul>
			</div>
		</div>

</footer>