<div class="input-append">
	<input type="text" class="(= inputCssClass =)" readonly="readonly" title="(=selectedModelName=)" name="label"/>
	<button
		type="button"
		class="btn"
		data-ng-click="editSelectedDocument($event)"
		data-ng-disabled="isEmpty()"
		data-ng-show="allowEdition"
		title="{{ i18nAttr('m.rbs.admin.forms.picker-edit-tooltip', ['ucf']) }}"><i class="icon-edit"></i></button>
	<button
		type="button"
		class="btn"
		data-ng-click="createDocument()"
		data-ng-show="allowCreation"
		title="{{ i18nAttr('m.rbs.admin.forms.picker-create-tooltip', ['ucf']) }}"><i class="icon-plus"></i></button>
	<button
		type="button"
		class="btn"
		data-ng-disabled="isEmpty()"
		data-ng-click="clear()"
		title="{{ i18nAttr('m.rbs.admin.forms.picker-delete-selection-tooltip', ['ucf']) }}"><i class="icon-remove"></i></button>
</div>

<div class="btn-group">
	<button
		type="button"
		class="btn"
		data-ng-click="openSelector()"
		title="{{ i18nAttr('m.rbs.admin.forms.picker-choose-tooltip', ['ucf', 'etc']) }}">{{ i18n('m.rbs.admin.forms.picker-choose', ['ucf', 'etc']) }}</button>
	<button
		type="button"
		class="btn"
		data-ng-click="getFromClipboard()"
		data-ng-disabled="clipboardValues.length == 0"
		title="{{ i18nAttr('m.rbs.admin.forms.picker-take-from-clipboard-tooltip', ['ucf']) }}"><i ng-class="{ 'icon-bookmark': clipboardValues.length > 0, 'icon-bookmark-empty': clipboardValues.length == 0 }"></i></button>
</div>

<div class="document-picker-embedded" style="display: none;">
	<header class="clearfix">
		<form ng-if="allowSearchFilters" class="form-search pull-right" data-ng-submit="textSearch = search || '...'">
			<div class="input-append">
				<!--TODO localization-->
				<input type="text" class="input-medium search-query" placeholder="Rechercher..." data-ng-model="search"/>
				<button type="submit" class="btn" title="Rechercher">
					<i class="icon-search"></i>
				</button>
			</div>
			<button ng-click="closeSelector()" type="button" class="close" style="margin-left: 10px; margin-top: 4px;">&times;</button>
		</form>
		<h4>(=selectorTitle=)</h4>
	</header>

	<search-filters ng-if="allowSearchFilters" model="(= acceptedModel || dp.selectedModel.name =)" filter-query="query" text-search="textSearch"></search-filters>

	<div class="well well-small" ng-show="! acceptedModel">
		<label style="display: inline-block" for="DpSelectModel">{{ i18n('m.rbs.admin.forms.picker-choose-model-to-select', ['ucf']) }}</label>
		<rbs-model-selector filter="(= selectModel =)" class="input-xlarge" id="DpSelectModel" model="dp.selectedModel"></rbs-model-selector>
	</div>

	<div>
		Pour bénéficier de filtres de recherches plus avancés, vous pouvez vous rendre directement dans
		<a href="javascript:;" ng-click="beginSelectSession()">le module concerné</a>.
	</div>

	<div data-role="picker-contents"></div>

	<div class="btn-toolbar clearfix">
		<button ng-click="closeSelector()" type="button" class="btn btn-success pull-right">Fermer</button>
	</div>
</div>
