<div ng-hide="isEmpty()">
	<p class="form-control form-control-static" ng-include="getItemTemplateName(item)"></p>
</div>

<p class="form-control form-control-static text-muted" style="margin-bottom: 0;" ng-show="isEmpty()">{{ i18n('m.rbs.admin.forms.picker-no-element', ['ucf']) }}</p>

<div class="btn-toolbar">
	<div class="btn-group">
		<button
			type="button"
			class="btn btn-default btn-xs"
			ng-click="openSelector()"
			title="{{ i18nAttr('m.rbs.admin.forms.picker-selector-tooltip', ['ucf', 'etc']) }}"><i class="icon-arrow-down"></i><span ng-if="showButtonsLabel"> {{ i18n('m.rbs.admin.forms.picker-selector') }}</span></button>
		<button
			type="button"
			class="btn btn-default btn-xs"
			ng-click="beginSelectSession()"
			ng-show="acceptedModel && allowInPlaceSelection"
			title="{{ i18nAttr('m.rbs.admin.forms.picker-in-place-tooltip', ['ucf', 'etc']) }}"><i class="icon-external-link"></i><span ng-if="showButtonsLabel"> {{ i18n('m.rbs.admin.forms.picker-in-place', ['etc']) }}</span></button>
		<button
			type="button"
			class="btn btn-default btn-xs"
			ng-click="getFromClipboard()"
			ng-disabled="clipboardValues.length == 0"
			title="{{ i18nAttr('m.rbs.admin.forms.picker-clipboard-tooltip', ['ucf']) }}"><i ng-class="{ 'icon-bookmark': clipboardValues.length > 0, 'icon-bookmark-empty': clipboardValues.length == 0 }"></i><span ng-if="showButtonsLabel"> {{ i18n('m.rbs.admin.forms.picker-clipboard') }}</span></button>
	</div>
	<button
		type="button"
		class="btn btn-default btn-xs pull-right"
		ng-click="clear()"
		ng-disabled="isEmpty()"
		title="{{ i18nAttr('m.rbs.admin.forms.picker-delete-selection-tooltip', ['ucf']) }}"><i class="icon-eraser"></i><span ng-if="showButtonsLabel"> {{ i18n('m.rbs.admin.forms.picker-clear') }}</span></button>
	<button
		ng-show="allowCreation"
		type="button"
		class="btn btn-default btn-xs"
		ng-click="createDocument()"
		title="{{ i18nAttr('m.rbs.admin.forms.picker-create-tooltip', ['ucf']) }}"><i class="icon-plus"></i><span ng-if="showButtonsLabel"> {{ i18n('m.rbs.admin.forms.picker-create') }}</span></button>
</div>

<div class="document-picker-embedded" style="display: none;">
	<header class="clearfix">
		<form ng-if="allowSearchFilters" class="form-search pull-right" data-ng-submit="textSearch = search || '...'">
			<div class="input-append">
				<!--TODO localization-->
				<input type="text" class="input-medium search-query" placeholder="Rechercher..." data-ng-model="search"/>
				<button type="submit" class="btn btn-default" title="Rechercher">
					<i class="icon-search"></i>
				</button>
			</div>
			<button ng-click="closeSelector()" type="button" class="close" style="margin-left: 10px; margin-top: 4px;">&times;</button>
		</form>
		<h4>(=selectorTitle=)</h4>
	</header>

	<search-filters ng-if="allowSearchFilters" model="(= acceptedModel || dp.selectedModel.name =)" filter-query="query" text-search="textSearch"></search-filters>

	<div class="well well-small" ng-show="! acceptedModel">
		<label style="display: inline-block" for="DpSelectModel">{{ i18n('m.rbs.admin.forms.picker-choose-model-to-select', ['ucf']) }}</label>
		<rbs-model-selector filter="(= selectModel =)" class="input-xlarge" id="DpSelectModel" model="dp.selectedModel"></rbs-model-selector>
	</div>

	<div>
		Pour bénéficier de filtres de recherches plus avancés, vous pouvez vous rendre directement dans
		<a href="javascript:;" ng-click="beginSelectSession()">le module concerné</a>.
	</div>

	<div data-role="picker-contents"></div>

	<div class="btn-toolbar clearfix">
		<button ng-click="closeSelector()" type="button" class="btn btn-success pull-right">Fermer</button>
	</div>
</div>
