<rbs-field label="{{ i18nAttr('m.rbs.generic.document.id',['ucf']) }}">
	<span class="uneditable-input input-small">(= document.id =)</span>
	<span class="muted" ng-if="document.id < 0">{{ i18n('m.rbs.admin.temporary-id',['ucf']) }}</span>
</rbs-field>

<rbs-field label="{{ i18nAttr('m.rbs.generic.document.model',['ucf']) }}">
	<span class="uneditable-input input-xxlarge">(= document.model =)</span>
</rbs-field>

<!-- Localizable -->

<div ng-if="modelInfo.metas.localized">
	<hr/>
	<h4>{{ i18n('m.rbs.admin.forms.translation',['ucf']) }}</h4>

	<rbs-field label="{{ i18nAttr('m.rbs.admin.forms.reference-language',['ucf']) }}">
		<span class="uneditable-input input-xxlarge"><i class="icon-book"></i> (= availableLanguages[document.refLCID].label =)</span>
	</rbs-field>

	<rbs-field label="{{ i18nAttr('m.rbs.admin.forms.translations',['ucf']) }}">
		<span class="uneditable-input input-xxlarge">
			<span ng-repeat="l in document.META$.locales" ng-show="l.id != document.refLCID">
				<a href ng-href="(= document.translateUrl(l.id) =)">(= availableLanguages[l.id].label =)</a>
			</span>
		</span>
	</rbs-field>
</div>

<!-- Publishable -->

<div ng-if="modelInfo.metas.publishable">
	<hr/>
	<h4>{{ i18n('m.rbs.admin.forms.validation',['ucf']) }}</h4>

	<rbs-field label="{{ i18nAttr('m.rbs.generic.document.publicationstatus',['ucf']) }}">
		<span class="uneditable-input"><status ng-model="document" class="small"></status> (= document.publicationStatus =)</span>
	</rbs-field>

	<rbs-field-date
			label="{{ i18nAttr('m.rbs.generic.document.startpublication',['ucf']) }}"
			property="startPublication">
	</rbs-field-date>

	<rbs-field-date
			label="{{ i18nAttr('m.rbs.generic.document.endpublication',['ucf']) }}"
			property="endPublication">
	</rbs-field-date>
</div>

<!-- Activable -->

<div ng-if="modelInfo.metas.activable">
	<hr/>
	<h4>{{ i18n('m.rbs.admin.forms.activation',['ucf']) }}</h4>
	<rbs-field-boolean
			property="active"
			label="{{ i18nAttr('m.rbs.generic.document.active', ['ucf']) }}">
	</rbs-field-boolean>

	<rbs-field-date
			label="{{ i18nAttr('m.rbs.generic.document.startactivation',['ucf']) }}"
			property="startActivation">
	</rbs-field-date>

	<rbs-field-date
			label="{{ i18nAttr('m.rbs.generic.document.endactivation',['ucf']) }}"
			property="endActivation">
	</rbs-field-date>
</div>