<div class="alert alert-warning" ng-show="! locations.length">
	<h4>{{ i18n('m.rbs.admin.admin.document_is_not_published', ['ucf']) }}</h4>
	{{ i18n('m.rbs.admin.admin.document_is_not_published_message', [], {'linkStart':'<a href="(= targetDocument | rbsURL =)?section=publication">', 'linkEnd':'</a>'}) | raw }}
</div>

<form class="form-horizontal" novalidate ng-submit="savePathRules()" name="form" ng-show="locations.length > 0" >
	<p>{{ i18n('m.rbs.admin.admin.available_languages_help') }}</p>
	<p>{{ i18n('m.rbs.admin.admin.canonical_help') | raw }}</p>
	<table class="table table-striped table-bordered">
		<thead>
		<tr>
			<th>{{ i18n('m.rbs.admin.admin.url', ['ucf']) }}</th>
			<th>{{ i18n('m.rbs.admin.admin.lcid', ['ucf']) }}</th>
			<th>{{ i18n('m.rbs.admin.admin.section', ['ucf']) }}</th>
			<th style="width: 90px;">{{ i18n('m.rbs.admin.admin.publication', ['ucf']) }}</th>
			<th style="width: 25px;"></th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat-start="(locationIndex, location) in locations">
			<td><a href="(= getHref(location, location.urls[0]) =)" target="_blank">(= getHref(location, location.urls[0]) =)</a></td>
			<td>(= availableLanguages[location.LCID].label|ucf =) [(= location.LCID =)]</td>
			<td>(= location.sectionLabel =) <i ng-show="location.canonical" class="icon-star text-info"
					title="{{ i18n('m.rbs.admin.admin.canonical_location', ['ucf']) }}"></i></td>
			<td style="white-space: nowrap;"
				ng-click="displayConfig[locationIndex].showDetails = !displayConfig[locationIndex].showDetails">
							<span ng-show="location.published">
								<i class="icon-ok text-success"></i> {{ i18n('m.rbs.admin.admin.published', ['ucf']) }}
							</span>
							<span ng-hide="location.published">
								<i class="icon-remove text-danger"></i> {{ i18n('m.rbs.admin.admin.not_published', ['ucf']) }}
							</span>
			</td>
			<td>
				<button type="button" class="btn btn-default btn-icon"
					ng-click="displayConfig[locationIndex].showDetails = !displayConfig[locationIndex].showDetails" title="{{ i18nAttr('m.rbs.admin.admin.open_option_panel', ['ucf']) }}">
					<i ng-hide="displayConfig[locationIndex].showDetails" class="icon-chevron-down"></i>
					<i ng-show="displayConfig[locationIndex].showDetails" class="icon-chevron-up"></i>
				</button>
			</td>
		</tr>
		<tr data-ng-repeat-end="">
			<td ng-if="displayConfig[locationIndex].showDetails === true" colspan="6">
				<div class="inner">
					<div class="rbs-list-option-panel">
						<h3>{{ i18n('m.rbs.admin.admin.option_panel_title', ['ucf']) }}</h3>
						<h4>{{ i18n('m.rbs.admin.admin.publication', ['ucf']) }}</h4>
						<ul class="list-unstyled">
							<li ng-repeat="condition in location.publication"><i ng-show="condition.ok"
									class="icon-ok text-success"></i><i ng-show="!condition.ok"
									class="icon-remove text-danger"></i> (= condition.message =)
							</li>
						</ul>
						<h4>{{ i18n('m.rbs.admin.admin.rewrite_urls', ['ucf']) }}</h4>
						<p>{{ i18n('m.rbs.admin.admin.website', ['ucf','lab']) }} (= getHref(location) =) </p>
						<table data-ng-show="location.urls.length > 0" class="table table-striped table-bordered table-condensed">
							<thead>
							<tr>
								<th style="width: 20px;"> </th>
								<th>{{ i18n('m.rbs.admin.admin.relative_path', ['ucf']) }}</th>
								<th style="width: 220px;">{{ i18n('m.rbs.admin.admin.query', ['ucf']) }}</th>
								<th style="width: 125px;"></th>
							</tr>
							</thead>
							<tbody>
							<tr data-ng-repeat="(index, url) in location.urls">
								<td>
									<i ng-show="location.canonical && !url.sectionId" class="icon-star text-info"
											title="{{ i18n('m.rbs.admin.admin.canonical_location', ['ucf']) }}"></i>
								</td>
								<td>
									<a ng-hide="displayConfig[locationIndex].urls[index].edit" href="(= getHref(location, url) =)"
										target="_blank">(= url.relativePath =)</a>
									<input ng-show="displayConfig[locationIndex].urls[index].edit" ng-model="url.relativePath"
										type="text" class="form-control" style="width: 90%;"/>
								</td>
								<td>
									(= url.query =)
								</td>
								<td style="white-space: nowrap; text-align: right;">
									<button ng-hide="displayConfig[locationIndex].urls[index].edit" type="button"
										class="btn btn-default btn-icon"
										title="{{ i18nAttr('m.rbs.admin.admin.edit_url', ['ucf']) }}"
										ng-click="startEditUrl(locationIndex, index)"><i class="icon-pencil"></i></button>
									<button ng-hide="displayConfig[locationIndex].urls[index].edit" type="button"
										class="btn btn-default btn-icon"
										title="{{ i18nAttr('m.rbs.admin.admin.restore_default_url', ['ucf']) }}"
										ng-click="restoreDefaultUrl(locationIndex, index)"
										ng-disabled="url.relativePath == getLocationDefaultRelativePath(locationIndex, index)"><i
											class="icon-level-down"></i></button>
									<button ng-show="displayConfig[locationIndex].urls[index].edit" type="button"
										class="btn btn-info btn-icon"
										title="{{ i18nAttr('m.rbs.admin.admin.validate_url', ['ucf']) }}"
										ng-click="updateUrl(locationIndex, index)"><i class="icon-check"></i></button>
									<button ng-show="displayConfig[locationIndex].urls[index].edit" type="button"
										class="btn btn-warning btn-icon"
										title="{{ i18nAttr('m.rbs.admin.admin.undo_edit_url', ['ucf']) }}"
										ng-click="undoEditUrl(locationIndex, index)"><i class="icon-undo"></i></button>
								</td>
							</tr>
							</tbody>
						</table>
						<h4>
							{{ i18n('m.rbs.admin.admin.redirects', ['ucf']) }}
							<span
								ng-click="displayConfig[locationIndex].showRedirects = !displayConfig[locationIndex].showRedirects"
								class="badge badge-info">
										(= location.redirects.length =)
									</span>
							<button type="button" class="btn btn-default btn-icon"
								ng-click="displayConfig[locationIndex].showRedirects = !displayConfig[locationIndex].showRedirects">
								<i ng-show="!displayConfig[locationIndex].showRedirects" class="icon-chevron-down"></i>
								<i ng-show="displayConfig[locationIndex].showRedirects" class="icon-chevron-up"></i>
							</button>
						</h4>
						<table data-ng-show="displayConfig[locationIndex].showRedirects === true"
							class="table table-striped table-bordered table-condensed">
							<thead>
							<tr>
								<th style="width: 20px;"> </th>
								<th>{{ i18n('m.rbs.admin.admin.relative_path', ['ucf']) }}</th>
								<th style="width: 85px;">{{ i18n('m.rbs.admin.admin.permanent', ['ucf']) }}</th>
								<th style="width: 220px;">{{ i18n('m.rbs.admin.admin.query', ['ucf']) }}</th>
								<th style="width: 125px;"></th>
							</tr>
							</thead>
							<tbody>
							<tr data-ng-repeat="(index, redirect) in location.redirects">
								<td>
									<i ng-show="location.canonical && !redirect.sectionId" class="icon-star text-info"
											title="{{ i18n('m.rbs.admin.admin.canonical_location', ['ucf']) }}"></i>
								</td>
								<td>
									<span
										ng-hide="displayConfig[locationIndex].redirects[index].edit">(= redirect.relativePath =)</span>
									<input ng-show="displayConfig[locationIndex].redirects[index].edit"
										ng-model="redirect.relativePath" type="text" class="form-control" style="width: 90%;"/>
								</td>
								<td>
									<rbs-switch ng-model="redirect.permanent"
										ng-disabled="!displayConfig[locationIndex].redirects[index].edit"></rbs-switch>
								</td>
								<td>(= redirect.query =)</td>
								<td style="white-space: nowrap; text-align: right;">
									<button ng-disabled="displayConfig[locationIndex].redirects[index].edit" type="button"
										class="btn btn-default btn-icon"
										title="{{ i18nAttr('m.rbs.admin.admin.make_current_url', ['ucf']) }}"
										ng-click="makeCurrentUrl(locationIndex, index)"><i class="icon-level-up"></i></button>
									<button ng-hide="displayConfig[locationIndex].redirects[index].edit" type="button"
										class="btn btn-default btn-icon"
										title="{{ i18nAttr('m.rbs.admin.admin.edit_redirect', ['ucf']) }}"
										ng-click="startEditRedirect(locationIndex, index)"><i class="icon-pencil"></i></button>
									<button ng-hide="displayConfig[locationIndex].redirects[index].edit" type="button"
										class="btn btn-danger btn-icon"
										title="{{ i18nAttr('m.rbs.admin.admin.remove_redirect', ['ucf']) }}"
										ng-click="deleteRedirect(locationIndex, index)"><i class="icon-remove"></i></button>
									<button ng-show="displayConfig[locationIndex].redirects[index].edit" type="button"
										class="btn btn-info btn-icon"
										title="{{ i18nAttr('m.rbs.admin.admin.validate_redirect', ['ucf']) }}"
										ng-click="updateRedirect(locationIndex, index)"><i class="icon-check"></i></button>
									<button ng-show="displayConfig[locationIndex].redirects[index].edit" type="button"
										class="btn btn-warning btn-icon"
										title="{{ i18nAttr('m.rbs.admin.admin.undo_edit_redirect', ['ucf']) }}"
										ng-click="undoEditRedirect(locationIndex, index)"><i class="icon-undo"></i></button>
								</td>
							</tr>
							<tr>
								<td> </td>
								<td><input ng-model="newRedirect[locationIndex].relativePath" type="text" class="form-control"
										style="width: 90%;"/></td>
								<td>
									<rbs-switch ng-model="newRedirect[locationIndex].permanent"></rbs-switch>
								</td>
								<td><input ng-model="newRedirect[locationIndex].query" type="text" class="form-control"/></td>
								<td style="white-space: nowrap; text-align: right;">
									<button type="button" class="btn btn-info"
										ng-disabled="!newRedirect[locationIndex].relativePath"
										title="{{ i18nAttr('m.rbs.admin.admin.add_new_redirect', ['ucf']) }}"
										ng-click="addNewRedirect(locationIndex)"><i class="icon-check"></i></button>
									<button type="button" class="btn btn-danger"
										ng-disabled="!newRedirect[locationIndex].relativePath && !newRedirect[locationIndex].query && newRedirect[locationIndex].permanent"
										title="{{ i18nAttr('m.rbs.admin.admin.clear_new_redirect', ['ucf']) }}"
										ng-click="clearNewRedirect(locationIndex)"><i class="icon-remove"></i></button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>

	<div class="form-actions">
		<a ng-disabled="!isUnchanged()" class="btn btn-default btn-headline" href="(= targetDocument | rbsURL =)">
			<i class="icon-arrow-left"></i>{{ i18n('m.rbs.admin.admin.btn_back_to', ['ucf'], {'label':'(= targetDocument.label =)'}) | raw }}
		</a>
		<button disabled="disabled" class="btn btn-default btn-headline" type="button"
				ng-click="revert($event)" ng-disabled="isUnchanged()"><i class="icon-undo"></i>{{ i18n('m.rbs.admin.admin.btnRevert', ['ucf']) | raw }}</button>
		<button class="btn btn-headline btn-primary" ng-class="{'btn-success':saveProgress.success && isUnchanged(), 'btn-danger':saveProgress.error}" type="submit"
				ng-disabled="isUnchanged()"><i class="icon-white" ng-class="{'icon-spinner': saveProgress.running, 'icon-ok': ! saveProgress.running, 'icon-remove': saveProgress.error}"></i>{{ i18n('m.rbs.admin.admin.btnSave', ['ucf']) | raw }}</button>
	</div>
</form>