<div data-role="preContents"></div>

<div class="confirmation-area"></div>
<div class="form-actions">

	<p ng-class="{true: 'text-muted'}[changes.length == 0]">
		<span data-ng-pluralize
		      data-count="changes.length"
		      data-when="{0: '{{ i18nAttr('m.rbs.admin.admin.no_propertie_modified') }}',
				one: '{{ i18nAttr('m.rbs.admin.admin.propertie_modified') }}',
				other: '{{ i18nAttr('m.rbs.admin.admin.properties_modified') }}'}">
		</span>
		<i ng-show="changes.length" ng-class="{'icon-chevron-sign-left': showChanges, 'icon-chevron-sign-right': !showChanges}" ng-click="showChanges = !showChanges"></i>
		<span ng-show="showChanges"><span class="label label-default" ng-repeat="change in changes">(= change =)</span></span>
	</p>

	<p>
		<button ng-if="! navigationContext" disabled="disabled" class="btn btn-default btn-headline" type="button" ng-click="goBack($event)" ng-disabled="! canGoBack()">
			<i class="icon-arrow-left"></i>{{ i18n('m.rbs.admin.admin.btnGoBack', ['ucf']) | raw }}
		</button>

		<button ng-if="navigationContext" class="btn btn-default btn-headline" type="button" ng-click="rejectNavigationContext()">
			<i class="icon-arrow-left"></i>{{ i18n('m.rbs.admin.admin.btn_back_to', ['ucf'], {'label': '(= navigationContext.label =)'}) | raw }}
		</button>

		<div class="pull-right" ng-transclude=""></div>
		<button disabled="disabled" class="btn btn-default btn-headline" type="button" ng-click="confirmReset($event)" ng-disabled="isUnchanged()" title="{{ i18nAttr('m.rbs.admin.admin.titleRevert', ['ucf']) }}"><i class="icon-undo"></i>{{ i18n('m.rbs.admin.admin.btnRevert', ['ucf']) | raw }}</button>
		<button disabled="disabled" class="btn btn-headline btn-primary" ng-class="{'btn-success':saveProgress.success && isUnchanged(), 'btn-danger':saveProgress.error}" data-role="save" type="submit"
		        ng-disabled="form.$invalid || isUnchanged() || saveProgress.running"><i class="icon-white" ng-class="{'icon-spinner': saveProgress.running, 'icon-ok': ! saveProgress.running, 'icon-remove': saveProgress.error}"></i>{{ i18n('m.rbs.admin.admin.btnSave', ['ucf']) | raw }}</button>
	</p>

	<div>
		<strong>{{ i18n('m.rbs.admin.admin.afterSave', ['ucf']) }}</strong>
		<div class="radio">
			<label>
				<input type="radio" data-ng-model="actionAfterSave" value="stay"/>
				{{ i18n('m.rbs.admin.admin.afterSaveStay', ['ucf']) }}
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" data-ng-model="actionAfterSave" value="list"/>
				{{ i18n('m.rbs.admin.admin.afterSaveGoList', ['ucf']) }}
			</label>
		</div>
	</div>
</div>