<div class="page-header">
	<div class="clearfix">
		<div class="pull-right" ng-if="showWorkflowButton()">
			<a href ng-href="(= document | rbsURL:getWorkflowRouteName() =)" class="btn" ng-class="{true: 'btn-success', false: 'btn-default'}[document.publicationStatus=='PUBLISHABLE']">
				<rbs-status class="small" ng-model="document"></rbs-status>
				<span ng-if="document.hasCorrection()">
					{{ i18n('m.rbs.admin.admin.correction', ['ucf']) }}
					<span class="badge">(= document.META$.correction.propertiesNames.length =)</span>
				</span>
				<span ng-if="! document.hasCorrection()">
					(= document.publicationStatus | rbsStatusLabel =)
				</span>
				<i class="icon-circle-arrow-right"></i>
			</a>
		</div>
		<h2>
			(= document.label || title =)
			<small>(=subTitle=)</small>
		</h2>
	</div>

	<div ng-show="showLocalCopyMessage && hasLocalCopy()" class="alert alert-warning">
		<button type="button" class="close" ng-click="showLocalCopyMessage=false">&times;</button>
		<h4>{{ i18n('m.rbs.admin.admin.document_modify_without_save_title') }}</h4>
		{{ i18n('m.rbs.admin.admin.document_modify_localcopy_p1', ['ucf']) }}
		<button type="button" class="btn btn-success btn-sm" ng-click="mergeLocalCopy()">{{ i18n('m.rbs.admin.admin.document_modify_localcopy_p2') }}</button>
		{{ i18n('m.rbs.admin.admin.document_modify_localcopy_p3') }}
		<button type="button" class="btn btn-warning btn-sm" ng-click="removeLocalCopy()">{{ i18n('m.rbs.admin.admin.document_modify_localcopy_p4') }}</button>
		{{ i18n('m.rbs.admin.admin.document_modify_localcopy_p5') }}
	</div>

	<div class="embedded-content"></div>
</div>
