<div class="page-header">

	<form ng-show="! document" class="form-inline pull-right" ng-submit="textSearch = search || '...'" style="width: 200px;text-align: right;">
		<div class="form-group">
			<label class="sr-only" for="rbsPageHeaderSearchField">{{ i18n('m.rbs.admin.admin.search', ['ucf', 'etc']) }}</label>
			<div class="input-group input-group-sm">
				<input type="text" class="form-control" id="rbsPageHeaderSearchField" placeholder="{{ i18nAttr('m.rbs.admin.admin.search', ['ucf', 'etc']) }}" ng-model="search"/>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default" title="{{ i18nAttr('m.rbs.admin.admin.search', ['ucf']) }}">
						<i class="icon-search"></i>
					</button>
				</span>
			</div>
		</div>
	</form>

	<div class="clearfix">
		<div class="pull-right" ng-if="document !== null && ! document.isNew() && (document.publicationStatus !== null || document.hasCorrection())">
			<a href="javascript:;" ng-href="(= document | rbsURL:'workflow' =)" class="btn" ng-class="{true: 'btn-success', false: 'btn-default'}[document.publicationStatus=='PUBLISHABLE']">
				<status class="small" ng-model="document"></status>
				<span ng-if="document.hasCorrection()">
					{{ i18n('m.rbs.admin.admin.correction', ['ucf']) }}
					<span class="badge">(= document.META$.correction.propertiesNames.length =)</span>
				</span>
				<span ng-if="! document.hasCorrection()">
					(= document.publicationStatus | statusLabel =)
				</span>
				<i class="icon-circle-arrow-right"></i>
			</a>
		</div>
		<h2>
			(= document.label || currentFolder.label || title =)
			<small>(=subTitle=)</small>
		</h2>
	</div>

	<div ng-show="document.META$.localCopy && localCopyMerged" class="alert alert-warning">
		<button type="button" class="close" ng-click="localCopyMerged=false">&times;</button>
		<h4>{{ i18n('m.rbs.admin.admin.document_modify_without_save_title') }}</h4>
		{{ i18n('m.rbs.admin.admin.document_modify_without_save_content') }}
	</div>

	<div class="embedded-content"></div>
</div>
