<p>{{ i18n('m.rbs.admin.admin.reorderDescription', ['ucf']) | raw }}</p>

<rbs-token-list items="documents" class="rows" readonly="true"></rbs-token-list>

<div class="form-actions">
	<button type="button" class="btn btn-default" data-ng-click="useAlphabeticalSort()">{{ i18n('m.rbs.admin.admin.alphabeticalSort', ['ucf']) }}</button>
	<button type="button" class="btn btn-default" data-ng-click="reverseSort()">{{ i18n('m.rbs.admin.admin.reverseSort', ['ucf']) }}</button>

	<button type="button" class="btn pull-right btn-primary" data-ng-click="save()" data-ng-disabled="isUnchanged()"><i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.submit', ['ucf']) }}</button>
	<button type="button" class="btn pull-right" data-ng-click="revert()" data-ng-disabled="isUnchanged()"><i class="icon-undo"></i> {{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}</button>
</div>