<div class="richtext-input tabbable">
	<ul data-ng-show="false">
		<li class="active">
			<a href="javascript:;" data-role="richtext-editor" data-toggle="tab"
				data-target="#rbsRichtextInput(=editorId=)TabEditor">
			</a>
		</li>
		<li>
			<a href="javascript:;" data-role="richtext-select-media" data-toggle="tab"
				data-target="#rbsRichtextInput(=editorId=)TabSelectMedia">
			</a>
		</li>
		<li>
			<a href="javascript:;" data-role="richtext-select-publishable" data-toggle="tab"
				data-target="#rbsRichtextInput(=editorId=)TabSelectPublishable">
			</a>
		</li>
		<li>
			<a href="javascript:;" data-role="richtext-select-mentionable" data-toggle="tab"
				data-target="#rbsRichtextInput(=editorId=)TabSelectMentionable">
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="rbsRichtextInput(=editorId=)TabEditor">
			<div data-ng-switch="editorMode">
				<div data-ng-switch-when="Markdown" class="richtext-input-markdown">
					{% include '@Rbs_Admin/js/directives/rich-text-input-markdown.twig' %}
				</div>

				<div data-ng-switch-when="Html" class="richtext-input-wysiwyg">
					<rbs-wysiwyg-editor name="wysiwygContent" ng-model="wysiwyg.content"
						data-draggable="(= draggable ? 'true' : 'false' =)">
					</rbs-wysiwyg-editor>
				</div>

				<div data-ng-switch-default="" class="richtext-input-chooser">
					{% include '@Rbs_Admin/js/directives/rich-text-input-choose.twig' %}
				</div>
			</div>
		</div>
		<div class="tab-pane select-media" id="rbsRichtextInput(=editorId=)TabSelectMedia">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.richtext_select_media', ['ucf']) }}</h3>
				</div>
				<div class="panel-body">
					<div data-ng-form="" class="form-vertical">
						<rbs-document-picker-multiple data-ng-model="insertionContext.mediasToInsert"
							data-context-key="(= contextKey + '_mediaToInsert' =)"
							select-model="{name: ['Rbs_Media_Image','Rbs_Media_Video','Rbs_Media_File']}"></rbs-document-picker-multiple>
					</div>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-default pull-right" data-ng-click="closeSelection()">
						{{ i18n('m.rbs.admin.admin.richtext_button_cancel_insertion', ['ucf']) }}
					</button>
					<button type="button" class="btn btn-primary" data-ng-disabled="!canInsertMedia()"
						data-ng-click="insertMedia()">
						{{ i18n('m.rbs.admin.admin.richtext_button_insert', ['ucf']) }}
					</button>
				</div>
			</div>
		</div>
		<div class="tab-pane select-publishable" id="rbsRichtextInput(=editorId=)TabSelectPublishable">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.richtext_select_publishable_document', ['ucf']) }}</h3>
				</div>
				<div class="panel-body">
					<div data-ng-form="" class="form-vertical">
						<rbs-document-picker-multiple data-ng-model="insertionContext.documentsToLink"
							data-context-key="(= contextKey + '_documentsToLink' =)"
							select-model="{publishable:true, abstract:false}"></rbs-document-picker-multiple>
					</div>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-default pull-right" data-ng-click="closeSelection()">
						{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
					</button>
					<button type="button" class="btn btn-primary" data-ng-disabled="!canLinkDocument()"
						data-ng-click="linkDocument()">
						{{ i18n('m.rbs.admin.admin.richtext_button_insert', ['ucf']) }}
					</button>
				</div>
			</div>
		</div>
		<div class="tab-pane select-mentionable" id="rbsRichtextInput(=editorId=)TabSelectMentionable">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.richtext_select_mentionable_document', ['ucf']) }}</h3>
				</div>
				<div class="panel-body">
					<div data-ng-form="" class="form-vertical">
						<rbs-document-picker-multiple data-ng-model="insertionContext.documentsToMention"
							data-context-key="(= contextKey + '_documentsToMention' =)"
							select-model="{name: ['Rbs_User_User', 'Rbs_User_Group']}"></rbs-document-picker-multiple>
					</div>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-default pull-right" data-ng-click="closeSelection()">
						{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
					</button>
					<button type="button" class="btn btn-primary" data-ng-disabled="!canInsertMention()"
						data-ng-click="insertMention()">
						{{ i18n('m.rbs.admin.admin.richtext_button_insert', ['ucf']) }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
