<div class="panel panel-primary">
	<div class="panel-heading">
		<button type="button" class="close pull-right" ng-click="cancelFiltersAndClose()" title="{{ i18nAttr('m.rbs.admin.filters.cancelAllFilters', ['ucf']) }}">&times;</button>
		<h3 class="panel-title"><i class="icon-search"></i> <span>{{ i18n('m.rbs.admin.filters.title', ['ucf']) }}</span></h3>
	</div>

	<form class="search-filters" ng-submit="applyFilters()">

		<div class="panel-body">

			<div>
				<label>{{ i18n('m.rbs.admin.filters.requiredConditions', ['ucf']) }}</label>
				<div class="btn-group">
					<button title="{{ i18nAttr('m.rbs.admin.filters.allTooltip') }}" type="button" class="btn btn-default btn-sm" ng-class="{active: operator=='and'}" ng-click="operator='and'">{{ i18n('m.rbs.admin.filters.all') }}</button>
					<button title="{{ i18nAttr('m.rbs.admin.filters.atLeastOneTooltip') }}" type="button" class="btn btn-default btn-sm" ng-class="{active: operator=='or'}" ng-click="operator='or'">{{ i18n('m.rbs.admin.filters.atLeastOne') }}</button>
				</div>
			</div>

			<div class="filters">

				<div class="filter-row" ng-repeat="applied in appliedFilters">

					<div class="filter-cell" style="width:30px;">
						<button class="btn btn-default rounded-icon" type="button" ng-click="removeFilter($index)" title="{{ i18nAttr('m.rbs.admin.filters.deleteThisFilter', ['ucf']) }}"><i class="icon-minus"></i></button>
					</div>

					<div class="filter-cell" style="width:220px;">
						<select ng-model="applied.filter" class="form-control" ng-options="f.label for (name,f) in availableFilters"></select>
					</div>

					<div class="filter-cell" ng-switch="applied.filter.type">

						<!-- String -->

						<div ng-switch-when="String" class="form-inline" ng-switch="applied.filter.possibleValues.length > 0">

							<div ng-switch-when="true">
								<select ng-model="applied.op" class="form-control">
									<option value="eq">{{ i18n('m.rbs.admin.filters.is') }}</option>
									<option value="neq">{{ i18n('m.rbs.admin.filters.isNot') }}</option>
								</select>
								<select ng-model="applied.value" class="form-control" data-role="filter-value" ng-options="o.label for o in applied.filter.possibleValues"></select>
							</div>

							<div ng-switch-when="false">
								<select ng-model="applied.op" class="form-control">
									<option value="contains">{{ i18n('m.rbs.admin.filters.contains') }}</option>
									<option value="beginsWith">{{ i18n('m.rbs.admin.filters.startsWith') }}</option>
									<option value="eq">{{ i18n('m.rbs.admin.filters.equals') }}</option>
									<option value="endsWith">{{ i18n('m.rbs.admin.filters.endsWith') }}</option>
								</select>
								<input type="text" data-role="filter-value" class="form-control" ng-model="applied.value"/>
							</div>

						</div>

						<!-- Integer -->

						<div ng-switch-when="Integer" class="form-inline">

							<select ng-hide="applied.filter.possibleValues" ng-model="applied.op" class="form-control">
								<option value="eq">{{ i18n('m.rbs.admin.filters.equals') }}</option>
								<option value="gte">{{ i18n('m.rbs.admin.filters.isGreaterThanOrEquals') }}</option>
								<option value="lte">{{ i18n('m.rbs.admin.filters.isLessThanOrEquals') }}</option>
								<option value="neq">{{ i18n('m.rbs.admin.filters.isDifferentOf') }}</option>
							</select>
							<input ng-hide="applied.filter.possibleValues" type="number" data-role="filter-value" class="form-control" ng-model="applied.value"/>

							<select ng-show="applied.filter.possibleValues" ng-model="applied.op" class="form-control">
								<option value="eq">{{ i18n('m.rbs.admin.filters.is') }}</option>
								<option value="neq">{{ i18n('m.rbs.admin.filters.isNot') }}</option>
							</select>
							<select ng-show="applied.filter.possibleValues" class="form-control" ng-model="applied.value" data-role="filter-value" ng-options="o.label for o in applied.filter.possibleValues"></select>

						</div>

						<!-- DateTime -->

						<div ng-switch-when="DateTime" class="form-inline">
							<select ng-model="applied.op" class="form-control">
								<option value="lte">{{ i18n('m.rbs.admin.filters.isBefore') }}</option>
								<option value="eq">{{ i18n('m.rbs.admin.filters.isOn') }}</option>
								<option value="gte">{{ i18n('m.rbs.admin.filters.isAfter') }}</option>
							</select>
							<date-selector ng-model="applied.value" data-role="filter-value" style="display:inline-block"/>
						</div>

						<!-- Boolean -->

						<div ng-switch-when="Boolean" class="form-inline">
							<switch data-role="filter-value" ng-model="applied.value"/>
						</div>

						<!-- Document  -->

						<div ng-switch-when="Document" class="form-inline">
							<div class="document-picker-single"
							     ng-model="applied.value"
							     accepted-model="(= applied.filter.documentType =)"
							     embed-in="#searchFiltersDocumentPickerEmbedContainer(=$index=)"
							     input-css-class="input-small"
							     allow-creation="false" allow-edition="false"></div>
						</div>

						<div id="searchFiltersDocumentPickerEmbedContainer(=$index=)"></div>
					</div>

				</div>

			</div>

			<div class="btn-toolbar">
				<button type="button" class="btn btn-default btn-sm" ng-click="addFilter()"><i class="icon-plus"></i> {{ i18n('m.rbs.admin.filters.addFilter', ['ucf']) }}</button>
			</div>

		</div>

		<div class="panel-footer">
			<div class="btn-toolbar">
				<button type="submit" class="btn btn-primary" ng-disabled="isUnchanged()" ng-class="{pulse: !isUnchanged()}"><i class="icon-filter icon-white"></i> {{ i18n('m.rbs.admin.filters.filter', ['ucf']) }}</button>
				<button type="button" class="btn btn-default" ng-click="addToFavorites($event)" ng-disabled="! isUnchanged()">{{ i18n('m.rbs.admin.filters.saveSearch', ['ucf']) }}</button>
			</div>
		</div>
	</form>

</div>