<div class="btn-toolbar">
	<rbs-kb-switch>
		<div class="btn-group">
			<button class="btn btn-default btn-sm btn-icon" disabled="disabled"><i class="icon-plus"></i></button>
			<button class="btn btn-default btn-sm btn-icon" ng-show="canInsertSideways()" ng-click="newBlockLeft()" title="{{ i18nAttr('m.rbs.admin.admin.insert_block_left', ['ucf']) }}"><i class="icon-arrow-left"></i></button>
			<button class="btn btn-default btn-sm btn-icon" ng-show="canInsertSideways()" ng-click="newBlockRight()" title="{{ i18nAttr('m.rbs.admin.admin.insert_block_right', ['ucf']) }}"><i class="icon-arrow-right"></i></button>
			<button rbs-kb-when="alt" class="btn btn-default btn-sm btn-icon" ng-click="newBlockTop()" title="{{ i18nAttr('m.rbs.admin.admin.insert_block_top', ['ucf']) }}">
				<i class="icon-double-angle-up"></i>
			</button>
			<button rbs-kb-default="" class="btn btn-default btn-sm btn-icon" ng-click="newBlockBefore()" title="{{ i18nAttr('m.rbs.admin.admin.insert_block_before', ['ucf']) }}">
				<i class="icon-arrow-up"></i>
			</button>
			<button rbs-kb-when="alt" class="btn btn-default btn-sm btn-icon" ng-click="newBlockBottom()" title="{{ i18nAttr('m.rbs.admin.admin.insert_block_bottom', ['ucf']) }}">
				<i class="icon-double-angle-down"></i>
			</button>
			<button rbs-kb-default="" class="btn btn-default btn-sm btn-icon" ng-click="newBlockAfter()" title="{{ i18nAttr('m.rbs.admin.admin.insert_block_after', ['ucf']) }}">
				<i class="icon-arrow-down"></i>
			</button>
		</div>
	</rbs-kb-switch>
	<div class="btn-group">
		<button ng-if="isInColumnLayout()" class="btn btn-default btn-sm btn-icon" ng-click="selectParentRow()" title="{{ i18nAttr('m.rbs.admin.admin.parameterize_columns', ['ucf']) }}"><i class="icon-columns"></i></button>
	</div>
	<button class="btn btn-danger btn-sm btn-icon pull-right" type="button" ng-click="removeBlock()" title="{{ i18nAttr('m.rbs.admin.admin.delete_block', ['ucf']) }}"><i class="icon-trash"></i></button>
</div>

<hr />

<div ng-show="blockParametersLoading">
	{{ i18n('m.rbs.admin.admin.loading', ['ucf']) }}
</div>
<div ng-hide="blockParametersLoading">
	<div ng-hide="block.name" class="form-group">
		<label class="control-label">{{ i18n('m.rbs.admin.admin.block_type', ['ucf']) }}</label>
		<div class="controls">
			<rbs-block-selector block="blockType" selected="(= block.name =)"></rbs-block-selector>
		</div>
	</div>

	<div ng-show="block.name">
		<div class="form-group" ng-hide="isRichText()">
			<label class="control-label" for="block_(=block.id=)_label">{{ i18n('m.rbs.admin.admin.block_label', ['ucf']) }}</label>
			<div class="controls">
				<input class="form-control input-sm" id="block_(=block.id=)_label" type="text" ng-model="block.label" placeholder="{{ i18n('m.rbs.admin.admin.block_name') }}"/>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label">{{ i18nAttr('m.rbs.admin.admin.block_visibility', ['ucf']) }}</label>
			<div class="controls">
				<div class="btn-toolbar" role="toolbar">
					<div class="btn-group">
						<button type="button" class="btn btn-xs" ng-click="toggleVisibility('X')" ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('X')]">{{ i18n('m.rbs.admin.admin.block_visibility_x', ['ucf']) }}</button>
						<button type="button" class="btn btn-xs" ng-click="toggleVisibility('S')" ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('S')]">{{ i18n('m.rbs.admin.admin.block_visibility_s', ['ucf']) }}</button>
						<button type="button" class="btn btn-xs" ng-click="toggleVisibility('M')" ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('M')]">{{ i18n('m.rbs.admin.admin.block_visibility_m', ['ucf']) }}</button>
						<button type="button" class="btn btn-xs" ng-click="toggleVisibility('L')" ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('L')]">{{ i18n('m.rbs.admin.admin.block_visibility_l', ['ucf']) }}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label">{{ i18nAttr('m.rbs.admin.admin.block_ttl', ['ucf']) }}</label>
			<div class="controls">
				<div class="form-inline">
					<div class="btn-group">
						<button class="btn btn-default btn-sm" type="button" ng-click="setTTL(0)" ng-class="{true: 'btn-success active', false: 'btn-default'}[hasTTL(0)]">{{ i18n('m.rbs.admin.admin.block_ttl_none', ['ucf']) }}</button>
						<button class="btn btn-default btn-sm" type="button" ng-click="setTTL(60)" ng-class="{true: 'btn-success active', false: 'btn-default'}[hasTTL(60)]" title="{{ i18nAttr('m.rbs.admin.admin.block_ttl_1minute', ['ucf']) }}">{{ i18n('m.rbs.admin.admin.block_ttl_1m', ['ucf']) }}</button>
						<button class="btn btn-default btn-sm" type="button" ng-click="setTTL(600)" ng-class="{true: 'btn-success active', false: 'btn-default'}[hasTTL(600)]" title="{{ i18nAttr('m.rbs.admin.admin.block_ttl_10minutes', ['ucf']) }}">{{ i18n('m.rbs.admin.admin.block_ttl_10m', ['ucf']) }}</button>
						<button class="btn btn-default btn-sm" type="button" ng-click="setTTL(3600)" ng-class="{true: 'btn-success active', false: 'btn-default'}[hasTTL(3600)]" title="{{ i18nAttr('m.rbs.admin.admin.block_ttl_1hour', ['ucf']) }}">{{ i18n('m.rbs.admin.admin.block_ttl_1h', ['ucf']) }}</button>
					</div>
					<input type="number" rbs-integer="" class="form-control input-sm" ng-model="blockParameters.TTL" size="4" />
				</div>
			</div>
		</div>

		<hr />

		<div data-role="blockParametersContainer"></div>
		<div ng-transclude=""></div>
	</div>
</div>
