<div>
	<p>{{ i18n('m.rbs.admin.admin.time_zone_selector_text') | raw }}</p>

	<form rbs-form-simple-filter="" filter="tzFilter"></form>
	<select class="input-block-level" size="7" rbs-items-from-collection="Rbs_Generic_Collection_TimeZones" filter="tzFilter" ng-model="selectedTimeZone"></select>
	<div class="well well-small margin-top">
		<i class="icon-time icon-4x pull-left"></i>
		{{ i18n('m.rbs.admin.admin.current_time_in_selected_timezone', ['ucf']) }}
		<h4>(= formattedTz =) <span class="muted">(GMT (= tzOffset =))</span></h4>
	</div>

	<div class="form-actions">
		<button type="button" class="btn pull-right" ng-click="cancel()">{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}</button>
		<button type="button" class="btn btn-primary pull-right" ng-click="select()"><span ng-if="!saveSetting">{{ i18n('m.rbs.admin.admin.use', ['ucf']) }}</span><span ng-if="saveSetting">{{ i18n('m.rbs.admin.admin.always_use', ['ucf']) }}</span></button>
		<label class="checkbox">
			{{ i18n('m.rbs.admin.admin.always_use_this_timezone', ['ucf']) }}
			<input type="checkbox" ng-model="saveSetting"/>
		</label>
	</div>
</div>