<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field-integer property="rating" required="true" min="0" max="100"
			label="{{ i18nAttr('m.rbs.review.documents.review.rating', ['ucf']) }}">
		</rbs-field-integer>

		<rbs-field-rich-text property="content" required="true"
			label="{{ i18nAttr('m.rbs.review.documents.review.content', ['ucf']) }}">
		</rbs-field-rich-text>

		<rbs-field-text property="pseudonym" required="true"
			label="{{ i18nAttr('m.rbs.review.documents.review.pseudonym', ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker property="target" required="true"
			label="{{ i18nAttr('m.rbs.review.documents.review.target', ['ucf']) }}"
			selector-title="{{ i18nAttr('m.rbs.review.documents.review.select-target', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field-picker property="section" required="true"
			label="{{ i18nAttr('m.rbs.review.documents.review.section', ['ucf']) }}"
			accepted-model="Rbs_Website_Section"
			selector-title="{{ i18nAttr('m.rbs.review.documents.review.select-section', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field-date property="reviewDate" required="true"
			label="{{ i18nAttr('m.rbs.review.documents.review.reviewDate', ['ucf']) }}">
		</rbs-field-date>

		<rbs-field-boolean property="promoted"
			label="{{ i18nAttr('m.rbs.review.documents.review.promoted', ['ucf']) }}">
		</rbs-field-boolean>

	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>