<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a rbs-active-route="" href="Rbs/Order/Order/" rbs-panel-link="">{{ i18n('m.rbs.order.admin.order_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Order/Invoice/" rbs-panel-link="">{{ i18n('m.rbs.order.admin.invoice_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Order/Process/" rbs-panel-link="">{{ i18n('m.rbs.commerce.admin.process_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Order/Shipment/" rbs-panel-link="">{{ i18n('m.rbs.order.admin.shipment_list', ['ucf']) }}</a>
</rbs-links-panel>