<div class="row" ng-controller="Rbs_Tag_Tag_TagsController">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Tag'|rbsURL:'home' =)">{{ i18nAttr('m.rbs.tag.admin.module_name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Tag_Tag'|rbsURL:'list' =)">{{ i18nAttr('m.rbs.tag.admin.tag_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-aside-plugin-menu></rbs-aside-plugin-menu>
	</div>

	<div rbs-main-column>
		<page-header title="{{ i18nAttr('m.rbs.tag.admin.tag_list', ['ucf']) }}"></page-header>

		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Tag_Tag" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Tag_Tag' | rbsURL:'new' =)">{{ i18n('m.rbs.tag.admin.tag_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLRbsTag1"
				model="Rbs_Tag_Tag" children-property="children" use-properties="children userTag"
				filter-collection="filter">

			<column name="label" primary="true">
				<a href ng-href="(= doc | rbsURL:'form' =)"><span rbs-tag="doc"></span></a>
				<span ng-if="doc.children.length > 0" class="badge" title="">(= doc.children.length | number =)</span>
			</column>

			<column name="color" align="center" width="160px">
				<rbs-tag-color-selector ng-model="doc.color" ng-change="save(doc)"></rbs-tag-color-selector>
			</column>

			<column name="module" converter-params="modules" converter="collection"></column>

			<preview>
				<span ng-pluralize="" count="doc.children.length" when="{0: '{{ i18nAttr('m.rbs.tag.admin.tag_no_child_tag') }}',
					one: '{{ i18nAttr('m.rbs.tag.admin.tag_child_tag') }}',
					other: '{{ i18nAttr('m.rbs.tag.admin.tag_child_tags') }}'}"></span>
				<span ng-repeat="tag in doc.children"><a href ng-href="(= tag | rbsURL:'tree' =)"><span rbs-tag="tag"></span></a></span>
			</preview>

		</rbs-document-list>
	</div>

</div>
