<div class="row" ng-controller="Rbs_Tag_Tag_MyTagsController">

	<div rbs-aside-column>
		<rbs-aside-plugin-menu></rbs-aside-plugin-menu>
	</div>

	<div rbs-main-column>
		<rbs-page-header title="{{ i18nAttr('m.rbs.tag.admin.mytags_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Tag_Tag" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Tag_Tag' | rbsURL:'new' =)">{{ i18n('m.rbs.tag.admin.tag_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLRbsTag1"
				model="Rbs_Tag_Tag" use-properties="children userTag" filter-collection="filter">

			<rbs-column name="label" primary="true">
				<a href ng-href="(= doc | rbsURL:'form' =)"><span rbs-tag="doc"></span></a>
				<span ng-if="doc.children.length > 0" class="badge" title="">(= doc.children.length | number =)</span>
			</rbs-column>

			<rbs-column name="color" align="center" width="160px">
				<rbs-tag-color-selector ng-model="doc.color" ng-change="save(doc)"></rbs-tag-color-selector>
			</rbs-column>

			<rbs-column name="module" converter-params="modules" converter="collection"></rbs-column>

			<rbs-preview>
				<span ng-pluralize="" count="doc.children.length" when="{0: '{{ i18nAttr('m.rbs.tag.admin.tag_no_child_tag') }}',
					one: '{{ i18nAttr('m.rbs.tag.admin.tag_child_tag') }}',
					other: '{{ i18nAttr('m.rbs.tag.admin.tag_child_tags') }}'}"></span>
				<span ng-repeat="tag in doc.children"><a href ng-href="(= tag | rbsURL:'tree' =)"><span rbs-tag="tag"></span></a></span>
			</rbs-preview>

		</rbs-document-list>
	</div>

</div>