<form name="form" data-ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="document.product.label"
			label="{{ i18nAttr(propertyKey('Rbs_Catalog_ProductListItem', 'product'), ['ucf']) }}"
			disabled="product">
		</rbs-field-text>

		<rbs-field-text ng-if="document.productList" property="document.productList.label"
			label="{{ i18nAttr(propertyKey('Rbs_Catalog_ProductListItem', 'productList'), ['ucf']) }}"
			disabled="productList">
		</rbs-field-text>

		<rbs-field-picker ng-controller="Rbs_Catalog_ProductList_ProductListController" ng-if="!document.productList"
			property="document.productList"
			label="{{ i18nAttr(propertyKey('Rbs_Catalog_ProductListItem', 'productList'), ['ucf']) }}"
			accepted-model="Rbs_Catalog_ProductList"
			selector-title="{{ i18nAttr('m.rbs.catalog.admin.productlist_productlist_picker_title', ['ucf']) }}">
		</rbs-field-picker>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-rbs-document-system-info-section="">
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>