<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-picker property="website" required="true" label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'website'), ['ucf']) }}"
			accepted-model="Rbs_Website_Website"
			selector-title="{{ i18nAttr('m.rbs.website.admin.functionalpage_website_picker_title', ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.website.admin.functionalpage_website_picker_title', ['ucf']) }}</span>
		</rbs-field-picker>

		<hr />

		<rbs-field-text
			property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'title'), ['ucf']) }}"
			property="title"
			rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.generic.admin.synchronize_title_label', ['ucf']) }}"
			required="true">
		</rbs-field-text>

		<rbs-field-document-select
			label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'pageTemplate'), ['ucf']) }}"
			empty-label="{{ i18nAttr('m.rbs.website.admin.page_empty_pagetemplate', ['ucf']) }}"
			required="true" property="pageTemplate" ng-model="document.pageTemplate"
			accepted-model="Rbs_Theme_Template" filter-property="mailSuitable" filter-value="0">
		</rbs-field-document-select>

		<div rbs-tip="Rbs_Website_FunctionalPageEditorFunctions">
			{{ i18n('m.rbs.website.admin.functional_page_editor_help') | raw }}
		</div>

		<hr />

		<rbs-field-boolean property="useCache"
				label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'useCache'), ['ucf']) }}">
		</rbs-field-boolean>

		<div data-ng-show="document.useCache">
			<rbs-field property="TTL" label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'TTL'), ['ucf']) }}">
				<input class="form-control" size="7" rbs-smart-float="" ng-model="document.TTL" min="0" type="number" />
				<span class="help-block">{{ i18n('m.rbs.website.admin.staticpage_ttl_help') }}</span>
			</rbs-field>
		</div>
	</fieldset>

	<fieldset ng-show="section=='content'" hide-when-create="true"
		data-form-section-label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'editableContent'), ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">
		<rbs-structure-editor name="contents" ng-model="document.editableContent" template="(=pageTemplate=)">
		</rbs-structure-editor>
	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-rbs-document-system-info-section="">
	</fieldset>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>