<div class="row">
	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<rbs-location href="(= 'Rbs_Website'|rbsURL:'home' =)">{{ i18n('m.rbs.website.admin.module_name', ['ucf']) }}</rbs-location>
			<rbs-location href="(= 'Rbs_Website_FunctionalPage'|rbsURL:'list' =)">{{ i18n('m.rbs.website.admin.functionalpage_list', ['ucf']) }}</rbs-location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-aside-plugin-menu plugin="Rbs_Website"></rbs-aside-plugin-menu>
		<rbs-aside-tag-filter></rbs-aside-tag-filter>
	</div>

	<div rbs-main-column>
		<rbs-page-header title="{{ i18nAttr('m.rbs.website.admin.functionalpage_list', ['ucf']) }}"></rbs-page-header>

		<div rbs-tip="Rbs_Website_FunctionalPageListHeader">
			{{ i18n('m.rbs.website.admin.functional_page_list_help') | raw }}
		</div>

		<search-filters model="Rbs_Website_FunctionalPage" filter-query="query" text-search="textSearch"></search-filters>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Website_FunctionalPage' | rbsURL:'new' =)">{{ i18n('m.rbs.website.admin.functionalpage_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLRbsWebsiteFunctionalPage" model="Rbs_Website_FunctionalPage" filter-query="query"
			actions="default" correction="true">
			<rbs-column name="icon" width="30px" align="center">
				<span class="iconoverlay">
					<i class="icon-2x icon-file"></i>
				</span>
			</rbs-column>

			<rbs-column name="label" primary="true"></rbs-column>

			<rbs-column name="allSupportedFunctionsCode">
				<div ng-if="doc.allSupportedFunctionsCode">
					<span ng-repeat="func in doc.allSupportedFunctionsCode">
						<span class="label label-default">(= func =)</span>
					</span>
				</div>
			</rbs-column>
		</rbs-document-list>
	</div>
</div>