<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Website_FunctionalPage">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Website_FunctionalPage'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}

		<div class="panel panel-default" id="rbsWebsitePageBlockPropertiesAside" style="display: none;">
			<div class="panel-heading">
				<h3 class="panel-title">{{ i18n('m.rbs.website.admin.block_properties', ['ucf']) }}</h3>
			</div>
			<div class="panel-body">
				<div id="rbsStructureEditorBlockPropertiesPopup"
					data-no-block-text="{{ i18nAttr('m.rbs.website.admin.no_block_selected', ['ucf']) }}"
					data-edit-in-content="{{ i18nAttr('m.rbs.website.admin.edit_in_content', ['ucf']) }}">
					{{ i18n('m.rbs.website.admin.no_block_selected', ['ucf']) }}
				</div>
			</div>
		</div>

		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit="" data-rbs-document-editor-translate=""
			data-rbs-document-editor-rbs-website-functional-page-translate="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text property="title" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Website_StaticPage', 'title'), ['ucf']) }}">
				</rbs-field-text>

				<div data-rbs-tip="Rbs_Website_FunctionalPageEditorFunctions">
					{{ i18n('m.rbs.website.admin.functional_page_editor_help') | raw }}
				</div>
			</fieldset>

			<fieldset data-rbs-editor-section="content"
				data-editor-section-label="{{ i18nAttr(propertyKey('Rbs_Website_FunctionalPage', 'editableContent'), ['ucf']) }}"
				data-editor-section-icon="icon-align-left">
				<rbs-structure-editor name="contents" ng-model="document.editableContent" template="(=pageTemplate=)">
				</rbs-structure-editor>
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>