<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-text property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Website_StaticPage', 'label'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-text property="title" required="true" rbs-sync-value="document.label"
			sync-title="{{ i18nAttr('m.rbs.generic.admin.synchronize_title_label', ['ucf']) }}"
			label="{{ i18nAttr(propertyKey('Rbs_Website_StaticPage', 'title'), ['ucf']) }}">
		</rbs-field-text>

		<rbs-field-picker property="pageTemplate" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Website_StaticPage', 'pageTemplate'), ['ucf']) }}"
			accepted-model="Rbs_Theme_PageTemplate"
			selector-title="{{ i18nAttr('m.rbs.website.admin.staticpage_pagetemplate_picker_title', ['ucf']) }}">
		</rbs-field-picker>

		<hr />

		<rbs-field-picker property="section" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Website_StaticPage', 'section'), ['ucf']) }}"
			accepted-model="Rbs_Website_Section"
			selector-title="{{ i18nAttr('m.rbs.website.admin.staticpage_section_picker_title', ['ucf']) }}"
			allow-creation="false">
			<span class="help-block">{{ i18n('m.rbs.website.admin.staticpage_section_help') }}</span>
		</rbs-field-picker>

		<rbs-field-boolean property="hideLinks"
			label="{{ i18nAttr(propertyKey('Rbs_Website_StaticPage', 'hideLinks'), ['ucf']) }}">
			<span class="help-block">{{ i18n('m.rbs.website.admin.staticpage_hideLinks_help') }}</span>
		</rbs-field-boolean>

		<hr />

		<rbs-field-boolean property="useCache"
				label="{{ i18nAttr(propertyKey('Rbs_Website_StaticPage', 'useCache'), ['ucf']) }}">
		</rbs-field-boolean>

		<div data-ng-show="document.useCache">
			<rbs-field property="TTL" label="{{ i18nAttr(propertyKey('Rbs_Website_StaticPage', 'TTL'), ['ucf']) }}">
				<input class="form-control" size="7" smart-float="" ng-model="document.TTL" min="0" type="number" />
				<span class="help-block">{{ i18n('m.rbs.website.admin.page_ttl_help') }}</span>
			</rbs-field>
		</div>

	</fieldset>

	<fieldset ng-show="section=='content'" hide-when-create="true"
		data-form-section-label="{{ i18nAttr(propertyKey('Rbs_Website_StaticPage', 'editableContent'), ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<div rbs-tip="Rbs_PageEditor_Markdown">
			{{ i18n('m.rbs.admin.admin.rbs_pageeditor_markdown') | raw }}
		</div>

		<structure-editor property="editableContent" name="contents" ng-model="document.editableContent"
			template="(=pageTemplate=)">
		</structure-editor>
	</fieldset>

	<fieldset ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>