<div class="row" rbs-document-editor-base="" model="Rbs_Website_StaticPage">

	<div class="col-md-12">
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Website_StaticPage'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div rbs-aside-column>

		<rbs-default-asides-for-editor id="rbsWebsitePageDefaultAsides"></rbs-default-asides-for-editor>

		<div id="rbsWebsitePageBlockPropertiesAside" style="display: none;">

			<rbs-aside-editor-menu></rbs-aside-editor-menu>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ i18n('m.rbs.website.admin.block_properties', ['ucf']) }}</h3>
				</div>
				<div class="panel-body">
					<div id="rbsStructureEditorBlockPropertiesPopup"
						data-no-block-text="{{ i18nAttr('m.rbs.website.admin.no_block_selected', ['ucf']) }}"
						data-edit-in-content="{{ i18nAttr('m.rbs.website.admin.edit_in_content', ['ucf']) }}">
						{{ i18n('m.rbs.website.admin.no_block_selected', ['ucf']) }}
					</div>
				</div>
			</div>

			<hr/>

			<div class="rbs-aside-block rbs-aside-other-links">
				<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.other_operations', ['ucf']) }}<span ng-show="document"> {{ i18n('m.rbs.admin.admin.for') }}<br/>(= document.label =)</span></h3>
				<a rbs-aside-other-link href="(= document.pageTemplate | rbsURL =)">{{ i18n('m.rbs.website.admin.page_edit_template', ['ucf']) | raw }}</a>
			</div>

		</div>

	</div>

	<div class="document-form" rbs-main-column>

		<form ng-submit="submit()" rbs-document-editor-edit="" rbs-document-editor-i18n="" rbs-document-editor-rbs-website-staticpage="">

			<fieldset rbs-editor-section=""
			          data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
			          data-editor-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

				<rbs-field-text property="title" required="true"
				                label="{{ i18nAttr(propertyKey('Rbs_Website_StaticPage', 'title'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-structure-editor property="editableContent" name="contents" ng-model="document.editableContent"
				                      template="(=pageTemplate=)">
				</rbs-structure-editor>
			</fieldset>

			<fieldset rbs-editor-section="systeminfo"
			          data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
			          data-editor-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
			          data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>

		</form>
	</div>

</div>