<div data-rbs-website-interstitial="" data-modal-id="interstitial-{{ blockId }}" data-cache-key="{{ blockId }}"
	data-content-url="{{ contentUrl }}"></div>

<script type="text/ng-template" id="/rbsWebsiteInterstitial.tpl">
	<div id="interstitial-{{ blockId }}" class="modal fade">
		<div class="modal-dialog" data-ng-class="{'modal-sm': parameters.popinSize == 'small', 'modal-lg': parameters.popinSize == 'large'}">
			<div class="modal-content">
				{% if parameters.popinTitle %}
					<div class="modal-header">
						{% if parameters.allowClosing %}
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">{{ i18n('m.rbs.generic.front.close', ['ucf']) }}</span>
							</button>
						{% endif %}
						<h4 class="modal-title">{{ parameters.popinTitle }}</h4>
					</div>
				{% endif %}
				<div class="modal-body" data-ng-hide="hideModalContent">
					<div class="modal-main-content"></div>
				</div>
				{% if parameters.allowClosing %}
					<div class="modal-footer">
						<div class="text-center">
							<button type="button" class="btn btn-link" data-dismiss="modal">
								{{ i18n('m.rbs.website.front.interstitial_direct_access', ['ucf']) }}
							</button>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</script>