{% block rbsWebsiteSwitchLangUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
{% endblock rbsWebsiteSwitchLangUse %}

<div class="dropdown switch-language">
	{% if langsCount > 1 %}
	<a href="#" data-toggle="dropdown" class="dropdown-toggle">
		{{ block('rbsGenericIconLang') }} {{ currentLang }} <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		{% for key, lang in langs %}
			<li><a href="{{ contextualURL(currentDocument, NULL, currentQuery, key) }}">{{ lang }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		{{ block('rbsGenericIconLang') }} {{ currentLang }}
	{% endif %}
</div>


