<div class="row">

	<rbs-workspace-config menu="Rbs_Seo">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Seo'|rbsURL:'home' =)">{{ i18n('m.rbs.seo.admin.module_name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Seo_ModelConfiguration'|rbsURL:'list' =)">{{ i18nAttr('m.rbs.seo.documents.modelconfiguration_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<page-header title="{{ i18nAttr('m.rbs.seo.admin.document_seo_auto_generation', ['ucf']) }}"></page-header><br />
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Seo_ModelConfiguration" filter="filter" ></rbs-document-filter-panel>

		<div rbs-tip="Rbs_Seo_ModelConfigurationList">
			{{ i18n('m.rbs.seo.admin.modelconfiguration_list_help') | raw }}
		</div>

		<rbs-document-list data-dlid="DLCollectionModelConfiguration" model="Rbs_Seo_ModelConfiguration"
				filter-collection="filter" modificationDate="false" actions="">
			<quick-actions></quick-actions>
			<column name="label" primary="true" label="{{ i18n(propertyKey('Rbs_Seo_ModelConfiguration', 'label'), ['ucf']) }}"></column>
			<column name="documentSeoAutoGenerate" label="{{ i18n(propertyKey('Rbs_Seo_ModelConfiguration', 'documentSeoAutoGenerate'), ['ucf']) }}">
				(= doc.documentSeoAutoGenerate | rbsBoolean =)
			</column>
			<column name="sitemapDefaultChangeFrequency" label="{{ i18n(propertyKey('Rbs_Seo_ModelConfiguration', 'sitemapDefaultChangeFrequency'), ['ucf']) }}"></column>
			<column name="sitemapDefaultPriority" label="{{ i18n(propertyKey('Rbs_Seo_ModelConfiguration', 'sitemapDefaultPriority'), ['ucf']) }}"></column>
		</rbs-document-list>
	</div>

</div>