<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.seo.admin.modelconfiguration_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter"
			model="Rbs_Seo_ModelConfiguration"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="javascript:;" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>

		<rbs-document-list data-dlid="DLRbsSeoModelConfiguration" model="Rbs_Seo_ModelConfiguration"
			correction="true" modificationDate="false" actions="" filter-collection="filter">
			<rbs-quick-actions></rbs-quick-actions>
			<rbs-column name="label" primary="true"
				label="{{ i18n(propertyKey('Rbs_Seo_ModelConfiguration', 'label'), ['ucf']) }}"></rbs-column>
			<rbs-column name="documentSeoAutoGenerate"
				label="{{ i18n(propertyKey('Rbs_Seo_ModelConfiguration', 'documentSeoAutoGenerate'), ['ucf']) }}">
				(= doc.documentSeoAutoGenerate | rbsBoolean =)
			</rbs-column>
			<rbs-column name="sitemapDefaultChangeFrequency"
				label="{{ i18n(propertyKey('Rbs_Seo_ModelConfiguration', 'sitemapDefaultChangeFrequency'), ['ucf']) }}">
			</rbs-column>
			<rbs-column name="sitemapDefaultPriority"
				label="{{ i18n(propertyKey('Rbs_Seo_ModelConfiguration', 'sitemapDefaultPriority'), ['ucf']) }}"></rbs-column>
		</rbs-document-list>
	</div>
</div>