

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Seo_ModelConfiguration', 'defaultMetaTitle'), ['ucf']) }}">
			<div class="input-group">
				<input type="text" class="form-control" data-ng-model="document.defaultMetaTitle" />
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ i18n('m.rbs.seo.admin.meta_variables', ['ucf']) }} <span class="caret"></span></button>
					<ul class="dropdown-menu pull-right">
						<li data-ng-repeat="(key, variable) in metaVariables">
							<a href="" data-ng-click="addMetaVariable('defaultMetaTitle', key)">(= variable =)</a>
						</li>
					</ul>
				</div>
			</div>
		</rbs-field>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Seo_ModelConfiguration', 'defaultMetaDescription'), ['ucf']) }}">
			<div class="input-group">
				<input type="text" class="form-control" data-ng-model="document.defaultMetaDescription" />
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ i18n('m.rbs.seo.admin.meta_variables', ['ucf']) }} <span class="caret"></span></button>
					<ul class="dropdown-menu pull-right">
						<li data-ng-repeat="(key, variable) in metaVariables">
							<a href="" data-ng-click="addMetaVariable('defaultMetaDescription', key)">(= variable =)</a>
						</li>
					</ul>
				</div>
			</div>
		</rbs-field>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Seo_ModelConfiguration', 'defaultMetaKeywords'), ['ucf']) }}">
			<div class="input-group">
				<input type="text" class="form-control" data-ng-model="document.defaultMetaKeywords" />
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ i18n('m.rbs.seo.admin.meta_variables', ['ucf']) }} <span class="caret"></span></button>
					<ul class="dropdown-menu pull-right">
						<li data-ng-repeat="(key, variable) in metaVariables">
							<a href="" data-ng-click="addMetaVariable('defaultMetaKeywords', key)">(= variable =)</a>
						</li>
					</ul>
				</div>
			</div>
		</rbs-field>
	</fieldset>