<div>
{% for param in information.parametersInformation %}
	{% if param.name != 'TTL' %}
		{% set inputId = information.name ~ "_" ~ param.name %}
		<div class="form-group">
			<label class="control-label (= labelClass =)" for="{{ inputId }}">{{ param.label }}</label>
			<div class="controls (= controlsClass =)">
				{% if param.type == 'Integer' %}
					<input type="number" class="form-control"{% if param.required %} required="required"{% endif %} id="{{ inputId }}" name="{{ param.name }}" ng-model="blockParameters.{{ param.name }}" />
				{% elseif param.type == 'String' %}
					<input type="text" class="form-control"{% if param.required %} required="required"{% endif %} id="{{ inputId }}" name="{{ param.name }}" ng-model="blockParameters.{{ param.name }}" />
				{% elseif param.type == 'Email' %}
					<input type="email" class="form-control"{% if param.required %} required="required"{% endif %} id="{{ inputId }}" name="{{ param.name }}" ng-model="blockParameters.{{ param.name }}" />
				{% elseif param.type == 'Url' %}
					<input type="url" class="form-control"{% if param.required %} required="required"{% endif %} id="{{ inputId }}" name="{{ param.name }}" ng-model="blockParameters.{{ param.name }}" />
				{% elseif param.type == 'Boolean' %}
					<rbs-switch id="{{ inputId }}" ng-model="blockParameters.{{ param.name }}" />
				{% elseif param.type == 'LongString' %}
					<textarea class="form-control"{% if param.required %} required="required"{% endif %} id="{{ inputId }}" name="{{ param.name }}" ng-model="blockParameters.{{ param.name }}"></textarea>
				{% elseif param.type == 'RichText' %}
					<rbs-rich-text-input{% if param.required %} required="required"{% endif %} id="{{ inputId }}" ng-model="blockParameters.{{ param.name }}"></rbs-rich-text-input>
				{% elseif param.type == 'Collection' %}
					<select id="{{ inputId }}" name="{{ param.name }}" ng-model="blockParameters.{{ param.name }}" class="form-control" rbs-items-from-collection="{{ param.collectionCode }}"></select>
				{% elseif param.type == 'Document' or param.type == 'DocumentId' %}
					<rbs-document-picker-single data-navigation-label="{{ param.label }}" value-ids="true" hide-buttons-label="true"
							ng-model="blockParameters.{{ param.name }}"
						{% if param.allowedModelsNames is defined %}
							{% if param.allowedModelsNames|length == 1 %}accepted-model="{{ param.allowedModelsNames[0] }}"{% elseif param.allowedModelsNames|length > 1 %}select-model="{ name: {{ param.allowedModelsNames|json_encode }}}"{% endif %}
						{% endif %}></rbs-document-picker-single>
				{% elseif param.type == 'DocumentArray' or param.type == 'DocumentIdArray' %}
					<rbs-document-picker-multiple data-navigation-label="{{ param.label }}" value-ids="true" hide-buttons-label="true"
							ng-model="blockParameters.{{ param.name }}"
						{% if param.allowedModelsNames is defined %}
							{% if param.allowedModelsNames|length == 1 %}accepted-model="{{ param.allowedModelsNames[0] }}"{% elseif param.allowedModelsNames|length > 1 %}select-model="{ name: {{ param.allowedModelsNames|json_encode }}}"{% endif %}
						{% endif %}></rbs-document-picker-multiple>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endfor %}
</div>