<div>
	{% if query.model is empty %}
	<rbs-document-list data-dlid="DLDocumentPicker_UndefinedModel_{{ query.counter }}"
	                   model="(= dp.selectedModel.name =)"
	                   filter-query="query" extend="picker" actions="">
	{% else %}
	<rbs-document-list data-dlid="DLDocumentPicker{{ query.model }}"
	                   model="{{ query.model }}"
	                   filter-query="query" extend="picker" actions="">
	{% endif %}
		<column name="label" label="{{ i18n('m.rbs.generic.document.label', ['ucf']) }}">
			{% if (query.multiple) %}
			<span class="pull-right">
				<button type="button" class="btn btn-xs" ng-click="extend.replaceWithDocument(doc)"><i class="icon-arrow-right" title="{{ i18nAttr('m.rbs.admin.lists.replace-by-this', ['ucf']) }}"></i></button>
			</span>
			{% endif %}
			<a href="javascript:;" ng-click="extend.selectDocument(doc)">(=doc.label=)</a>
		</column>
	</rbs-document-list>
</div>