{% macro field(name, type, label, required, help) %}
	<div class="control-group property{% if required %} required{% endif %}"
		data-ng-class="{'success': hasCorrectionOnProperty('{{ name }}')}">
		<label class="control-label" for="{{ name }}">{{ i18n(label, ['ucf']) }}</label>
		<div class="controls">
			{% if type == 'Integer' %}
			<input type="number" class="input-mini" id="{{ name }}" name="{{ name }}" ng-model="document.{{ name }}" />
			{% elseif type == 'String' %}
			<input type="text" class="input-block-level" id="{{ name }}" name="{{ name }}" ng-model="document.{{ name }}" />
			{% elseif type == 'Email' %}
			<input type="email" class="input-block-level" id="{{ name }}" name="{{ name }}" ng-model="document.{{ name }}" />
			{% elseif type == 'Url' %}
			<input type="url" class="input-block-level" id="{{ name }}" name="{{ name }}" ng-model="document.{{ name }}" />
			{% elseif type == 'Boolean' %}
			<switch ng-model="document.{{ name }}" />
			{% elseif type == 'LongString' %}
			<textarea class="input-block-level" id="{{ name }}" name="{{ name }}" ng-model="document.{{ name }}"></textarea>
			{% elseif type == 'RichText' %}
			<rbs-rich-text-input ng-model="document.{{ name }}"></rbs-rich-text-input>
			{% endif %}
			{% if help %}
			<span class="help-block">
				{{ i18n(help) }}
			</span>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro readonly(name, label, help) %}
	<div class="control-group" data-ng-class="{'success': hasCorrectionOnProperty('{{ name }}')}">
		<label class="control-label" for="{{ name }}">{{ i18n(label, ['ucf']) }}</label>
		<div class="controls">
			<span class="uneditable-input input-block-level" id="{{ name }}" name="{{ name }}">(=document.{{ name }}=)</span>
			{% if help %}
				<span class="help-block">
					{{ i18n(help) }}
				</span>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro picker(name, model, label, required, help, selectorTitle, useModelPicker) %}
	<div class="control-group property{% if required %} required{% endif %}"
		data-ng-class="{'success': hasCorrectionOnProperty('{{ name }}')}">
		<label class="control-label" for="{{ name }}">{{ i18n(label, ['ucf']) }}</label>
		<div class="controls">
			<div class="document-picker-single"
				ng-model="document.{{ name }}"
				accepted-model="{{ model }}"
				property-label="{{ i18nAttr(label, ['ucf']) }}"
				selector-title="{{ i18nAttr(selectorTitle, ['ucf']) }}"
				allow-edition="true"
				{% if useModelPicker %}
				picker="model"
				{% endif %}
				allow-creation="true">
			</div>
			{% if help %}
				<span class="help-block">
					{{ i18n(help) }}
				</span>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro pickerMultiple(name, model, label, required, help, selectorTitle, useModelPicker) %}
	<div class="control-group property{% if required %} required{% endif %}"
		data-ng-class="{'success': hasCorrectionOnProperty('{{ name }}')}">
		<label class="control-label" for="{{ name }}">{{ i18n(label, ['ucf']) }}</label>
		<div class="controls">
			<div class="document-picker-multiple"
				ng-model="document.{{ name }}"
				accepted-model="{{ model }}"
				property-label="{{ i18nAttr(label, ['ucf']) }}"
				selector-title="{{ i18nAttr(selectorTitle, ['ucf']) }}"
				master-label="(=document.label=)"
				{% if useModelPicker %}
				picker="model"
				{% endif %}
				allow-edition="true">
			</div>
			{% if help %}
				<span class="help-block">
					{{ i18n(help) }}
				</span>
			{% endif %}
		</div>
	</div>
{% endmacro %}