{% import "@Admin/forms.twig" as forms %}
{% import "@Price/forms.twig" as priceforms %}

<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		{{ forms.picker('product', 'Rbs_Catalog_Product',
		'm.rbs.price.document.price.product',
		true, null,
		'm.rbs.price.document.price.product-picker-title') }}
		<div class="control-group property required">
			<label class="control-label" for="shop">
				{{ i18n('m.rbs.price.document.price.shop', ['ucf']) }}
			</label>

			<div class="controls">
				<select data-ng-model="document.shop" rbs-items-from-collection="Rbs_Catalog_Collection_Shops">
					<option value=""> {{ i18n('m.rbs.price.admin.js.select-shop', ['ucf']) }}</option>
				</select>
			</div>
		</div>

		<div class="control-group property required">
			<label class="control-label" data-not-a-property="" for="selectShops">
				{{ i18n('m.rbs.price.document.price.billingarea', ['ucf']) }}
			</label>

			<div class="controls">
				<div>
					<select ng-model="document.billingArea" ng-disabled="!document.shop"
						rbs-items-from-collection="Rbs_Price_Collection_BillingAreasForShop"
						rbs-items-collection-params="shopId:(=document.shop=)">
						<option value=""> {{ i18n('m.rbs.price.admin.js.select-billingarea', ['ucf']) }}</option>
					</select>
				</div>
				<table data-ng-show="taxInfo" class="table table-striped">
					<thead>
					<th>{{ i18n('m.rbs.price.document.tax', ['ucf']) }}</th>
					<th>{{ i18n('m.rbs.price.document.tax.category', ['ucf']) }}</th>
					</thead>
					<tbody>
					<tr data-ng-repeat="tax in taxInfo">
						<td>(=tax.code=)<br/>
							<small>(=tax.label=)</small>
						</td>
						<td>
							<select data-ng-model="document.taxCategories[tax.code]" class="input-medium" data-ng-options="c.code as c.formattedRate + '  (' + c.code + ')' for c in tax.categories">
								<option value="">{{ i18n('m.rbs.price.document.tax.not-applicable', ['ucf']) }}</option>
							</select>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<hr/>
		<div class="control-group property required"
			data-ng-class="{'success': hasCorrectionOnProperty('baseValue')}">
			<label class="control-label" for="baseValue">{{ i18n('m.rbs.price.document.price.basevalue', ['ucf']) }}</label>

			<div class="controls">
				<rbs-price-input data-ng-model="document.baseValue" data-currency-code="(=billingArea.currencyCode=)"
					data-price-with-tax="(=billingArea.boEditWithTax=)"
					></rbs-price-input>
			</div>
		</div>

		<div class="control-group property"
			data-ng-class="{'success': hasCorrectionOnProperty('ecoTax')}">
			<label class="control-label" for="ecoTax">{{ i18n('m.rbs.price.document.price.ecotax', ['ucf']) }}</label>

			<div class="controls">
				<rbs-price-input data-ng-model="document.ecoTax" data-currency-code="(=billingArea.currencyCode=)"
					data-price-with-tax="(=billingArea.boEditWithTax=)"/>
			</div>
		</div>

		<hr/>
		<span class="help-block">
			{{ i18n('m.rbs.price.document.price.discount-section-help', ['ucf']) }}
		</span>

		<div class="control-group">
			<label class="control-label" for="discount">{{ i18n('m.rbs.price.document.price.discount', ['ucf']) }}</label>

			<div class="controls">
				<input class="input-mini number" name="discount" id="discount" size="16" type="text"
					data-ng-model="document.discount"/>

				<div class="btn-group" data-toggle="buttons-radio">
					<button class="btn" type="button" data-ng-click="setDiscount('percent')" title="Pourcentage">%</button>
					<button data-ng-show="billingArea.currencyCode" class="btn" type="button" data-ng-click="setDiscount('fixedprice')" title="Prix barré">
						(=billingArea.currencyCode=)
					</button>
					<button class="btn" type="button" data-ng-click="setDiscount('reduction')" title="Valeur à déduire">
						<i class="icon-minus"></i>
					</button>
				</div>
			</div>
		</div>
		{{ forms.field('discountDetail', 'String', 'm.rbs.price.document.price.discountdetail', false) }}

		<div class="control-group property"
			data-ng-class="{'success': hasCorrectionOnProperty('finalValue')}">
			<label class="control-label" for="finalValue">{{ i18n('m.rbs.price.document.price.finalvalue', ['ucf']) }}</label>

			<div class="controls">
				<rbs-price-input data-ng-model="document.finalValue" data-currency-code="(=billingArea.currencyCode=)"
					data-price-with-tax="(=billingArea.boEditWithTax=)"/>
			</div>
		</div>

		<div class="alert" data-ng-show="document.finalPrice <= 0">
			Le prix final n'est pas correct !
		</div>
		<div class="alert" data-ng-show="document.finalPrice > document.basePrice">
			Hum... Le prix ne semble pas être si promotionnel que ça !
		</div>

		<hr/>
		<span class="help-block">
			{{ i18n('m.rbs.price.document.price.publication-section-help', ['ucf']) }}
		</span>

		<div class="control-group property">
			<label class="control-label"
				for="startActivation">{{ i18n('m.rbs.price.document.price.startactivation', ['ucf']) }}
			</label>

			<div class="controls">
				<date-selector data-ng-model="document.startActivation" name="startActivation"></date-selector>
				<div class="btn-toolbar">
					<div class="btn-group">
						<button data-ng-click="activationNow()" type="button" class="btn btn-small">{{ i18n('m.rbs.price.admin.js.now') }}</button>
						<button data-ng-click="activationTomorrow()" type="button" class="btn btn-small">{{ i18n('m.rbs.price.admin.js.tomorrow') }}</button>
						<button data-ng-click="activationNextMonday()" type="button" class="btn btn-small">{{ i18n('m.rbs.price.admin.js.nextmonday') }}</button>
						<button data-ng-click="activationNextMonth()" type="button" class="btn btn-small">{{ i18n('m.rbs.price.admin.js.nextmonth') }}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="control-group property">
			<label class="control-label"
				for="endActivation">{{ i18n('m.rbs.price.document.price.endactivation', ['ucf']) }}
			</label>

			<div class="controls">
				<date-selector data-ng-model="document.endActivation" name="endActivation"></date-selector>
				<div class="btn-toolbar">
					<div class="btn-group">
						<button data-ng-click="endActivationOneWeek()" data-ng-disabled="!document.startActivation" type="button" class="btn btn-small">{{ i18n('m.rbs.price.admin.js.add-one-week') }}</button>
						<button data-ng-click="endActivationTwoWeeks()" data-ng-disabled="!document.startActivation" type="button" class="btn btn-small">{{ i18n('m.rbs.price.admin.js.add-two-weeks') }}</button>
						<button data-ng-click="endActivationOneMonth()" data-ng-disabled="!document.startActivation" type="button" class="btn btn-small">{{ i18n('m.rbs.price.admin.js.add-one-month') }}</button>
					</div>
					<div class="btn-group">
						<button data-ng-click="endActivationTomorrow()" type="button" class="btn btn-small">{{ i18n('m.rbs.price.admin.js.tomorrow') }}</button>
						<button data-ng-click="endActivationEndOfWeek()" type="button" class="btn btn-small">{{ i18n('m.rbs.price.admin.js.end-of-week') }}</button>
						<button data-ng-click="endActivationEndOfMonth()" type="button" class="btn btn-small">{{ i18n('m.rbs.price.admin.js.end-of-month') }}</button>
					</div>
				</div>
			</div>
		</div>

		<hr/>
		<span class="help-block">
			{{ i18n('m.rbs.price.document.price.threshold-section-help', ['ucf']) }}
		</span>

		{{ forms.field('thresholdMin', 'Integer', 'm.rbs.price.document.price.thresholdmin', false) }}
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>