<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field-picker property="sku" label="{{ i18nAttr(propertyKey('Rbs_Price_Price', 'sku'), ['ucf']) }}"
			accepted-model="Rbs_Stock_Sku"
			selector-title="{{ i18nAttr('m.rbs.price.documents.price.sku-picker-title', ['ucf']) }}"
			allow-edition="true"
			allow-creation="false"
			required="true"
			ng-hide="hideSku">
		</rbs-field-picker>

		<rbs-field required="true" label="{{ i18nAttr(propertyKey('Rbs_Price_Price', 'webStore'), ['ucf']) }}">
			<select class="form-control" ng-required="true" ng-model="document.webStore" rbs-items-from-collection="Rbs_Store_Collection_WebStores">
				<option value=""> {{ i18n('m.rbs.store.admin.select_webstore', ['ucf']) }}</option>
			</select>
		</rbs-field>

		<rbs-field required="true" label="{{ i18nAttr(propertyKey('Rbs_Price_Price', 'billingArea'), ['ucf']) }}">
			<select class="form-control" ng-required="true" ng-model="document.billingArea" ng-disabled="!webStoreId"
				rbs-items-collection-params="webStoreId:(=webStoreId=)"
				rbs-items-from-collection="Rbs_Price_Collection_BillingAreasForWebStore">
				<option value=""> {{ i18n('m.rbs.price.admin.select_billingarea', ['ucf']) }}</option>
			</select>
			<table ng-show="taxInfo" class="table table-striped">
				<thead>
				<th>{{ i18n(modelKey('Rbs_Price_Tax'), ['ucf']) }}</th>
				<th>{{ i18n('m.rbs.price.documents.tax.category', ['ucf']) }}</th>
				</thead>
				<tbody>
				<tr ng-repeat="tax in taxInfo">
					<td>(=tax.code=)<br/>
						<small>(=tax.label=)</small>
					</td>
					<td>
						<select ng-model="document.taxCategories[tax.code]" class="input-medium" ng-options="c.code as c.formattedRate + '  (' + c.code + ')' for c in tax.categories">
							<option value="">{{ i18n('m.rbs.price.documents.tax.not-applicable', ['ucf']) }}</option>
						</select>
					</td>
				</tr>
				</tbody>
			</table>
		</rbs-field>

		<hr/>

		<rbs-field required="true" label="{{ i18nAttr(propertyKey('Rbs_Price_Price', 'boValue'), ['ucf']) }}">
			<rbs-price-input ng-model="document.boValue" data-currency-code="(=billingArea.currencyCode=)"
				data-price-with-tax="(=billingArea.boEditWithTax=)" />
		</rbs-field>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Price_Price', 'ecoTax'), ['ucf']) }}">
			<rbs-price-input ng-model="document.ecoTax" data-currency-code="(=billingArea.currencyCode=)"
				data-price-with-tax="(=billingArea.boEditWithTax=)" />
		</rbs-field>

		<hr/>

		<rbs-field-picker property="basePrice" label="{{ i18nAttr(propertyKey('Rbs_Price_Price', 'basePrice'), ['ucf']) }}"
				accepted-model="Rbs_Price_Price" picker="model"
				selector-title="{{ i18nAttr('m.rbs.price.documents.price.select-baseprice', ['ucf']) }}"
				allow-edition="true" allow-creation="true">
		</rbs-field-picker>

		<rbs-field-text ng-show="document.basePrice"
			property="discountDetail"
			label="{{ i18nAttr(propertyKey('Rbs_Price_Price', 'discountDetail'), ['ucf']) }}"
			input-class="input-block-level">
		</rbs-field-text>

		<hr/>
		<span class="help-block">
			{{ i18n('m.rbs.price.documents.price.publication-section-help', ['ucf']) }}
		</span>

		<div class="form-group property">
			<label class="col-md-3 control-label"
				for="startActivation">{{ i18n(propertyKey('Rbs_Price_Price', 'startActivation'), ['ucf']) }}
			</label>

			<div class="col-md-9 controls">
				<date-selector ng-model="document.startActivation" name="startActivation"></date-selector>
				<div class="btn-toolbar">
					<div class="btn-group">
						<button ng-click="activationNow()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.price.admin.now') }}</button>
						<button ng-click="activationTomorrow()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.price.admin.tomorrow') }}</button>
						<button ng-click="activationNextMonday()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.price.admin.nextmonday') }}</button>
						<button ng-click="activationNextMonth()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.price.admin.nextmonth') }}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group property">
			<label class="col-md-3 control-label"
				for="endActivation">{{ i18n(propertyKey('Rbs_Price_Price', 'endActivation'), ['ucf']) }}
			</label>

			<div class="col-md-9 controls">
				<date-selector ng-model="document.endActivation" name="endActivation"></date-selector>
				<div class="btn-toolbar">
					<div class="btn-group">
						<button ng-click="endActivationOneWeek(true)" ng-disabled="!document.startActivation" type="button" ng-class="activationOffsetClass['1w']" class="btn btn-default btn-sm">{{ i18n('m.rbs.price.admin.add_one_week') }}</button>
						<button ng-click="endActivationTwoWeeks(true)" ng-disabled="!document.startActivation" type="button" ng-class="activationOffsetClass['2w']" class="btn btn-default btn-sm">{{ i18n('m.rbs.price.admin.add_two_weeks') }}</button>
						<button ng-click="endActivationOneMonth(true)" ng-disabled="!document.startActivation" type="button" ng-class="activationOffsetClass['1M']" class="btn btn-default btn-sm">{{ i18n('m.rbs.price.admin.add_one_month') }}</button>
					</div>
					<div class="btn-group">
						<button ng-click="endActivationTomorrow()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.price.admin.tomorrow') }}</button>
						<button ng-click="endActivationEndOfWeek()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.price.admin.end_of_week') }}</button>
						<button ng-click="endActivationEndOfMonth()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.price.admin.end_of_month') }}</button>
					</div>
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset
		ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>