<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.general-properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_StoreIndex', 'clientName'), ['ucf']) }}" required="true">
			<select ng-model="document.clientName" class="form-control" required="true"
					rbs-items-from-collection="Rbs_Elasticsearch_Collection_Clients">
				<option value="">{{ i18n('m.rbs.elasticsearch.documents.storeindex.clientname-choose', ['ucf']) }}</option>
			</select>
		</rbs-field>

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_StoreIndex', 'analysisLCID'), ['ucf']) }}" required="true">
			<select ng-model="document.analysisLCID" class="form-control" required="true"
					rbs-items-from-collection="Rbs_Generic_Collection_Languages">
				<option value="">{{ i18n('m.rbs.elasticsearch.documents.storeindex.analysislcid-choose', ['ucf']) }}</option>
			</select>
		</rbs-field>

		<rbs-field-picker required="true" property="website"
				label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_StoreIndex', 'website'), ['ucf']) }}"
				accepted-model="Rbs_Website_Website" allow-creation="false" allow-edition="true"
				selector-title="{{ i18nAttr('m.rbs.elasticsearch.documents.storeindex.website-picker-title', ['ucf']) }}">
		</rbs-field-picker>

		<rbs-field-picker required="true" property="store"
				label="{{ i18nAttr(propertyKey('Rbs_Elasticsearch_StoreIndex', 'store'), ['ucf']) }}"
				accepted-model="Rbs_Store_WebStore" allow-creation="false" allow-edition="true"
				selector-title="{{ i18nAttr('m.rbs.elasticsearch.documents.storeindex.store-picker-title', ['ucf']) }}">
		</rbs-field-picker>
	</fieldset>

	<fieldset data-ng-show="section=='facets'" hide-on-create="true"
			data-form-section-label="{{ i18nAttr('m.rbs.elasticsearch.documents.storeindex.section-facets', ['ucf']) }}"
			data-form-section-group="{{ i18nAttr('m.rbs.admin.properties', ['ucf']) }}">
		<div class="add-elements-bar">
			<a href ng-click="cascadeCreateItem()">{{ i18n('m.rbs.elasticsearch.admin.js.facet-create', ['ucf']) }}</a>
		</div>
		
		<table data-ng-show="document.facets.length > 0" class="table table-striped">
			<thead>
				<tr>
					<th>{{ i18n(propertyKey('Rbs_Elasticsearch_Facet', 'label'), ['ucf']) }}</th>
					<th>{{ i18n(propertyKey('Rbs_Elasticsearch_Facet', 'fieldName'), ['ucf']) }}</th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="facet in document.facets">
					<td><a class="btn-link" ng-click="cascadeEditItem($index)">(= facet.label =)</a></td>
					<td>(= facet.fieldName =) /(= facet.fieldType =) </td>
					<td style="width:100px;text-align: right">
						<button style="width:36px" class="btn btn-default btn-sm" ng-click="cascadeEditItem($index)"
								title="{{ i18nAttr('m.rbs.admin.admin.js.edit', ['ucf']) }}" type="button">
							<i class="icon-pencil"></i>
						</button>
						<button style="width:36px" class="btn btn-danger btn-sm" type="button" ng-click="remove($index)"
								title="{{ i18nAttr('m.rbs.admin.admin.js.delete', ['ucf']) }}">
							<i class="icon-remove"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.js.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>
</form>