<div class="row" data-rbs-document-editor-base="" model="{{ model.name }}">
	<div class="col-md-12">
		<rbs-page-header document="document" sub-title="{{ '{{' }} i18nAttr(modelKey('{{ model.name }}'), ['ucf']) {{ '}}' }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% verbatim %}{% include '@Rbs_Admin/view/asides.twig' %}{% endverbatim %}
		{% verbatim %}{% include '@Rbs_Admin/view/links.twig' %}{% endverbatim %}
	</div>

	<div class="document-form" data-rbs-main-column="">

		<form data-ng-submit="submit()" data-rbs-document-editor-edit=""
			data-rbs-document-editor-{{ model.vendorName | lower }}-{{ model.shortModuleName | lower }}-{{ model.shortName | lower }}-edit="">

			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ '{{' }} i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) {{ '}}' }}">

{% if model.publishable %}
				<rbs-field-label-title property="title" required="true"
					label="{{ '{{' }} i18nAttr(propertyKey('{{ model.name }}', 'label'), ['ucf']) {{ '}}' }} / {{ '{{' }} i18nAttr(propertyKey('{{ model.name }}', 'title'), ['ucf']) {{ '}}' }}">
				</rbs-field-label-title>

{% endif %}
{% for property in properties %}
{% if property.type == 'unknown' %}
				<!-- cannot generate form for property "{{ property.name }}".
					label="{{ '{{' }} i18nAttr(propertyKey('{{ property.modelName }}', '{{ property.name }}'), ['ucf']) {{ '}}' }}"
				-->

{% else %}
				<rbs-field-{{ property.type }} property="{{ property.name }}" {% if property.required %}required="true"{% endif %}

					label="{{ '{{' }} i18nAttr(propertyKey('{{ property.modelName }}', '{{ property.name }}'), ['ucf']) {{ '}}' }}"
					{%- if property.type == 'picker' or property.type == 'picker-multiple' %}

					accepted-model="{{ property.documentType }}"
					{%- endif -%}>
				</rbs-field-{{ property.type }}>

{% endif %}
{% endfor %}
			</fieldset>

{% if model.isPublishable %}
			<fieldset data-rbs-editor-section="publication"
				data-editor-section-label="{{ '{{ i18nAttr(\'m.rbs.admin.admin.publication_properties\', [\'ucf\']) }}' }}"
				data-rbs-document-publication-section="">
			</fieldset>
{% endif %}

			<fieldset
				data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ '{{ i18nAttr(\'m.rbs.admin.adminjs.status\', [\'ucf\']) }}' }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>

		</form>

	</div>

</div>