<h1>{{ title }}</h1>
<table width="100%">
	<tr>
		<th width="50%">Produit</th><th width="25%">Prix HT</th><th width="25%">Prix TTC</th>
	</tr>
	{% for row in rows %}
		<tr>
			<td><a href="{{ row.url }}"> {{ row.title }}</a></td>
			<td>{{ formatPrice(row.price) }}</td><td>{{ formatPrice(row.priceTTC) }}</td>
		</tr>
	{% endfor %}
</table>