<h2>{{ i18n('m.rbs.review.blocks.review-post', ['ucf']) }}</h2>
{% if parameters.userId %}
	{% if parameters.alreadyReviewed %}
		<p>{{ i18n('m.rbs.review.blocks.already-reviewed', ['ucf', 'lab']) }} <time datetime="{{ reviewDate | date('Y-m-d\TH:i:sO') }}">{{ reviewDate | date }}</time></p>
		<p>{{ i18n('m.rbs.review.blocks.your-review', ['ucf']) }} <a href="{{ reviewUrl }}">{% include 'Rbs_Review/Blocks/star-rating.twig' %}</a></p>
		{% if pendingValidation %}
			<p>{{ i18n('m.rbs.review.blocks.pending-publication', ['ucf']) }}</p>
		{% endif %}
	{% else %}
		<form method="post" id="Review" action="Action/Rbs/Review/PostReview" class="well well-small">
			<input type="hidden" name="userId" value="{{ parameters.userId }}">
			<input type="hidden" name="targetId" value="{{ parameters.targetId }}">
			<input type="hidden" name="sectionId" value="{{ parameters.sectionId }}">
			<input type="hidden" name="redirectLocation" value="{{ currentURL() }}" />
			<fieldset>
				<div class="form-group">
					<label for="rbs-review-review-pseudonym">{{ i18n('m.rbs.review.blocks.review-post-pseudonym', ['ucf']) }}</label>
					<p id="rbs-review-review-pseudonym" class="form-control-static">{{ parameters.pseudonym }}</p>
				</div>
				<div class="form-group">
					<label for="rbs-review-review-rating-value">{{ i18n('m.rbs.review.blocks.review-post-rating', ['ucf']) }}</label>
					{% include 'Rbs_Review/Blocks/star-rating.twig' %}
				</div>
				<div class="form-group">
					<label for="rbs-review-review-content">{{ i18n('m.rbs.review.blocks.review-post-content', ['ucf']) }}</label>
					<input id="rbs-review-review-content" type="text" name="content" class="form-control">
				</div>
				<button class="btn btn-primary" type="submit">{{ i18n('m.rbs.review.blocks.review-post-submit', ['ucf']) }}</button>
			</fieldset>
		</form>
	{% endif %}
{% else %}
	<p class="muted">
		{{ i18n('m.rbs.review.blocks.review-post-not-connected', ['ucf']) }}
		<!-- TODO add a button or a link to connect user -->
	</p>
{% endif %}