<article id="review-{{ review.id }}" class="panel{{ validationClass }}" itemscope="" itemtype="http://schema.org/Review">
	<!-- img?
	<img alt="" src="http://www.gravatar.com/avatar/c1dbcc9a17dbc6a109026def9535467b?s=48&amp;r=g" class="avatar img-thumbnail pull-right" />
	-->
	<header class="panel-heading">
		<a itemprop="url" rel="nofollow" href="{{ review.url }}">{{ loop.index }}.</a>
		{{ i18n('m.rbs.review.blocks.review-write-by', ['ucf'], { 'author': review.pseudonym, 'url': review.authorUrl }) }}
		<span class="divider"> - </span>
		<time itemprop="dateCreated" datetime="{{ review.reviewDate | date('Y-m-d\TH:i:sO') }}">{{ review.reviewDate | date }}</time>
		<span itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
			<meta itemprop="worstRating" content="0" />
			{% include 'Rbs_Review/Blocks/star-rating.twig' with { 'reviewStarRating': review.reviewStarRating } %}
		</span>
		<small class="text-muted">
			{{ i18n('m.rbs.review.blocks.review-about', ['ucf'], { 'targetTitle': review.target.title, 'targetUrl': review.target.url }) }}
	</header>
	<div itemprop="reviewBody" class="panel-body">
		{{ review.content | raw }}
	</div>
	<!-- modified?
	<small class="text-muted">Modifié 3 fois. Dernière modification le <time itemprop="dateModified" datetime="2013-08-13T10:39:42">13/08/2013 10:39</time> par <a href="http://rbs.fr">Mario Bros</a>.</small>
	-->
	{% if displayVote %}
	<script type="text/javascript">
		window.__change.RbsReview{{ review.id }} = {{ review | json_encode() | raw }};
	</script>
	<div ng-controller="RbsReviewVoteCtrl" ng-init="reviewId = 'RbsReview{{ review.id }}'">
		<footer class="panel-footer">
			<p data-ng-if="review.upvote + review.downvote == 0">
				{{ i18n('m.rbs.review.blocks.review-novote', ['ucf']) }}
			</p>
			<p data-ng-if="review.voted">
				{{ i18n('m.rbs.review.blocks.review-voted', ['ucf']) }}
			</p>
			<div data-ng-if="review.upvote + review.downvote > 0">
				<span class="text-success"><i class="glyphicon glyphicon-thumbs-up"></i> (= review.upvote =)</span>
				<span class="text-warning"><i class="glyphicon glyphicon-thumbs-down"></i> (= review.downvote =)</span>
			</div>
			<div data-ng-if="review.canVote">
				<span>{{ i18n('m.rbs.review.blocks.review-vote', ['ucf']) }}</span>
				<button name="voteup" class="btn btn-xs btn-success" type="button" data-ng-click="vote('up')"><i class="glyphicon glyphicon-thumbs-up"></i> {{ i18n('m.rbs.review.blocks.review-upvote', ['ucf']) }}</button>
				<button name="votedown" class="btn btn-xs btn-warning" type="button" data-ng-click="vote('down')"><i class="glyphicon glyphicon-thumbs-down"></i> {{ i18n('m.rbs.review.blocks.review-downvote', ['ucf']) }}</button>
			</div>
		</footer>
	</div>
	{% endif %}
</article>